Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

update document
  docs/sdk-regeneration-pipeline.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

weekly trigger
  docs/sdk-regeneration-pipeline.md
  eng/pipelines/sdk-regenerate.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pipeline
  eng/pipelines/sdk-regenerate.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

don't hard code the scope
  packages/codegen.go/src/cloudConfig.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test notes in tspcompile
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine with review
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/unittest/emitter.test.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

small cleanup
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add export back with comment
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

grammar
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add clean-up process for emitter (#1702)
  packages/codegen.go/src/helpers.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/utils_test.go
  packages/typespec-go/test/unittest/emitter.test.ts
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update various dependencies
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update various dependencies (#1710)
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor qualified types and parameters in code model
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/imports.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add missing semicolons
  packages/codemodel.go/src/type.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add generated code
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/fake/zz_clientlocationmovemethodparametertobloboperations_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocationmovemethodparametertobloboperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_operations_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_resourcegroupresourceoperations_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_server_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_subscriptionresource1operations_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_subscriptionresource2operations_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_subscriptionresourceoperations_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_operations_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_resourcegroupresourceoperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_subscriptionresource1operations_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_subscriptionresource2operations_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_subscriptionresourceoperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_time_rfc3339.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/resourcegroupresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/subscriptionresource1operations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/subscriptionresource2operations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/subscriptionresourceoperations_client_test.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor qualified types and parameters in code model (#1711)
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/imports.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor method types in code model
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/index.ts
  packages/codemodel.go/src/method.ts
  packages/codemodel.go/src/param.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refactor some helpers and consolidate some duplicate code
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/responses.ts
  packages/codemodel.go/src/param.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Upgrade tsp toolset for typespec-go to resolve nightly build failures (#1713)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/fake/zz_clientlocationmovemethodparametertobloboperations_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocationmovemethodparametertobloboperations_client.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/resourcegroupresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/subscriptionresource1operations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/subscriptionresource2operations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/subscriptionresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/utils_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/utils_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

improve doc comment
  packages/codemodel.go/src/client.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor method types in code model (#1712)
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/responses.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/index.ts
  packages/codemodel.go/src/method.ts
  packages/codemodel.go/src/param.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pnpm tspcompile
  packages/typespec-go/test/azure-http-specs/azure/core/basicgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/testdata/_metadata.json
  packages/typespec-go/test/local/armmongocluster/testdata/_metadata.json
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/utils_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fixes for empty path param check
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/test/autorest/urlgroup/zz_paths_client.go
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/param.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_extensionsresources_client.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_bgppeers_client.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_loadbalancers_client.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_services_client.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_storageclass_client.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestmappings_client.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestprofilemappings_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fixes for empty path param check (#1717)
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/test/autorest/urlgroup/zz_paths_client.go
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/param.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_extensionsresources_client.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_bgppeers_client.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_loadbalancers_client.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_services_client.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_storageclass_client.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestmappings_client.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestprofilemappings_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix for mongo cluster
  packages/typespec-go/test/tsp/MongoCluster.Management/client.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove test since the namespace changed
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageable_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove test since the namespace changed (#1715)
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageable_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
