Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

update
  packages/codegen.go/src/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add change log
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update package version
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

revert changelog
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

fix bug
  packages/autorest.go/test/dataprotection/armdataprotection/zz_models_serde.go
  packages/autorest.go/test/maps/azalias/zz_models_serde.go
  packages/codegen.go/src/models.ts
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/encode/datetimegroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/encode/datetimegroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/type/dictionarygroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/type/property/nullablegroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/type/property/optionalitygroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/type/property/valuetypesgroup/go.sum
  packages/typespec-go/test/http-specs/type/property/valuetypesgroup/testdata/_metadata.json
  packages/typespec-go/test/local/armapicenter/testdata/_metadata.json
  packages/typespec-go/test/local/armbillingbenefits/testdata/_metadata.json
  packages/typespec-go/test/local/armcodesigning/testdata/_metadata.json
  packages/typespec-go/test/local/armcommunitymanagement/testdata/_metadata.json
  packages/typespec-go/test/local/armcomputeschedule/testdata/_metadata.json
  packages/typespec-go/test/local/armcontainerorchestratorruntime/testdata/_metadata.json
  packages/typespec-go/test/local/armdatabasewatcher/testdata/_metadata.json
  packages/typespec-go/test/local/armdevopsinfrastructure/testdata/_metadata.json
  packages/typespec-go/test/local/armhardwaresecuritymodules/testdata/_metadata.json
  packages/typespec-go/test/local/armhealthbot/testdata/_metadata.json
  packages/typespec-go/test/local/armlargeinstance/testdata/_metadata.json
  packages/typespec-go/test/local/armloadtestservice/testdata/_metadata.json
  packages/typespec-go/test/local/armmongocluster/testdata/_metadata.json
  packages/typespec-go/test/local/armoracledatabase/testdata/_metadata.json
  packages/typespec-go/test/local/azkeys/testdata/_metadata.json
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

merge
  packages/typespec-go/test/local/armapicenter/go.sum
  packages/typespec-go/test/local/armbillingbenefits/go.sum
  packages/typespec-go/test/local/armcodesigning/go.sum
  packages/typespec-go/test/local/armcommunitymanagement/go.sum
  packages/typespec-go/test/local/armcomputeschedule/go.sum
  packages/typespec-go/test/local/armcontainerorchestratorruntime/go.sum
  packages/typespec-go/test/local/armdatabasewatcher/go.sum
  packages/typespec-go/test/local/armdevopsinfrastructure/go.sum
  packages/typespec-go/test/local/armhardwaresecuritymodules/go.sum
  packages/typespec-go/test/local/armhealthbot/go.sum
  packages/typespec-go/test/local/armlargeinstance/go.sum
  packages/typespec-go/test/local/armloadtestservice/go.sum
  packages/typespec-go/test/local/armmongocluster/go.sum
  packages/typespec-go/test/local/armoracledatabase/go.sum
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix example generation to include required parameters lacking example values (#1786)
  packages/codegen.go/src/example.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/local/armtest/go.mod
  packages/typespec-go/test/local/armtest/go.sum
  packages/typespec-go/test/local/armtest/zz_bodyroots_client_example_test.go
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/BodyRoots_action_with_no_body.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove `@Azure.ResourceManager.Private.conditionalClientFlatten`
  packages/typespec-go/test/tsp/BillingBenefits.Management/ReservationOrderAliasResponse.tsp
  packages/typespec-go/test/tsp/BillingBenefits.Management/SavingsPlanModel.tsp
  packages/typespec-go/test/tsp/BillingBenefits.Management/SavingsPlanOrderAliasModel.tsp
  packages/typespec-go/test/tsp/BillingBenefits.Management/SavingsPlanOrderModel.tsp
  packages/typespec-go/test/tsp/BillingBenefits.Management/models.tsp
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/DedicatedHsm.tsp
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/models.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/HealthBot.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove `@Azure.ResourceManager.Private.conditionalClientFlatten` (#1788)
  packages/typespec-go/test/tsp/BillingBenefits.Management/ReservationOrderAliasResponse.tsp
  packages/typespec-go/test/tsp/BillingBenefits.Management/SavingsPlanModel.tsp
  packages/typespec-go/test/tsp/BillingBenefits.Management/SavingsPlanOrderAliasModel.tsp
  packages/typespec-go/test/tsp/BillingBenefits.Management/SavingsPlanOrderModel.tsp
  packages/typespec-go/test/tsp/BillingBenefits.Management/models.tsp
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/DedicatedHsm.tsp
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/models.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/HealthBot.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Consolidate writing file content across emitters
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/codegen.go/src/core/clientFactory.ts
  packages/codegen.go/src/core/cloudConfig.ts
  packages/codegen.go/src/core/constants.ts
  packages/codegen.go/src/core/errors.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/gomod.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/imports.ts
  packages/codegen.go/src/core/interfaces.ts
  packages/codegen.go/src/core/license.ts
  packages/codegen.go/src/core/metadata.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/core/time.ts
  packages/codegen.go/src/core/version.ts
  packages/codegen.go/src/core/xmlAdditionalProps.ts
  packages/codegen.go/src/emitter.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/index.ts
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

use suffix.length
  packages/codegen.go/src/emitter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Consolidate writing file content across emitters (#1789)
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/codegen.go/src/core/clientFactory.ts
  packages/codegen.go/src/core/cloudConfig.ts
  packages/codegen.go/src/core/constants.ts
  packages/codegen.go/src/core/errors.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/gomod.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/imports.ts
  packages/codegen.go/src/core/interfaces.ts
  packages/codegen.go/src/core/license.ts
  packages/codegen.go/src/core/metadata.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/core/time.ts
  packages/codegen.go/src/core/version.ts
  packages/codegen.go/src/core/xmlAdditionalProps.ts
  packages/codegen.go/src/emitter.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/index.ts
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move code model sorting to codegen emitter
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/codegen.go/src/emitter.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add doc comment
  packages/codegen.go/src/emitter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move code model sorting to codegen emitter (#1790)
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/codegen.go/src/emitter.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Simplify handling of header text
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/codegen.go/src/core/clientFactory.ts
  packages/codegen.go/src/core/cloudConfig.ts
  packages/codegen.go/src/core/constants.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/interfaces.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/core/time.ts
  packages/codegen.go/src/core/version.ts
  packages/codegen.go/src/core/xmlAdditionalProps.ts
  packages/codegen.go/src/emitter.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Simplify handling of header text (#1791)
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/codegen.go/src/core/clientFactory.ts
  packages/codegen.go/src/core/cloudConfig.ts
  packages/codegen.go/src/core/constants.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/interfaces.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/core/time.ts
  packages/codegen.go/src/core/version.ts
  packages/codegen.go/src/core/xmlAdditionalProps.ts
  packages/codegen.go/src/emitter.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add module and packages to the code model
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/core/clientFactory.ts
  packages/codegen.go/src/core/cloudConfig.ts
  packages/codegen.go/src/core/constants.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/gomod.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/imports.ts
  packages/codegen.go/src/core/interfaces.ts
  packages/codegen.go/src/core/license.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/core/time.ts
  packages/codegen.go/src/core/version.ts
  packages/codegen.go/src/core/xmlAdditionalProps.ts
  packages/codegen.go/src/emitter.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/codeModel.ts
  packages/codemodel.go/src/index.ts
  packages/codemodel.go/src/module.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

cleanup
  packages/codegen.go/src/core/license.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/emitter.ts
  packages/codemodel.go/src/module.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix autorest.gotest pipeline
  packages/autorest.go/src/generator/generator.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Upgrade TypeSpec toolset to latest versions (#1794)
  packages/autorest.go/src/generator/generator.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/specialwordsgroup/fake/zz_specialwordsmodelproperties_server.go
  packages/typespec-go/test/http-specs/specialwordsgroup/modelproperties_client_test.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_models.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_options.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_responses.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_specialwordsmodelproperties_client.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add example to doc comment
  packages/codemodel.go/src/module.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update another doc comment with example
  packages/codegen.go/src/core/helpers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

simplify generateLicenseTxt
  packages/codegen.go/src/core/license.ts
  packages/codegen.go/src/emitter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add module and packages to the code model (#1792)
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/core/clientFactory.ts
  packages/codegen.go/src/core/cloudConfig.ts
  packages/codegen.go/src/core/constants.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/gomod.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/imports.ts
  packages/codegen.go/src/core/interfaces.ts
  packages/codegen.go/src/core/license.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/core/time.ts
  packages/codegen.go/src/core/version.ts
  packages/codegen.go/src/core/xmlAdditionalProps.ts
  packages/codegen.go/src/emitter.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/codeModel.ts
  packages/codemodel.go/src/index.ts
  packages/codemodel.go/src/module.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor tsp adapter structure
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/errors.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

cleanup
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor tsp adapter structure (#1795)
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/errors.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

change to sync
  packages/typespec-go/test/tsp/web/Web.Management/StaticSiteARMResource.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test & changelog
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/local/armtest/fake/zz_internal.go
  packages/typespec-go/test/local/armtest/fake/zz_lro_server.go
  packages/typespec-go/test/local/armtest/fake/zz_server_factory.go
  packages/typespec-go/test/local/armtest/zz_client_factory.go
  packages/typespec-go/test/local/armtest/zz_lro_client.go
  packages/typespec-go/test/local/armtest/zz_lro_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/tsp/Test.Management/LRO.tsp
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/LRO_okresponse_with_async_header.json
  packages/typespec-go/test/tsp/Test.Management/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Model fakes and test packages
  packages/codegen.go/src/core/clientFactory.ts
  packages/codegen.go/src/core/cloudConfig.ts
  packages/codegen.go/src/core/constants.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/interfaces.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/core/time.ts
  packages/codegen.go/src/core/version.ts
  packages/codegen.go/src/core/xmlAdditionalProps.ts
  packages/codegen.go/src/emitter.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/module.ts
  packages/codemodel.go/src/type.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add missing semicolons
  packages/codegen.go/src/core/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Model fakes and test packages (#1799)
  packages/codegen.go/src/core/clientFactory.ts
  packages/codegen.go/src/core/cloudConfig.ts
  packages/codegen.go/src/core/constants.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/interfaces.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/core/time.ts
  packages/codegen.go/src/core/version.ts
  packages/codegen.go/src/core/xmlAdditionalProps.ts
  packages/codegen.go/src/emitter.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/module.ts
  packages/codemodel.go/src/type.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Simplify ModelDef
  packages/codegen.go/src/core/models.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine
  packages/codegen.go/src/core/models.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
