Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

Add all to gogetu script
  .scripts/gogetu.js
  packages/typespec-go/test/local/armapicenter/go.mod
  packages/typespec-go/test/local/armapicenter/go.sum
  packages/typespec-go/test/local/armbillingbenefits/go.mod
  packages/typespec-go/test/local/armbillingbenefits/go.sum
  packages/typespec-go/test/local/armcodesigning/go.mod
  packages/typespec-go/test/local/armcodesigning/go.sum
  packages/typespec-go/test/local/armcommunitymanagement/go.mod
  packages/typespec-go/test/local/armcommunitymanagement/go.sum
  packages/typespec-go/test/local/armcomputeschedule/go.mod
  packages/typespec-go/test/local/armcomputeschedule/go.sum
  packages/typespec-go/test/local/armcontainerorchestratorruntime/go.mod
  packages/typespec-go/test/local/armcontainerorchestratorruntime/go.sum
  packages/typespec-go/test/local/armdatabasewatcher/go.mod
  packages/typespec-go/test/local/armdatabasewatcher/go.sum
  packages/typespec-go/test/local/armdevopsinfrastructure/go.mod
  packages/typespec-go/test/local/armdevopsinfrastructure/go.sum
  packages/typespec-go/test/local/armhardwaresecuritymodules/go.mod
  packages/typespec-go/test/local/armhardwaresecuritymodules/go.sum
  packages/typespec-go/test/local/armhealthbot/go.mod
  packages/typespec-go/test/local/armhealthbot/go.sum
  packages/typespec-go/test/local/armlargeinstance/go.mod
  packages/typespec-go/test/local/armlargeinstance/go.sum
  packages/typespec-go/test/local/armloadtestservice/go.mod
  packages/typespec-go/test/local/armloadtestservice/go.sum
  packages/typespec-go/test/local/armmongocluster/go.mod
  packages/typespec-go/test/local/armmongocluster/go.sum
  packages/typespec-go/test/local/armoracledatabase/go.mod
  packages/typespec-go/test/local/armoracledatabase/go.sum
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine script
  .scripts/gogetu.js
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add all to gogetu script (#1776)
  .scripts/gogetu.js
  packages/typespec-go/test/local/armapicenter/go.mod
  packages/typespec-go/test/local/armapicenter/go.sum
  packages/typespec-go/test/local/armbillingbenefits/go.mod
  packages/typespec-go/test/local/armbillingbenefits/go.sum
  packages/typespec-go/test/local/armcodesigning/go.mod
  packages/typespec-go/test/local/armcodesigning/go.sum
  packages/typespec-go/test/local/armcommunitymanagement/go.mod
  packages/typespec-go/test/local/armcommunitymanagement/go.sum
  packages/typespec-go/test/local/armcomputeschedule/go.mod
  packages/typespec-go/test/local/armcomputeschedule/go.sum
  packages/typespec-go/test/local/armcontainerorchestratorruntime/go.mod
  packages/typespec-go/test/local/armcontainerorchestratorruntime/go.sum
  packages/typespec-go/test/local/armdatabasewatcher/go.mod
  packages/typespec-go/test/local/armdatabasewatcher/go.sum
  packages/typespec-go/test/local/armdevopsinfrastructure/go.mod
  packages/typespec-go/test/local/armdevopsinfrastructure/go.sum
  packages/typespec-go/test/local/armhardwaresecuritymodules/go.mod
  packages/typespec-go/test/local/armhardwaresecuritymodules/go.sum
  packages/typespec-go/test/local/armhealthbot/go.mod
  packages/typespec-go/test/local/armhealthbot/go.sum
  packages/typespec-go/test/local/armlargeinstance/go.mod
  packages/typespec-go/test/local/armlargeinstance/go.sum
  packages/typespec-go/test/local/armloadtestservice/go.mod
  packages/typespec-go/test/local/armloadtestservice/go.sum
  packages/typespec-go/test/local/armmongocluster/go.mod
  packages/typespec-go/test/local/armmongocluster/go.sum
  packages/typespec-go/test/local/armoracledatabase/go.mod
  packages/typespec-go/test/local/armoracledatabase/go.sum
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix etag generation
  packages/codegen.go/src/example.ts
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_privateendpointconnections_client_example_test.go
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/examples/2024-06-30-preview/CloudHsmClusterPrivateEndpointConnection_Get_MaximumSet_Gen.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

support group parameters
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_override_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridegroupparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overrideremoveoptionalparameter_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridereorderparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overriderequireoptionalparameter_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_override_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridegroupparameters_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overrideremoveoptionalparameter_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridereorderparameters_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overriderequireoptionalparameter_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update config
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Apply suggestion from @Copilot
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test case
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overrideremoveoptionalparameter_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overriderequireoptionalparameter_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

revert client.ts changes
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

using parameter group approach
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridegroupparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overridegroupparameters_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridegroupparameters_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix eslint issue
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove redundant logic
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rebase main
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/LICENSE.txt
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

process dupilcated parameter group
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update comment
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

resolve comments
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine param group docs
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

reduce duplication logic
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix etag generation for escape string (#1768)
  packages/codegen.go/src/example.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_privateendpointconnections_client_example_test.go
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/examples/2024-06-30-preview/CloudHsmClusterPrivateEndpointConnection_Get_MaximumSet_Gen.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/fake/zz_model_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/fake/zz_modelazurecoreembeddingvector_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/zz_model_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/zz_modelazurecoreembeddingvector_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/zz_responses.go
  packages/typespec-go/test/local/armapicenter/zz_services_client_example_test.go
  packages/typespec-go/test/local/armcomputeschedule/zz_scheduledactions_client_example_test.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_cloudhsmclusters_client_example_test.go
  packages/typespec-go/test/local/armhealthbot/zz_healthbots_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestmgmt_client_example_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update instruction for Copilot
  .github/copilot-instructions.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update instruction for Copilot (#1779)
  .github/copilot-instructions.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add -s flag to gofmt command in TypeSpec emitter (#1778)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/test/local/armapicenter/zz_services_client_example_test.go
  packages/typespec-go/test/local/armcomputeschedule/zz_scheduledactions_client_example_test.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_cloudhsmclusters_client_example_test.go
  packages/typespec-go/test/local/armhealthbot/zz_healthbots_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestmgmt_client_example_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Support @override spector case (#1756)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_override_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridegroupparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overrideremoveoptionalparameter_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridereorderparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overriderequireoptionalparameter_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overrideremoveoptionalparameter_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overridereorderparameters_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overriderequireoptionalparameter_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_override_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridegroupparameters_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overrideremoveoptionalparameter_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridereorderparameters_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overriderequireoptionalparameter_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update release date
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

adjust changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Release typespec-go 0.8.6 (#1780)
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog format to pass release ci
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
Due: eng/pipelines/ci-gotest.yml

Update packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/CHANGELOG.md
Due: eng/pipelines/ci-gotest.yml

Update changelog format to pass release ci (#1783)
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
Due: eng/pipelines/ci-gotest.yml

add test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/local/armtest/go.mod
  packages/typespec-go/test/local/armtest/go.sum
  packages/typespec-go/test/local/armtest/zz_bodyroots_client_example_test.go
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/BodyRoots_action_with_no_body.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
