Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: ../steps/set-env.yaml
  - template: ../steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload CADL Ranch Test Coverage
    inputs:
      azureSubscription: Cadl Ranch Storage
      scriptType: bash
      scriptLocation: inlineScript
  ...

eng/pipelines/ci-go.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go121:
          vm.image: ubuntu-22.04
          go.version: 1.21.4
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 18.x
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go121:
          vm.image: ubuntu-22.04
          go.version: 1.21.4
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 18.x
  ...

eng/pipelines/ci-typespec.yml:
  jobs:
  - job: TypeSpec_Go_CI
    displayName: Run TypeSpec Go CI Checks
    strategy:
      matrix:
        Linux_Go121:
          vm.image: ubuntu-22.04
          go.version: 1.21.4
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 18.x
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

Update to latest cadl-ranch (#1200)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/custom_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/fake/zz_projectedname_server.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/fake/zz_projectednamemodel_server.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/fake/zz_projectednameproperty_server.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/go.mod
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/go.sum
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/model_client_test.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/projectedname_client_test.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/property_client_test.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_constants.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_models.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_options.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_projectedname_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_projectednamemodel_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_projectednameproperty_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add more tsp tests to srvdriven groups (#1201)
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/resiliencyservicedriven_client_test.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/resiliencyservicedriven_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor complextHostParams (#1199)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/transform/transform.ts
  packages/autorest.go/test/maps/azalias/custom_client.go
  packages/autorest.go/test/maps/azalias/fakes_test.go
  packages/autorest.go/test/maps/azalias/zz_client.go
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Model client constructors
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix duplication name in different operation group issue
  packages/autorest.gotest/src/template/exampleTest.go.njk
Due: eng/pipelines/ci-gotest.yml

regen update
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_models.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_models_serde.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_operations_client.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_responses.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

simplify expression
  packages/codegen.go/src/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove comment
  packages/codegen.go/src/clientFactory.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Model client constructors (#1202)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move client options definition to Client
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move client options definition to Client (#1204)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

use client factory to init client
  packages/autorest.gotest/src/generator/fakeTestGenerator.ts
  packages/autorest.gotest/src/generator/sampleGenerator.ts
  packages/autorest.gotest/src/generator/scenarioTestGenerator.ts
  packages/autorest.gotest/src/template/fakeTest.go.njk
  packages/autorest.gotest/src/template/sampleContent.go.njk
  packages/autorest.gotest/src/template/sampleMain.go.njk
  packages/autorest.gotest/src/template/scenarioContent.go.njk
  packages/autorest.gotest/src/template/scenarioTest.go.njk
Due: eng/pipelines/ci-gotest.yml

add format check
  eng/steps/build-test-gotest.yaml
  packages/autorest.gotest/.prettierrc
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move some helpers to the code model
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/gocodemodel.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move some helpers to the code model (#1210)
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/gocodemodel.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add autorest option to fix const stuttering
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/README.md
  packages/autorest.go/src/transform/namer.ts
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_constants.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_models.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

track enum names for collisions
  packages/autorest.go/src/transform/namer.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

fix stuttering for const value types
  packages/autorest.go/src/transform/namer.ts
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_constants.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Add autorest option to fix const stuttering (#1211)
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/README.md
  packages/autorest.go/src/transform/namer.ts
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_constants.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_models.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

use plugin
  packages/autorest.gotest/.eslintrc.json
  packages/autorest.gotest/.prettierrc
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

Update .prettierrc configuration
  packages/autorest.gotest/.prettierrc
Due: eng/pipelines/ci-gotest.yml

break pageable
  packages/autorest.gotest/src/template/fakeTest.go.njk
Due: eng/pipelines/ci-gotest.yml

revert
  eng/steps/build-test-gotest.yaml
  packages/autorest.gotest/.prettierrc
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

run eslint-fix
  packages/autorest.gotest/src/common/constant.ts
  packages/autorest.gotest/src/common/helpers.ts
  packages/autorest.gotest/src/generator/fakeTestGenerator.ts
  packages/autorest.gotest/src/generator/imports.ts
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  packages/autorest.gotest/src/util/codegenBridge.ts
  packages/autorest.gotest/test/integrationtest/testAutorest.ts
  packages/autorest.gotest/test/unittest/generator/testGoTester.ts
Due: eng/pipelines/ci-gotest.yml

[autorest.gotest] add format ci (#1209)
  packages/autorest.gotest/.eslintrc.json
  packages/autorest.gotest/src/common/constant.ts
  packages/autorest.gotest/src/common/helpers.ts
  packages/autorest.gotest/src/generator/fakeTestGenerator.ts
  packages/autorest.gotest/src/generator/imports.ts
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  packages/autorest.gotest/src/util/codegenBridge.ts
  packages/autorest.gotest/test/integrationtest/testAutorest.ts
  packages/autorest.gotest/test/unittest/generator/testGoTester.ts
Due: eng/pipelines/ci-gotest.yml

fix
  packages/autorest.gotest/src/generator/sampleGenerator.ts
  packages/autorest.gotest/src/generator/scenarioTestGenerator.ts
Due: eng/pipelines/ci-gotest.yml

generate-fake-test
  packages/autorest.gotest/test/integrationtest/testAutorest.ts
Due: eng/pipelines/ci-gotest.yml

Add head-as-boolean to tsp emitter
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client.go
  packages/typespec-go/test/armapicenter/zz_apis_client.go
  packages/typespec-go/test/armapicenter/zz_apiversions_client.go
  packages/typespec-go/test/armapicenter/zz_deployments_client.go
  packages/typespec-go/test/armapicenter/zz_environments_client.go
  packages/typespec-go/test/armapicenter/zz_metadataschemas_client.go
  packages/typespec-go/test/armapicenter/zz_responses.go
  packages/typespec-go/test/armapicenter/zz_workspaces_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/resiliencyservicedriven_client_test.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/resiliencyservicedriven_client_test.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/path/singlegroup/single_client_test.go
  packages/typespec-go/test/cadlranch/server/path/singlegroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/path/singlegroup/zz_single_client.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/notversioned_client_test.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/zz_notversioned_client.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/versioned_client_test.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_versioned_client.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/visibility_client_test.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/zz_visibility_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add head-as-boolean to tsp emitter (#1223)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client.go
  packages/typespec-go/test/armapicenter/zz_apis_client.go
  packages/typespec-go/test/armapicenter/zz_apiversions_client.go
  packages/typespec-go/test/armapicenter/zz_deployments_client.go
  packages/typespec-go/test/armapicenter/zz_environments_client.go
  packages/typespec-go/test/armapicenter/zz_metadataschemas_client.go
  packages/typespec-go/test/armapicenter/zz_responses.go
  packages/typespec-go/test/armapicenter/zz_workspaces_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/resiliencyservicedriven_client_test.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/resiliencyservicedriven_client_test.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/path/singlegroup/single_client_test.go
  packages/typespec-go/test/cadlranch/server/path/singlegroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/path/singlegroup/zz_single_client.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/notversioned_client_test.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/zz_notversioned_client.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/versioned_client_test.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_versioned_client.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/visibility_client_test.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/zz_visibility_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix tsp model doc comments
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/pageablegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/arraygroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/dictionarygroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/emptygroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/enumdiscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/nodiscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/singlediscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/usagegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_models.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix tsp model doc comments (#1224)
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/pageablegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/arraygroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/dictionarygroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/emptygroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/enumdiscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/nodiscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/singlediscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/usagegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_models.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update tsp dependencies
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update tsp dependencies (#1226)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Handle tsp offsetDateTime type
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/cadlranch
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
