Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

update go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix pipeline error
  eng/pipelines/templates/steps/verify-changelog.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pipeline
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

spector adding test cases (#1685)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/parameters/spreadgroup/spreadalias_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpagination_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Small refactor in adaptMethodParameter
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

spelling
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Small refactor in adaptMethodParameter (#1691)
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use method param data as source of truth
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azkeys/fake/zz_server.go
  packages/typespec-go/test/local/azkeys/testdata/_metadata.json
  packages/typespec-go/test/local/azkeys/zz_client.go
  packages/typespec-go/test/local/azkeys/zz_constants.go
  packages/typespec-go/test/local/azkeys/zz_models.go
  packages/typespec-go/test/local/azkeys/zz_models_serde.go
  packages/typespec-go/test/local/azkeys/zz_options.go
  packages/typespec-go/test/local/azkeys/zz_responses.go
  packages/typespec-go/test/tsp/KeyVault.Keys/client.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/common.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/main.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/models.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/routes.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix tests after rebase
  packages/typespec-go/test/http-specs/parameters/spreadgroup/spreadalias_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpagination_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

regenerate after rebase
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overridegroupparameters_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overridereorderparameters_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_override_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

emit diagnostic when skipping ctors due to containing-module
  packages/codegen.go/src/operations.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/rawjson/subpkg/zz_rawjson_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove support for API keys
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/go.mod
  packages/typespec-go/test/http-specs/authentication/oauth2group/go.sum
  packages/typespec-go/test/http-specs/authentication/oauth2group/oauth2_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/go.mod
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/go.sum
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/union_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/zz_union_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

emit cloud config info as required
  packages/codegen.go/src/cloudConfig.ts
  packages/codegen.go/src/operations.ts
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/http-specs/authentication/oauth2group/zz_cloud_config.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/zz_oauth2_client.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/zz_cloud_config.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/zz_union_client.go
  packages/typespec-go/test/local/azkeys/zz_client.go
  packages/typespec-go/test/local/azkeys/zz_cloud_config.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix potential issues
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix polymorphic result & upgrade tsp toolset
  packages/codegen.go/src/example.ts
  packages/codemodel.go/src/result.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/fake/zz_hierarchybuildingdogoperations_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_hierarchybuildingdogoperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_responses_serde.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix lint error
  packages/codegen.go/src/example.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

resolve comment
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/hierarchy_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

verify changelog in release pipeline (#1690)
  eng/pipelines/sdk-regenerate.yml
  eng/pipelines/templates/steps/publish-release.yaml
  eng/pipelines/templates/steps/verify-changelog.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add comment
  packages/codemodel.go/src/result.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix polymorphic result & Upgrade tsp toolset (#1694)
  packages/codegen.go/src/example.ts
  packages/codemodel.go/src/result.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/fake/zz_hierarchybuildingdogoperations_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/hierarchy_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_hierarchybuildingdogoperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_responses_serde.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prepare release
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prepare release (#1695)
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update common-types
  swagger/specification/common-types/resource-management/v5/customermanagedkeys.json
  swagger/specification/common-types/resource-management/v5/managedidentity.json
  swagger/specification/common-types/resource-management/v5/managedidentitywithdelegation.json
  swagger/specification/common-types/resource-management/v5/mobo.json
  swagger/specification/common-types/resource-management/v5/networksecurityperimeter.json
  swagger/specification/common-types/resource-management/v5/privatelinks.json
  swagger/specification/common-types/resource-management/v5/types.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml

update the changelog
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Prep autorest.go for release
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Prep autorest.go for release (#1698)
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Adding comments into the lib.ts, since it's frequently linked when looking up options used by tspconfig.yaml.
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Whoops!
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add doc for module.
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Updating to discourage use of the 'disallow-unknown-fields' option.
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

removed superfluous condition check
  packages/autorest.go/src/transform/namer.ts
  packages/typespec-go/test/local/azkeys/fake_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix host param doc comments
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_first_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_second_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_service_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/multiclientgroup/zz_clienta_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/multiclientgroup/zz_clientb_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/renamedopgroup/zz_renamedoperation_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/twoopgroup/zz_twooperationgroup_client.go
  packages/typespec-go/test/azure-http-specs/resiliency/srvdrivennewgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/azure-http-specs/resiliency/srvdrivenoldgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/http-specs/server/path/multiplegroup/zz_multiple_client.go
  packages/typespec-go/test/http-specs/server/path/singlegroup/zz_single_client.go
  packages/typespec-go/test/http-specs/server/versions/unversionedgroup/zz_notversioned_client.go
  packages/typespec-go/test/http-specs/server/versions/versionedgroup/zz_versioned_client.go
  packages/typespec-go/test/http-specs/versioning/madeoptionalgroup/zz_madeoptional_client.go
  packages/typespec-go/test/http-specs/versioning/rettypechangedfromgroup/zz_returntypechangedfrom_client.go
  packages/typespec-go/test/http-specs/versioning/typechangedfromgroup/zz_typechangedfrom_client.go
  packages/typespec-go/test/local/azkeys/zz_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove deprecated option.
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix area that referenced generate-examples option we just deleted.
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

- Remove deprecated option from readme file as well - Added comment linking to the readme in case someone modifies the options.
  packages/typespec-go/README.md
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
