Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - packages/typespec-go/test/cadlranch
pr: none

steps:
  - template: ../steps/set-env.yaml
    parameters:
      NodeVersion: "18.x"
      GoVersion: "$(go.version)"

  - template: ../steps/build-test-typespec.yaml

  - task: AzureCLI@2
    displayName: Upload CADL Ranch Test Coverage
    inputs:
      azureSubscription: "Cadl Ranch Storage"
      scriptType: "bash"
      scriptLocation: "inlineScript"
      inlineScript: cadl-ranch upload-coverage --generatorName go --storageAccountName azuresdkcadlranch --generatorVersion $(node -p -e "require('$(System.DefaultWorkingDirectory)/packages/typespec-go/package.json').version")
      workingDirectory: $(System.DefaultWorkingDirectory)/packages/typespec-go/node_modules/@azure-tools/cadl-ranch-specs

eng/pipelines/ci-go.yml:

trigger:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.gotest
      - packages/typespec-go

pr:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.gotest
      - packages/typespec-go

jobs:
  - job: "AutoRest_Go_CI"
    displayName: "Run AutoRest CI Checks"

    strategy:
      matrix:
        Linux_Go121:
          vm.image: "ubuntu-22.04"
          go.version: "1.21.4"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "18.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test-go.yaml
        parameters:
          PublishAutorestCoverage: true

eng/pipelines/ci-gotest.yml:

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - src
      - test

pr:
  branches:
    include:
      - main
  paths:
    exclude:
      - src
      - test

jobs:
  - job: "AutoRest_Go_CI"
    displayName: "Run AutoRest CI Checks"

    strategy:
      matrix:
        Linux_Go119:
          vm.image: "ubuntu-22.04"
          go.version: "1.19.1"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "16.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test-gotest.yaml

eng/pipelines/ci-typespec.yml:

trigger:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.go
      - packages/autorest.gotest
      - swagger

pr:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.go
      - packages/autorest.gotest
      - swagger

jobs:
  - job: "TypeSpec_Go_CI"
    displayName: "Run TypeSpec Go CI Checks"

    strategy:
      matrix:
        Linux_Go121:
          vm.image: "ubuntu-22.04"
          go.version: "1.21.4"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "18.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test-typespec.yaml

eng/pipelines/ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - packages/autorest.gotest
      - swagger

pr:
  branches:
    include:
      - main
  paths:
    exclude:
      - packages/autorest.gotest
      - swagger

jobs:
  - job: "AutoRest_Go_CI"
    displayName: "Run AutoRest CI Checks"

    strategy:
      matrix:
        Linux_Go118:
          vm.image: "ubuntu-18.04"
          go.version: "1.18"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "16.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test.yaml

globally install tarball before publishing
  eng/pipelines/publish-dev-release-go.yml
  eng/pipelines/publish-dev-release-typespec.yml
  eng/pipelines/publish-release-go.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove workspace
  common/config/rush/pnpm-lock.yaml
  packages/autorest.go/package.json
  packages/codegen.go/package.json
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

improved last exit code check
  eng/pipelines/publish-dev-release-go.yml
  eng/pipelines/publish-dev-release-typespec.yml
  eng/pipelines/publish-release-go.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove workspaces from dependencies (#1135)
  common/config/rush/pnpm-lock.yaml
  eng/pipelines/publish-dev-release-go.yml
  eng/pipelines/publish-dev-release-typespec.yml
  eng/pipelines/publish-release-go.yml
  packages/autorest.go/package.json
  packages/codegen.go/package.json
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prepare autorest/go for release
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

add deprecation comment in changelog
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Prepare autorest/go for release (#1139)
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Update to latest cadl-ranch
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_qux_client.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/custom_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/go.mod
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/go.sum
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/model_client_test.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/projectedname_client_test.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/property_client_test.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_model_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_models.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_options.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsunknownderived_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsunknowndiscriminated_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isunknownderived_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isunknowndiscriminated_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsunknownderived_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsunknowndiscriminated_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_interfaces.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_isunknownderived_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_isunknowndiscriminated_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_options.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_polymorphic_helpers.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove comment regarding missing test coverage
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test with expected change
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/recursive_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest cadl-ranch (#1140)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_qux_client.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/custom_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/go.mod
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/go.sum
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/model_client_test.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/projectedname_client_test.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/property_client_test.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_model_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_models.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_options.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/recursive_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsunknownderived_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsunknowndiscriminated_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isunknownderived_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isunknowndiscriminated_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsunknownderived_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsunknowndiscriminated_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_interfaces.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_isunknownderived_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_isunknowndiscriminated_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_options.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_polymorphic_helpers.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

revert some inadvertent changes
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/basic_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/go.mod
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/go.sum
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/twomodelsaspageitem_client_test.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/go.mod
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/go.mod
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add remaining client structure tests
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/clienta_client_test.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/clientb_client_test.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/custom_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/go.mod
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/go.sum
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/custom_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/go.mod
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/go.sum
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/group_client_test.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/renamedoperation_client_test.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/custom_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/go.mod
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/go.sum
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/group1_client_test.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/group2_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

regenerate
  packages/autorest.go/test/network/armnetwork/zz_applicationgatewayprivateendpointconnections_client.go
  packages/autorest.go/test/network/armnetwork/zz_applicationgatewaywafdynamicmanifestsdefault_client.go
  packages/autorest.go/test/network/armnetwork/zz_vpnserverconfigurationsassociatedwithvirtualwan_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

remove from test template
  common/templates/header.tmpl
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add more cadl-ranch scenarios
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/go.mod
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/go.sum
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_flatten_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/go.mod
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/go.sum
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_jsonmergepatch_client.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_options.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/go.mod
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/go.sum
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_constants.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_mediatype_client.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_options.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_stringbody_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/go.mod
  packages/typespec-go/test/cadlranch/payload/multipartgroup/go.sum
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_formdata_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_multipart_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_options.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add more cadl-ranch scenarios (#1143)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/go.mod
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/go.sum
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_flatten_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/go.mod
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/go.sum
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_jsonmergepatch_client.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_options.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/go.mod
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/go.sum
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_constants.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_mediatype_client.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_options.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_stringbody_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/go.mod
  packages/typespec-go/test/cadlranch/payload/multipartgroup/go.sum
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_formdata_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_multipart_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_options.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for internal-only accessibility
  packages/naming.go/src/naming.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/go.mod
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/go.sum
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/internaloperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/publicoperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/relativemodelinoperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/sharedmodelinoperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_interfaces.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_internaloperation_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_polymorphic_helpers.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_relativemodelinoperation_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_sharedmodelinoperation_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/go.mod
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/go.sum
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/zz_modelinoperation_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test file name
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/modelinoperation_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for internal-only accessibility (#1144)
  packages/naming.go/src/naming.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/go.mod
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/go.sum
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/internaloperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/publicoperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/relativemodelinoperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/sharedmodelinoperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_interfaces.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_internaloperation_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_polymorphic_helpers.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_relativemodelinoperation_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_sharedmodelinoperation_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/go.mod
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/go.sum
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/modelinoperation_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add more tsp coverage
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/custom_client.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/go.mod
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/jsonmergepatch_client_test.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/go.mod
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/go.sum
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/zz_notversioned_client.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/zz_options.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/go.mod
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/go.sum
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_options.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_versioned_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add more tsp coverage (#1145)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/custom_client.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/go.mod
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/jsonmergepatch_client_test.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/go.mod
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/go.sum
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/zz_notversioned_client.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/zz_options.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/go.mod
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/go.sum
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_options.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_versioned_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update dep
  packages/autorest.gotest/README.md
Due: eng/pipelines/ci-gotest.yml

upgrade version
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

update version (#1146)
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/README.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

Add tsp versions coverage
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/custom_client.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/go.mod
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/go.sum
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/notversioned_client_test.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/zz_notversioned_client.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/custom_client.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/go.mod
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/go.sum
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_versioned_client.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_versioned_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rename test file
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/versioned_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp versions coverage (#1147)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/custom_client.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/go.mod
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/go.sum
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/notversioned_client_test.go
  packages/typespec-go/test/cadlranch/server/versions/unversionedgroup/zz_notversioned_client.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/custom_client.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/go.mod
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/go.sum
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/versioned_client_test.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_versioned_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't skip apiVersion params
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/server/path/multiplegroup/custom_client.go
  packages/typespec-go/test/cadlranch/server/path/multiplegroup/go.mod
  packages/typespec-go/test/cadlranch/server/path/multiplegroup/go.sum
  packages/typespec-go/test/cadlranch/server/path/multiplegroup/multiple_client_test.go
  packages/typespec-go/test/cadlranch/server/path/multiplegroup/zz_multiple_client.go
  packages/typespec-go/test/cadlranch/server/path/singlegroup/custom_client.go
  packages/typespec-go/test/cadlranch/server/path/singlegroup/go.mod
  packages/typespec-go/test/cadlranch/server/path/singlegroup/go.sum
  packages/typespec-go/test/cadlranch/server/path/singlegroup/single_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't skip apiVersion params (#1148)
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/server/path/multiplegroup/custom_client.go
  packages/typespec-go/test/cadlranch/server/path/multiplegroup/go.mod
  packages/typespec-go/test/cadlranch/server/path/multiplegroup/go.sum
  packages/typespec-go/test/cadlranch/server/path/multiplegroup/multiple_client_test.go
  packages/typespec-go/test/cadlranch/server/path/multiplegroup/zz_multiple_client.go
  packages/typespec-go/test/cadlranch/server/path/singlegroup/custom_client.go
  packages/typespec-go/test/cadlranch/server/path/singlegroup/go.mod
  packages/typespec-go/test/cadlranch/server/path/singlegroup/go.sum
  packages/typespec-go/test/cadlranch/server/path/singlegroup/single_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp flattengroup coverage
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/flatten_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/go.mod
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp flattengroup coverage (#1149)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/flatten_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/go.mod
  packages/typespec-go/test/cadlranch/azure/client-generator-core/flattengroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp support for LROs
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/createresourcepollviaoperationlocation_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/go.mod
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/go.sum
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_createresourcepollviaoperationlocation_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_legacy_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/go.mod
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/go.sum
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/rcp_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_rpc_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/go.mod
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/go.sum
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/standard_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_standard_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove unnecessary build constraints
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/rcp_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/standard_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
