Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

add code
  packages/typespec-go/test/tsp/ApiManagement/client.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fixed incorrect example generation for unknown type
  packages/codegen.go/src/core/example.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/armtest/zz_lro_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/LRO_okresponse_with_async_header.json
  packages/typespec-go/test/tsp/Test.Management/models.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update package.json
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update example file
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/LRO_okresponse_with_async_header.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix parameter group name generation when the parameter group is used by multiple operations
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armtest/fake/zz_internal.go
  packages/typespec-go/test/local/armtest/fake/zz_parametergroupoperations_server.go
  packages/typespec-go/test/local/armtest/fake/zz_server_factory.go
  packages/typespec-go/test/local/armtest/zz_client_factory.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_parametergroupoperations_client.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/tsp/Test.Management/ParameterGroups.tsp
  packages/typespec-go/test/tsp/Test.Management/main.tsp
  packages/typespec-go/test/tsp/Test.Management/models.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

resolve comment
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armtest/fake/zz_parametergroupoperations_server.go
  packages/typespec-go/test/local/armtest/zz_parametergroupoperations_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix incorrect example generation for unknown type (#1830)
  packages/codegen.go/src/core/example.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/local/armtest/zz_lro_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/LRO_okresponse_with_async_header.json
  packages/typespec-go/test/tsp/Test.Management/models.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add tests and cleanup
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/test/http-specs/type/property/optionalitygroup/optionalplaintime_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/http-specs/specialwordsgroup/modelproperties_client_test.go
  packages/typespec-go/test/local/azmodelsonly/testdata/_metadata.json
  packages/typespec-go/test/local/azmodelsonly/zz_models.go
  packages/typespec-go/test/local/azmodelsonly/zz_models_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Upgrade tsp toolset to latest version (#1834)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/specialwordsgroup/fake/zz_specialwordsmodelproperties_server.go
  packages/typespec-go/test/http-specs/specialwordsgroup/modelproperties_client_test.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_models.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_options.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_responses.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_specialwords_client.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_specialwordsmodelproperties_client.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test code
  packages/typespec-go/test/http-specs/type/property/optionalitygroup/optionalplaintime_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add plainTime test code (#1835)
  packages/typespec-go/test/http-specs/type/property/optionalitygroup/optionalplaintime_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refactor implementation
  packages/codegen.go/src/core/metadata.ts
  packages/codegen.go/src/emitter.ts
  packages/codemodel.go/src/codeModel.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/metadata.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/codegen.go/src/core/metadata.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Apply suggestion from @Copilot
  packages/codegen.go/src/core/metadata.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine code
  packages/codegen.go/src/core/metadata.ts
  packages/typespec-go/src/tcgcadapter/metadata.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove azure-tools/linq dependency from tsp emitter
  packages/codegen.go/package.json
  packages/codegen.go/src/core/constants.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/imports.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove azure-tools/linq dependency from tsp emitter (#1838)
  packages/codegen.go/package.json
  packages/codegen.go/src/core/constants.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/imports.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove azure-tools/codegen dependency from tsp emitter
  packages/autorest.go/package.json
  packages/codegen.go/package.json
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/gomod.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/interfaces.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/fake/servers.ts
  packages/naming.go/src/naming.ts
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove azure-tools/codegen dependency from tsp emitter (#1839)
  packages/autorest.go/package.json
  packages/codegen.go/package.json
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/gomod.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/interfaces.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/fake/servers.ts
  packages/naming.go/src/naming.ts
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update parameters
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/resourcegroupresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/subscriptionresource2operations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/subscriptionresourceoperations_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade tcgc
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix spector test & upgrade TCGC (#1841)
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/resourcegroupresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/subscriptionresource2operations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/subscriptionresourceoperations_client_test.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix detection of streaming responses
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add release date for gotest package v4.7.7 (#1847)
  packages/autorest.gotest/CHANGELOG.md
Due: eng/pipelines/ci-gotest.yml

add test code
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/fake/zz_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/zz_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test code
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/deserializeemptystringasnull/zz_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Apply suggestion from @Copilot
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prepare release typespec-go@0.9.2 (#1849)
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test code
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/documentation/LICENSE.txt
  packages/typespec-go/test/http-specs/documentation/fake/zz_internal.go
  packages/typespec-go/test/http-specs/documentation/fake/zz_lists_server.go
  packages/typespec-go/test/http-specs/documentation/fake/zz_server.go
  packages/typespec-go/test/http-specs/documentation/fake/zz_textformatting_server.go
  packages/typespec-go/test/http-specs/documentation/go.mod
  packages/typespec-go/test/http-specs/documentation/go.sum
  packages/typespec-go/test/http-specs/documentation/testdata/_metadata.json
  packages/typespec-go/test/http-specs/documentation/zz_client.go
  packages/typespec-go/test/http-specs/documentation/zz_constants.go
  packages/typespec-go/test/http-specs/documentation/zz_lists_client.go
  packages/typespec-go/test/http-specs/documentation/zz_models.go
  packages/typespec-go/test/http-specs/documentation/zz_models_serde.go
  packages/typespec-go/test/http-specs/documentation/zz_options.go
  packages/typespec-go/test/http-specs/documentation/zz_responses.go
  packages/typespec-go/test/http-specs/documentation/zz_textformatting_client.go
  packages/typespec-go/test/http-specs/documentation/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add code
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/documentation/fake/zz_lists_server.go
  packages/typespec-go/test/http-specs/documentation/fake/zz_server.go
  packages/typespec-go/test/http-specs/documentation/fake/zz_textformatting_server.go
  packages/typespec-go/test/http-specs/documentation/go.mod
  packages/typespec-go/test/http-specs/documentation/zz_client.go
  packages/typespec-go/test/http-specs/documentation/zz_options.go
  packages/typespec-go/test/http-specs/documentation/zz_responses.go
  packages/typespec-go/test/http-specs/documentationgroup/LICENSE.txt
  packages/typespec-go/test/http-specs/documentationgroup/documentationlists_client_test.go
  packages/typespec-go/test/http-specs/documentationgroup/documentationtextformatting_client_test.go
  packages/typespec-go/test/http-specs/documentationgroup/fake/zz_documentation_server.go
  packages/typespec-go/test/http-specs/documentationgroup/fake/zz_documentationlists_server.go
  packages/typespec-go/test/http-specs/documentationgroup/fake/zz_documentationtextformatting_server.go
  packages/typespec-go/test/http-specs/documentationgroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/documentationgroup/go.mod
  packages/typespec-go/test/http-specs/documentationgroup/go.sum
  packages/typespec-go/test/http-specs/documentationgroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/documentationgroup/zz_constants.go
  packages/typespec-go/test/http-specs/documentationgroup/zz_documentation_client.go
  packages/typespec-go/test/http-specs/documentationgroup/zz_documentationlists_client.go
  packages/typespec-go/test/http-specs/documentationgroup/zz_documentationtextformatting_client.go
  packages/typespec-go/test/http-specs/documentationgroup/zz_models.go
  packages/typespec-go/test/http-specs/documentationgroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/documentationgroup/zz_options.go
  packages/typespec-go/test/http-specs/documentationgroup/zz_responses.go
  packages/typespec-go/test/http-specs/documentationgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refine diagnostics
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

changeset
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

merge format and lint
  eng/pipelines/templates/steps/build-test-go.yaml
  eng/pipelines/templates/steps/build-test-gotest.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
  package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

address comment
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armtest/fake/zz_parametergroupoperations_server.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_parametergroupoperations_client.go
  packages/typespec-go/test/tsp/Test.Management/ParameterGroups.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

allow customized datetime encoding format
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
