Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: ../steps/set-env.yaml
  - template: ../steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload CADL Ranch Test Coverage
    inputs:
      azureSubscription: Cadl Ranch Storage
      scriptType: bash
      scriptLocation: inlineScript
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks - go1.21
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks - go1.21
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

Update azcore version
  packages/codegen.go/src/gomod.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep autorest.go and tsp emitter for release
  packages/autorest.go/CHANGELOG.md
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

move bugfix notes to bugs fixed section
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Prep autorest.go and tsp emitter for release (#1414)
  packages/autorest.go/CHANGELOG.md
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

bump to tcgc 0.44.3
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fake/zz_multipartformdata_server.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/go.mod
  packages/typespec-go/test/armapicenter/go.sum
  packages/typespec-go/test/armcodesigning/go.mod
  packages/typespec-go/test/armcodesigning/go.sum
  packages/typespec-go/test/armdatabasewatcher/go.mod
  packages/typespec-go/test/armdatabasewatcher/go.sum
  packages/typespec-go/test/armlargeinstance/go.mod
  packages/typespec-go/test/armlargeinstance/go.sum
  packages/typespec-go/test/armloadtestservice/go.mod
  packages/typespec-go/test/armloadtestservice/go.sum
  packages/typespec-go/test/armmongocluster/go.mod
  packages/typespec-go/test/armmongocluster/go.sum
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rollback format change
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/helpers.ts
  packages/codemodel.go/src/client.ts
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade to tcgc 0.44.3 (#1411)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargeinstance_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargestorageinstance_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_server_factory.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstance_client.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargestorageinstance_client.go
  packages/typespec-go/test/armlargeinstance/zz_client_factory.go
  packages/typespec-go/test/armlargeinstance/zz_options.go
  packages/typespec-go/test/armlargeinstance/zz_responses.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_naming_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_namingclientmodel_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fakes_test.go
  packages/typespec-go/test/cadlranch/client/naminggroup/model_client_test.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_namingclientmodel_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove testserver codecoverage publishing
  eng/pipelines/templates/steps/build-test-go.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update build-test-typespec.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update ci-go.yml
  eng/pipelines/ci-go.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update build-test-go.yaml
  eng/pipelines/templates/steps/build-test-go.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add azure/resource-manager/models/resources cadl-ranch test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_nestedproxyresources_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_server_factory.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_topleveltrackedresources_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/go.mod
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/go.sum
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_client_factory.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_models.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_nestedproxyresources_client.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_nestedproxyresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_options.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_topleveltrackedresources_client.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_topleveltrackedresources_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep tsp emitter 0.3.0 for release
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep tsp emitter 0.3.0 for release (#1420)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove testserver codecoverage publishing (#1416)
  eng/pipelines/ci-go.yml
  eng/pipelines/templates/steps/build-test-go.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add managed-identity cadl-ranch test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/fake/zz_managedidentitytrackedresources_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/fake/zz_server_factory.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/fake/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/go.mod
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/go.sum
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/managedidentitytrackedresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/utils_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_client_factory.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_managedidentitytrackedresources_client.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_models.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_options.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_time_rfc3339.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update resources
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/nestedproxyresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/topleveltrackedresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/utils_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update resources
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_nestedproxyresources_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_server_factory.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_topleveltrackedresources_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/nestedproxyresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/topleveltrackedresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/utils_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_nestedproxyresources_client.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_topleveltrackedresources_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add azure/resource-manager cadlranch test (#1418)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/fake/zz_managedidentitytrackedresources_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/fake/zz_server_factory.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/fake/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/go.mod
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/go.sum
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/managedidentitytrackedresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/utils_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_client_factory.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_managedidentitytrackedresources_client.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_models.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_options.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_nestedproxyresources_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_server_factory.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_topleveltrackedresources_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/go.mod
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/go.sum
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/nestedproxyresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/topleveltrackedresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/utils_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_client_factory.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_models.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_nestedproxyresources_client.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_options.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_topleveltrackedresources_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't prune base models annotated as output types
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/azmodelsonly/go.mod
  packages/typespec-go/test/azmodelsonly/go.sum
  packages/typespec-go/test/azmodelsonly/zz_models.go
  packages/typespec-go/test/azmodelsonly/zz_models_serde.go
  packages/typespec-go/test/tsp/ModelsOnlyWithBaseTypes/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

use flag from tcgc
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

wrap condition in parens
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't prune base models annotated as output types (#1425)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
  packages/typespec-go/test/azmodelsonly/go.mod
  packages/typespec-go/test/azmodelsonly/go.sum
  packages/typespec-go/test/azmodelsonly/zz_models.go
  packages/typespec-go/test/azmodelsonly/zz_models_serde.go
  packages/typespec-go/test/tsp/ModelsOnlyWithBaseTypes/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add ActionSync test
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/fake/zz_topleveltrackedresources_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/topleveltrackedresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_models.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_options.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_topleveltrackedresources_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update endpoint
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/xmsclientrequestid_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/naming_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/custom_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/custom_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/custom_client.go
  packages/typespec-go/test/cadlranch/parameters/basicparamsgroup/basic_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/custom_client.go
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/custom_client.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/spread_client.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/contentnegotiation_client.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/custom_client.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/custom_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/multipart_client.go
  packages/typespec-go/test/cadlranch/payload/pageablegroup/custom_client.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/json_client.go
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/custom_client.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/arraygroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/dictionarygroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/enum/extensiblegroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/enum/fixedgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/emptygroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/enumdiscgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/nodiscgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/singlediscgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/usagegroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/property/optionalitygroup/optional_client.go
  packages/typespec-go/test/cadlranch/type/property/valuetypesgroup/valuetypes_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

modtidy
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/go.mod
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/go.mod
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix tests
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/scalar_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

abstract func
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Revert "fix tests"
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/scalar_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Revert "fix"
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Revert "update endpoint"
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/xmsclientrequestid_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/naming_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/custom_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/custom_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/custom_client.go
  packages/typespec-go/test/cadlranch/parameters/basicparamsgroup/basic_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/custom_client.go
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/custom_client.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/spread_client.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/contentnegotiation_client.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/custom_client.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/custom_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/multipart_client.go
  packages/typespec-go/test/cadlranch/payload/pageablegroup/custom_client.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/json_client.go
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/custom_client.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/arraygroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/dictionarygroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/enum/extensiblegroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/enum/fixedgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/emptygroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/enumdiscgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/nodiscgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/singlediscgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/usagegroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/property/optionalitygroup/optional_client.go
  packages/typespec-go/test/cadlranch/type/property/valuetypesgroup/valuetypes_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix lint
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/cadlranch
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
