Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/cadlranch
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

fix placement of comment
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

generate ARM tsp as ARM code
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armapicenter/zz_apicenter_client.go
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client.go
  packages/typespec-go/test/armapicenter/zz_apis_client.go
  packages/typespec-go/test/armapicenter/zz_apiversions_client.go
  packages/typespec-go/test/armapicenter/zz_constants.go
  packages/typespec-go/test/armapicenter/zz_deployments_client.go
  packages/typespec-go/test/armapicenter/zz_environments_client.go
  packages/typespec-go/test/armapicenter/zz_metadataschemas_client.go
  packages/typespec-go/test/armapicenter/zz_operations_client.go
  packages/typespec-go/test/armapicenter/zz_services_client.go
  packages/typespec-go/test/armapicenter/zz_workspaces_client.go
  packages/typespec-go/test/armcodesigning/zz_certificateprofiles_client.go
  packages/typespec-go/test/armcodesigning/zz_codesigning_client.go
  packages/typespec-go/test/armcodesigning/zz_codesigningaccounts_client.go
  packages/typespec-go/test/armcodesigning/zz_constants.go
  packages/typespec-go/test/armcodesigning/zz_operations_client.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstance_client.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstances_client.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargestorageinstances_client.go
  packages/typespec-go/test/armlargeinstance/zz_constants.go
  packages/typespec-go/test/armlargeinstance/zz_operations_client.go
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/zz_basic_client.go
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/zz_twomodelsaspageitem_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_createresourcepollviaoperationlocation_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_legacy_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_rpc_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_standard_client.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/custom_client.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_versioned_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix missing splitHelper in some cases
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/fake/zz_internal.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

skip fakes for unexported methods
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/fake/zz_internaloperation_server.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/fake/zz_relativemodelinoperation_server.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/fake/zz_sharedmodelinoperation_server.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Variables
  eng/pipelines/publish-release-go.yml
  eng/pipelines/templates/variables/image.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Comment out publishing steps
  eng/pipelines/publish-release-go.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor for 1ES pipelines
  eng/pipelines/publish-release-go.yml
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/variables/image.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Syntax
  eng/pipelines/publish-release-go.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Stages
  eng/pipelines/publish-release-go.yml
  eng/pipelines/templates/stages/1es-redirect.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Paths
  eng/pipelines/publish-release-go.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Image variables
  eng/pipelines/publish-release-go.yml
  eng/pipelines/templates/variables/image.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Tab
  eng/pipelines/publish-release-go.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

CredScan configuration
  eng/CredScanSuppression.json
  eng/pipelines/templates/stages/1es-redirect.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Uncomment publish
  eng/pipelines/publish-release-go.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

1ES Migration (#1163)
  eng/CredScanSuppression.json
  eng/pipelines/publish-release-go.yml
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/variables/image.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fixes for multipart/form parameters
  packages/autorest.go/test/autorest/formdatagroup/zz_formdata_client.go
  packages/autorest.go/test/maps/azalias/fake/zz_server.go
  packages/autorest.go/test/maps/azalias/zz_client.go
  packages/autorest.go/test/maps/azalias/zz_models.go
  packages/autorest.go/test/maps/azalias/zz_models_serde.go
  packages/autorest.go/test/maps/azalias/zz_options.go
  packages/autorest.go/test/maps/azalias/zz_responses.go
  packages/autorest.go/test/swagger/alias.json
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fixes for multipart/form parameters (#1169)
  packages/autorest.go/test/autorest/formdatagroup/zz_formdata_client.go
  packages/autorest.go/test/maps/azalias/fake/zz_server.go
  packages/autorest.go/test/maps/azalias/zz_client.go
  packages/autorest.go/test/maps/azalias/zz_models.go
  packages/autorest.go/test/maps/azalias/zz_models_serde.go
  packages/autorest.go/test/maps/azalias/zz_options.go
  packages/autorest.go/test/maps/azalias/zz_responses.go
  packages/autorest.go/test/swagger/alias.json
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Various emitter cleanup
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/tsconfig.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

a few more things
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Various emitter cleanup (#1170)
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/tsconfig.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix handling of content types other than JSON
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/fake/zz_requestbody_server.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/fake/zz_responsebody_server.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_requestbody_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responsebody_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/custom_client.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/fake/zz_stringbody_server.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/go.mod
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/go.sum
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/stringbody_client_test.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_stringbody_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fake/zz_formdata_server.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_formdata_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove hard-coded content-type in fakes
  packages/autorest.go/test/acr/azacr/fake/zz_containerregistryblob_server.go
  packages/autorest.go/test/autorest/binarygroup/fake/zz_download_server.go
  packages/autorest.go/test/autorest/filegroup/fake/zz_files_server.go
  packages/autorest.go/test/autorest/formdatagroup/fake/zz_formdata_server.go
  packages/autorest.go/test/compute/armcompute/fake/zz_cloudserviceroleinstances_server.go
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/fake/zz_responsebody_server.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update content type check and comments
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix handling of content types other than JSON (#1171)
  packages/autorest.go/test/acr/azacr/fake/zz_containerregistryblob_server.go
  packages/autorest.go/test/autorest/binarygroup/fake/zz_download_server.go
  packages/autorest.go/test/autorest/filegroup/fake/zz_files_server.go
  packages/autorest.go/test/autorest/formdatagroup/fake/zz_formdata_server.go
  packages/autorest.go/test/compute/armcompute/fake/zz_cloudserviceroleinstances_server.go
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/fake/zz_requestbody_server.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/fake/zz_responsebody_server.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_requestbody_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responsebody_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/custom_client.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/fake/zz_stringbody_server.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/go.mod
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/go.sum
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/stringbody_client_test.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_stringbody_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fake/zz_formdata_server.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_formdata_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix path to cadl-ranch tool
  eng/pipelines/cadl-ranch-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix path to cadl-ranch tool (#1172)
  eng/pipelines/cadl-ranch-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove working directory when publishing cadl-ranch results
  eng/pipelines/cadl-ranch-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

git ignore add cadl-ranch results
  .gitignore
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove working directory when publishing cadl-ranch results (#1173)
  .gitignore
  eng/pipelines/cadl-ranch-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move emitting of case statement to its own function
  packages/codegen.go/src/fake/servers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move emitting of case statement to its own function (#1174)
  packages/codegen.go/src/fake/servers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for multipart/form data in tsp
  common/config/rush/command-line.json
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/test/autorest/formdatagroup/fake/zz_formdata_server.go
  packages/autorest.go/test/maps/azalias/fake/zz_server.go
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/.scripts/cadl-ranch.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fake/zz_formdata_server.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fakes_test.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/formdata_client_test.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/go.mod
  packages/typespec-go/test/cadlranch/payload/multipartgroup/go.sum
  packages/typespec-go/test/cadlranch/payload/multipartgroup/multipart_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_formdata_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove replace, use untagged azcore version
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/payload/multipartgroup/go.mod
  packages/typespec-go/test/cadlranch/payload/multipartgroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix shadowing
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fake/zz_formdata_server.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
