Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
      azureSubscription: TypeSpec Storage
      scriptType: bash
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks - go1.21
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks - go1.21
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

report diagnostic for expected error (#1513)
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/errors.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/gomod.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/responses.ts
  packages/codegen.go/src/time.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/errors.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/errors.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade emitter version (#1520)
  eng/pipelines/ci-gotest.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

compate new typespec version
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/tsp/ApiCenter.Management/main.tsp
  packages/typespec-go/test/tsp/ApiCenter.Management/models.tsp
  packages/typespec-go/test/tsp/AzureLargeInstance.Management/main.tsp
  packages/typespec-go/test/tsp/AzureLargeInstance.Management/models.tsp
  packages/typespec-go/test/tsp/CodeSigning.Management/main.tsp
  packages/typespec-go/test/tsp/CodeSigning.Management/models.tsp
  packages/typespec-go/test/tsp/Community.Management/main.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/alertRuleResources.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/baseTarget.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/sharedPrivateLinkResource.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/watcher.tsp
  packages/typespec-go/test/tsp/Internal.Pager/main.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/main.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/models.tsp
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/bgppeer.tsp
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/common.tsp
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/loadbalancer.tsp
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/service.tsp
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/storageclass.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/main.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/models.tsp
  packages/typespec-go/test/tsp/Microsoft.DevOpsInfrastructure/main.tsp
  packages/typespec-go/test/tsp/ModelsOnlyWithBaseTypes/main.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/FirewallRule.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/MongoCluster.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/Replica.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/main.tsp
  packages/typespec-go/test/tsp/Random.Management/main.tsp
  packages/typespec-go/test/tsp/Test.Management/main.tsp
  packages/typespec-go/test/tsp/Test.Management/models.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade to typespec 0.67 and typespec-azure 0.53
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/tsp/ApiCenter.Management/models.tsp
  packages/typespec-go/test/tsp/AzureLargeInstance.Management/AzureLargeInstance.tsp
  packages/typespec-go/test/tsp/AzureLargeInstance.Management/models.tsp
  packages/typespec-go/test/tsp/CodeSigning.Management/CodeSigningAccount.tsp
  packages/typespec-go/test/tsp/CodeSigning.Management/models.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/watcher.tsp
  packages/typespec-go/test/tsp/Microsoft.DevOpsInfrastructure/main.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/MongoCluster.tsp
  packages/typespec-go/test/tsp/Test.Management/BodyRoot.tsp
  packages/typespec-go/test/tsp/Test.Management/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine stderr
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine autorest.go and typespec-go
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/README.md
  packages/autorest.go/package.json
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/test/consumption/armconsumption/zz_client_factory.go
  packages/autorest.go/test/network/armnetwork/zz_client_factory.go
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/README.md
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  swagger/specification/consumption/resource-manager/readme.go.md
  swagger/specification/consumption/resource-manager/readme.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test case
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_client_factory.go
  packages/typespec-go/test/local/armloadtestservice/zz_client_factory.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestmappings_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestprofilemappings_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_quotas_client_example_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rollback SdkApiVersionParameter
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test case
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_client_factory.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update http-specs
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/core/corescalargroup/fake/zz_scalarazurelocationscalar_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/corescalargroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/core/corescalargroup/zz_scalarazurelocationscalar_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fake/zz_namingunionenum_server.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_namingunionenum_client.go
  packages/typespec-go/test/http-specs/encode/bytesgroup/fake/zz_bytesrequestbody_server.go
  packages/typespec-go/test/http-specs/encode/bytesgroup/fake/zz_bytesresponsebody_server.go
  packages/typespec-go/test/http-specs/encode/bytesgroup/zz_bytesrequestbody_client.go
  packages/typespec-go/test/http-specs/encode/bytesgroup/zz_bytesresponsebody_client.go
  packages/typespec-go/test/http-specs/encode/bytesgroup/zz_responses.go
  packages/typespec-go/test/http-specs/type/enum/extensiblegroup/fake/zz_extensiblestring_server.go
  packages/typespec-go/test/http-specs/type/enum/extensiblegroup/zz_extensiblestring_client.go
  packages/typespec-go/test/http-specs/type/enum/extensiblegroup/zz_responses.go
  packages/typespec-go/test/http-specs/type/enum/fixedgroup/fake/zz_fixedstring_server.go
  packages/typespec-go/test/http-specs/type/enum/fixedgroup/zz_fixedstring_client.go
  packages/typespec-go/test/http-specs/type/enum/fixedgroup/zz_responses.go
  packages/typespec-go/test/http-specs/type/scalargroup/fake/zz_scalarboolean_server.go
  packages/typespec-go/test/http-specs/type/scalargroup/fake/zz_scalardecimal128type_server.go
  packages/typespec-go/test/http-specs/type/scalargroup/fake/zz_scalardecimal128verify_server.go
  packages/typespec-go/test/http-specs/type/scalargroup/fake/zz_scalardecimaltype_server.go
  packages/typespec-go/test/http-specs/type/scalargroup/fake/zz_scalardecimalverify_server.go
  packages/typespec-go/test/http-specs/type/scalargroup/fake/zz_scalarstring_server.go
  packages/typespec-go/test/http-specs/type/scalargroup/fake/zz_scalarunknown_server.go
  packages/typespec-go/test/http-specs/type/scalargroup/zz_responses.go
  packages/typespec-go/test/http-specs/type/scalargroup/zz_scalarboolean_client.go
  packages/typespec-go/test/http-specs/type/scalargroup/zz_scalardecimal128type_client.go
  packages/typespec-go/test/http-specs/type/scalargroup/zz_scalardecimal128verify_client.go
  packages/typespec-go/test/http-specs/type/scalargroup/zz_scalardecimaltype_client.go
  packages/typespec-go/test/http-specs/type/scalargroup/zz_scalardecimalverify_client.go
  packages/typespec-go/test/http-specs/type/scalargroup/zz_scalarstring_client.go
  packages/typespec-go/test/http-specs/type/scalargroup/zz_scalarunknown_client.go
  packages/typespec-go/test/http-specs/versioning/rettypechangedfromgroup/fake/zz_returntypechangedfrom_server.go
  packages/typespec-go/test/http-specs/versioning/rettypechangedfromgroup/zz_responses.go
  packages/typespec-go/test/http-specs/versioning/rettypechangedfromgroup/zz_returntypechangedfrom_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix example constant type
  packages/codegen.go/src/example.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/local/armapicenter/zz_services_client_example_test.go
  packages/typespec-go/test/local/armdatabasewatcher/zz_sharedprivatelinkresources_client_example_test.go
  packages/typespec-go/test/local/armdatabasewatcher/zz_watchers_client_example_test.go
  packages/typespec-go/test/local/armlargeinstance/zz_azurelargestorageinstance_client_example_test.go
  packages/typespec-go/test/tsp/ApiCenter.Management/examples/2024-03-15-preview/Services_CreateOrUpdate.json
  packages/typespec-go/test/tsp/ApiCenter.Management/examples/2024-03-15-preview/Services_Get.json
  packages/typespec-go/test/tsp/ApiCenter.Management/examples/2024-03-15-preview/Services_ListByResourceGroup.json
  packages/typespec-go/test/tsp/ApiCenter.Management/examples/2024-03-15-preview/Services_ListBySubscription.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update package.json
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update for mockapi test
  packages/typespec-go/test/http-specs/encode/bytesgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/parameters/collectionfmtgroup/query_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update http-specs
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/http-specs/versioning/rettypechangedfromgroup/fake/zz_returntypechangedfrom_server.go
  packages/typespec-go/test/http-specs/versioning/rettypechangedfromgroup/zz_returntypechangedfrom_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

disabled base64url test case
  packages/typespec-go/test/http-specs/encode/bytesgroup/custom_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add streaming test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/fake/zz_jsonl_server.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/fake/zz_jsonlbasic_server.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/go.mod
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_constants.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_jsonl_client.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_jsonlbasic_client.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_options.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_responses.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

go mod tidy
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/go.mod
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/go.sum
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/watcher.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update CI to the latest version of Go
  eng/pipelines/ci-go.yml
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci-typespec-nightly.yml
  eng/pipelines/ci-typespec.yml
  eng/pipelines/templates/steps/set-env.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

ignore Spector test coverge file
  .gitignore
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update to latest golangci-lint
  eng/pipelines/ci-typespec.yml
  eng/pipelines/templates/steps/build-test-go.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
  eng/pipelines/templates/steps/set-env.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

clean up lint
  packages/autorest.go/test/autorest/complexgroup/polymorphism_test.go
  packages/autorest.go/test/autorest/filegroup/filegroup_test.go
  packages/autorest.go/test/autorest/paginggroup/paginggroup_test.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/custom_client_test.go
  packages/typespec-go/test/http-specs/encode/bytesgroup/custom_client_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test failures
  packages/typespec-go/test/http-specs/encode/bytesgroup/custom_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update CI to the latest version of Go (#1527)
  .gitignore
  eng/pipelines/ci-go.yml
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci-typespec-nightly.yml
  eng/pipelines/ci-typespec.yml
  eng/pipelines/templates/steps/build-test-go.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
  eng/pipelines/templates/steps/set-env.yaml
  packages/autorest.go/test/autorest/complexgroup/polymorphism_test.go
  packages/autorest.go/test/autorest/filegroup/filegroup_test.go
  packages/autorest.go/test/autorest/paginggroup/paginggroup_test.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/custom_client_test.go
  packages/typespec-go/test/http-specs/encode/bytesgroup/custom_client_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

clean up lint
  packages/autorest.go/test/autorest/formdatagroup/formgroup_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Prep tsp emitter for release
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

include autorest.go
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

more updates
  packages/autorest.go/test/autorest/go.mod
  packages/autorest.go/test/autorest/go.sum
  packages/typespec-go/test/http-specs/jsongroup/go.mod
  packages/typespec-go/test/http-specs/jsongroup/go.sum
  packages/typespec-go/test/http-specs/type/property/addlpropsgroup/go.mod
  packages/typespec-go/test/http-specs/type/property/addlpropsgroup/go.sum
  packages/typespec-go/test/local/armapicenter/go.mod
  packages/typespec-go/test/local/armapicenter/go.sum
  packages/typespec-go/test/local/armcodesigning/go.mod
  packages/typespec-go/test/local/armcodesigning/go.sum
  packages/typespec-go/test/local/armcommunitymanagement/go.mod
  packages/typespec-go/test/local/armcommunitymanagement/go.sum
  packages/typespec-go/test/local/armcontainerorchestratorruntime/go.mod
  packages/typespec-go/test/local/armcontainerorchestratorruntime/go.sum
  packages/typespec-go/test/local/armdatabasewatcher/go.mod
  packages/typespec-go/test/local/armdatabasewatcher/go.sum
  packages/typespec-go/test/local/armdevopsinfrastructure/go.mod
  packages/typespec-go/test/local/armdevopsinfrastructure/go.sum
  packages/typespec-go/test/local/armlargeinstance/go.mod
  packages/typespec-go/test/local/armlargeinstance/go.sum
  packages/typespec-go/test/local/armloadtestservice/go.mod
  packages/typespec-go/test/local/armloadtestservice/go.sum
  packages/typespec-go/test/local/armmongocluster/go.mod
  packages/typespec-go/test/local/armmongocluster/go.sum
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep tsp emitter for release (#1526)
  packages/autorest.go/CHANGELOG.md
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

go mod tidy
  packages/typespec-go/test/local/armcodesigning/go.sum
  packages/typespec-go/test/local/armcommunitymanagement/go.sum
  packages/typespec-go/test/local/armcontainerorchestratorruntime/go.sum
  packages/typespec-go/test/local/armdatabasewatcher/go.sum
  packages/typespec-go/test/local/armdevopsinfrastructure/go.sum
  packages/typespec-go/test/local/armlargeinstance/go.sum
  packages/typespec-go/test/local/armloadtestservice/go.sum
  packages/typespec-go/test/local/armmongocluster/go.sum
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Centralize test version definitions and test go latest + previous
  eng/pipelines/ci-go.yml
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci-typespec-nightly.yml
  eng/pipelines/ci-typespec.yml
  eng/pipelines/templates/steps/set-env.yaml
  eng/pipelines/templates/variables/globals.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/encode/bytesgroup/fake/zz_bytesresponsebody_server.go
  packages/typespec-go/test/http-specs/encode/bytesgroup/zz_bytesresponsebody_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine autorest.go and typespec-go
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/README.md
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/test/consumption/armconsumption/zz_client_factory.go
  packages/autorest.go/test/network/armnetwork/zz_client_factory.go
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/README.md
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-spec, packages/typespec-go/test/azure-http-spec
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
