Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
      azureSubscription: TypeSpec Storage
      scriptType: bash
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

fix
  packages/typespec-go/test/local/armoracledatabase/fake/zz_time_rfc3339.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

changelog
  packages/autorest.go/CHANGELOG.md
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

date
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Prep autorest.go for release
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Prep autorest.go for release (#1539)
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

prep for release
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prep for release (#1541)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update tsp toolset
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/custom_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_page_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_page_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_responses.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/http-specs/payload/jmergepatchgroup/jsonmergepatch_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update tsp toolset (#1542)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/custom_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_page_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_page_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_responses.go
  packages/typespec-go/test/http-specs/payload/jmergepatchgroup/jsonmergepatch_client_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add go config
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/fake/zz_statuscoderange_server.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/go.mod
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_constants.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_options.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_responses.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_statuscoderange_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

validate optional path
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add dependabot for Go modules
  .github/dependabot.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

group all test modules into one PR
  .github/dependabot.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add copilot instructions (#1538)
  .github/copilot-instructions.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add dependabot for Go modules (#1547)
  .github/dependabot.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

baseline existing lint (will fix separately)
  eslint.config.js
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to pnpm-10
  eng/pipelines/templates/steps/set-env.yaml
  package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to pnpm-10 (#1551)
  eng/pipelines/templates/steps/set-env.yaml
  package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove undefined
  packages/autorest.go/src/m4togocodemodel/adapter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Clean up some lint
  eslint.config.js
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/main.ts
  packages/autorest.go/src/transform/helpers.ts
  packages/autorest.go/src/transform/namer.ts
  packages/autorest.go/src/transform/transform.ts
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

baseline specific lints per file instead of globally
  eslint.config.js
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/src/transform/namer.ts
  packages/autorest.go/src/transform/transform.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove duplicate else-if clause
  eslint.config.js
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Clean up some lint (#1550)
  eslint.config.js
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/src/main.ts
  packages/autorest.go/src/transform/helpers.ts
  packages/autorest.go/src/transform/namer.ts
  packages/autorest.go/src/transform/transform.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/test/local/armapicenter/zz_models.go
  packages/typespec-go/test/local/armcodesigning/zz_models.go
  packages/typespec-go/test/local/armcommunitymanagement/zz_models.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_models.go
  packages/typespec-go/test/local/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/local/armdevopsinfrastructure/zz_models.go
  packages/typespec-go/test/local/armlargeinstance/zz_models.go
  packages/typespec-go/test/local/armloadtestservice/zz_models.go
  packages/typespec-go/test/local/armmongocluster/zz_constants.go
  packages/typespec-go/test/local/armmongocluster/zz_models.go
  packages/typespec-go/test/local/armoracledatabase/zz_models.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade to next version
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade tsp toolset
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  eng/pipelines/templates/steps/build-test-typespec.yaml
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/http-specs/authentication/apikeygroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/go.mod
  packages/typespec-go/test/http-specs/authentication/apikeygroup/go.sum
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/go.mod
  packages/typespec-go/test/http-specs/authentication/http/customgroup/go.sum
  packages/typespec-go/test/http-specs/authentication/http/customgroup/zz_custom_client_test.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/custom_client.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/go.mod
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/go.sum
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_jsonlbasic_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rush to pnpm
  docs/development.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

joel feedback
  docs/development.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-spec, packages/typespec-go/test/azure-http-spec
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
