Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

serialization
  packages/typespec-go/test/http-specs/serialization/encoded-name/jsongroup/custom_client.go
  packages/typespec-go/test/http-specs/serialization/encoded-name/jsongroup/go.mod
  packages/typespec-go/test/http-specs/serialization/encoded-name/jsongroup/go.sum
  packages/typespec-go/test/http-specs/serialization/encoded-name/jsongroup/jsongroup_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

setup sdk regenerate pipeline
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix pipeline
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add log
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix pipeline
  eng/pipelines/sdk-regenerate.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix pipeline
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pipeline
  eng/pipelines/sdk-regenerate.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

for test
  eng/pipelines/sdk-regenerate.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pipeline
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Apply suggestions from code review
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

serialization (#1677)
  packages/typespec-go/test/http-specs/serialization/encoded-name/jsongroup/custom_client.go
  packages/typespec-go/test/http-specs/serialization/encoded-name/jsongroup/go.mod
  packages/typespec-go/test/http-specs/serialization/encoded-name/jsongroup/go.sum
  packages/typespec-go/test/http-specs/serialization/encoded-name/jsongroup/jsongroup_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Change unpopulate to restore null sentinel values from JSON null
  packages/autorest.go/test/acr/azacr/zz_models_serde.go
  packages/autorest.go/test/autorest/additionalpropsgroup/zz_models_serde.go
  packages/autorest.go/test/autorest/arraygroup/zz_models_serde.go
  packages/autorest.go/test/autorest/azurespecialsgroup/zz_models_serde.go
  packages/autorest.go/test/autorest/complexgroup/zz_models_serde.go
  packages/autorest.go/test/autorest/complexmodelgroup/zz_models_serde.go
  packages/autorest.go/test/autorest/dictionarygroup/zz_models_serde.go
  packages/autorest.go/test/autorest/errorsgroup/zz_models_serde.go
  packages/autorest.go/test/autorest/extenumsgroup/zz_models_serde.go
  packages/autorest.go/test/autorest/httpinfrastructuregroup/zz_models_serde.go
  packages/autorest.go/test/autorest/lrogroup/zz_models_serde.go
  packages/autorest.go/test/autorest/mediatypesgroup/zz_models_serde.go
  packages/autorest.go/test/autorest/mediatypesgroupwithnormailzedoperationname/zz_models_serde.go
  packages/autorest.go/test/autorest/migroup/zz_models_serde.go
  packages/autorest.go/test/autorest/noopsgroup/zz_models_serde.go
  packages/autorest.go/test/autorest/optionalgroup/zz_models_serde.go
  packages/autorest.go/test/autorest/paginggroup/zz_models_serde.go
  packages/autorest.go/test/autorest/stringgroup/zz_models_serde.go
  packages/autorest.go/test/autorest/validationgroup/zz_models_serde.go
  packages/autorest.go/test/autorest/xmlgroup/zz_models_serde.go
  packages/autorest.go/test/compute/armcompute/zz_models_serde.go
  packages/autorest.go/test/consumption/armconsumption/zz_models_serde.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_models_serde.go
  packages/autorest.go/test/keyvault/azkeyvault/zz_models_serde.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_models_serde.go
  packages/autorest.go/test/maps/azalias/zz_models_serde.go
  packages/autorest.go/test/misc/azarrayofrawjson/zz_models_serde.go
  packages/autorest.go/test/network/armnetwork/zz_models_serde.go
  packages/autorest.go/test/storage/azblob/zz_models_serde.go
  packages/autorest.go/test/synapse/azartifacts/zz_models_serde.go
  packages/autorest.go/test/synapse/azspark/zz_models_serde.go
  packages/autorest.go/test/tables/aztables/zz_models_serde.go
  packages/codegen.go/src/models.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

do not remove HTTP metadata properties
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_models.go
  packages/typespec-go/test/http-specs/payload/contentneggroup/zz_models.go
  packages/typespec-go/test/http-specs/payload/contentneggroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/zz_models.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/zz_models_serde.go
  packages/typespec-go/test/local/armapicenter/zz_models.go
  packages/typespec-go/test/local/armbillingbenefits/zz_models.go
  packages/typespec-go/test/local/armcodesigning/zz_models.go
  packages/typespec-go/test/local/armcommunitymanagement/zz_models.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_models.go
  packages/typespec-go/test/local/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/local/armdevopsinfrastructure/zz_models.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_models.go
  packages/typespec-go/test/local/armhealthbot/zz_models.go
  packages/typespec-go/test/local/armlargeinstance/zz_models.go
  packages/typespec-go/test/local/armloadtestservice/zz_models.go
  packages/typespec-go/test/local/armmongocluster/zz_models.go
  packages/typespec-go/test/local/armoracledatabase/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Upgrade spector version to restore nightly
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fake/zz_naming_server.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fake/zz_namingmodel_server.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fakes_test.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/model_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/naming_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_namingmodel_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_responses.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Upgrade spector version to restore nightly (#1684)
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fake/zz_naming_server.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fake/zz_namingmodel_server.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fakes_test.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/model_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/naming_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_namingmodel_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_responses.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

solve comments & add service filter
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix pipeline parameter
  eng/pipelines/sdk-regenerate.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update parameter type
  eng/pipelines/sdk-regenerate.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix use-latest-spec parameter
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

SDK regenerate pipeline (#1679)
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

tests
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/parameters/spreadgroup/spreadalias_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpagination_client_test.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/fake/zz_statuscoderange_server.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/go.mod
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/go.sum
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/statuscoderange_client.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/statuscoderange_client_test.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_options.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_responses.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_statuscoderange_client.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Report NameCollision diagnostic for duplicate const values
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

improve error message
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Report NameCollision diagnostic for duplicate const values (#1688)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

joel feedback
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/fake/zz_statuscoderange_server.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/go.mod
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/go.sum
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/statuscoderange_client.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/statuscoderange_client_test.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_options.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_responses.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_statuscoderange_client.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test cases for Azure/ClientGenerator/core/override (#1674)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_override_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridegroupparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridereorderparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overridegroupparameters_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overridereorderparameters_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_override_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridegroupparameters_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridereorderparameters_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

verify changelog
  eng/pipelines/sdk-regenerate.yml
  eng/pipelines/templates/steps/publish-release.yaml
  eng/pipelines/templates/steps/verify-changelog.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add verify changelog logic
  eng/pipelines/templates/steps/publish-release.yaml
  eng/pipelines/templates/steps/verify-changelog.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

resolve comments
  eng/pipelines/templates/steps/verify-changelog.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
