Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

Remove superfluous lock file
  packages/autorest.go/pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Remove superfluous lock file (#1627)
  packages/autorest.go/pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Rename PossibleType to WireType
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/imports.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Rename PossibleType to WireType (#1628)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/imports.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/error_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix no more policies error
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/clientnamespacefirst_client_test.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/clientnamespacesecond_client_test.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_clientnamespace_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add generate config
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetorootresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocation_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/deserializeemptystringasnull_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix largeheader test case
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/largeheaders_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/utils_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/modelinoperation_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetoexistingsubadminoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetoexistingsubuseroperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetonewsubproductoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetorootresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocation_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/traits_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocation_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add no-optional-body switch to tsp emitter
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/nooptionalbody/go.mod
  packages/typespec-go/test/local/nooptionalbody/go.sum
  packages/typespec-go/test/local/nooptionalbody/testdata/_metadata.json
  packages/typespec-go/test/local/nooptionalbody/zz_body_client.go
  packages/typespec-go/test/local/nooptionalbody/zz_bodywidgets_client.go
  packages/typespec-go/test/local/nooptionalbody/zz_models.go
  packages/typespec-go/test/local/nooptionalbody/zz_models_serde.go
  packages/typespec-go/test/local/nooptionalbody/zz_options.go
  packages/typespec-go/test/local/nooptionalbody/zz_responses.go
  packages/typespec-go/test/tsp/NoOptionalBody/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

simplify tsp
  packages/typespec-go/test/local/nooptionalbody/zz_body_client.go
  packages/typespec-go/test/local/nooptionalbody/zz_client.go
  packages/typespec-go/test/local/nooptionalbody/zz_options.go
  packages/typespec-go/test/local/nooptionalbody/zz_responses.go
  packages/typespec-go/test/tsp/NoOptionalBody/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add no-optional-body switch to tsp emitter (#1630)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/nooptionalbody/go.mod
  packages/typespec-go/test/local/nooptionalbody/go.sum
  packages/typespec-go/test/local/nooptionalbody/testdata/_metadata.json
  packages/typespec-go/test/local/nooptionalbody/zz_client.go
  packages/typespec-go/test/local/nooptionalbody/zz_models.go
  packages/typespec-go/test/local/nooptionalbody/zz_models_serde.go
  packages/typespec-go/test/local/nooptionalbody/zz_options.go
  packages/typespec-go/test/local/nooptionalbody/zz_responses.go
  packages/typespec-go/test/tsp/NoOptionalBody/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix for some stuttering client names
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armlargeinstance/fake/zz_server.go
  packages/typespec-go/test/local/armlargeinstance/fake/zz_server_factory.go
  packages/typespec-go/test/local/armlargeinstance/zz_client.go
  packages/typespec-go/test/local/armlargeinstance/zz_client_example_test.go
  packages/typespec-go/test/local/armlargeinstance/zz_client_factory.go
  packages/typespec-go/test/local/armlargeinstance/zz_options.go
  packages/typespec-go/test/local/armlargeinstance/zz_responses.go
  packages/typespec-go/test/local/armrandom/fake/zz_server.go
  packages/typespec-go/test/local/armrandom/fake/zz_server_factory.go
  packages/typespec-go/test/local/armrandom/zz_client.go
  packages/typespec-go/test/local/armrandom/zz_client_factory.go
  packages/typespec-go/test/local/armrandom/zz_options.go
  packages/typespec-go/test/local/armrandom/zz_responses.go
  packages/typespec-go/test/tsp/Random.Management/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix for some stuttering client names (#1622)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armlargeinstance/fake/zz_server.go
  packages/typespec-go/test/local/armlargeinstance/fake/zz_server_factory.go
  packages/typespec-go/test/local/armlargeinstance/zz_client.go
  packages/typespec-go/test/local/armlargeinstance/zz_client_example_test.go
  packages/typespec-go/test/local/armlargeinstance/zz_client_factory.go
  packages/typespec-go/test/local/armlargeinstance/zz_options.go
  packages/typespec-go/test/local/armlargeinstance/zz_responses.go
  packages/typespec-go/test/local/armrandom/fake/zz_server.go
  packages/typespec-go/test/local/armrandom/fake/zz_server_factory.go
  packages/typespec-go/test/local/armrandom/zz_client.go
  packages/typespec-go/test/local/armrandom/zz_client_factory.go
  packages/typespec-go/test/local/armrandom/zz_options.go
  packages/typespec-go/test/local/armrandom/zz_responses.go
  packages/typespec-go/test/tsp/Random.Management/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove no-optional-body switch
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/http-specs/payload/jmergepatchgroup/fake/zz_jsonmergepatch_server.go
  packages/typespec-go/test/http-specs/payload/jmergepatchgroup/jsonmergepatch_client_test.go
  packages/typespec-go/test/http-specs/payload/jmergepatchgroup/zz_jsonmergepatch_client.go
  packages/typespec-go/test/http-specs/payload/jmergepatchgroup/zz_options.go
  packages/typespec-go/test/local/nooptionalbody/zz_client.go
  packages/typespec-go/test/local/nooptionalbody/zz_options.go
  packages/typespec-go/test/local/nooptionalbody/zz_responses.go
  packages/typespec-go/test/tsp/NoOptionalBody/main.tsp
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove no-optional-body switch (#1632)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/http-specs/payload/jmergepatchgroup/fake/zz_jsonmergepatch_server.go
  packages/typespec-go/test/http-specs/payload/jmergepatchgroup/jsonmergepatch_client_test.go
  packages/typespec-go/test/http-specs/payload/jmergepatchgroup/zz_jsonmergepatch_client.go
  packages/typespec-go/test/http-specs/payload/jmergepatchgroup/zz_options.go
  packages/typespec-go/test/local/nooptionalbody/zz_client.go
  packages/typespec-go/test/local/nooptionalbody/zz_options.go
  packages/typespec-go/test/local/nooptionalbody/zz_responses.go
  packages/typespec-go/test/tsp/NoOptionalBody/main.tsp
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Test completion (#1624)
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/modelinoperation_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/error_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_optionalbody_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_server_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_optionalbody_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_responses.go
  packages/typespec-go/test/http-specs/encode/bytesgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/visibility_client_test.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

format
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_optionalbody_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_optionalbody_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_options.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Execute steps post code generation
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_optionalbody_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_optionalbody_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_options.go
  packages/typespec-go/test/local/nooptionalbody/internal/generate/transforms.go
  packages/typespec-go/test/local/nooptionalbody/zz_models.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Switch to /testdata/generate directory
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/test/local/nooptionalbody/testdata/generate/transforms.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

error when go tool is unavailable and a transform exists
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

warn on missing goimports
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

install goimports in CI
  eng/pipelines/templates/steps/set-env.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix spector tests
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_optionalbody_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_optionalbody_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_options.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

set release date
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update to latest tcgc
  packages/typespec-go/package.json
  packages/typespec-go/src/emitter.ts
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

exit on transformation failure
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

added go-generate option instead of checking for file
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
