Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

Skip literal parameters in example generation (#1886)
  packages/codegen.go/src/core/example.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armtest/zz_bodyroots_client.go
  packages/typespec-go/test/local/armtest/zz_bodyroots_client_example_test.go
  packages/typespec-go/test/tsp/Test.Management/BodyRoot.tsp
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/BodyRoots_action_with_no_body.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix handling of Azure.Core.eTag types in headers
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/param.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azblob/zz_appendblob_client.go
  packages/typespec-go/test/local/azblob/zz_blockblob_client.go
  packages/typespec-go/test/local/azblob/zz_client.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_options.go
  packages/typespec-go/test/local/azblob/zz_pageblob_client.go
  packages/typespec-go/test/local/azblob/zz_responses.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/models.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prettier
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/tsconfig.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

improve TODO
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix unused import of azcore
  packages/codegen.go/src/core/models.ts
  packages/typespec-go/test/local/azblob/go.mod
  packages/typespec-go/test/local/azblob/go.sum
  packages/typespec-go/test/local/azblob/zz_appendblob_client.go
  packages/typespec-go/test/local/azblob/zz_blockblob_client.go
  packages/typespec-go/test/local/azblob/zz_client.go
  packages/typespec-go/test/local/azblob/zz_models.go
  packages/typespec-go/test/local/azblob/zz_models_serde_test.go
  packages/typespec-go/test/local/azblob/zz_options.go
  packages/typespec-go/test/local/azblob/zz_pageblob_client.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/models.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix handling of Azure.Core.eTag types in headers (#1889)
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/tsconfig.json
  packages/codemodel.go/src/param.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azblob/go.mod
  packages/typespec-go/test/local/azblob/go.sum
  packages/typespec-go/test/local/azblob/zz_appendblob_client.go
  packages/typespec-go/test/local/azblob/zz_blockblob_client.go
  packages/typespec-go/test/local/azblob/zz_client.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_models.go
  packages/typespec-go/test/local/azblob/zz_models_serde_test.go
  packages/typespec-go/test/local/azblob/zz_options.go
  packages/typespec-go/test/local/azblob/zz_pageblob_client.go
  packages/typespec-go/test/local/azblob/zz_responses.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/models.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prepare typespec-go 0.10.3 for release
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prepare typespec-go 0.10.3 for release (#1890)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update packages/typespec-go/CHANGELOG.md
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prettier
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix discriminated type without subtypes not generated as polymorphism type (#1892)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_interfaces.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_polymorphic_helpers.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/local/azregressions/zz_responses_serde.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix some XML (un)marshaling of slices
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_models.go
  packages/typespec-go/test/local/azblob/zz_models_serde.go
  packages/typespec-go/test/local/azblob/zz_responses.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/models.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

use alternateType
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/client.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/models.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

adapt full XML info when available
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/client.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fixed missing case for wrapper on slice element types
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_models.go
  packages/typespec-go/test/local/azblob/zz_models_serde.go
  packages/typespec-go/test/local/azblob/zz_responses.go
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/client.tsp
  packages/typespec-go/test/tsp/Regressions/client.tsp
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix some XML (un)marshaling of slices (#1894)
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/client.tsp
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Always check if XML map unmarshaler is needed
  packages/codegen.go/src/core/models.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/azblob/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/local/azregressions/zz_xml_helper.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Always check if XML map unmarshaler is needed (#1895)
  packages/codegen.go/src/core/models.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/azblob/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/local/azregressions/zz_xml_helper.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test & fix header
  packages/codegen.go/src/core/example.ts
  packages/typespec-go/test/local/armtest/configurations_client_test.go
  packages/typespec-go/test/local/armtest/zz_configurations_client_example_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix eslint error
  packages/codegen.go/src/core/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for some clientOption decorator key/values
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azclientoption/LICENSE.txt
  packages/typespec-go/test/local/azclientoption/fake/zz_internal.go
  packages/typespec-go/test/local/azclientoption/fake/zz_server.go
  packages/typespec-go/test/local/azclientoption/go.mod
  packages/typespec-go/test/local/azclientoption/go.sum
  packages/typespec-go/test/local/azclientoption/testdata/_metadata.json
  packages/typespec-go/test/local/azclientoption/zz_client.go
  packages/typespec-go/test/local/azclientoption/zz_models.go
  packages/typespec-go/test/local/azclientoption/zz_options.go
  packages/typespec-go/test/local/azclientoption/zz_responses.go
  packages/typespec-go/test/local/azclientoption/zz_version.go
  packages/typespec-go/test/tsp/ClientOption/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prettier
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove dead code
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for some clientOption decorator key/values (#1900)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azclientoption/LICENSE.txt
  packages/typespec-go/test/local/azclientoption/fake/zz_internal.go
  packages/typespec-go/test/local/azclientoption/fake/zz_server.go
  packages/typespec-go/test/local/azclientoption/go.mod
  packages/typespec-go/test/local/azclientoption/go.sum
  packages/typespec-go/test/local/azclientoption/testdata/_metadata.json
  packages/typespec-go/test/local/azclientoption/zz_client.go
  packages/typespec-go/test/local/azclientoption/zz_models.go
  packages/typespec-go/test/local/azclientoption/zz_options.go
  packages/typespec-go/test/local/azclientoption/zz_responses.go
  packages/typespec-go/test/local/azclientoption/zz_version.go
  packages/typespec-go/test/tsp/ClientOption/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add client option for specifying response envelope name
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azclientoption/fake/zz_server.go
  packages/typespec-go/test/local/azclientoption/zz_client.go
  packages/typespec-go/test/local/azclientoption/zz_responses.go
  packages/typespec-go/test/tsp/ClientOption/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add client option for specifying response envelope name (#1901)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azclientoption/fake/zz_server.go
  packages/typespec-go/test/local/azclientoption/zz_client.go
  packages/typespec-go/test/local/azclientoption/zz_responses.go
  packages/typespec-go/test/tsp/ClientOption/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use serializationOptions instead of serializedName
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azblob/zz_models.go
  packages/typespec-go/test/local/azblob/zz_models_serde.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine comment
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Support streaming request and response example generation for byte scalar (#1899)
  packages/codegen.go/src/core/example.ts
  packages/codemodel.go/src/examples.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armcognitiveservices/zz_raiexternalsafetyprovider_client_example_test.go
  packages/typespec-go/test/local/armtest/fake/zz_configurations_server.go
  packages/typespec-go/test/local/armtest/fake/zz_server_factory.go
  packages/typespec-go/test/local/armtest/zz_client_factory.go
  packages/typespec-go/test/local/armtest/zz_configurations_client.go
  packages/typespec-go/test/local/armtest/zz_configurations_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/tsp/Test.Management/StreamingResponse.tsp
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/Configurations_getStreamingContent.json
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/Configurations_putStreamingContent.json
  packages/typespec-go/test/tsp/Test.Management/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

use serializedName instead of the property name
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use serializationOptions instead of serializedName (#1902)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azblob/zz_models.go
  packages/typespec-go/test/local/azblob/zz_models_serde.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Release typespec-go v0.10.5 (#1905)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add missing tests for payload/xml spector scenarios (#1903)
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithnamespaceonpropertiesvalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithnamespacevalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithnestedmodelvalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithrenamedattributevalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithrenamednestedmodelvalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithrenamedpropertyvalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithrenamedunwrappedmodelarrayvalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithrenamedwrappedanditemmodelarrayvalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithrenamedwrappedmodelarrayvalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithunwrappedmodelarrayvalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithwrappedprimitivecustomitemnamesvalue_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add spec api dev dep
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update Go and Node versions used in CI
  eng/pipelines/templates/variables/globals.yml
  packages/autorest.go/tsconfig.json
  packages/typespec-go/tsconfig.json
  tsconfig.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

use corepack with pnpm@latest-10 for regeneration pipeline
  eng/pipelines/sdk-regenerate.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
