Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

fix pageable spector test
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageable_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageablepagesize_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix metadata
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/testdata/_metadata.json
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Upgrade tsp toolset of typespec-go & fix nightly build (#1736)
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationheader_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationproperty_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationquery_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationheader_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationproperty_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationquery_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_models.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_options.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_responses.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageable_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageablepagesize_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageable_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageablepagesize_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_options.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageable_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageablepagesize_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_responses.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/previewversion_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add azure-sdk-for-go-branch parameter
  eng/pipelines/sdk-regenerate.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add use_dev_package paramter & update package.json
  docs/sdk-regeneration-pipeline.md
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix pipeline
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update document
  docs/sdk-regeneration-pipeline.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add api-version test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/fake/zz_header_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/header_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/zz_header_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/zz_version.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/fake/zz_path_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/path_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/zz_path_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/zz_version.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/fake/zz_query_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/query_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/zz_query_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Enhance regenerate pipeline (#1737)
  docs/sdk-regeneration-pipeline.md
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update peerDependencies
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pnpm-lock
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add enumconflivt test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/enumconflictfirstoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/enumconflictsecondoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/fake/zz_enumconflict_server.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/fake/zz_enumconflictfirstoperations_server.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/fake/zz_enumconflictsecondoperations_server.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/go.mod
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/go.sum
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_enumconflict_client.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_enumconflictfirstoperations_client.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_enumconflictsecondoperations_client.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/enumconflictfirstoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/enumconflictfirstoperations_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/enumconflictsecondoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/enumconflictsecondoperations_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix dependencies
  eng/scripts/sdk_regenerate.py
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

resolve comments
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update comment
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update release date
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine regen pipeline
  eng/scripts/sdk_regenerate.py
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine script
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix regen dependencies (#1741)
  eng/scripts/sdk_regenerate.py
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/enumconflictfirstoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/enumconflictsecondoperations_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/testdata/_metadata.json
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Apply suggestion from @JiaqiZhang-Dev
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/enumconflictsecondoperations_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update release date (#1742)
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/testdata/_metadata.json
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor client construction code model
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/cloudConfig.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/index.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test for enumconflict (#1740)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/enumconflictfirstoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/enumconflictsecondoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/fake/zz_enumconflict_server.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/fake/zz_enumconflictfirstoperations_server.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/fake/zz_enumconflictsecondoperations_server.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/go.mod
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/go.sum
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_enumconflict_client.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_enumconflictfirstoperations_client.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_enumconflictsecondoperations_client.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/client/naming/enumconflictgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/path_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/query_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/previewversion_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/zz_previewversion_client.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_headerparam_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_mixedparams_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_multipleparams_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_paramalias_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_parent_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_parentchild_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_pathparam_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_headerparam_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_mixedparams_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_multipleparams_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_paramalias_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_parent_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_parentchild_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_pathparam_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_time_rfc3339.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_version.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/query_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/previewversion_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/fake/zz_previewversion_server.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/go.mod
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/go.sum
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/previewversion_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/zz_previewversion_client.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/headerparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/mixedparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/multipleparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/paramalias_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/parentchild_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/pathparam_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
