Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

update version and test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/local/azkeys/custom_client.go
  packages/typespec-go/test/local/azkeys/fake/zz_internal.go
  packages/typespec-go/test/local/azkeys/fake/zz_server.go
  packages/typespec-go/test/local/azkeys/fake_test.go
  packages/typespec-go/test/local/azkeys/zz_client.go
  packages/typespec-go/test/local/azkeys/zz_constants.go
  packages/typespec-go/test/local/azkeys/zz_models.go
  packages/typespec-go/test/local/azkeys/zz_models_serde.go
  packages/typespec-go/test/local/azkeys/zz_options.go
  packages/typespec-go/test/local/azkeys/zz_responses.go
  packages/typespec-go/test/tsp/KeyVault.Keys/client.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

version
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

complete the test logic
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/modelazurecoreembeddingvector_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/checknameavailability_client_test.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/custom_client.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/oauth2_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/union_client_test.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/statuscoderange_client_test.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/jsonlbasic_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

complete the test logic
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/checknameavailability_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/lro_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

complete the test logic
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/modelazurecoreembeddingvector_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/example/examplebasicgroup/basicserviceoperationgroup_client_test.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/oauth2_client_test.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/statuscoderange_client_test.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/jsonlbasic_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/servicemultipleparams_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't run gogetu in CI
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't run gogetu in CI (#1587)
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rep for release
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade version and key vault test (#1585)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/local/azkeys/custom_client.go
  packages/typespec-go/test/local/azkeys/fake/zz_internal.go
  packages/typespec-go/test/local/azkeys/fake/zz_server.go
  packages/typespec-go/test/local/azkeys/fake_test.go
  packages/typespec-go/test/local/azkeys/zz_client.go
  packages/typespec-go/test/local/azkeys/zz_constants.go
  packages/typespec-go/test/local/azkeys/zz_models.go
  packages/typespec-go/test/local/azkeys/zz_models_serde.go
  packages/typespec-go/test/local/azkeys/zz_options.go
  packages/typespec-go/test/local/azkeys/zz_responses.go
  packages/typespec-go/test/tsp/KeyVault.Keys/client.tsp
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prepare typespec-go release
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test resp detail check
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/modelazurecoreembeddingvector_client_test.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

throw error when paging with re-injection parameters (#1583)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_page_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_page_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_responses.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

spelling
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix field names for optional params and monomorphic respones
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/core/basicgroup/fake/zz_basic_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/basicgroup/zz_basic_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/basicgroup/zz_options.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageableserverdrivenpaginationcontinuationtoken_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_options.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageableserverdrivenpaginationcontinuationtoken_client.go
  packages/typespec-go/test/local/armbillingbenefits/zz_options.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_options.go
  packages/typespec-go/test/local/armlargeinstance/zz_options.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test
  packages/typespec-go/test/azure-http-specs/azure/core/basicgroup/basic_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

updated to the latest tsp toolset
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/tsp/BillingBenefits.Management/models.tsp
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine typespec pipeline
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pileine
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix dependency
  packages/typespec-go/package.json
  packages/typespec-go/test/tsp/BillingBenefits.Management/models.tsp
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pipeline
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prepare typespec-go release (#1588)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/tsp/BillingBenefits.Management/models.tsp
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor code model method types
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/result.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove lint
  packages/autorest.go/src/m4togocodemodel/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

sort
  packages/codemodel.go/src/client.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix implements
  packages/codemodel.go/src/client.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

tighten up some method types
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

doc scrub
  packages/codemodel.go/src/client.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

check response
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/checknameavailability_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

use predefined discriminated union
  packages/autorest.go/src/m4togocodemodel/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

merge main and pnpm tspcompile
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/encode/encodedurationgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/example/examplebasicgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/testdata/_metadata.json
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

another switch to predefined discriminated union
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor code model method types (#1592)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/result.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
