Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

Fix duplicate fake `TransportInterceptor` variable when server names share a trailing duplicate word (#1980)
  packages/autorest.go/CHANGELOG.md
  packages/codegen.go/src/core/helpers.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/armtest/fake/zz_authorization_server.go
  packages/typespec-go/test/local/armtest/fake/zz_authorizationserver_server.go
  packages/typespec-go/test/local/armtest/fake/zz_server_factory.go
  packages/typespec-go/test/local/armtest/zz_authorization_client.go
  packages/typespec-go/test/local/armtest/zz_authorizationserver_client.go
  packages/typespec-go/test/local/armtest/zz_client_factory.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/tsp/Test.Management/AuthorizationServer.tsp
  packages/typespec-go/test/tsp/Test.Management/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Honor TCGC `exact()` on `@clientName` in the Go emitter (TCGC 0.68.2) (#1976)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/test/autorest/azurespecialsgroup/zz_header_client.go
  packages/autorest.go/test/autorest/paginggroup/zz_paging_client.go
  packages/autorest.go/test/autorest/paramgroupinggroup/zz_parametergrouping_client.go
  packages/autorest.go/test/maps/azalias/zz_client.go
  packages/autorest.go/test/storage/azblob/zz_appendblob_client.go
  packages/autorest.go/test/storage/azblob/zz_blob_client.go
  packages/autorest.go/test/storage/azblob/zz_blockblob_client.go
  packages/autorest.go/test/storage/azblob/zz_container_client.go
  packages/autorest.go/test/storage/azblob/zz_pageblob_client.go
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azexactname/LICENSE.txt
  packages/typespec-go/test/local/azexactname/fake/zz_internal.go
  packages/typespec-go/test/local/azexactname/fake/zz_server.go
  packages/typespec-go/test/local/azexactname/go.mod
  packages/typespec-go/test/local/azexactname/go.sum
  packages/typespec-go/test/local/azexactname/testdata/_metadata.json
  packages/typespec-go/test/local/azexactname/zz_client.go
  packages/typespec-go/test/local/azexactname/zz_constants.go
  packages/typespec-go/test/local/azexactname/zz_models.go
  packages/typespec-go/test/local/azexactname/zz_models_serde.go
  packages/typespec-go/test/local/azexactname/zz_options.go
  packages/typespec-go/test/local/azexactname/zz_responses.go
  packages/typespec-go/test/local/azexactname/zz_version.go
  packages/typespec-go/test/tsp/ExactName/main.tsp
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep typespec-go for release
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep typespec-go for release (#1984)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update vm pool name to not use variable
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update vm pool name to not use variable (#1985)
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add self checkout
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Split jobs into build and deployment
  eng/pipelines/publish-release.yml
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Split jobs into stages
  eng/pipelines/publish-release.yml
  eng/pipelines/templates/steps/set-env.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use npm devOps feed
  eng/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/pipelines/templates/steps/publish-release.yaml
  eng/pipelines/templates/steps/set-env.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Pass npmrc all the way down
  eng/pipelines/publish-release.yml
  eng/pipelines/templates/steps/build-test-go.yaml
  eng/pipelines/templates/steps/build-test-gotest.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
  eng/pipelines/templates/steps/set-env.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Unblock prepare release (#1986)
  eng/pipelines/publish-release.yml
  eng/pipelines/templates/steps/build-test-go.yaml
  eng/pipelines/templates/steps/build-test-gotest.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
  eng/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/pipelines/templates/steps/publish-release.yaml
  eng/pipelines/templates/steps/set-env.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Revert "Unblock prepare release (#1986)"
  eng/pipelines/publish-release.yml
  eng/pipelines/templates/steps/build-test-go.yaml
  eng/pipelines/templates/steps/build-test-gotest.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
  eng/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/pipelines/templates/steps/publish-release.yaml
  eng/pipelines/templates/steps/set-env.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Revert "Unblock prepare release (#1986)" (#1987)
  eng/pipelines/publish-release.yml
  eng/pipelines/templates/steps/build-test-go.yaml
  eng/pipelines/templates/steps/build-test-gotest.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
  eng/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/pipelines/templates/steps/publish-release.yaml
  eng/pipelines/templates/steps/set-env.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Revert "Update vm pool name to not use variable (#1985)"
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Revert "Update vm pool name to not use variable (#1985)" (#1988)
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Revert "fix: allow registry.npmjs.org access in Release job [CFS] (#1978)"
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Revert "fix: allow registry.npmjs.org access in Release job [CFS] (#1978)" (#1989)
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

chore(pipelines): open SDK regenerate PR from upstream branch (no fork) (#1983)
  eng/pipelines/sdk-regenerate.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

go mod tidy autorest generated content
  packages/autorest.go/test/acr/azacr/go.mod
  packages/autorest.go/test/acr/azacr/go.sum
  packages/autorest.go/test/compute/armcompute/go.mod
  packages/autorest.go/test/compute/armcompute/go.sum
  packages/autorest.go/test/consumption/armconsumption/go.mod
  packages/autorest.go/test/consumption/armconsumption/go.sum
  packages/autorest.go/test/databoxedge/armdataboxedge/go.mod
  packages/autorest.go/test/databoxedge/armdataboxedge/go.sum
  packages/autorest.go/test/dataprotection/armdataprotection/go.mod
  packages/autorest.go/test/dataprotection/armdataprotection/go.sum
  packages/autorest.go/test/keyvault/azkeyvault/go.mod
  packages/autorest.go/test/keyvault/azkeyvault/go.sum
  packages/autorest.go/test/machinelearning/armmachinelearning/go.mod
  packages/autorest.go/test/machinelearning/armmachinelearning/go.sum
  packages/autorest.go/test/maps/azalias/go.mod
  packages/autorest.go/test/maps/azalias/go.sum
  packages/autorest.go/test/misc/azarrayofrawjson/go.mod
  packages/autorest.go/test/misc/azarrayofrawjson/go.sum
  packages/autorest.go/test/network/armnetwork/go.mod
  packages/autorest.go/test/network/armnetwork/go.sum
  packages/autorest.go/test/storage/azblob/go.mod
  packages/autorest.go/test/storage/azblob/go.sum
  packages/autorest.go/test/synapse/azartifacts/go.mod
  packages/autorest.go/test/synapse/azartifacts/go.sum
  packages/autorest.go/test/synapse/azspark/go.mod
  packages/autorest.go/test/synapse/azspark/go.sum
  packages/autorest.go/test/tables/aztables/go.mod
  packages/autorest.go/test/tables/aztables/go.sum
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Improved handling of Content-Type parameters part 2
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_constants.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Improved handling of Content-Type parameters part 2 (#1991)
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_constants.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix fakes
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/fake/zz_traits_server.go
  packages/typespec-go/test/http-specs/encode/datetimegroup/fake/zz_datetimeheader_server.go
  packages/typespec-go/test/http-specs/encode/datetimegroup/fake/zz_datetimequery_server.go
  packages/typespec-go/test/http-specs/special-headers/condreqgroup/fake/zz_conditionalrequest_server.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

simplify building generic type constraint
  packages/codegen.go/src/core/models.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update CODEOWNERS to remove @weshaggard
  .github/CODEOWNERS
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog and skip broken test
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/http-specs/parameters/querygroup/queryspecialchar_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Upgrade tsp toolset (#1993)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/fake/zz_usage_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/fake/zz_usagenamespaceusage_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/usagenamespaceusage_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/zz_usage_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/zz_usagenamespaceusage_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/armresourceidentifiers_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/fake/zz_armresourceidentifiers_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/fake/zz_server_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_armresourceidentifiers_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_responses.go
  packages/typespec-go/test/http-specs/parameters/querygroup/fake/zz_query_server.go
  packages/typespec-go/test/http-specs/parameters/querygroup/fake/zz_queryspecialchar_server.go
  packages/typespec-go/test/http-specs/parameters/querygroup/queryspecialchar_client_test.go
  packages/typespec-go/test/http-specs/parameters/querygroup/zz_options.go
  packages/typespec-go/test/http-specs/parameters/querygroup/zz_query_client.go
  packages/typespec-go/test/http-specs/parameters/querygroup/zz_queryspecialchar_client.go
  packages/typespec-go/test/http-specs/parameters/querygroup/zz_responses.go
  packages/typespec-go/test/http-specs/type/model/inheritance/singlediscgroup/fake/zz_polymorphic_helpers.go
  packages/typespec-go/test/http-specs/type/model/inheritance/singlediscgroup/fake/zz_singlediscriminator_server.go
  packages/typespec-go/test/http-specs/type/model/inheritance/singlediscgroup/singlediscriminator_client_test.go
  packages/typespec-go/test/http-specs/type/model/inheritance/singlediscgroup/zz_interfaces.go
  packages/typespec-go/test/http-specs/type/model/inheritance/singlediscgroup/zz_models.go
  packages/typespec-go/test/http-specs/type/model/inheritance/singlediscgroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/type/model/inheritance/singlediscgroup/zz_options.go
  packages/typespec-go/test/http-specs/type/model/inheritance/singlediscgroup/zz_polymorphic_helpers.go
  packages/typespec-go/test/http-specs/type/model/inheritance/singlediscgroup/zz_responses.go
  packages/typespec-go/test/http-specs/type/model/inheritance/singlediscgroup/zz_responses_serde.go
  packages/typespec-go/test/http-specs/type/model/inheritance/singlediscgroup/zz_singlediscriminator_client.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use adapted type when adapting a literal enum value
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_constants.go
  packages/typespec-go/test/local/azregressions/zz_interfaces.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_polymorphic_helpers.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/local/azregressions/zz_responses_serde.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use adapted type when adapting a literal enum value (#1997)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_constants.go
  packages/typespec-go/test/local/azregressions/zz_interfaces.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_polymorphic_helpers.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/local/azregressions/zz_responses_serde.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add @xirzec to CODEOWNERS alongside RickWinter
  .github/CODEOWNERS
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Potential fix for pull request finding
  .github/CODEOWNERS
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add @xirzec to CODEOWNERS alongside RickWinter (#2001)
  .github/CODEOWNERS
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Switch to using GitHubApp
  eng/common/pipelines/templates/steps/login-to-github.yml
  eng/common/scripts/login-to-github.ps1
  eng/pipelines/sdk-regenerate.yml
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Switch to using GitHubApp (#1981)
  eng/common/pipelines/templates/steps/login-to-github.yml
  eng/common/scripts/login-to-github.ps1
  eng/pipelines/sdk-regenerate.yml
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update CODEOWNERS to remove @weshaggard (#1995)
  .github/CODEOWNERS
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refine regen pipeline: publish result artifact, preserve module version, optional spec PR
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
