Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

add test config
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/fake/zz_previewversion_server.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/zz_previewversion_client.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Consolidate parameter type definition emitting logic
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/helpers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

spacing
  packages/autorest.go/src/m4togocodemodel/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Consolidate parameter type definition emitting logic (#1720)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/helpers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/previewversion_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update workflow
  docs/sdk-regeneration-pipeline.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add typespec-go commit hash to result.json
  docs/sdk-regeneration-pipeline.md
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pipeline
  eng/pipelines/sdk-regenerate.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine document
  docs/sdk-regeneration-pipeline.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update docs/sdk-regeneration-pipeline.md
  docs/sdk-regeneration-pipeline.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix workflow
  docs/sdk-regeneration-pipeline.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

weekly trigger
  docs/sdk-regeneration-pipeline.md
  eng/pipelines/sdk-regenerate.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update document
  docs/sdk-regeneration-pipeline.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add sdk regeneration pipeline guideline
  docs/sdk-regeneration-pipeline.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove `@useDependency` for core and arm lib
  packages/typespec-go/test/tsp/ApiCenter.Management/main.tsp
  packages/typespec-go/test/tsp/AzureLargeInstance.Management/main.tsp
  packages/typespec-go/test/tsp/BillingBenefits.Management/main.tsp
  packages/typespec-go/test/tsp/CodeSigning.Management/main.tsp
  packages/typespec-go/test/tsp/Community.Management/main.tsp
  packages/typespec-go/test/tsp/ComputeSchedule.Management/main.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/watcher.tsp
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/main.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/main.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/main.tsp
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/common.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/client.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/main.tsp
  packages/typespec-go/test/tsp/Microsoft.DevOpsInfrastructure/main.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/main.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/versions.tsp
  packages/typespec-go/test/tsp/Random.Management/main.tsp
  packages/typespec-go/test/tsp/Test.Management/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove `@useDependency` for core and arm lib (#1722)
  packages/typespec-go/test/tsp/ApiCenter.Management/main.tsp
  packages/typespec-go/test/tsp/AzureLargeInstance.Management/main.tsp
  packages/typespec-go/test/tsp/BillingBenefits.Management/main.tsp
  packages/typespec-go/test/tsp/CodeSigning.Management/main.tsp
  packages/typespec-go/test/tsp/Community.Management/main.tsp
  packages/typespec-go/test/tsp/ComputeSchedule.Management/main.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/watcher.tsp
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/main.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/main.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/main.tsp
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/common.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/client.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/main.tsp
  packages/typespec-go/test/tsp/Microsoft.DevOpsInfrastructure/main.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/main.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/versions.tsp
  packages/typespec-go/test/tsp/Random.Management/main.tsp
  packages/typespec-go/test/tsp/Test.Management/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add sdk regeneration pipeline guideline (#1707)
  docs/sdk-regeneration-pipeline.md
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix nightly build
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/authentication/apikeygroup/fake/zz_apikey_server.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_responses.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationheader_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationproperty_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationquery_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationheader_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationproperty_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationquery_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_models.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_options.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_responses.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageable_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageablepagesize_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_options.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageable_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageablepagesize_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_responses.go
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/models.tsp
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix format issue
  packages/typespec-go/test/http-specs/authentication/apikeygroup/fake/zz_apikey_server.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix nightly
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/models.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix nightly (#1725)
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/models.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix handling of optional path parameters
  packages/codegen.go/src/operations.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/http-specs/parameters/pathgroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/parameters/pathgroup/fake/zz_path_server.go
  packages/typespec-go/test/http-specs/parameters/pathgroup/go.mod
  packages/typespec-go/test/http-specs/parameters/pathgroup/go.sum
  packages/typespec-go/test/http-specs/parameters/pathgroup/path_client_test.go
  packages/typespec-go/test/http-specs/parameters/pathgroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/parameters/pathgroup/zz_options.go
  packages/typespec-go/test/http-specs/parameters/pathgroup/zz_path_client.go
  packages/typespec-go/test/http-specs/parameters/pathgroup/zz_responses.go
  packages/typespec-go/test/http-specs/parameters/pathgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix spelling
  packages/codegen.go/src/operations.ts
  packages/typespec-go/test/http-specs/parameters/pathgroup/zz_path_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add test for method subscription id module (#1714)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_operations_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_resourcegroupresourceoperations_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_server_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_subscriptionresource1operations_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_subscriptionresource2operations_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/fake/zz_subscriptionresourceoperations_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/resourcegroupresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/subscriptionresource1operations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/subscriptionresource2operations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/subscriptionresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/utils_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_operations_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_resourcegroupresourceoperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_subscriptionresource1operations_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_subscriptionresource2operations_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_subscriptionresourceoperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_time_rfc3339.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix handling of optional path parameters (#1727)
  packages/codegen.go/src/operations.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/http-specs/parameters/pathgroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/parameters/pathgroup/fake/zz_path_server.go
  packages/typespec-go/test/http-specs/parameters/pathgroup/go.mod
  packages/typespec-go/test/http-specs/parameters/pathgroup/go.sum
  packages/typespec-go/test/http-specs/parameters/pathgroup/path_client_test.go
  packages/typespec-go/test/http-specs/parameters/pathgroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/parameters/pathgroup/zz_options.go
  packages/typespec-go/test/http-specs/parameters/pathgroup/zz_path_client.go
  packages/typespec-go/test/http-specs/parameters/pathgroup/zz_responses.go
  packages/typespec-go/test/http-specs/parameters/pathgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor handling of tsp endpoint template args
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/cloudConfig.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_first_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_firstgroup3_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_firstgroup4_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_second_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_secondgroup5_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_service_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_servicebar_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_servicebaz_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_servicebazfoo_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_servicefoo_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_servicequx_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_servicequxbar_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/multiclientgroup/zz_clienta_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/multiclientgroup/zz_clientb_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/renamedopgroup/zz_renamedoperation_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/renamedopgroup/zz_renamedoperationgroup_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/twoopgroup/zz_twooperationgroup_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/twoopgroup/zz_twooperationgroupgroup1_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/twoopgroup/zz_twooperationgroupgroup2_client.go
  packages/typespec-go/test/azure-http-specs/resiliency/srvdrivennewgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/azure-http-specs/resiliency/srvdrivenoldgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/zz_custom_client.go
  packages/typespec-go/test/http-specs/server/path/multiplegroup/zz_multiple_client.go
  packages/typespec-go/test/http-specs/versioning/madeoptionalgroup/zz_madeoptional_client.go
  packages/typespec-go/test/http-specs/versioning/rettypechangedfromgroup/zz_returntypechangedfrom_client.go
  packages/typespec-go/test/http-specs/versioning/typechangedfromgroup/zz_typechangedfrom_client.go
  packages/typespec-go/test/local/rawjson/subpkg/zz_rawjson_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

tests
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageable_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpagination_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpaginationcontinuationtoken_client_test.go
  packages/typespec-go/test/http-specs/type/arraygroup/arraygroup_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

tests (#1729)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageable_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpagination_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpaginationcontinuationtoken_client_test.go
  packages/typespec-go/test/http-specs/type/arraygroup/arraygroup_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

tests
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpaginationcontinuationtoken_client_test.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/fake/zz_jsonl_server.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/fake/zz_jsonlbasic_server.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/go.mod
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/go.sum
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_jsonl_client.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_jsonlbasic_client.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_options.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_responses.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

tests (#1731)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpaginationcontinuationtoken_client_test.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/fake/zz_jsonl_server.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/fake/zz_jsonlbasic_server.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/go.mod
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/go.sum
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_jsonl_client.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_jsonlbasic_client.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_options.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_responses.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor handling of tsp endpoint template args (#1728)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/cloudConfig.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_first_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_firstgroup3_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_firstgroup4_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_second_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_secondgroup5_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_service_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_servicebar_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_servicebaz_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_servicebazfoo_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_servicefoo_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_servicequx_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_servicequxbar_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/multiclientgroup/zz_clienta_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/multiclientgroup/zz_clientb_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/renamedopgroup/zz_renamedoperation_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/renamedopgroup/zz_renamedoperationgroup_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/twoopgroup/zz_twooperationgroup_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/twoopgroup/zz_twooperationgroupgroup1_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/twoopgroup/zz_twooperationgroupgroup2_client.go
  packages/typespec-go/test/azure-http-specs/resiliency/srvdrivennewgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/azure-http-specs/resiliency/srvdrivenoldgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/zz_custom_client.go
  packages/typespec-go/test/http-specs/server/path/multiplegroup/zz_multiple_client.go
  packages/typespec-go/test/http-specs/versioning/madeoptionalgroup/zz_madeoptional_client.go
  packages/typespec-go/test/http-specs/versioning/rettypechangedfromgroup/zz_returntypechangedfrom_client.go
  packages/typespec-go/test/http-specs/versioning/typechangedfromgroup/zz_typechangedfrom_client.go
  packages/typespec-go/test/local/rawjson/subpkg/zz_rawjson_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

tests
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/type/property/nullablegroup/collectionsstring_client_test.go
  packages/typespec-go/test/http-specs/type/property/optionalitygroup/optionalplaindate_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Sort client fields
  packages/autorest.go/test/autorest/optionalgroup/zz_implicit_client.go
  packages/autorest.go/test/maps/azalias/zz_client.go
  packages/codemodel.go/src/package.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Sort client fields (#1734)
  packages/autorest.go/test/autorest/optionalgroup/zz_implicit_client.go
  packages/autorest.go/test/maps/azalias/zz_client.go
  packages/codemodel.go/src/package.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

tests (#1733)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/type/property/nullablegroup/collectionsstring_client_test.go
  packages/typespec-go/test/http-specs/type/property/optionalitygroup/optionalplaindate_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

bump tcgc version
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
