Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
      azureSubscription: TypeSpec Storage
      scriptType: bash
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

format file
  packages/autorest.gotest/src/template/sampleGo.mod.njk
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.mod
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.mod
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.mod
Due: eng/pipelines/ci-gotest.yml

format file
  packages/autorest.gotest/src/template/sampleGo.mod.njk
Due: eng/pipelines/ci-gotest.yml

update
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade resource manager
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/lib.ts
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add file
  packages/autorest.gotest/src/template/sampleGo.mod.njk
Due: eng/pipelines/ci-gotest.yml

add new line
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.mod
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.mod
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.mod
Due: eng/pipelines/ci-gotest.yml

format file
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.mod
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.mod
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.mod
Due: eng/pipelines/ci-gotest.yml

update
  packages/typespec-go/package.json
  packages/typespec-go/website/src/content/docs/docs/emitters/clients/typespec-go/reference/emitter.md
  packages/typespec-go/website/src/content/docs/docs/emitters/clients/typespec-go/reference/index.mdx
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix package.json
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update packages/typespec-go/package.json
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rm docs
  packages/typespec-go/website/src/content/docs/docs/emitters/clients/typespec-go/reference/emitter.md
  packages/typespec-go/website/src/content/docs/docs/emitters/clients/typespec-go/reference/index.mdx
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade dev dependency
  package.json
  packages/autorest.gotest/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update lib.ts
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

try resolve security issue. since gotest is not maintained, just remove test script. the code will be removed in the future.
  packages/autorest.gotest/package.json
  packages/autorest.gotest/pnpm-lock.yaml
  packages/autorest.gotest/src/generator/goTester.ts
  packages/autorest.gotest/src/generator/sampleGenerator.ts
  packages/autorest.gotest/src/generator/scenarioTestGenerator.ts
  packages/autorest.gotest/test/unittest/generator/testGoTester.ts
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix test security issues (#1570)
  package.json
  packages/autorest.gotest/package.json
  packages/autorest.gotest/pnpm-lock.yaml
  packages/autorest.gotest/src/generator/goTester.ts
  packages/autorest.gotest/src/generator/sampleGenerator.ts
  packages/autorest.gotest/src/generator/scenarioTestGenerator.ts
  packages/autorest.gotest/src/template/sampleGo.mod.njk
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.mod
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.mod
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.mod
  packages/autorest.gotest/test/unittest/generator/testGoTester.ts
  packages/typespec-go/test/local/armhealthbot/go.mod
  packages/typespec-go/test/local/armhealthbot/go.sum
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update denpendency
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade arm to 0.56.2
  packages/typespec-go/package.json
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_models.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_models_serde.go
  packages/typespec-go/test/local/armlargeinstance/zz_models.go
  packages/typespec-go/test/local/armlargeinstance/zz_models_serde.go
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prepare release
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test for coreinitialization
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/zz_servicechild_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/zz_serviceheaderparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/zz_servicemixedparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/zz_servicemultipleparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/zz_serviceparamalias_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/zz_servicepathparam_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix conflict
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/zz_custom_client_test.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/zz_oauth2_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/zz_union_client_test.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_statuscoderange_client_test.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_jsonlbasic_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

mod tidy
  packages/typespec-go/test/local/armcomputeschedule/go.mod
  packages/typespec-go/test/local/armcomputeschedule/go.sum
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

bump version
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/zz_modelazurecoreembeddingvector_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/example/examplebasicgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/example/examplebasicgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/example/examplebasicgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/example/examplebasicgroup/zz_basicserviceoperationgroup_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

generate emitter docs (#1571)
  packages/typespec-go/README.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

regenerate and update dependencies
  packages/typespec-go/test/local/armcomputeschedule/_metadata.json
  packages/typespec-go/test/local/armcomputeschedule/go.mod
  packages/typespec-go/test/local/armcomputeschedule/go.sum
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

bump package version
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Sort code model types
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add client name
  packages/typespec-go/test/local/armbillingbenefits/zz_discounts_client_example_test.go
  packages/typespec-go/test/local/armbillingbenefits/zz_interfaces.go
  packages/typespec-go/test/local/armbillingbenefits/zz_models.go
  packages/typespec-go/test/local/armbillingbenefits/zz_models_serde.go
  packages/typespec-go/test/local/armbillingbenefits/zz_polymorphic_helpers.go
  packages/typespec-go/test/tsp/BillingBenefits.Management/back-compatible.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-spec, packages/typespec-go/test/azure-http-spec
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
