Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: ../steps/set-env.yaml
  - template: ../steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload CADL Ranch Test Coverage
    inputs:
      azureSubscription: Cadl Ranch Storage
      scriptType: bash
      scriptLocation: inlineScript
  ...

eng/pipelines/ci-go.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go121:
          vm.image: ubuntu-22.04
          go.version: 1.21.4
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 18.x
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go121:
          vm.image: ubuntu-22.04
          go.version: 1.21.4
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 18.x
  ...

eng/pipelines/ci-typespec.yml:
  jobs:
  - job: TypeSpec_Go_CI
    displayName: Run TypeSpec Go CI Checks
    strategy:
      matrix:
        Linux_Go121:
          vm.image: ubuntu-22.04
          go.version: 1.21.4
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 18.x
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

Add tsp coverage for contentneggroup
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/payload/contentneggroup/contentnegotiation_client.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/differentbody_client_test.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/fake/zz_contentnegotiation_server.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/fake/zz_differentbody_server.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/fake/zz_samebody_server.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/go.mod
  packages/typespec-go/test/cadlranch/payload/contentneggroup/go.sum
  packages/typespec-go/test/cadlranch/payload/contentneggroup/samebody_client_test.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_constants.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_contentnegotiation_client.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_differentbody_client.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_options.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_samebody_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest cadl-ranch-specs
  common/config/rush/pnpm-lock.yaml
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_naming_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_unionenum_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/naming_client_test.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_unionenum_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

simplify tests
  packages/typespec-go/test/cadlranch/encode/bytesgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/differentbody_client_test.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/samebody_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp coverage for contentneggroup (#1176)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/contentnegotiation_client.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/differentbody_client_test.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/fake/zz_contentnegotiation_server.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/fake/zz_differentbody_server.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/fake/zz_samebody_server.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/go.mod
  packages/typespec-go/test/cadlranch/payload/contentneggroup/go.sum
  packages/typespec-go/test/cadlranch/payload/contentneggroup/samebody_client_test.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_constants.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_contentnegotiation_client.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_differentbody_client.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_options.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/contentneggroup/zz_samebody_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest cadl-ranch-specs (#1177)
  common/config/rush/pnpm-lock.yaml
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_naming_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_unionenum_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/naming_client_test.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_unionenum_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp coverage for corescalargroup
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/azurelocationscalar_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/fake/zz_azurelocationscalar_server.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/fake/zz_scalar_server.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/go.mod
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/go.sum
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/scalar_client.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_azurelocationscalar_client.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_scalar_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp coverage for corescalargroup (#1178)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/azurelocationscalar_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/fake/zz_azurelocationscalar_server.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/fake/zz_scalar_server.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/go.mod
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/go.sum
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/scalar_client.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_azurelocationscalar_client.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/corescalargroup/zz_scalar_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Ensure client and struct names don't stutter
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/fake/zz_apicenter_server.go
  packages/typespec-go/test/armapicenter/fake/zz_server.go
  packages/typespec-go/test/armapicenter/zz_client.go
  packages/typespec-go/test/armcodesigning/fake/zz_accounts_server.go
  packages/typespec-go/test/armcodesigning/fake/zz_codesigning_server.go
  packages/typespec-go/test/armcodesigning/fake/zz_server.go
  packages/typespec-go/test/armcodesigning/zz_accounts_client.go
  packages/typespec-go/test/armcodesigning/zz_client.go
  packages/typespec-go/test/armcodesigning/zz_codesigning_client.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models_serde.go
  packages/typespec-go/test/armcodesigning/zz_options.go
  packages/typespec-go/test/armcodesigning/zz_responses.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Ensure client and struct names don't stutter (#1179)
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/fake/zz_apicenter_server.go
  packages/typespec-go/test/armapicenter/fake/zz_server.go
  packages/typespec-go/test/armapicenter/zz_client.go
  packages/typespec-go/test/armcodesigning/fake/zz_accounts_server.go
  packages/typespec-go/test/armcodesigning/fake/zz_codesigning_server.go
  packages/typespec-go/test/armcodesigning/fake/zz_server.go
  packages/typespec-go/test/armcodesigning/zz_accounts_client.go
  packages/typespec-go/test/armcodesigning/zz_client.go
  packages/typespec-go/test/armcodesigning/zz_codesigning_client.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models_serde.go
  packages/typespec-go/test/armcodesigning/zz_options.go
  packages/typespec-go/test/armcodesigning/zz_responses.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Omit intermediate LRO types and values.
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_responses.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models_serde.go
  packages/typespec-go/test/armcodesigning/zz_responses.go
  packages/typespec-go/test/armlargeinstance/fake/zz_time_rfc3339.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models_serde.go
  packages/typespec-go/test/armlargeinstance/zz_responses.go
  packages/typespec-go/test/armlargeinstance/zz_time_rfc3339.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Omit intermediate LRO types and values. (#1180)
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_responses.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models_serde.go
  packages/typespec-go/test/armcodesigning/zz_responses.go
  packages/typespec-go/test/armlargeinstance/fake/zz_time_rfc3339.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models_serde.go
  packages/typespec-go/test/armlargeinstance/zz_responses.go
  packages/typespec-go/test/armlargeinstance/zz_time_rfc3339.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add stutter option for custom stuttering cleanup
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargeinstance_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargeinstanceoperations_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargeinstances_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargestorageinstances_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_operations_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_server.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstance_client.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstances_client.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargestorageinstances_client.go
  packages/typespec-go/test/armlargeinstance/zz_client.go
  packages/typespec-go/test/armlargeinstance/zz_constants.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models_serde.go
  packages/typespec-go/test/armlargeinstance/zz_operations_client.go
  packages/typespec-go/test/armlargeinstance/zz_options.go
  packages/typespec-go/test/armlargeinstance/zz_responses.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove workaround that's been fixed
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for multipart/form data in tsp
  common/config/rush/command-line.json
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/test/autorest/formdatagroup/fake/zz_formdata_server.go
  packages/autorest.go/test/maps/azalias/fake/zz_server.go
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/.scripts/cadl-ranch.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fake/zz_multipartformdata_server.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fakes_test.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/formdata_client_test.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/go.mod
  packages/typespec-go/test/cadlranch/payload/multipartgroup/go.sum
  packages/typespec-go/test/cadlranch/payload/multipartgroup/multipart_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_multipartformdata_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update comment
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix shadowing
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fake/zz_multipartformdata_server.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

simplify test
  packages/typespec-go/test/cadlranch/payload/multipartgroup/formdata_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for multipart/form data in tsp (#1175)
  common/config/rush/command-line.json
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/test/autorest/formdatagroup/fake/zz_formdata_server.go
  packages/autorest.go/test/maps/azalias/fake/zz_server.go
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/.scripts/cadl-ranch.js
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fake/zz_multipartformdata_server.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fakes_test.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/formdata_client_test.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/go.mod
  packages/typespec-go/test/cadlranch/payload/multipartgroup/go.sum
  packages/typespec-go/test/cadlranch/payload/multipartgroup/multipart_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_multipartformdata_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest tcgc
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armapicenter/zz_models_serde.go
  packages/typespec-go/test/armcodesigning/zz_constants.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models_serde.go
  packages/typespec-go/test/armlargeinstance/zz_constants.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/fake/zz_legacycreateresourcepollviaoperationlocation_server.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_legacycreateresourcepollviaoperationlocation_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/fake/zz_rpc_server.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_rpc_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_naming_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_namingmodel_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_namingmodel_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/fake/zz_bodyoptionality_server.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/zz_bodyoptionality_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/fake/zz_projectednamemodel_server.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/fake/zz_projectednameproperty_server.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_projectednamemodel_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_projectednameproperty_client.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/fake/zz_jsonproperty_server.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_jsonproperty_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest tcgc (#1183)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armapicenter/zz_models_serde.go
  packages/typespec-go/test/armcodesigning/zz_constants.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models_serde.go
  packages/typespec-go/test/armlargeinstance/zz_constants.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/fake/zz_legacycreateresourcepollviaoperationlocation_server.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_legacycreateresourcepollviaoperationlocation_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/fake/zz_rpc_server.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_rpc_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_naming_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_namingmodel_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_namingmodel_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/fake/zz_bodyoptionality_server.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/zz_bodyoptionality_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/fake/zz_projectednamemodel_server.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/fake/zz_projectednameproperty_server.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_projectednamemodel_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_projectednameproperty_client.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/fake/zz_jsonproperty_server.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_jsonproperty_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

change autorest pipeline sequence
  packages/autorest.gotest/README.md
Due: eng/pipelines/ci-gotest.yml

changelog and bump version
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

Update to latest tcgc
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models_serde.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest tcgc (#1191)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models_serde.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp coverage for srvdrivengroup
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/go.mod
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/go.sum
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/resiliencyservicedriven_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix example lost when include-x-ms-examples-original-file false
  packages/autorest.gotest/src/template/exampleTest.go.njk
Due: eng/pipelines/ci-gotest.yml

add config for not do go lint
  packages/autorest.gotest/README.md
  packages/autorest.gotest/src/common/constant.ts
  packages/autorest.gotest/src/generator/goLinter.ts
Due: eng/pipelines/ci-gotest.yml

flip lint flag
  packages/autorest.gotest/README.md
  packages/autorest.gotest/src/common/constant.ts
  packages/autorest.gotest/src/generator/goLinter.ts
Due: eng/pipelines/ci-gotest.yml

Add tsp coverage for srvdrivengroup (#1192)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/go.mod
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/go.sum
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/resiliencyservicedriven_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add additional tsp coverage for srv-driven
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/fake/zz_resiliencyservicedriven_server.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/go.mod
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/go.sum
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/resiliencyservicedriven_client_test.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/zz_options.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/fake/zz_resiliencyservicedriven_server.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/go.mod
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/go.sum
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/resiliencyservicedriven_client_test.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/zz_options.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add additional tsp coverage for srv-driven (#1198)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/fake/zz_resiliencyservicedriven_server.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/go.mod
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/go.sum
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/resiliencyservicedriven_client_test.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/zz_options.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/fake/zz_resiliencyservicedriven_server.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/go.mod
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/go.sum
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/resiliencyservicedriven_client_test.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/zz_options.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor complextHostParams
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/transform/transform.ts
  packages/autorest.go/test/maps/azalias/custom_client.go
  packages/autorest.go/test/maps/azalias/fakes_test.go
  packages/autorest.go/test/maps/azalias/zz_client.go
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest cadl-ranch
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/custom_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/fake/zz_projectedname_server.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/fake/zz_projectednamemodel_server.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/fake/zz_projectednameproperty_server.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/go.mod
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/go.sum
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/model_client_test.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/projectedname_client_test.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/property_client_test.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_constants.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_models.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_options.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_projectedname_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_projectednamemodel_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_projectednameproperty_client.go
  packages/typespec-go/test/cadlranch/projection/projectednamegroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add more tsp tests to srvdriven groups
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivennewgroup/resiliencyservicedriven_client_test.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivenoldgroup/resiliencyservicedriven_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/cadlranch
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
