Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/cadlranch
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

fix allowReserved
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

adopt typespec and tcgc new version (#1427)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_apis_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_apiversions_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_deletedservices_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_deployments_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_environments_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_metadataschemas_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_operations_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_services_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_workspaces_client_example_test.go
  packages/typespec-go/test/armcodesigning/zz_accounts_client_example_test.go
  packages/typespec-go/test/armcodesigning/zz_certificateprofiles_client_example_test.go
  packages/typespec-go/test/armcodesigning/zz_operations_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_operations_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_sharedprivatelinkresources_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_targets_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_watchers_client_example_test.go
  packages/typespec-go/test/armlargeinstance/zz_operations_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_operations_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_quotas_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_firewallrules_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_mongoclusters_client.go
  packages/typespec-go/test/armmongocluster/zz_mongoclusters_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_operations_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_privateendpointconnections_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_privatelinks_client_example_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

removed mutipart test
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fakes_test.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/formdata_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix lint issue
  packages/codegen.go/src/models.ts
  packages/typespec-go/test/cadlranch/encode/numericgroup/zz_models_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

resolve review comment
  packages/codegen.go/src/models.ts
  packages/codemodel.go/src/type.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

lf
  common/config/rush/pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Throw an error if no media types are defined
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/src/m4togocodemodel/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Throw an error if no media types are defined (#1430)
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/src/m4togocodemodel/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add missing error check in fakes
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/test/maps/azalias/fake/zz_server.go
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add missing error check in fakes (#1435)
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/test/maps/azalias/fake/zz_server.go
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update CODEOWNERS (#1434)
  .github/CODEOWNERS
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep autorest.go@v4.0.0-preview.68 for release
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Refactor some docs handling
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/options.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codegen.go/src/responses.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor some docs handling (#1439)
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/options.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codegen.go/src/responses.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move tcgc and tsp compiler to peer dependencies
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add typespec/http as a peer dependency as the emitter references it
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move tcgc and tsp compiler to peer dependencies (#1440)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Disable example codegen by default in CI
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_apis_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_apiversions_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_deletedservices_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_deployments_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_environments_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_metadataschemas_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_operations_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_services_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_workspaces_client_example_test.go
  packages/typespec-go/test/armcodesigning/zz_accounts_client_example_test.go
  packages/typespec-go/test/armcodesigning/zz_certificateprofiles_client_example_test.go
  packages/typespec-go/test/armcodesigning/zz_operations_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_operations_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_sharedprivatelinkresources_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_targets_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_watchers_client_example_test.go
  packages/typespec-go/test/armlargeinstance/zz_operations_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_operations_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_quotas_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_firewallrules_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_mongoclusters_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_operations_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_privateendpointconnections_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_privatelinks_client_example_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

go mod tidy
  packages/typespec-go/test/armapicenter/go.mod
  packages/typespec-go/test/armapicenter/go.sum
  packages/typespec-go/test/armcodesigning/go.mod
  packages/typespec-go/test/armcodesigning/go.sum
  packages/typespec-go/test/armdatabasewatcher/go.mod
  packages/typespec-go/test/armdatabasewatcher/go.sum
  packages/typespec-go/test/armlargeinstance/go.mod
  packages/typespec-go/test/armlargeinstance/go.sum
  packages/typespec-go/test/armloadtestservice/go.mod
  packages/typespec-go/test/armloadtestservice/go.sum
  packages/typespec-go/test/armmongocluster/go.mod
  packages/typespec-go/test/armmongocluster/go.sum
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Disable example codegen by default in CI (#1442)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armapicenter/go.mod
  packages/typespec-go/test/armapicenter/go.sum
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_apis_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_apiversions_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_deletedservices_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_deployments_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_environments_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_metadataschemas_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_operations_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_services_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_workspaces_client_example_test.go
  packages/typespec-go/test/armcodesigning/go.mod
  packages/typespec-go/test/armcodesigning/go.sum
  packages/typespec-go/test/armcodesigning/zz_accounts_client_example_test.go
  packages/typespec-go/test/armcodesigning/zz_certificateprofiles_client_example_test.go
  packages/typespec-go/test/armcodesigning/zz_operations_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/go.mod
  packages/typespec-go/test/armdatabasewatcher/go.sum
  packages/typespec-go/test/armdatabasewatcher/zz_operations_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_sharedprivatelinkresources_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_targets_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_watchers_client_example_test.go
  packages/typespec-go/test/armlargeinstance/go.mod
  packages/typespec-go/test/armlargeinstance/go.sum
  packages/typespec-go/test/armlargeinstance/zz_operations_client_example_test.go
  packages/typespec-go/test/armloadtestservice/go.mod
  packages/typespec-go/test/armloadtestservice/go.sum
  packages/typespec-go/test/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_operations_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_quotas_client_example_test.go
  packages/typespec-go/test/armmongocluster/go.mod
  packages/typespec-go/test/armmongocluster/go.sum
  packages/typespec-go/test/armmongocluster/zz_firewallrules_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_mongoclusters_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_operations_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_privateendpointconnections_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_privatelinks_client_example_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

go mod tidy
  packages/typespec-go/test/armcommunitymanagement/go.mod
  packages/typespec-go/test/armcommunitymanagement/go.sum
  packages/typespec-go/test/armdevopsinfrastructure/go.mod
  packages/typespec-go/test/armdevopsinfrastructure/go.sum
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

improve fix for tsp client param ordering
  packages/codegen.go/src/operations.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to tcgc 0.46.2
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to tcgc 0.46.2 (#1447)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

clean up some leftovers from cadl-ranch rename
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/go.mod
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/go.sum
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/managedidentitytrackedresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/common-types/managed_identity/utils_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

restore tests that were accidentally deleted
  packages/typespec-go/test/cadlranch/azure/resource-manager/commonpropsgroup/go.mod
  packages/typespec-go/test/cadlranch/azure/resource-manager/commonpropsgroup/go.sum
  packages/typespec-go/test/cadlranch/azure/resource-manager/commonpropsgroup/managedidentity_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/commonpropsgroup/utils_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
