Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

remove test
  packages/typespec-go/test/tsp/NameCollisionTest/main.tsp
  packages/typespec-go/test/tsp/NameCollisionTest/tspconfig.yaml
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update date constants
  eng/pipelines/templates/steps/build-test-go.yaml
  packages/autorest.go/test/autorest/headergroup/fake/zz_header_server.go
  packages/autorest.go/test/autorest/headergroup/zz_header_client.go
  packages/autorest.go/test/autorest/urlgroup/fake/zz_paths_server.go
  packages/autorest.go/test/autorest/urlgroup/fake/zz_queries_server.go
  packages/autorest.go/test/autorest/urlgroup/zz_paths_client.go
  packages/autorest.go/test/autorest/urlgroup/zz_queries_client.go
  packages/autorest.go/test/maps/azalias/fake/zz_server.go
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/fake/servers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test
  eng/pipelines/templates/steps/build-test-go.yaml
  packages/autorest.go/test/maps/azalias/fakes_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update dependencies
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update dependencies
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_checknameavailability_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_lro_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_operations_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_optionalbody_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_server_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_checknameavailability_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_lro_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_operations_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_optionalbody_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_time_rfc3339.go
  packages/typespec-go/test/local/armapicenter/zz_models.go
  packages/typespec-go/test/local/armbillingbenefits/zz_models.go
  packages/typespec-go/test/local/armcodesigning/zz_models.go
  packages/typespec-go/test/local/armcommunitymanagement/zz_models.go
  packages/typespec-go/test/local/armcomputeschedule/zz_models.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_models.go
  packages/typespec-go/test/local/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/local/armdevopsinfrastructure/zz_models.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_models.go
  packages/typespec-go/test/local/armlargeinstance/zz_models.go
  packages/typespec-go/test/local/armmongocluster/zz_models.go
  packages/typespec-go/test/local/armoracledatabase/zz_models.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove templatesgroup
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Expand name collision detection to include enums (#1813)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_checknameavailability_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_lro_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_lropaging_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_operations_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_optionalbody_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_server_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_checknameavailability_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_lro_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_lropaging_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_operations_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_optionalbody_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_time_rfc3339.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/fake/zz_apikey_server.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_options.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_responses.go
  packages/typespec-go/test/local/azmodelsonly/testdata/_metadata.json
  packages/typespec-go/test/local/azmodelsonly/zz_models.go
  packages/typespec-go/test/local/azmodelsonly/zz_models_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add spector test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/lropaging_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade tcgc
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/checknameavailability_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/lro_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/optionalbody_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/utils_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Upgrade TypeSpec toolset to 0.64.0/1.8.0 and fix pageableLRO (#1823)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_lropaging_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_server_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/lropaging_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_lropaging_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_responses.go
  packages/typespec-go/test/local/armapicenter/zz_models.go
  packages/typespec-go/test/local/armbillingbenefits/zz_models.go
  packages/typespec-go/test/local/armcodesigning/zz_models.go
  packages/typespec-go/test/local/armcommunitymanagement/zz_models.go
  packages/typespec-go/test/local/armcomputeschedule/zz_models.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_models.go
  packages/typespec-go/test/local/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/local/armdevopsinfrastructure/zz_models.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_models.go
  packages/typespec-go/test/local/armlargeinstance/zz_models.go
  packages/typespec-go/test/local/armmongocluster/zz_models.go
  packages/typespec-go/test/local/armoracledatabase/zz_models.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

time move
  packages/autorest.go/src/transform/transform.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/time.ts
  packages/codegen.go/src/emitter.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

merge
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix lint
  packages/autorest.go/test/autorest/azurespecialsgroup/subscriptioninmethod_test.go
  packages/autorest.go/test/autorest/azurespecialsgroup/xmsclientrequestid_test.go
  packages/autorest.go/test/autorest/headergroup/headergroup_test.go
  packages/autorest.go/test/autorest/lrogroup/lroscustomheader_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

fix bug
  packages/autorest.go/src/transform/transform.ts
  packages/autorest.go/test/maps/azalias/fake/zz_server.go
  packages/autorest.go/test/maps/azalias/zz_client.go
  packages/autorest.go/test/maps/azalias/zz_models_serde.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

joel feedback
  packages/codegen.go/src/core/gomod.ts
  packages/codegen.go/src/fake/servers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

changelog
  packages/autorest.go/CHANGELOG.md
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pnpm lock file and fix lropaging
  packages/typespec-go/src/tcgcadapter/clients.ts
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Revert "fix"
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update pnpm lock file and fix lropaging (#1825)
  packages/typespec-go/src/tcgcadapter/clients.ts
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prep autorest.go for release
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Prepare typespec-go release (#1827)
  packages/autorest.go/CHANGELOG.md
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add code
  packages/typespec-go/test/tsp/ApiManagement/client.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
