Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

update test
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/clientnamespacefirst_client_test.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/clientnamespacesecond_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pnpm tspcompile
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocation_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocationarchiveoperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocationmovetoexistingsub_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocationmovetoexistingsubadminoperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocationmovetoexistingsubuseroperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocationmovetonewsub_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocationmovetonewsubproductoperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocationmovetoroot_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocationmovetorootresourceoperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_version.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/zz_deserializeemptystringasnull_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/zz_version.go
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/zz_traits_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocation_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetoexistingsubadminoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetoexistingsubuseroperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetonewsubproductoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetorootresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/deserializeemptystringasnull_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/traits_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix docs for module and containing-module switches
  packages/autorest.go/README.md
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix comments
  packages/codegen.go/src/gomod.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

feedback
  packages/autorest.go/src/transform/namer.ts
  packages/codegen.go/src/gomod.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove release date for tsp emitter
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix eslint error
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update denpendency
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/clientnamespacefirst_client_test.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/clientnamespacesecond_client_test.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/first_client_test.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/firstgroup3_client_test.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/firstgroup4_client_test.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/second_client_test.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/secondgroup5_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/fake/zz_largeheaders_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/fake/zz_server_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/largeheaders_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/utils_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_largeheaders_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/checknameavailability_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/lro_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/optionalbody_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/utils_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pnpm tspcompile
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Test completion - Add ResourceManager test (#1666)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/fake/zz_largeheaders_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/fake/zz_server_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/largeheaders_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/utils_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_largeheaders_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/zz_version.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/checknameavailability_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/lro_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/optionalbody_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rm test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/deserializeemptystringasnull_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/fake/zz_deserializeemptystringasnull_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/zz_deserializeemptystringasnull_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coredeserializegroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocation_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetoexistingsubadminoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetoexistingsubuseroperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetonewsubproductoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetorootresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/traits_client_test.go
  packages/typespec-go/test/local/armhealthbot/zz_version.go
  packages/typespec-go/test/local/armoracledatabase/fake/zz_operations_server.go
  packages/typespec-go/test/local/armoracledatabase/fake/zz_oraclesubscriptions_server.go
  packages/typespec-go/test/local/armoracledatabase/go.mod
  packages/typespec-go/test/local/armoracledatabase/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armoracledatabase/zz_oraclesubscriptions_client_example_test.go
  packages/typespec-go/test/local/armoracledatabase/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pnpm tspcompile
  packages/typespec-go/test/local/armhealthbot/zz_version.go
  packages/typespec-go/test/local/armoracledatabase/fake/zz_operations_server.go
  packages/typespec-go/test/local/armoracledatabase/fake/zz_oraclesubscriptions_server.go
  packages/typespec-go/test/local/armoracledatabase/go.mod
  packages/typespec-go/test/local/armoracledatabase/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armoracledatabase/zz_oraclesubscriptions_client_example_test.go
  packages/typespec-go/test/local/armoracledatabase/zz_version.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix templatesgroup/optionalbody test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/optionalbody_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix doc problem
  packages/codegen.go/src/models.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/test/http-specs/type/model/inheritance/singlediscgroup/zz_models.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade to latest tsp version
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/fake/zz_hierarchybuilding_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/fake/zz_polymorphic_helpers.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/hierarchy_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/hierarchy_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_hierarchybuilding_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_interfaces.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_polymorphic_helpers.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_responses_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_version.go
  packages/typespec-go/test/tsp/ApiCenter.Management/main.tsp
  packages/typespec-go/test/tsp/BillingBenefits.Management/models.tsp
  packages/typespec-go/test/tsp/BillingBenefits.Management/routes.tsp
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/CloudHsmCluster.tsp
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/DedicatedHsm.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/main.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/models.tsp
  packages/typespec-go/test/tsp/Internal.Pager/main.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/client.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/models.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/routes.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/routes.tsp
  packages/typespec-go/test/tsp/Microsoft.DevOpsInfrastructure/main.tsp
  packages/typespec-go/test/tsp/Random.Management/main.tsp
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update .gitignore
  .gitignore
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update docs/development.md
  docs/development.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add templatesgroup/optionalbody emptybody test scenario (#1670)
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/optionalbody_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update tests
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/fake/zz_hierarchybuilding_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/fake/zz_hierarchybuildinganimaloperations_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/fake/zz_hierarchybuildingdogoperations_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/fake/zz_hierarchybuildingpetoperations_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/fake/zz_polymorphic_helpers.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/hierarchy_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_hierarchybuilding_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_hierarchybuildinganimaloperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_hierarchybuildingdogoperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_hierarchybuildingpetoperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_polymorphic_helpers.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/hierarchygroup/zz_responses_serde.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_override_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridegroupparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridereorderparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overridegroupparameters_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overridereorderparameters_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_override_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridegroupparameters_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridereorderparameters_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pnpm tspcompile
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/testdata/_metadata.json
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update doc to add emitter doc update part (#1640)
  .gitignore
  docs/development.md
  packages/typespec-go/README.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
