Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: ../steps/set-env.yaml
  - template: ../steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload CADL Ranch Test Coverage
    inputs:
      azureSubscription: Cadl Ranch Storage
      scriptType: bash
      scriptLocation: inlineScript
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks - go1.21
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks - go1.21
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

skip tests until we can regenerate impacted test
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/nestedproxyresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/topleveltrackedresources_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

use summary
  packages/codemodel.go/src/client.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Conditionally set Content-Type header
  packages/codegen.go/src/operations.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargeinstance_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_internal.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstance_client.go
  packages/typespec-go/test/armlargeinstance/zz_options.go
  packages/typespec-go/test/cadlranch/parameters/basicparamsgroup/zz_basicimplicitbody_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/fake/zz_bodyoptionalityoptionalexplicit_server.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/zz_bodyoptionality_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/zz_bodyoptionalityoptionalexplicit_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/zz_options.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/zz_spreadalias_client.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/zz_spreadmodel_client.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_jsonmergepatch_client.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_mediatypestringbody_client.go
  packages/typespec-go/test/cadlranch/type/dictionarygroup/zz_dictionarydatetimevalue_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove useless comma in example client initialization
  packages/codegen.go/src/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

use literal value to compare discriminator value
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update script
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove useless test file
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/client.tsp
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/BgpPeers_CreateOrUpdate.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/BgpPeers_Delete.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/BgpPeers_Get.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/BgpPeers_List.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/LoadBalancers_CreateOrUpdate.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/LoadBalancers_Delete.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/LoadBalancers_Get.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/LoadBalancers_List.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/Operations_List.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/Services_CreateOrUpdate.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/Services_Delete.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/Services_Get.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/Services_List.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/StorageClass_CreateOrUpdate.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/StorageClass_Delete.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/StorageClass_Get.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/StorageClass_List.json
  packages/typespec-go/test/tsp/KubernetesRuntime.Management/examples/2023-10-01-preview/StorageClass_Update.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add example literal value handling
  packages/codegen.go/src/example.ts
  packages/typespec-go/test/armcontainerorchestratorruntime/zz_storageclass_client_example_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix wrong condition of encoding for path parameter
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armcontainerorchestratorruntime/zz_bgppeers_client.go
  packages/typespec-go/test/armcontainerorchestratorruntime/zz_loadbalancers_client.go
  packages/typespec-go/test/armcontainerorchestratorruntime/zz_services_client.go
  packages/typespec-go/test/armcontainerorchestratorruntime/zz_storageclass_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix wrong condition for discriminator value comparison
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armloadtestservice/zz_loadtestmappings_client.go
  packages/typespec-go/test/armloadtestservice/zz_loadtestprofilemappings_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

mode tidy
  packages/typespec-go/test/armcontainerorchestratorruntime/go.mod
  packages/typespec-go/test/armcontainerorchestratorruntime/go.sum
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Conditionally set Content-Type header (#1456)
  packages/codegen.go/src/operations.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargeinstance_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_internal.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstance_client.go
  packages/typespec-go/test/armlargeinstance/zz_options.go
  packages/typespec-go/test/cadlranch/parameters/basicparamsgroup/zz_basicimplicitbody_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/fake/zz_bodyoptionalityoptionalexplicit_server.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/zz_bodyoptionality_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/zz_bodyoptionalityoptionalexplicit_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/zz_options.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/zz_spreadalias_client.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/zz_spreadmodel_client.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_jsonmergepatch_client.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_mediatypestringbody_client.go
  packages/typespec-go/test/cadlranch/type/dictionarygroup/zz_dictionarydatetimevalue_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine with review
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

regenerate updated content after rebase
  packages/typespec-go/test/armcontainerorchestratorruntime/fake/zz_bgppeers_server.go
  packages/typespec-go/test/armcontainerorchestratorruntime/fake/zz_loadbalancers_server.go
  packages/typespec-go/test/armcontainerorchestratorruntime/fake/zz_operations_server.go
  packages/typespec-go/test/armcontainerorchestratorruntime/fake/zz_services_server.go
  packages/typespec-go/test/armcontainerorchestratorruntime/fake/zz_storageclass_server.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade tcgc and add back examples
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstance_client_example_test.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargestorageinstance_client_example_test.go
  packages/typespec-go/test/armlargeinstance/zz_operations_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_loadtestmappings_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_loadtestprofilemappings_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_operations_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_quotas_client_example_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

go mod tidy
  packages/typespec-go/test/armlargeinstance/go.mod
  packages/typespec-go/test/armlargeinstance/go.sum
  packages/typespec-go/test/armloadtestservice/go.mod
  packages/typespec-go/test/armloadtestservice/go.sum
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade tcgc and add back examples (#1460)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/armlargeinstance/go.mod
  packages/typespec-go/test/armlargeinstance/go.sum
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstance_client_example_test.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargestorageinstance_client_example_test.go
  packages/typespec-go/test/armlargeinstance/zz_operations_client_example_test.go
  packages/typespec-go/test/armloadtestservice/go.mod
  packages/typespec-go/test/armloadtestservice/go.sum
  packages/typespec-go/test/armloadtestservice/zz_loadtestmappings_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_loadtestprofilemappings_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_operations_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_quotas_client_example_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep autorest.go@v4.0.0-preview.69 for release
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Prep autorest.go@v4.0.0-preview.69 for release (#1461)
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

update resource tests
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_accessrelativemodelinoperation_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/zz_usagemodelinoperation_client.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/nestedproxyresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/topleveltrackedresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_options.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/fake/zz_nested_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/fake/zz_server_factory.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/fake/zz_singleton_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/fake/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/fake/zz_toplevel_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/go.mod
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/go.sum
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/nested_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/singleton_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/toplevel_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/utils_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_client_factory.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_models.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_nested_client.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_options.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_singleton_client.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_toplevel_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix tests
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/internaloperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/publicoperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/relativemodelinoperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/sharedmodelinoperation_client_test.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/nodiscgroup/notdiscriminated_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update resource-manager/models/resources test (#1426)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/internaloperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/publicoperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/relativemodelinoperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/sharedmodelinoperation_client_test.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_accessrelativemodelinoperation_client.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/zz_usagemodelinoperation_client.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/nestedproxyresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/topleveltrackedresources_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_options.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/models/resources/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/fake/zz_nested_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/fake/zz_server_factory.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/fake/zz_singleton_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/fake/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/fake/zz_toplevel_server.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/go.mod
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/go.sum
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/nested_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/singleton_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/toplevel_client_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/utils_test.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_client_factory.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_models.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_nested_client.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_options.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_singleton_client.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/resource-manager/resources/zz_toplevel_client.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/nodiscgroup/notdiscriminated_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade to new tsp version
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade to new tsp version (#1462)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix removing unreferenced types
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
  packages/typespec-go/test/azmodelsonly/zz_models.go
  packages/typespec-go/test/azmodelsonly/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/zz_models_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

handle nullable types
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix removing unreferenced types (#1463)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
  packages/typespec-go/test/azmodelsonly/zz_models.go
  packages/typespec-go/test/azmodelsonly/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/zz_models_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep tsp emitter for 0.3.2 release
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/cadlranch
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
