Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

Don't assume text/plain is string only
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prettier
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/fake/servers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

grammar
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test using fakes
  packages/typespec-go/test/local/azregressions/server_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't assume text/plain is string only (#1943)
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/server_test.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update dependencies
  packages/autorest.gotest/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove lint
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update dependencies (#1945)
  packages/autorest.gotest/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update dependencies
  package.json
  packages/autorest.go/package.json
  packages/typespec-go/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

constrain override ranges
  package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update dependencies (#1946)
  package.json
  packages/autorest.go/package.json
  packages/typespec-go/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to the latest storage tsp
  packages/typespec-go/test/local/azblob/models_serde_test.go
  packages/typespec-go/test/local/azblob/testdata/_metadata.json
  packages/typespec-go/test/local/azblob/zz_appendblob_client.go
  packages/typespec-go/test/local/azblob/zz_blockblob_client.go
  packages/typespec-go/test/local/azblob/zz_client.go
  packages/typespec-go/test/local/azblob/zz_constants.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_models.go
  packages/typespec-go/test/local/azblob/zz_models_serde.go
  packages/typespec-go/test/local/azblob/zz_options.go
  packages/typespec-go/test/local/azblob/zz_pageblob_client.go
  packages/typespec-go/test/local/azblob/zz_responses.go
  packages/typespec-go/test/local/azblob/zz_service_client.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/client.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/main.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/models.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/routes.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

disable static check false positives
  packages/typespec-go/test/local/azblob/models_serde_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to the latest storage tsp (#1947)
  packages/typespec-go/test/local/azblob/models_serde_test.go
  packages/typespec-go/test/local/azblob/testdata/_metadata.json
  packages/typespec-go/test/local/azblob/zz_appendblob_client.go
  packages/typespec-go/test/local/azblob/zz_blockblob_client.go
  packages/typespec-go/test/local/azblob/zz_client.go
  packages/typespec-go/test/local/azblob/zz_constants.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_models.go
  packages/typespec-go/test/local/azblob/zz_models_serde.go
  packages/typespec-go/test/local/azblob/zz_options.go
  packages/typespec-go/test/local/azblob/zz_pageblob_client.go
  packages/typespec-go/test/local/azblob/zz_responses.go
  packages/typespec-go/test/local/azblob/zz_service_client.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/client.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/main.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/models.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/routes.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix multipart content for streaming request
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/http-specs/payload/multipartgroup/fake/zz_multipartformdata_server.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/formdata_client_test.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/zz_multipartformdata_client.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_service_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove lint
  packages/typespec-go/test/http-specs/payload/multipartgroup/formdata_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update XML test
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithtextvalue_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Release typespec-go v0.11.1 (#1948)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/http-specs/payload/multipartgroup/fake/zz_multipartformdata_server.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/formdata_client_test.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/zz_multipartformdata_client.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithtextvalue_client_test.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_service_client.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Improved handling of Content-Type parameters
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azregressions/fake/zz_internal.go
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

set content-type inline when there's no body param
  packages/autorest.go/test/autorest/mediatypesgroup/zz_mediatypes_client.go
  packages/autorest.go/test/autorest/mediatypesgroupwithnormailzedoperationname/zz_mediatypes_client.go
  packages/autorest.go/test/storage/azblob/zz_container_client.go
  packages/autorest.go/test/storage/azblob/zz_service_client.go
  packages/codegen.go/src/core/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Improved handling of Content-Type parameters (#1949)
  packages/autorest.go/test/autorest/mediatypesgroup/zz_mediatypes_client.go
  packages/autorest.go/test/autorest/mediatypesgroupwithnormailzedoperationname/zz_mediatypes_client.go
  packages/autorest.go/test/storage/azblob/zz_container_client.go
  packages/autorest.go/test/storage/azblob/zz_service_client.go
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azregressions/fake/zz_internal.go
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Improved multipart body param detection
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_service_client.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/client.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/routes.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix changelog header
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Improved multipart body param detection (#1950)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_service_client.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/client.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/routes.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine comment
  packages/codegen.go/src/core/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithtextvalue_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/test/http-specs/specialwordsgroup/fake/zz_specialwords_server.go
  packages/typespec-go/test/http-specs/specialwordsgroup/fake/zz_specialwordsreservedoperationbodyparams_server.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_options.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_responses.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_specialwords_client.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_specialwordsreservedoperationbodyparams_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep typespec-go for release
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep typespec-go for release (#1953)
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

revert @typespec/http-specs version
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

revert
  packages/typespec-go/test/http-specs/specialwordsgroup/fake/zz_specialwords_server.go
  packages/typespec-go/test/http-specs/specialwordsgroup/fake/zz_specialwordsreservedoperationbodyparams_server.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_options.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_responses.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_specialwords_client.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_specialwordsreservedoperationbodyparams_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix: unwrap literal type in example generation to produce correct typed pointer
  packages/codegen.go/src/core/example.ts
  packages/typespec-go/test/local/armtest/zz_bodyroots_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/BodyRoots_get_with_availability.json
  packages/typespec-go/test/tsp/Test.Management/models.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix: cleanup legacy autorest-generated example files during regeneration
  eng/pipelines/templates/steps/build-test-typespec.yaml
  packages/codegen.go/src/core/helpers.ts
  packages/typespec-go/test/unittest/emitter.test.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
