Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: ../steps/set-env.yaml
  - template: ../steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload CADL Ranch Test Coverage
    inputs:
      azureSubscription: Cadl Ranch Storage
      scriptType: bash
      scriptLocation: inlineScript
  ...

eng/pipelines/ci-go.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go121:
          vm.image: ubuntu-22.04
          go.version: 1.21.4
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 18.x
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go121:
          vm.image: ubuntu-22.04
          go.version: 1.21.4
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 18.x
  ...

eng/pipelines/ci-typespec.yml:
  jobs:
  - job: TypeSpec_Go_CI
    displayName: Run TypeSpec Go CI Checks
    strategy:
      matrix:
        Linux_Go121:
          vm.image: ubuntu-22.04
          go.version: 1.21.4
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 18.x
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

Handle tsp offsetDateTime type (#1227)
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Preserve in-use provisioning state constants
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test coverage
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/armdatabasewatcher/fake/zz_date_type.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_internal.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_operations_server.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_server.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_sharedprivatelinkresources_server.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_targets_server.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_watchers_server.go
  packages/typespec-go/test/armdatabasewatcher/go.mod
  packages/typespec-go/test/armdatabasewatcher/go.sum
  packages/typespec-go/test/armdatabasewatcher/zz_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_constants.go
  packages/typespec-go/test/armdatabasewatcher/zz_date_type.go
  packages/typespec-go/test/armdatabasewatcher/zz_interfaces.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
  packages/typespec-go/test/armdatabasewatcher/zz_operations_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_options.go
  packages/typespec-go/test/armdatabasewatcher/zz_polymorphic_helpers.go
  packages/typespec-go/test/armdatabasewatcher/zz_responses.go
  packages/typespec-go/test/armdatabasewatcher/zz_sharedprivatelinkresources_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_targets_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_watchers_client.go
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/baseTarget.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/main.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/sharedPrivateLinkResource.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/sqlDbDatabaseTarget.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/sqlDbElasticPoolTarget.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/sqlMiTarget.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/sqlVmTarget.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/watcher.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Preserve in-use provisioning state constants (#1228)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armdatabasewatcher/fake/zz_date_type.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_internal.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_operations_server.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_server.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_sharedprivatelinkresources_server.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_targets_server.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_watchers_server.go
  packages/typespec-go/test/armdatabasewatcher/go.mod
  packages/typespec-go/test/armdatabasewatcher/go.sum
  packages/typespec-go/test/armdatabasewatcher/zz_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_constants.go
  packages/typespec-go/test/armdatabasewatcher/zz_date_type.go
  packages/typespec-go/test/armdatabasewatcher/zz_interfaces.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
  packages/typespec-go/test/armdatabasewatcher/zz_operations_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_options.go
  packages/typespec-go/test/armdatabasewatcher/zz_polymorphic_helpers.go
  packages/typespec-go/test/armdatabasewatcher/zz_responses.go
  packages/typespec-go/test/armdatabasewatcher/zz_sharedprivatelinkresources_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_targets_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_watchers_client.go
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/baseTarget.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/main.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/sharedPrivateLinkResource.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/sqlDbDatabaseTarget.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/sqlDbElasticPoolTarget.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/sqlMiTarget.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/sqlVmTarget.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/watcher.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Global serverFactory and clientFactory
  packages/autorest.gotest/src/template/fakeTest.go.njk
Due: eng/pipelines/ci-gotest.yml

Prep for tsp emitter dev.2 release
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep for tsp emitter dev.2 release (#1229)
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update CI pipelines
  eng/pipelines/ci-go.yml
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move SerDe helper logic to code generator
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/codegen.go/src/time.ts
  packages/codegen.go/src/xmlAdditionalProps.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rush publish
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

update changelog
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
Due: eng/pipelines/ci-gotest.yml

Move SerDe helper logic to code generator (#1301)
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/codegen.go/src/time.ts
  packages/codegen.go/src/xmlAdditionalProps.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix hard-coded header map field name
  packages/autorest.go/test/storage/azblob/zz_client.go
  packages/codegen.go/src/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix hard-coded header map field name (#1306)
  packages/autorest.go/test/storage/azblob/zz_client.go
  packages/codegen.go/src/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep autorest.go preview.64 for release
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Prep autorest.go preview.64 for release (#1307)
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Include all dist files when packing autorest.go
  packages/autorest.go/.npmignore
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

update changelog
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

add --use-package switch to rush regenerate command
  common/config/rush/command-line.json
  eng/steps/build-test-go.yaml
  packages/autorest.go/.scripts/regeneration.js
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix env var
  eng/steps/build-test-go.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

move npm pack to its own step
  eng/steps/build-test-go.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add deprecation notice to preview.64 in readme
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

fix typeo
  eng/steps/build-test-go.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Include all dist files when packing autorest.go (#1308)
  common/config/rush/command-line.json
  eng/steps/build-test-go.yaml
  packages/autorest.go/.npmignore
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix remaining cases of __filename
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/transform/transform.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Fix remaining cases of __filename (#1309)
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/transform/transform.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Update cadl-ranch suite
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/createresourcepollviaoperationlocation_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/fake/zz_legacy_server.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/fake/zz_legacycreateresourcepollviaoperationlocation_server.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/go.mod
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/go.sum
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_legacy_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_legacycreateresourcepollviaoperationlocation_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fake/zz_multipartformdata_server.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/formdata_client_test.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_multipartformdata_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_options.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/custom_client.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/fake/zz_versioned_server.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/versioned_client_test.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_options.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_versioned_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update tests with behavior changes
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsmodel_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsmodelarray_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/ismodel_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/ismodelarray_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update cadl-ranch suite (#1310)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/createresourcepollviaoperationlocation_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/fake/zz_legacy_server.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/fake/zz_legacycreateresourcepollviaoperationlocation_server.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/go.mod
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/go.sum
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_legacy_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_legacycreateresourcepollviaoperationlocation_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fake/zz_multipartformdata_server.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/formdata_client_test.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_multipartformdata_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_options.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/custom_client.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/fake/zz_versioned_server.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/versioned_client_test.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_options.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/server/versions/versionedgroup/zz_versioned_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsmodel_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsmodelarray_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/ismodel_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/ismodelarray_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update ci pipelines to use 1es templates
  eng/pipelines/ci-go.yml
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci-typespec.yml
  eng/pipelines/templates/steps/build-test-go.yaml
  eng/pipelines/templates/steps/build-test-gotest.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
  eng/pipelines/templates/steps/set-env.yaml
  eng/pipelines/templates/variables/image.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update ci pipelines to use 1es templates (#1302)
  eng/pipelines/ci-go.yml
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci-typespec.yml
  eng/pipelines/templates/steps/build-test-go.yaml
  eng/pipelines/templates/steps/build-test-gotest.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
  eng/pipelines/templates/steps/set-env.yaml
  eng/pipelines/templates/variables/image.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest tcgc
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/test/armapicenter/fake/zz_apidefinitions_server.go
  packages/typespec-go/test/armapicenter/fake/zz_apis_server.go
  packages/typespec-go/test/armapicenter/fake/zz_apiversions_server.go
  packages/typespec-go/test/armapicenter/fake/zz_deployments_server.go
  packages/typespec-go/test/armapicenter/fake/zz_environments_server.go
  packages/typespec-go/test/armapicenter/fake/zz_metadataschemas_server.go
  packages/typespec-go/test/armapicenter/fake/zz_services_server.go
  packages/typespec-go/test/armapicenter/fake/zz_workspaces_server.go
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client.go
  packages/typespec-go/test/armapicenter/zz_apis_client.go
  packages/typespec-go/test/armapicenter/zz_apiversions_client.go
  packages/typespec-go/test/armapicenter/zz_client.go
  packages/typespec-go/test/armapicenter/zz_deployments_client.go
  packages/typespec-go/test/armapicenter/zz_environments_client.go
  packages/typespec-go/test/armapicenter/zz_metadataschemas_client.go
  packages/typespec-go/test/armapicenter/zz_operations_client.go
  packages/typespec-go/test/armapicenter/zz_services_client.go
  packages/typespec-go/test/armapicenter/zz_workspaces_client.go
  packages/typespec-go/test/armcodesigning/fake/zz_accounts_server.go
  packages/typespec-go/test/armcodesigning/fake/zz_certificateprofiles_server.go
  packages/typespec-go/test/armcodesigning/zz_accounts_client.go
  packages/typespec-go/test/armcodesigning/zz_certificateprofiles_client.go
  packages/typespec-go/test/armcodesigning/zz_client.go
  packages/typespec-go/test/armcodesigning/zz_operations_client.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_sharedprivatelinkresources_server.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_targets_server.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_watchers_server.go
  packages/typespec-go/test/armdatabasewatcher/zz_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_operations_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_sharedprivatelinkresources_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_targets_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_watchers_client.go
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargeinstances_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargestorageinstances_server.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstances_client.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargestorageinstances_client.go
  packages/typespec-go/test/armlargeinstance/zz_client.go
  packages/typespec-go/test/armlargeinstance/zz_operations_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest tcgc (#1311)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/test/armapicenter/fake/zz_apidefinitions_server.go
  packages/typespec-go/test/armapicenter/fake/zz_apis_server.go
  packages/typespec-go/test/armapicenter/fake/zz_apiversions_server.go
  packages/typespec-go/test/armapicenter/fake/zz_deployments_server.go
  packages/typespec-go/test/armapicenter/fake/zz_environments_server.go
  packages/typespec-go/test/armapicenter/fake/zz_metadataschemas_server.go
  packages/typespec-go/test/armapicenter/fake/zz_services_server.go
  packages/typespec-go/test/armapicenter/fake/zz_workspaces_server.go
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client.go
  packages/typespec-go/test/armapicenter/zz_apis_client.go
  packages/typespec-go/test/armapicenter/zz_apiversions_client.go
  packages/typespec-go/test/armapicenter/zz_client.go
  packages/typespec-go/test/armapicenter/zz_deployments_client.go
  packages/typespec-go/test/armapicenter/zz_environments_client.go
  packages/typespec-go/test/armapicenter/zz_metadataschemas_client.go
  packages/typespec-go/test/armapicenter/zz_operations_client.go
  packages/typespec-go/test/armapicenter/zz_services_client.go
  packages/typespec-go/test/armapicenter/zz_workspaces_client.go
  packages/typespec-go/test/armcodesigning/fake/zz_accounts_server.go
  packages/typespec-go/test/armcodesigning/fake/zz_certificateprofiles_server.go
  packages/typespec-go/test/armcodesigning/zz_accounts_client.go
  packages/typespec-go/test/armcodesigning/zz_certificateprofiles_client.go
  packages/typespec-go/test/armcodesigning/zz_client.go
  packages/typespec-go/test/armcodesigning/zz_operations_client.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_sharedprivatelinkresources_server.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_targets_server.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_watchers_server.go
  packages/typespec-go/test/armdatabasewatcher/zz_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_operations_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_sharedprivatelinkresources_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_targets_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_watchers_client.go
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargeinstances_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargestorageinstances_server.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstances_client.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargestorageinstances_client.go
  packages/typespec-go/test/armlargeinstance/zz_client.go
  packages/typespec-go/test/armlargeinstance/zz_operations_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix LRO doc comments
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client.go
  packages/typespec-go/test/armapicenter/zz_options.go
  packages/typespec-go/test/armapicenter/zz_responses.go
  packages/typespec-go/test/armapicenter/zz_services_client.go
  packages/typespec-go/test/armcodesigning/zz_accounts_client.go
  packages/typespec-go/test/armcodesigning/zz_certificateprofiles_client.go
  packages/typespec-go/test/armcodesigning/zz_options.go
  packages/typespec-go/test/armcodesigning/zz_responses.go
  packages/typespec-go/test/armdatabasewatcher/zz_options.go
  packages/typespec-go/test/armdatabasewatcher/zz_responses.go
  packages/typespec-go/test/armdatabasewatcher/zz_sharedprivatelinkresources_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_watchers_client.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstances_client.go
  packages/typespec-go/test/armlargeinstance/zz_options.go
  packages/typespec-go/test/armlargeinstance/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_rpc_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_standard_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix LRO doc comments (#1313)
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client.go
  packages/typespec-go/test/armapicenter/zz_options.go
  packages/typespec-go/test/armapicenter/zz_responses.go
  packages/typespec-go/test/armapicenter/zz_services_client.go
  packages/typespec-go/test/armcodesigning/zz_accounts_client.go
  packages/typespec-go/test/armcodesigning/zz_certificateprofiles_client.go
  packages/typespec-go/test/armcodesigning/zz_options.go
  packages/typespec-go/test/armcodesigning/zz_responses.go
  packages/typespec-go/test/armdatabasewatcher/zz_options.go
  packages/typespec-go/test/armdatabasewatcher/zz_responses.go
  packages/typespec-go/test/armdatabasewatcher/zz_sharedprivatelinkresources_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_watchers_client.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstances_client.go
  packages/typespec-go/test/armlargeinstance/zz_options.go
  packages/typespec-go/test/armlargeinstance/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_rpc_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_standard_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix paths to pipeline templates
  eng/pipelines/cadl-ranch-typespec.yml
  eng/pipelines/publish-dev-release-go.yml
  eng/pipelines/publish-dev-release-typespec.yml
  eng/pipelines/publish-release-gotest.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/cadlranch
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
