Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

improve changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

error when go-generate is specified but the file isn't found
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

improve docs
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Execute steps post code generation (#1636)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/lib.ts
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_optionalbody_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_optionalbody_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_options.go
  packages/typespec-go/test/local/nooptionalbody/after_generate.go
  packages/typespec-go/test/local/nooptionalbody/testdata/generate/transforms.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/clientnamespacefirst_client_test.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/clientnamespacesecond_client_test.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/fake/zz_clientnamespace_server.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/fake/zz_clientnamespacefirst_server.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/fake/zz_clientnamespacesecond_server.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/go.mod
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/go.sum
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_clientnamespace_client.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_clientnamespacefirst_client.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_clientnamespacesecond_client.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/fake/zz_first_server.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/fake/zz_firstgroup3_server.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/fake/zz_firstgroup4_server.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/fake/zz_second_server.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/fake/zz_secondgroup5_server.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/go.mod
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/go.sum
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_first_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_firstgroup3_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_firstgroup4_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_second_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_secondgroup5_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Upgrade TypeSpec and TCGC packages to latest versions (#1638)
  packages/codegen.go/src/operations.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageableserverdrivenpagination_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageableserverdrivenpaginationcontinuationtoken_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_options.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageableserverdrivenpagination_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageableserverdrivenpaginationcontinuationtoken_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_responses.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update doc
  .gitignore
  docs/development.md
  packages/typespec-go/README.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  docs/development.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prepare release
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/first_client_test.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/firstgroup3_client_test.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/firstgroup4_client_test.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/go.mod
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/go.sum
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/second_client_test.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/secondgroup5_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pnpm tspcompile
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_version.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prepare release (#1641)
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix missing endpoint for covreport
  packages/autorest.go/test/autorest/azurereportgroup/custom_client.go
  packages/autorest.go/test/autorest/covreport/main.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Smarter renaming of the options parameter
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

improve comment
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Smarter renaming of the options parameter (#1649)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Improved generic client doc comment
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armlargeinstance/zz_client.go
  packages/typespec-go/test/local/armrandom/zz_client.go
  packages/typespec-go/test/local/nooptionalbody/zz_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Improved generic client doc comment (#1650)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armlargeinstance/zz_client.go
  packages/typespec-go/test/local/armrandom/zz_client.go
  packages/typespec-go/test/local/nooptionalbody/zz_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Possible values helper function visibility
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/internalpager/zz_constants.go
  packages/typespec-go/test/local/internalpager/zz_models.go
  packages/typespec-go/test/local/internalpager/zz_models_serde.go
  packages/typespec-go/test/tsp/Internal.Pager/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Possible values helper function visibility (#1658)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/internalpager/zz_constants.go
  packages/typespec-go/test/local/internalpager/zz_models.go
  packages/typespec-go/test/local/internalpager/zz_models_serde.go
  packages/typespec-go/test/tsp/Internal.Pager/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fixes for raw JSON usage
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/models.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/rawjson/fake/zz_inputonly_server.go
  packages/typespec-go/test/local/rawjson/fake/zz_internal.go
  packages/typespec-go/test/local/rawjson/fake/zz_modelcase_server.go
  packages/typespec-go/test/local/rawjson/fake/zz_outputonly_server.go
  packages/typespec-go/test/local/rawjson/fake/zz_server.go
  packages/typespec-go/test/local/rawjson/go.mod
  packages/typespec-go/test/local/rawjson/go.sum
  packages/typespec-go/test/local/rawjson/testdata/_metadata.json
  packages/typespec-go/test/local/rawjson/zz_client.go
  packages/typespec-go/test/local/rawjson/zz_inputonly_client.go
  packages/typespec-go/test/local/rawjson/zz_modelcase_client.go
  packages/typespec-go/test/local/rawjson/zz_models.go
  packages/typespec-go/test/local/rawjson/zz_models_serde.go
  packages/typespec-go/test/local/rawjson/zz_options.go
  packages/typespec-go/test/local/rawjson/zz_outputonly_client.go
  packages/typespec-go/test/local/rawjson/zz_responses.go
  packages/typespec-go/test/local/rawjson/zz_version.go
  packages/typespec-go/test/tsp/RawJson/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove unused function
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fixes for raw JSON usage (#1657)
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/models.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/rawjson/fake/zz_inputonly_server.go
  packages/typespec-go/test/local/rawjson/fake/zz_internal.go
  packages/typespec-go/test/local/rawjson/fake/zz_modelcase_server.go
  packages/typespec-go/test/local/rawjson/fake/zz_outputonly_server.go
  packages/typespec-go/test/local/rawjson/fake/zz_server.go
  packages/typespec-go/test/local/rawjson/go.mod
  packages/typespec-go/test/local/rawjson/go.sum
  packages/typespec-go/test/local/rawjson/testdata/_metadata.json
  packages/typespec-go/test/local/rawjson/zz_client.go
  packages/typespec-go/test/local/rawjson/zz_inputonly_client.go
  packages/typespec-go/test/local/rawjson/zz_modelcase_client.go
  packages/typespec-go/test/local/rawjson/zz_models.go
  packages/typespec-go/test/local/rawjson/zz_models_serde.go
  packages/typespec-go/test/local/rawjson/zz_options.go
  packages/typespec-go/test/local/rawjson/zz_outputonly_client.go
  packages/typespec-go/test/local/rawjson/zz_responses.go
  packages/typespec-go/test/local/rawjson/zz_version.go
  packages/typespec-go/test/tsp/RawJson/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

adopt tcgc breaking change
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

regen code changes
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_models.go
  packages/typespec-go/test/local/armapicenter/zz_models.go
  packages/typespec-go/test/local/armbillingbenefits/zz_models.go
  packages/typespec-go/test/local/armcodesigning/zz_models.go
  packages/typespec-go/test/local/armcommunitymanagement/zz_models.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_models.go
  packages/typespec-go/test/local/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/local/armdevopsinfrastructure/zz_models.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_models.go
  packages/typespec-go/test/local/armhealthbot/zz_models.go
  packages/typespec-go/test/local/armlargeinstance/zz_models.go
  packages/typespec-go/test/local/armloadtestservice/zz_models.go
  packages/typespec-go/test/local/armmongocluster/zz_models.go
  packages/typespec-go/test/local/armoracledatabase/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep autorest.go preview.73 for release
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Prep autorest.go preview.73 for release (#1662)
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

update after rebase
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/firstgroup4_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

merge main and pnpm tspcompile
  packages/typespec-go/test/azure-http-specs/azure/core/lro/lrostdgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_clientnamespace_client.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_clientnamespacefirst_client.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_clientnamespacesecond_client.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_constants.go
  packages/typespec-go/test/local/nooptionalbody/testdata/_metadata.json
  packages/typespec-go/test/local/nooptionalbody/zz_client.go
  packages/typespec-go/test/local/nooptionalbody/zz_models.go
  packages/typespec-go/test/local/nooptionalbody/zz_models_serde.go
  packages/typespec-go/test/local/nooptionalbody/zz_options.go
  packages/typespec-go/test/local/nooptionalbody/zz_responses.go
  packages/typespec-go/test/local/nooptionalbody/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pnpm tspcompile
  packages/typespec-go/test/azure-http-specs/azure/core/lro/lrostdgroup/testdata/_metadata.json
  packages/typespec-go/test/local/nooptionalbody/testdata/_metadata.json
  packages/typespec-go/test/local/nooptionalbody/zz_client.go
  packages/typespec-go/test/local/nooptionalbody/zz_models.go
  packages/typespec-go/test/local/nooptionalbody/zz_models_serde.go
  packages/typespec-go/test/local/nooptionalbody/zz_options.go
  packages/typespec-go/test/local/nooptionalbody/zz_responses.go
  packages/typespec-go/test/local/nooptionalbody/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
