Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

sync code
  packages/typespec-go/test/tsp/web2/Web.Management/FunctionEnvelope.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/Site.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/back-compatible.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/tspconfig.yaml
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix lint
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/utils_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add test case entry for type/union/discriminated (#1785)
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test case
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/extensionsresources_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pnpm tspcompile
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/extensionsresources_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Complete test cases for `Resource/ExtensionsResources` (#1814)
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/extensionsresources_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add operation test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/operations_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/operations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/operations_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

revert code
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/operations_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add operation test case under `MethodSubscriptionId` (#1816)
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/methodsubscriptionidgroup/operations_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test code
  packages/typespec-go/test/tsp/web2/Web.Management/FunctionEnvelope.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/MSDeployStatus.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/StaticSiteCustomDomainOverviewARMResource.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/back-compatible.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/client.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/models.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/tspconfig.yaml
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add go code
  packages/typespec-go/test/local/armproviderhub/zz_client_example_test.go
  packages/typespec-go/test/local/armproviderhub/zz_customrollouts_client_example_test.go
  packages/typespec-go/test/local/armproviderhub/zz_defaultrollouts_client_example_test.go
  packages/typespec-go/test/local/armproviderhub/zz_models.go
  packages/typespec-go/test/local/armproviderhub/zz_models_serde.go
  packages/typespec-go/test/local/armproviderhub/zz_newregionfrontloadrelease_client_example_test.go
  packages/typespec-go/test/local/armproviderhub/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armproviderhub/zz_providerregistrations_client_example_test.go
  packages/typespec-go/test/local/armproviderhub/zz_resourcetyperegistrations_client_example_test.go
  packages/typespec-go/test/tsp/ProviderHub.Management/client.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test code
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add code
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix package name
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/test/local/armtest/fake/zz_bodyroots_server.go
  packages/typespec-go/test/local/armtest/fake/zz_lro_server.go
  packages/typespec-go/test/local/armtest/go.mod
  packages/typespec-go/test/local/armtest/zz_bodyroots_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_lro_client_example_test.go
  packages/typespec-go/test/tsp/Test.Management/LRO.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix package name logic (#1817)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/test/local/armtest/fake/zz_bodyroots_server.go
  packages/typespec-go/test/local/armtest/fake/zz_lro_server.go
  packages/typespec-go/test/local/armtest/go.mod
  packages/typespec-go/test/local/armtest/zz_bodyroots_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_lro_client_example_test.go
  packages/typespec-go/test/tsp/Test.Management/LRO.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't force streaming bodies to be required (#1811)
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/src/transform/namer.ts
  packages/autorest.go/test/acr/azacr/fake/zz_containerregistryblob_server.go
  packages/autorest.go/test/acr/azacr/zz_containerregistryblob_client.go
  packages/autorest.go/test/acr/azacr/zz_options.go
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

time move
  packages/autorest.go/src/transform/transform.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/time.ts
  packages/codegen.go/src/emitter.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

merge
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog (#1818)
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix lint
  packages/autorest.go/test/autorest/azurespecialsgroup/subscriptioninmethod_test.go
  packages/autorest.go/test/autorest/azurespecialsgroup/xmsclientrequestid_test.go
  packages/autorest.go/test/autorest/headergroup/headergroup_test.go
  packages/autorest.go/test/autorest/lrogroup/lroscustomheader_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

fix bug
  packages/autorest.go/src/transform/transform.ts
  packages/autorest.go/test/maps/azalias/fake/zz_server.go
  packages/autorest.go/test/maps/azalias/zz_client.go
  packages/autorest.go/test/maps/azalias/zz_models_serde.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
