Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-spec, packages/typespec-go/test/azure-http-spec
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

sort example type ordering
  packages/codemodel.go/src/examples.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Sort code model types (#1580)
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add tests
  packages/typespec-go/test/http-specs/type/arraygroup/arraygroup_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pipeline
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

throw error when pageing with re-injection parameters
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_page_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_pagetwomodelsaspageitem_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_page_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_pagetwomodelsaspageitem_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_responses.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/zz_nonresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_checknameavailability_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/custom_client.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_jsonlbasic_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_page_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_pagetwomodelsaspageitem_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_page_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_pagetwomodelsaspageitem_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_responses.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/zz_servicechild_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/zz_serviceheaderparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/zz_servicemixedparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/zz_servicemultipleparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/zz_serviceparamalias_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/zz_servicepathparam_client_test.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/zz_oauth2_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/zz_union_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/encode/encodedurationgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/encode/encodedurationgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/encode/encodedurationgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/encode/encodedurationgroup/zz_duration_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/zz_servicechild_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add tests (#1582)
  packages/typespec-go/test/http-specs/type/arraygroup/arraygroup_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade azure-http-specs
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/fake/zz_page_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_page_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_responses.go
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pnpm modtidy
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.mod
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.sum
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.mod
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.sum
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.mod
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.sum
Due: eng/pipelines/ci-gotest.yml

rename test file
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/servicechild_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/serviceheaderparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/servicemixedparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/servicemultipleparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/serviceparamalias_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/servicepathparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/encode/encodedurationgroup/duration_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/example/examplebasicgroup/basicserviceoperationgroup_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/nonresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/checknameavailability_client_test.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/oauth2_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/union_client_test.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/statuscoderange_client_test.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/jsonlbasic_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rename test file
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/modelazurecoreembeddingvector_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pnpm tspcompile
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/serviceheaderparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/servicepathparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/encode/encodedurationgroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/example/examplebasicgroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/_metadata.json
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/union_client_test.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/_metadata.json
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/statuscoderange_client_test.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/jsonlbasic_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add config
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add api-version test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/fake/zz_header_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/header_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/zz_header_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/fake/zz_path_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/path_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/zz_path_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/fake/zz_query_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/query_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/zz_query_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/zz_responses.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/checknameavailability_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/header_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/path_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/query_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/servicechild_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/serviceheaderparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/servicemixedparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/servicemultipleparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/serviceparamalias_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/servicepathparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/modelazurecoreembeddingvector_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/encode/encodedurationgroup/duration_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/example/examplebasicgroup/basicserviceoperationgroup_client_test.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/oauth2_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/union_client_test.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/statuscoderange_client_test.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/jsonlbasic_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

tspcompile
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/header_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/path_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/query_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/servicemixedparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreinitializationgroup/servicemultipleparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/modelazurecoreembeddingvector_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/encode/encodedurationgroup/duration_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/example/examplebasicgroup/basicserviceoperationgroup_client_test.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/jsonlbasic_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/nonresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/utils_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/checknameavailability_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/utils_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

go mod tidy
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/go.sum
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test according to review suggestion
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_service_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_servicechild_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_serviceheaderparam_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_servicemixedparams_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_servicemultipleparams_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_serviceparamalias_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_servicepathparam_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/servicechild_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/serviceheaderparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/servicemixedparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/servicemultipleparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/serviceparamalias_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/servicepathparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_service_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_servicechild_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_serviceheaderparam_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_servicemixedparams_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_servicemultipleparams_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_serviceparamalias_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_servicepathparam_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_time_rfc3339.go
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/modelazurecoreembeddingvector_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/example/examplebasicgroup/basicserviceoperationgroup_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/nonresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/checknameavailability_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

working directory
  eng/pipelines/cadl-ranch-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

change to to.Ptr
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/modelazurecoreembeddingvector_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

delete redundant properties
  packages/codemodel.go/src/examples.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

resolve comments
  packages/codegen.go/src/example.ts
  packages/codemodel.go/src/examples.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add process logic for three types
  packages/codegen.go/src/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add default logic
  packages/codegen.go/src/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
