Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-spec, packages/typespec-go/test/azure-http-spec
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

fix test errors
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/locationresources_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/nested_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/singleton_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/toplevel_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/utils_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine option ctor
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

generate test cases
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/test/compute/armcompute/zz_client_factory.go
  packages/autorest.go/test/consumption/armconsumption/zz_client_factory.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_client_factory.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_client_factory.go
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_client_factory.go
  packages/typespec-go/test/local/armapicenter/zz_client_factory.go
  packages/typespec-go/test/local/armcodesigning/zz_client_factory.go
  packages/typespec-go/test/local/armcommunitymanagement/zz_client_factory.go
  packages/typespec-go/test/local/armdatabasewatcher/zz_client_factory.go
  packages/typespec-go/test/local/armdevopsinfrastructure/zz_client_factory.go
  packages/typespec-go/test/local/armlargeinstance/zz_client_factory.go
  packages/typespec-go/test/local/armloadtestservice/zz_client_factory.go
  packages/typespec-go/test/local/armmongocluster/zz_client_factory.go
  packages/typespec-go/test/local/armtest/zz_client_factory.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

generate test cases
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/test/consumption/armconsumption/zz_client_factory.go
  packages/autorest.go/test/network/armnetwork/zz_client_factory.go
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/helpers.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_client_factory.go
  packages/typespec-go/test/local/armapicenter/zz_apidefinitions_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_apis_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_apiversions_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_client_factory.go
  packages/typespec-go/test/local/armapicenter/zz_deletedservices_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_deployments_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_environments_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_metadataschemas_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_services_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_workspaces_client_example_test.go
  packages/typespec-go/test/local/armcodesigning/zz_accounts_client_example_test.go
  packages/typespec-go/test/local/armcodesigning/zz_certificateprofiles_client_example_test.go
  packages/typespec-go/test/local/armcodesigning/zz_client_factory.go
  packages/typespec-go/test/local/armcodesigning/zz_operations_client_example_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

special case for operationsClient
  packages/autorest.go/.scripts/regeneration.js
  packages/codegen.go/src/helpers.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/local/armapicenter/zz_apidefinitions_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_apis_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_apiversions_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_client_factory.go
  packages/typespec-go/test/local/armapicenter/zz_deletedservices_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_deployments_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_environments_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_metadataschemas_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_services_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_workspaces_client_example_test.go
  packages/typespec-go/test/local/armcodesigning/zz_accounts_client_example_test.go
  packages/typespec-go/test/local/armcodesigning/zz_certificateprofiles_client_example_test.go
  packages/typespec-go/test/local/armcodesigning/zz_client_factory.go
  packages/typespec-go/test/local/armcodesigning/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_client_factory.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestmappings_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestprofilemappings_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_quotas_client_example_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test cases
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/test/consumption/armconsumption/zz_client_factory.go
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/local/armloadtestservice/zz_client_factory.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestmappings_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestprofilemappings_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_quotas_client_example_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog and readme
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/README.md
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

some small tweaks
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/helpers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine factory CTOR logic (#1496)
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/README.md
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/test/network/armnetwork/zz_client_factory.go
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/helpers.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/locationresources_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/nested_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/singleton_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/toplevel_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/utils_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_client_factory.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog and prep for release
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix internalpager test case
  packages/typespec-go/test/local/internalpager/zz_models.go
  packages/typespec-go/test/local/internalpager/zz_models_serde.go
  packages/typespec-go/test/local/internalpager/zz_pagerwidgets_client.go
  packages/typespec-go/test/local/internalpager/zz_responses.go
  packages/typespec-go/test/tsp/Internal.Pager/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

report TCGC diagnostics
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog for autorest.go
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

go report TCGC diagnostics (#1500)
  packages/autorest.go/CHANGELOG.md
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/test/local/internalpager/zz_models.go
  packages/typespec-go/test/local/internalpager/zz_models_serde.go
  packages/typespec-go/test/local/internalpager/zz_pagerwidgets_client.go
  packages/typespec-go/test/local/internalpager/zz_responses.go
  packages/typespec-go/test/tsp/Internal.Pager/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

gotest support new codegen
  packages/autorest.gotest/README.md
  packages/autorest.gotest/src/common/constant.ts
  packages/autorest.gotest/src/generator/exampleGenerator.ts
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  packages/autorest.gotest/src/template/exampleTest.go.njk
Due: eng/pipelines/ci-gotest.yml

codegen.go: support seeding pager with initial nextLink
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/param.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

packages/autrest.go: attempt to handle autorest
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/transform/transform.ts
  packages/autorest.go/test/acr/azacr/zz_options.go
  packages/autorest.go/test/autorest/paginggroup/zz_options.go
  packages/autorest.go/test/autorest/paginggroup/zz_paging_client.go
  packages/autorest.go/test/compute/armcompute/zz_options.go
  packages/autorest.go/test/consumption/armconsumption/zz_options.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_options.go
  packages/autorest.go/test/keyvault/azkeyvault/zz_options.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_options.go
  packages/autorest.go/test/maps/azalias/zz_client.go
  packages/autorest.go/test/maps/azalias/zz_options.go
  packages/autorest.go/test/network/armnetwork/zz_options.go
  packages/autorest.go/test/storage/azblob/zz_options.go
  packages/autorest.go/test/synapse/azartifacts/zz_options.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Prep tsp emitter 0.3.9 for release
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep tsp emitter 0.3.9 for release (#1503)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

avoid warning log from tcgc example-loading
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

avoid warning log from tcgc example-loading (#1504)
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix eslint err
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
Due: eng/pipelines/ci-gotest.yml

add options description for typespec-go
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add description
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

go nightly build pipeline
  eng/pipelines/ci-typespec-nightly.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pipeline
  eng/pipelines/ci-typespec-nightly.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test generator
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  packages/autorest.gotest/src/template/exampleTest.go.njk
  packages/autorest.gotest/src/template/fakeTest.go.njk
  packages/autorest.gotest/src/template/sampleContent.go.njk
  packages/autorest.gotest/src/template/scenarioContent.go.njk
Due: eng/pipelines/ci-gotest.yml

update test generator
  packages/autorest.gotest/src/generator/exampleGenerator.ts
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
Due: eng/pipelines/ci-gotest.yml

fix lint error
  packages/autorest.gotest/src/generator/exampleGenerator.ts
Due: eng/pipelines/ci-gotest.yml

upgrade typespec version
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/tsp/ApiCenter.Management/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade typespec version (#1511)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/tsp/ApiCenter.Management/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update package version for release
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

go nightly build pipeline (#1510)
  eng/pipelines/ci-typespec-nightly.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update package version for release (#1512)
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

for expected error, report diagnostic
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix eslint error
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add go-emitter options description (#1507)
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add generate-samples flag
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
