Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/cadlranch
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

updating tsp toolset requires updating all tsp
  packages/typespec-go/test/armcodesigning/zz_constants.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_constants.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargeinstances_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_time_rfc3339.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstances_client.go
  packages/typespec-go/test/armlargeinstance/zz_constants.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models_serde.go
  packages/typespec-go/test/armlargeinstance/zz_responses.go
  packages/typespec-go/test/armlargeinstance/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/fake/zz_apikey_server.go
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/zz_apikey_client.go
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/zz_responses.go
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/fake/zz_custom_server.go
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/zz_custom_client.go
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/authentication/oauth2group/fake/zz_oauth2_server.go
  packages/typespec-go/test/cadlranch/authentication/oauth2group/zz_oauth2_client.go
  packages/typespec-go/test/cadlranch/authentication/oauth2group/zz_responses.go
  packages/typespec-go/test/tsp/AzureLargeInstance.Management/AzureLargeInstance.tsp
  packages/typespec-go/test/tsp/AzureLargeInstance.Management/AzureLargeStorageInstance.tsp
  packages/typespec-go/test/tsp/CodeSigning.Management/CertificateProfile.tsp
  packages/typespec-go/test/tsp/CodeSigning.Management/CodeSigningAccount.tsp
  packages/typespec-go/test/tsp/CodeSigning.Management/models.tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/watcher.tsp
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use client factory for tsp codegen
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armapicenter/fake/zz_internal.go
  packages/typespec-go/test/armapicenter/fake/zz_server_factory.go
  packages/typespec-go/test/armapicenter/zz_client.go
  packages/typespec-go/test/armapicenter/zz_client_factory.go
  packages/typespec-go/test/armapicenter/zz_constants.go
  packages/typespec-go/test/armcodesigning/fake/zz_internal.go
  packages/typespec-go/test/armcodesigning/fake/zz_server_factory.go
  packages/typespec-go/test/armcodesigning/zz_client.go
  packages/typespec-go/test/armcodesigning/zz_client_factory.go
  packages/typespec-go/test/armcodesigning/zz_constants.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_internal.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_server_factory.go
  packages/typespec-go/test/armdatabasewatcher/zz_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_client_factory.go
  packages/typespec-go/test/armdatabasewatcher/zz_constants.go
  packages/typespec-go/test/armlargeinstance/fake/zz_internal.go
  packages/typespec-go/test/armlargeinstance/fake/zz_server_factory.go
  packages/typespec-go/test/armlargeinstance/zz_client.go
  packages/typespec-go/test/armlargeinstance/zz_client_factory.go
  packages/typespec-go/test/armlargeinstance/zz_constants.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use client factory for tsp codegen (#1345)
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armapicenter/fake/zz_internal.go
  packages/typespec-go/test/armapicenter/fake/zz_server_factory.go
  packages/typespec-go/test/armapicenter/zz_client.go
  packages/typespec-go/test/armapicenter/zz_client_factory.go
  packages/typespec-go/test/armapicenter/zz_constants.go
  packages/typespec-go/test/armcodesigning/fake/zz_internal.go
  packages/typespec-go/test/armcodesigning/fake/zz_server_factory.go
  packages/typespec-go/test/armcodesigning/zz_client.go
  packages/typespec-go/test/armcodesigning/zz_client_factory.go
  packages/typespec-go/test/armcodesigning/zz_constants.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_internal.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_server_factory.go
  packages/typespec-go/test/armdatabasewatcher/zz_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_client_factory.go
  packages/typespec-go/test/armdatabasewatcher/zz_constants.go
  packages/typespec-go/test/armlargeinstance/fake/zz_internal.go
  packages/typespec-go/test/armlargeinstance/fake/zz_server_factory.go
  packages/typespec-go/test/armlargeinstance/zz_client.go
  packages/typespec-go/test/armlargeinstance/zz_client_factory.go
  packages/typespec-go/test/armlargeinstance/zz_constants.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest tcgc
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/test/armapicenter/fake/zz_apidefinitions_server.go
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client.go
  packages/typespec-go/test/armdatabasewatcher/fake/zz_time_rfc3339.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
  packages/typespec-go/test/armdatabasewatcher/zz_time_rfc3339.go
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargeinstances_server.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstances_client.go
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/fake/zz_apikey_server.go
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/zz_apikey_client.go
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/zz_responses.go
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/fake/zz_custom_server.go
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/zz_custom_client.go
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/authentication/oauth2group/fake/zz_oauth2_server.go
  packages/typespec-go/test/cadlranch/authentication/oauth2group/zz_oauth2_client.go
  packages/typespec-go/test/cadlranch/authentication/oauth2group/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pin tsp dependencies
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't replace error types with azcore.ResponseError
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rebuild after rebasing on main
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/zz_models.go
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/zz_models.go
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/authentication/oauth2group/zz_models.go
  packages/typespec-go/test/cadlranch/authentication/oauth2group/zz_models_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

improve options handling in tspcompile.js
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Propgate only client/host params to child clients
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armapicenter/zz_client_factory.go
  packages/typespec-go/test/armapicenter/zz_operations_client.go
  packages/typespec-go/test/armcodesigning/zz_client_factory.go
  packages/typespec-go/test/armcodesigning/zz_operations_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_client_factory.go
  packages/typespec-go/test/armdatabasewatcher/zz_operations_client.go
  packages/typespec-go/test/armlargeinstance/zz_client_factory.go
  packages/typespec-go/test/armlargeinstance/zz_operations_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Propgate only client/host params to child clients (#1348)
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armapicenter/zz_client_factory.go
  packages/typespec-go/test/armapicenter/zz_operations_client.go
  packages/typespec-go/test/armcodesigning/zz_client_factory.go
  packages/typespec-go/test/armcodesigning/zz_operations_client.go
  packages/typespec-go/test/armdatabasewatcher/zz_client_factory.go
  packages/typespec-go/test/armdatabasewatcher/zz_operations_client.go
  packages/typespec-go/test/armlargeinstance/zz_client_factory.go
  packages/typespec-go/test/armlargeinstance/zz_operations_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix empty sub-clients
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armloadtestservice/fake/zz_date_type.go
  packages/typespec-go/test/armloadtestservice/fake/zz_internal.go
  packages/typespec-go/test/armloadtestservice/fake/zz_loadtests_server.go
  packages/typespec-go/test/armloadtestservice/fake/zz_operations_server.go
  packages/typespec-go/test/armloadtestservice/fake/zz_quotas_server.go
  packages/typespec-go/test/armloadtestservice/fake/zz_server_factory.go
  packages/typespec-go/test/armloadtestservice/go.mod
  packages/typespec-go/test/armloadtestservice/go.sum
  packages/typespec-go/test/armloadtestservice/zz_client_factory.go
  packages/typespec-go/test/armloadtestservice/zz_constants.go
  packages/typespec-go/test/armloadtestservice/zz_date_type.go
  packages/typespec-go/test/armloadtestservice/zz_loadtests_client.go
  packages/typespec-go/test/armloadtestservice/zz_models.go
  packages/typespec-go/test/armloadtestservice/zz_models_serde.go
  packages/typespec-go/test/armloadtestservice/zz_operations_client.go
  packages/typespec-go/test/armloadtestservice/zz_options.go
  packages/typespec-go/test/armloadtestservice/zz_quotas_client.go
  packages/typespec-go/test/armloadtestservice/zz_responses.go
  packages/typespec-go/test/tsp/LoadTestService.Management/client.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/customOperation.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/main.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/models.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/routes.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix empty sub-clients (#1350)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armloadtestservice/fake/zz_date_type.go
  packages/typespec-go/test/armloadtestservice/fake/zz_internal.go
  packages/typespec-go/test/armloadtestservice/fake/zz_loadtests_server.go
  packages/typespec-go/test/armloadtestservice/fake/zz_operations_server.go
  packages/typespec-go/test/armloadtestservice/fake/zz_quotas_server.go
  packages/typespec-go/test/armloadtestservice/fake/zz_server_factory.go
  packages/typespec-go/test/armloadtestservice/go.mod
  packages/typespec-go/test/armloadtestservice/go.sum
  packages/typespec-go/test/armloadtestservice/zz_client_factory.go
  packages/typespec-go/test/armloadtestservice/zz_constants.go
  packages/typespec-go/test/armloadtestservice/zz_date_type.go
  packages/typespec-go/test/armloadtestservice/zz_loadtests_client.go
  packages/typespec-go/test/armloadtestservice/zz_models.go
  packages/typespec-go/test/armloadtestservice/zz_models_serde.go
  packages/typespec-go/test/armloadtestservice/zz_operations_client.go
  packages/typespec-go/test/armloadtestservice/zz_options.go
  packages/typespec-go/test/armloadtestservice/zz_quotas_client.go
  packages/typespec-go/test/armloadtestservice/zz_responses.go
  packages/typespec-go/test/tsp/LoadTestService.Management/client.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/customOperation.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/main.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/models.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/routes.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't replace error types with azcore.ResponseError (#1346)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models_serde.go
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/zz_models.go
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/zz_models.go
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/authentication/oauth2group/zz_models.go
  packages/typespec-go/test/cadlranch/authentication/oauth2group/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/coreusagegroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't omit polymorhpic base types
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_date_type.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_imageversions_server.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_internal.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_operations_server.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_pools_server.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_resourcedetails_server.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_server_factory.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_sku_server.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_subscriptionusages_server.go
  packages/typespec-go/test/armdevopsinfrastructure/go.mod
  packages/typespec-go/test/armdevopsinfrastructure/go.sum
  packages/typespec-go/test/armdevopsinfrastructure/zz_client_factory.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_constants.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_date_type.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_imageversions_client.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_interfaces.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_models.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_models_serde.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_operations_client.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_options.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_polymorphic_helpers.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_pools_client.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_resourcedetails_client.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_responses.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_sku_client.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_subscriptionusages_client.go
  packages/typespec-go/test/tsp/Microsoft.DevOpsInfrastructure/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

bump version for impending release
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't omit polymorhpic base types (#1351)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_date_type.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_imageversions_server.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_internal.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_operations_server.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_pools_server.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_resourcedetails_server.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_server_factory.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_sku_server.go
  packages/typespec-go/test/armdevopsinfrastructure/fake/zz_subscriptionusages_server.go
  packages/typespec-go/test/armdevopsinfrastructure/go.mod
  packages/typespec-go/test/armdevopsinfrastructure/go.sum
  packages/typespec-go/test/armdevopsinfrastructure/zz_client_factory.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_constants.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_date_type.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_imageversions_client.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_interfaces.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_models.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_models_serde.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_operations_client.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_options.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_polymorphic_helpers.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_pools_client.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_resourcedetails_client.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_responses.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_sku_client.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_subscriptionusages_client.go
  packages/typespec-go/test/tsp/Microsoft.DevOpsInfrastructure/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move resume token doc comment to code model
  packages/autorest.go/src/transform/transform.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/test/armapicenter/zz_options.go
  packages/typespec-go/test/armcodesigning/zz_options.go
  packages/typespec-go/test/armdatabasewatcher/zz_options.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_options.go
  packages/typespec-go/test/armlargeinstance/zz_options.go
  packages/typespec-go/test/armloadtestservice/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_options.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

spell out LRO
  packages/autorest.go/test/autorest/lrogroup/zz_options.go
  packages/autorest.go/test/autorest/paginggroup/zz_options.go
  packages/autorest.go/test/compute/armcompute/zz_options.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_options.go
  packages/autorest.go/test/keyvault/azkeyvault/zz_options.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_options.go
  packages/autorest.go/test/maps/azalias/zz_options.go
  packages/autorest.go/test/network/armnetwork/zz_options.go
  packages/autorest.go/test/synapse/azartifacts/zz_options.go
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/test/armapicenter/zz_options.go
  packages/typespec-go/test/armcodesigning/zz_options.go
  packages/typespec-go/test/armdatabasewatcher/zz_options.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_options.go
  packages/typespec-go/test/armlargeinstance/zz_options.go
  packages/typespec-go/test/armloadtestservice/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_options.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move resume token doc comment to code model (#1355)
  packages/autorest.go/src/transform/transform.ts
  packages/autorest.go/test/autorest/lrogroup/zz_options.go
  packages/autorest.go/test/autorest/paginggroup/zz_options.go
  packages/autorest.go/test/compute/armcompute/zz_options.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_options.go
  packages/autorest.go/test/keyvault/azkeyvault/zz_options.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_options.go
  packages/autorest.go/test/maps/azalias/zz_options.go
  packages/autorest.go/test/network/armnetwork/zz_options.go
  packages/autorest.go/test/synapse/azartifacts/zz_options.go
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/test/armapicenter/zz_options.go
  packages/typespec-go/test/armcodesigning/zz_options.go
  packages/typespec-go/test/armdatabasewatcher/zz_options.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_options.go
  packages/typespec-go/test/armlargeinstance/zz_options.go
  packages/typespec-go/test/armloadtestservice/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_options.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Some fixes for tsp emitter
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armdatabasewatcher/zz_constants.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Some fixes for tsp emitter (#1363)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armdatabasewatcher/zz_constants.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Scan synthesized paged response types
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/armrandom/fake/zz_internal.go
  packages/typespec-go/test/armrandom/fake/zz_server_factory.go
  packages/typespec-go/test/armrandom/fake/zz_someservice_server.go
  packages/typespec-go/test/armrandom/go.mod
  packages/typespec-go/test/armrandom/go.sum
  packages/typespec-go/test/armrandom/zz_client_factory.go
  packages/typespec-go/test/armrandom/zz_constants.go
  packages/typespec-go/test/armrandom/zz_models.go
  packages/typespec-go/test/armrandom/zz_models_serde.go
  packages/typespec-go/test/armrandom/zz_options.go
  packages/typespec-go/test/armrandom/zz_responses.go
  packages/typespec-go/test/armrandom/zz_someservice_client.go
  packages/typespec-go/test/tsp/Random.Management/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Scan synthesized paged response types (#1365)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armrandom/fake/zz_internal.go
  packages/typespec-go/test/armrandom/fake/zz_server_factory.go
  packages/typespec-go/test/armrandom/fake/zz_someservice_server.go
  packages/typespec-go/test/armrandom/go.mod
  packages/typespec-go/test/armrandom/go.sum
  packages/typespec-go/test/armrandom/zz_client_factory.go
  packages/typespec-go/test/armrandom/zz_constants.go
  packages/typespec-go/test/armrandom/zz_models.go
  packages/typespec-go/test/armrandom/zz_models_serde.go
  packages/typespec-go/test/armrandom/zz_options.go
  packages/typespec-go/test/armrandom/zz_responses.go
  packages/typespec-go/test/armrandom/zz_someservice_client.go
  packages/typespec-go/test/tsp/Random.Management/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't use hierarchical client names for ARM
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armcommunitymanagement/fake/zz_communitytrainings_server.go
  packages/typespec-go/test/armcommunitymanagement/fake/zz_date_type.go
  packages/typespec-go/test/armcommunitymanagement/fake/zz_internal.go
  packages/typespec-go/test/armcommunitymanagement/fake/zz_operations_server.go
  packages/typespec-go/test/armcommunitymanagement/fake/zz_server_factory.go
  packages/typespec-go/test/armcommunitymanagement/go.mod
  packages/typespec-go/test/armcommunitymanagement/go.sum
  packages/typespec-go/test/armcommunitymanagement/zz_client_factory.go
  packages/typespec-go/test/armcommunitymanagement/zz_communitytrainings_client.go
  packages/typespec-go/test/armcommunitymanagement/zz_constants.go
  packages/typespec-go/test/armcommunitymanagement/zz_date_type.go
  packages/typespec-go/test/armcommunitymanagement/zz_models.go
  packages/typespec-go/test/armcommunitymanagement/zz_models_serde.go
  packages/typespec-go/test/armcommunitymanagement/zz_operations_client.go
  packages/typespec-go/test/armcommunitymanagement/zz_options.go
  packages/typespec-go/test/armcommunitymanagement/zz_responses.go
  packages/typespec-go/test/tsp/Community.Management/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't use hierarchical client names for ARM (#1366)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armcommunitymanagement/fake/zz_communitytrainings_server.go
  packages/typespec-go/test/armcommunitymanagement/fake/zz_date_type.go
  packages/typespec-go/test/armcommunitymanagement/fake/zz_internal.go
  packages/typespec-go/test/armcommunitymanagement/fake/zz_operations_server.go
  packages/typespec-go/test/armcommunitymanagement/fake/zz_server_factory.go
  packages/typespec-go/test/armcommunitymanagement/go.mod
  packages/typespec-go/test/armcommunitymanagement/go.sum
  packages/typespec-go/test/armcommunitymanagement/zz_client_factory.go
  packages/typespec-go/test/armcommunitymanagement/zz_communitytrainings_client.go
  packages/typespec-go/test/armcommunitymanagement/zz_constants.go
  packages/typespec-go/test/armcommunitymanagement/zz_date_type.go
  packages/typespec-go/test/armcommunitymanagement/zz_models.go
  packages/typespec-go/test/armcommunitymanagement/zz_models_serde.go
  packages/typespec-go/test/armcommunitymanagement/zz_operations_client.go
  packages/typespec-go/test/armcommunitymanagement/zz_options.go
  packages/typespec-go/test/armcommunitymanagement/zz_responses.go
  packages/typespec-go/test/tsp/Community.Management/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp coverage for noendpointgroup
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/fake/zz_notdefined_server.go
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/go.mod
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/go.sum
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/notdefined_client.go
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/notdefined_client_test.go
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/zz_notdefined_client.go
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/zz_options.go
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp coverage for noendpointgroup (#1367)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/fake/zz_notdefined_server.go
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/go.mod
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/go.sum
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/notdefined_client.go
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/notdefined_client_test.go
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/zz_notdefined_client.go
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/zz_options.go
  packages/typespec-go/test/cadlranch/server/endpoint/noendpointgroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep for tsp emitter release
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep for tsp emitter release (#1369)
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp versioning tests
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/fake/zz_madeoptional_server.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/go.mod
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/go.sum
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/madeoptional_client.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/madeoptional_client_test.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/zz_madeoptional_client.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/zz_models.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/zz_options.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/fake/zz_returntypechangedfrom_server.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/go.mod
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/go.sum
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/returntypechangedfrom_client.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/returntypechangedfrom_client_test.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/zz_options.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/zz_returntypechangedfrom_client.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/fake/zz_typechangedfrom_server.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/go.mod
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/go.sum
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/typechangedfrom_client.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/typechangedfrom_client_test.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/zz_models.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/zz_options.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/zz_typechangedfrom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp versioning tests (#1370)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/fake/zz_madeoptional_server.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/go.mod
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/go.sum
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/madeoptional_client.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/madeoptional_client_test.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/zz_madeoptional_client.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/zz_models.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/zz_options.go
  packages/typespec-go/test/cadlranch/versioning/madeoptionalgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/fake/zz_returntypechangedfrom_server.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/go.mod
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/go.sum
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/returntypechangedfrom_client.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/returntypechangedfrom_client_test.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/zz_options.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/versioning/rettypechangedfromgroup/zz_returntypechangedfrom_client.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/fake/zz_typechangedfrom_server.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/go.mod
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/go.sum
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/typechangedfrom_client.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/typechangedfrom_client_test.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/zz_models.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/zz_options.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/zz_typechangedfrom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Split gocodemodel.ts into multiple files
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/gomod.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/imports.ts
  packages/codegen.go/src/interfaces.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/options.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codegen.go/src/responses.ts
  packages/codegen.go/src/time.ts
  packages/codegen.go/src/xmlAdditionalProps.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/codemodel.go/src/index.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
