Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

support group parameters
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_override_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridegroupparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overrideremoveoptionalparameter_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridereorderparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overriderequireoptionalparameter_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_override_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridegroupparameters_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overrideremoveoptionalparameter_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridereorderparameters_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overriderequireoptionalparameter_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test case
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overrideremoveoptionalparameter_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overriderequireoptionalparameter_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove redundant logic
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix eslint issue
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rebase main
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep autorest.go v4.0.0-preview.75 for release
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Prep autorest.go v4.0.0-preview.75 for release (#1763)
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

update comment
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update the tsp toolset
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/encode/durationgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationheader_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationproperty_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationquery_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationheader_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationproperty_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationquery_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_models.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_options.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_responses.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update the tsp toolset (#1764)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/encode/durationgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationheader_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationproperty_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationquery_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationheader_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationproperty_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationquery_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_models.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_options.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_responses.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for nextLinkVerb for pageable operations
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/fake/zz_nextlinkverb_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/nextlinkverb_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/zz_nextlinkverb_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/zz_version.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

resolve comments
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

set release date
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for nextLinkVerb for pageable operations (#1760)
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/fake/zz_nextlinkverb_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/nextlinkverb_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/zz_nextlinkverb_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/nextlinkverbgroup/zz_version.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix etag generation
  packages/codegen.go/src/example.ts
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_privateendpointconnections_client_example_test.go
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/examples/2024-06-30-preview/CloudHsmClusterPrivateEndpointConnection_Get_MaximumSet_Gen.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine log
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add example file for log to help bug triage
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix go lint errors
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

process dupilcated parameter group
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine param group docs
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

reduce duplication logic
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Replace non-null assertions with informative errors in example mapping (#1767)
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix incorrect handling of spread params
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/operations.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azregressions/LICENSE.txt
  packages/typespec-go/test/local/azregressions/fake/zz_internal.go
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/go.mod
  packages/typespec-go/test/local/azregressions/go.sum
  packages/typespec-go/test/local/azregressions/testdata/_metadata.json
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/local/azregressions/zz_version.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add back deletion of files in regeneration script
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine condition
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix condition and add explaining comment
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

delete file on stderr
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix incorrect handling of spread params (#1770)
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/operations.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azregressions/LICENSE.txt
  packages/typespec-go/test/local/azregressions/fake/zz_internal.go
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/go.mod
  packages/typespec-go/test/local/azregressions/go.sum
  packages/typespec-go/test/local/azregressions/testdata/_metadata.json
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/local/azregressions/zz_version.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

migrate to golangci-lint v2
  eng/pipelines/templates/steps/build-test-go.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
  eng/pipelines/templates/variables/globals.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

clean up lint
  packages/autorest.go/test/acr/azacr/authentication_client.go
  packages/autorest.go/test/acr/azacr/containerregistry_client.go
  packages/autorest.go/test/acr/azacr/fake_test.go
  packages/autorest.go/test/autorest/additionalpropsgroup/pets_client.go
  packages/autorest.go/test/autorest/azurereportgroup/custom_client.go
  packages/autorest.go/test/autorest/reportgroup/custom_client.go
  packages/autorest.go/test/compute/armcompute/fakes_test.go
  packages/autorest.go/test/databoxedge/armdataboxedge/fakes_test.go
  packages/autorest.go/test/databoxedge/armdataboxedge/polymorphic_lro_test.go
  packages/autorest.go/test/keyvault/azkeyvault/unixtime_test.go
  packages/autorest.go/test/maps/azalias/models_custom.go
  packages/autorest.go/test/misc/azarrayofrawjson/version.go
  packages/autorest.go/test/storage/azblob/version.go
  packages/autorest.go/test/synapse/azspark/version.go
  packages/autorest.go/test/tables/aztables/version.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

remove more lint
  packages/autorest.go/test/autorest/arraygroup/array_client.go
  packages/autorest.go/test/autorest/formdatagroup/formdata_client.go
  packages/autorest.go/test/autorest/mediatypesgroup/mediatypes_client.go
  packages/autorest.go/test/autorest/optionalgroup/explicit_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/lro_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test regression
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/optionalbody_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
