Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: ../steps/set-env.yaml
  - template: ../steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload CADL Ranch Test Coverage
    inputs:
      azureSubscription: Cadl Ranch Storage
      scriptType: bash
      scriptLocation: inlineScript
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks - go1.21
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks - go1.21
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

Fix paths to pipeline templates (#1315)
  eng/pipelines/cadl-ranch-typespec.yml
  eng/pipelines/publish-dev-release-go.yml
  eng/pipelines/publish-dev-release-typespec.yml
  eng/pipelines/publish-release-gotest.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update dependencies
  .scripts/gogetu.js
  packages/autorest.go/test/autorest/go.mod
  packages/autorest.go/test/autorest/go.sum
  packages/typespec-go/test/cadlranch/type/property/valuetypesgroup/go.mod
  packages/typespec-go/test/cadlranch/type/property/valuetypesgroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update dependencies (#1317)
  .scripts/gogetu.js
  packages/autorest.go/test/autorest/go.mod
  packages/autorest.go/test/autorest/go.sum
  packages/typespec-go/test/cadlranch/type/property/valuetypesgroup/go.mod
  packages/typespec-go/test/cadlranch/type/property/valuetypesgroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest cadl-ranch
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/clientrequestid_client_test.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/custom_client.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/fake/zz_clientrequestid_server.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/go.mod
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/go.sum
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_clientrequestid_client.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_options.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/fake/zz_flatten_server.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/flatten_client_test.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/go.mod
  packages/typespec-go/test/cadlranch/type/model/flattengroup/go.sum
  packages/typespec-go/test/cadlranch/type/model/flattengroup/zz_constants.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/zz_flatten_client.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/zz_options.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest cadl-ranch (#1318)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/clientrequestid_client_test.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/custom_client.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/fake/zz_clientrequestid_server.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/go.mod
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/go.sum
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_clientrequestid_client.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_options.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/fake/zz_flatten_server.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/flatten_client_test.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/go.mod
  packages/typespec-go/test/cadlranch/type/model/flattengroup/go.sum
  packages/typespec-go/test/cadlranch/type/model/flattengroup/zz_constants.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/zz_flatten_client.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/zz_options.go
  packages/typespec-go/test/cadlranch/type/model/flattengroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove workaround
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove workaround (#1320)
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest cadl-ranch-specs
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/fake/zz_xmsclientrequestid_server.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/go.mod
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/go.sum
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/xmsclientrequestid_client.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/xmsclientrequestid_client_test.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/zz_xmsclientrequestid_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix module name
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/xmsclientrequestid_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest cadl-ranch-specs (#1321)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/fake/zz_xmsclientrequestid_server.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/go.mod
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/go.sum
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/xmsclientrequestid_client.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/xmsclientrequestid_client_test.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/special-headers/xmsclientreqidgroup/zz_xmsclientrequestid_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't generate empty clients
  packages/typespec-go/package.json
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't generate empty clients (#1322)
  packages/typespec-go/package.json
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest cadl-ranch-specs and tcgc
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/encode/durationgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/fake/zz_durationheader_server.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/fake/zz_durationproperty_server.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/fake/zz_durationquery_server.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_durationheader_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_durationproperty_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_durationquery_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_models.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest cadl-ranch-specs and tcgc (#1326)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/encode/durationgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/fake/zz_durationheader_server.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/fake/zz_durationproperty_server.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/fake/zz_durationquery_server.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_durationheader_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_durationproperty_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_durationquery_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_models.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add remove-unreferenced-types option to tsp emitter
  packages/autorest.go/README.md
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armapicenter/zz_models_serde.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models_serde.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models_serde.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

consolidate case statements
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add remove-unreferenced-types option to tsp emitter (#1327)
  packages/autorest.go/README.md
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armapicenter/zz_models_serde.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models_serde.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models_serde.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refactor
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

regenerate post rebase
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/zz_spreadalias_client.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/zz_spreadmodel_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

move serializedName check to inner scope
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

use method param description
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_rpc_client.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/zz_spreadmodel_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

consolidate some code
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix grammar
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Omit base model types by default
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armdatabasewatcher/fake/zz_time_rfc3339.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
  packages/typespec-go/test/armdatabasewatcher/zz_time_rfc3339.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

avoid infinite recursion
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/nodiscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/nodiscgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/zz_models_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update dep to support node 18+
  common/config/rush/pnpm-lock.yaml
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove lock
  packages/autorest.gotest/pnpm-lock.yaml
Due: eng/pipelines/ci-gotest.yml

pump version
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

Omit base model types by default (#1337)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armdatabasewatcher/fake/zz_time_rfc3339.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models_serde.go
  packages/typespec-go/test/armdatabasewatcher/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/nodiscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/nodiscgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/zz_models_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Scan additional properties for referenced types
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/fake/zz_deletedservices_server.go
  packages/typespec-go/test/armapicenter/fake/zz_server.go
  packages/typespec-go/test/armapicenter/fake/zz_time_rfc3339.go
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client.go
  packages/typespec-go/test/armapicenter/zz_apis_client.go
  packages/typespec-go/test/armapicenter/zz_apiversions_client.go
  packages/typespec-go/test/armapicenter/zz_client.go
  packages/typespec-go/test/armapicenter/zz_constants.go
  packages/typespec-go/test/armapicenter/zz_deletedservices_client.go
  packages/typespec-go/test/armapicenter/zz_deployments_client.go
  packages/typespec-go/test/armapicenter/zz_environments_client.go
  packages/typespec-go/test/armapicenter/zz_metadataschemas_client.go
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armapicenter/zz_models_serde.go
  packages/typespec-go/test/armapicenter/zz_operations_client.go
  packages/typespec-go/test/armapicenter/zz_options.go
  packages/typespec-go/test/armapicenter/zz_responses.go
  packages/typespec-go/test/armapicenter/zz_services_client.go
  packages/typespec-go/test/armapicenter/zz_time_rfc3339.go
  packages/typespec-go/test/armapicenter/zz_workspaces_client.go
  packages/typespec-go/test/tsp/ApiCenter.Management/Api.tsp
  packages/typespec-go/test/tsp/ApiCenter.Management/ApiDefinition.tsp
  packages/typespec-go/test/tsp/ApiCenter.Management/ApiVersion.tsp
  packages/typespec-go/test/tsp/ApiCenter.Management/DeletedService.tsp
  packages/typespec-go/test/tsp/ApiCenter.Management/Deployment.tsp
  packages/typespec-go/test/tsp/ApiCenter.Management/Environment.tsp
  packages/typespec-go/test/tsp/ApiCenter.Management/MetadataSchema.tsp
  packages/typespec-go/test/tsp/ApiCenter.Management/Service.tsp
  packages/typespec-go/test/tsp/ApiCenter.Management/Workspace.tsp
  packages/typespec-go/test/tsp/ApiCenter.Management/main.tsp
  packages/typespec-go/test/tsp/ApiCenter.Management/models.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/cadlranch
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
