Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-spec, packages/typespec-go/test/azure-http-spec
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

update test case
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_client_factory.go
  packages/typespec-go/test/local/armloadtestservice/zz_client_factory.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestmappings_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestprofilemappings_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_quotas_client_example_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test case
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_client_factory.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix comments
  packages/autorest.go/README.md
  packages/autorest.gotest/README.md
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fix comments
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
Due: eng/pipelines/ci-gotest.yml

fix comments
  packages/autorest.go/README.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Fix job/step naming with go version
  eng/pipelines/ci-go.yml
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci-typespec-nightly.yml
  eng/pipelines/ci-typespec.yml
  eng/pipelines/templates/steps/build-test-go.yaml
  eng/pipelines/templates/steps/build-test-gotest.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Centralize test version definitions and test go latest + previous (#1529)
  eng/pipelines/ci-go.yml
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci-typespec-nightly.yml
  eng/pipelines/ci-typespec.yml
  eng/pipelines/templates/steps/build-test-go.yaml
  eng/pipelines/templates/steps/build-test-gotest.yaml
  eng/pipelines/templates/steps/build-test-typespec.yaml
  eng/pipelines/templates/steps/set-env.yaml
  eng/pipelines/templates/variables/globals.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix tsp
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/watcher.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/encode/bytesgroup/fake/zz_bytesresponsebody_server.go
  packages/typespec-go/test/http-specs/encode/bytesgroup/zz_bytesresponsebody_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix nightly build
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/fake/zz_visibility_server.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/zz_visibility_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/visibility_client_test.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

bump up to typespec@1.0.0
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_page_client.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/zz_models.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/zz_models_serde.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update dependency
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Bump typespec 1.0-rc.0 (#1525)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/azure-http-specs/azure/core/azurepagegroup/zz_page_client.go
  packages/typespec-go/test/http-specs/encode/bytesgroup/fake/zz_bytesresponsebody_server.go
  packages/typespec-go/test/http-specs/encode/bytesgroup/zz_bytesresponsebody_client.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/fake/zz_visibility_server.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/visibility_client_test.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/zz_models.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/zz_visibility_client.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/tsp/DatabaseWatcher.Management/watcher.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  eng/pipelines/cadl-ranch-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  eng/pipelines/cadl-ranch-typespec.yml
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add globals.yaml for cadl-ranch-typespec and release pipeline (#1531)
  eng/pipelines/cadl-ranch-typespec.yml
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

modify changelog
  packages/autorest.go/CHANGELOG.md
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

modify changelog
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
Due: eng/pipelines/ci-gotest.yml

prepare autorest release (#1532)
  packages/autorest.go/CHANGELOG.md
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fix example test
  packages/codegen.go/src/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add changelog
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test for LRO and normal method without method paremeter
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/local/armoracledatabase/fake/zz_internal.go
  packages/typespec-go/test/local/armoracledatabase/fake/zz_operations_server.go
  packages/typespec-go/test/local/armoracledatabase/fake/zz_oraclesubscriptions_server.go
  packages/typespec-go/test/local/armoracledatabase/fake/zz_server_factory.go
  packages/typespec-go/test/local/armoracledatabase/fake/zz_time_rfc3339.go
  packages/typespec-go/test/local/armoracledatabase/go.mod
  packages/typespec-go/test/local/armoracledatabase/zz_client_factory.go
  packages/typespec-go/test/local/armoracledatabase/zz_constants.go
  packages/typespec-go/test/local/armoracledatabase/zz_models.go
  packages/typespec-go/test/local/armoracledatabase/zz_models_serde.go
  packages/typespec-go/test/local/armoracledatabase/zz_operations_client.go
  packages/typespec-go/test/local/armoracledatabase/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armoracledatabase/zz_options.go
  packages/typespec-go/test/local/armoracledatabase/zz_oraclesubscriptions_client.go
  packages/typespec-go/test/local/armoracledatabase/zz_oraclesubscriptions_client_example_test.go
  packages/typespec-go/test/local/armoracledatabase/zz_responses.go
  packages/typespec-go/test/local/armoracledatabase/zz_time_rfc3339.go
  packages/typespec-go/test/tsp/Oracle.Database.Management/client.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/examples/2024-06-01-preview/operations_list.json
  packages/typespec-go/test/tsp/Oracle.Database.Management/examples/2024-06-01-preview/oracleSubscriptions_listCloudAccountDetails.json
  packages/typespec-go/test/tsp/Oracle.Database.Management/examples/2024-06-01-preview/oracleSubscriptions_listSaasSubscriptionDetails.json
  packages/typespec-go/test/tsp/Oracle.Database.Management/main.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/models/common.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/models/oraclesubscription/oracleSubscription.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/operations/commons.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/operations/oraclesubscription/oracleSubscriptionOperations.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/versions.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rush modtidy
  packages/typespec-go/test/local/armoracledatabase/go.mod
  packages/typespec-go/test/local/armoracledatabase/go.sum
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix example test (#1534)
  packages/codegen.go/src/example.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/local/armoracledatabase/fake/zz_internal.go
  packages/typespec-go/test/local/armoracledatabase/fake/zz_operations_server.go
  packages/typespec-go/test/local/armoracledatabase/fake/zz_oraclesubscriptions_server.go
  packages/typespec-go/test/local/armoracledatabase/fake/zz_server_factory.go
  packages/typespec-go/test/local/armoracledatabase/fake/zz_time_rfc3339.go
  packages/typespec-go/test/local/armoracledatabase/go.mod
  packages/typespec-go/test/local/armoracledatabase/go.sum
  packages/typespec-go/test/local/armoracledatabase/zz_client_factory.go
  packages/typespec-go/test/local/armoracledatabase/zz_constants.go
  packages/typespec-go/test/local/armoracledatabase/zz_models.go
  packages/typespec-go/test/local/armoracledatabase/zz_models_serde.go
  packages/typespec-go/test/local/armoracledatabase/zz_operations_client.go
  packages/typespec-go/test/local/armoracledatabase/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armoracledatabase/zz_options.go
  packages/typespec-go/test/local/armoracledatabase/zz_oraclesubscriptions_client.go
  packages/typespec-go/test/local/armoracledatabase/zz_oraclesubscriptions_client_example_test.go
  packages/typespec-go/test/local/armoracledatabase/zz_responses.go
  packages/typespec-go/test/local/armoracledatabase/zz_time_rfc3339.go
  packages/typespec-go/test/tsp/Oracle.Database.Management/client.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/examples/2024-06-01-preview/operations_list.json
  packages/typespec-go/test/tsp/Oracle.Database.Management/examples/2024-06-01-preview/oracleSubscriptions_listCloudAccountDetails.json
  packages/typespec-go/test/tsp/Oracle.Database.Management/examples/2024-06-01-preview/oracleSubscriptions_listSaasSubscriptionDetails.json
  packages/typespec-go/test/tsp/Oracle.Database.Management/main.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/models/common.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/models/oraclesubscription/oracleSubscription.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/operations/commons.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/operations/oraclesubscription/oracleSubscriptionOperations.tsp
  packages/typespec-go/test/tsp/Oracle.Database.Management/versions.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

docs
  docs/development.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

mod tidy
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.mod
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.sum
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.mod
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.sum
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.mod
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.sum
Due: eng/pipelines/ci-gotest.yml

docs (#1536)
  docs/development.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add copilot instructions
  .github/copilot-instructions.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
