Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-spec, packages/typespec-go/test/azure-http-spec
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

update test
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update readme&changelog
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/README.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update readme&changelog
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/README.md
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add @deprecated for generate-examples
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add generate-samples flag (#1509)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/README.md
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine npm
  eng/pipelines/ci-typespec-nightly.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine error
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/error.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/gomod.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/responses.ts
  packages/codegen.go/src/time.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/error.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  eng/pipelines/ci-typespec-nightly.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix eslint error
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

change switch default valur to true
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/README.md
  packages/autorest.go/package.json
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/test/network/armnetwork/zz_client_factory.go
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/README.md
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pipeline
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pipeline
  eng/pipelines/ci-typespec-nightly.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Go nightly build use typespec-bump-deps (#1514)
  eng/pipelines/ci-typespec-nightly.yml
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test generator
  packages/autorest.gotest/src/generator/exampleGenerator.ts
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
Due: eng/pipelines/ci-gotest.yml

gotest support new codegen
  packages/autorest.gotest/README.md
  packages/autorest.gotest/src/common/constant.ts
  packages/autorest.gotest/src/generator/exampleGenerator.ts
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  packages/autorest.gotest/src/template/exampleTest.go.njk
Due: eng/pipelines/ci-gotest.yml

update test generator
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  packages/autorest.gotest/src/template/exampleTest.go.njk
  packages/autorest.gotest/src/template/fakeTest.go.njk
  packages/autorest.gotest/src/template/sampleContent.go.njk
  packages/autorest.gotest/src/template/scenarioContent.go.njk
Due: eng/pipelines/ci-gotest.yml

fix eslint err
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
Due: eng/pipelines/ci-gotest.yml

fix lint error
  packages/autorest.gotest/src/generator/exampleGenerator.ts
Due: eng/pipelines/ci-gotest.yml

update default value
  packages/autorest.gotest/src/generator/exampleGenerator.ts
Due: eng/pipelines/ci-gotest.yml

Fix monomorphic response field name
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arraybooleanvalue_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arraydatetimevalue_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arraydurationvalue_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arrayfloat32value_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arrayint32value_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arrayint64value_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arraymodelvalue_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arraynullablebooleanvalue_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arraynullablefloatvalue_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arraynullableint32value_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arraynullablemodelvalue_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arraynullablestringvalue_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arraystringvalue_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/fake/zz_arrayunknownvalue_server.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arraybooleanvalue_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arraydatetimevalue_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arraydurationvalue_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arrayfloat32value_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arrayint32value_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arrayint64value_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arraymodelvalue_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arraynullablebooleanvalue_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arraynullablefloatvalue_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arraynullableint32value_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arraynullablemodelvalue_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arraynullablestringvalue_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arraystringvalue_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_arrayunknownvalue_client.go
  packages/typespec-go/test/http-specs/type/arraygroup/zz_responses.go
  packages/typespec-go/test/http-specs/type/scalargroup/fake/zz_scalardecimal128verify_server.go
  packages/typespec-go/test/http-specs/type/scalargroup/fake/zz_scalardecimalverify_server.go
  packages/typespec-go/test/http-specs/type/scalargroup/fake/zz_scalarunknown_server.go
  packages/typespec-go/test/http-specs/type/scalargroup/zz_responses.go
  packages/typespec-go/test/http-specs/type/scalargroup/zz_scalardecimal128verify_client.go
  packages/typespec-go/test/http-specs/type/scalargroup/zz_scalardecimalverify_client.go
  packages/typespec-go/test/http-specs/type/scalargroup/zz_scalarunknown_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update tests
  packages/typespec-go/test/http-specs/type/arraygroup/arraygroup_test.go
  packages/typespec-go/test/http-specs/type/scalargroup/decimal128verify_client_test.go
  packages/typespec-go/test/http-specs/type/scalargroup/decimalverify_client_test.go
  packages/typespec-go/test/http-specs/type/scalargroup/unknown_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update release date
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to the latest tcgc
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageableserverdrivenpagination_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageableserverdrivenpaginationcontinuationtoken_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_options.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageableserverdrivenpagination_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageableserverdrivenpaginationcontinuationtoken_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_responses.go
  packages/typespec-go/test/http-specs/serialization/encoded-name/jsongroup/zz_json_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to the latest tcgc (#1519)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageableserverdrivenpagination_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageableserverdrivenpaginationcontinuationtoken_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_options.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageableserverdrivenpagination_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageableserverdrivenpaginationcontinuationtoken_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_responses.go
  packages/typespec-go/test/http-specs/serialization/encoded-name/jsongroup/zz_json_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix eslint error
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

for expected error, report diagnostic
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix error
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rm duplicate error
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/error.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/gomod.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/responses.ts
  packages/codegen.go/src/time.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix error
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refactor DiagnosticError
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/errors.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/gomod.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/responses.ts
  packages/codegen.go/src/time.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/error.ts
  packages/codemodel.go/src/errors.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/errors.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fall back to NoTarget if __raw.node is undefined
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add missing EOL
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add changelog entry
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade emitter version
  eng/pipelines/ci-gotest.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

reword sentence
  packages/codegen.go/src/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
