Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

auth tests
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/go.mod
  packages/typespec-go/test/http-specs/authentication/apikeygroup/go.sum
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/go.mod
  packages/typespec-go/test/http-specs/authentication/http/customgroup/go.sum
  packages/typespec-go/test/http-specs/authentication/oauth2group/go.mod
  packages/typespec-go/test/http-specs/authentication/oauth2group/go.sum
  packages/typespec-go/test/http-specs/authentication/oauth2group/oauth2_client.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/oauth2_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/go.mod
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/go.sum
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/union_client.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/union_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

mod tidy
  packages/typespec-go/test/http-specs/authentication/apikeygroup/go.mod
  packages/typespec-go/test/http-specs/authentication/apikeygroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade @autorest/gotest
  packages/autorest.gotest/package.json
  packages/autorest.gotest/src/common/constant.ts
  packages/autorest.gotest/src/common/helpers.ts
  packages/autorest.gotest/src/common/model.ts
  packages/autorest.gotest/src/generator/exampleGenerator.ts
  packages/autorest.gotest/src/generator/generateContext.ts
  packages/autorest.gotest/src/generator/goLinter.ts
  packages/autorest.gotest/src/generator/goTester.ts
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  packages/autorest.gotest/test/unittest/generator/testGoTester.ts
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rename variable
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/utils_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

charles feedback
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/oauth2_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/union_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

charles feedback 2
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/oauth2_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/union_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

charles the third
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add Client namespace test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/clientnamespacefirst_client_test.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/clientnamespacesecond_client_test.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/fake/zz_clientnamespace_server.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/fake/zz_clientnamespacefirst_server.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/fake/zz_clientnamespacesecond_server.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/go.mod
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/go.sum
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_clientnamespace_client.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_clientnamespacefirst_client.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_clientnamespacesecond_client.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add Client namespace test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/client/clientnamespacegroup/clientnamespacefirst_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update package.json
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

remove obsolete snapshots
  packages/autorest.gotest/test/unittest/generator/__snapshots__/testGoTester.ts.snap
Due: eng/pipelines/ci-gotest.yml

thanks!
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/oauth2_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

docs
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor code model type names
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/interfaces.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/options.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codegen.go/src/responses.ts
  packages/codegen.go/src/time.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
Due: eng/pipelines/ci-gotest.yml

update changelog
  packages/autorest.gotest/CHANGELOG.json
Due: eng/pipelines/ci-gotest.yml

Refactor code model type names (#1615)
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/interfaces.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/options.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codegen.go/src/responses.ts
  packages/codegen.go/src/time.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove string from Scalar and into its own type
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove string from Scalar and into its own type (#1616)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove any from Scalar and into its own type
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/models.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove any from Scalar and into its own type (#1617)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/models.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Make raw JSON its own type
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix sort ordering and comment
  packages/codemodel.go/src/type.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

more sorting
  packages/codemodel.go/src/type.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Make raw JSON its own type (#1618)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor code model types
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/imports.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/options.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codegen.go/src/time.ts
  packages/codegen.go/src/xmlAdditionalProps.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor code model types (#1619)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/imports.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/options.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codegen.go/src/time.ts
  packages/codegen.go/src/xmlAdditionalProps.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/encode/bytesgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/visibility_client_test.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/error_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/modelinoperation_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreusagegroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/error_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_optionalbody_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/fake/zz_server_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_optionalbody_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/zz_responses.go
  packages/typespec-go/test/http-specs/encode/bytesgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/type/model/visibilitygroup/visibility_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add some codegen helpers
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/helpers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add some codegen helpers (#1625)
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/helpers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update dependencies
  packages/autorest.go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update dependencies (#1626)
  packages/autorest.go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
