Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

Simplify ModelDef (#1800)
  packages/codegen.go/src/core/models.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp support for pageable LROs
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armpageablelros/LICENSE.txt
  packages/typespec-go/test/local/armpageablelros/fake/zz_internal.go
  packages/typespec-go/test/local/armpageablelros/fake/zz_server.go
  packages/typespec-go/test/local/armpageablelros/fake/zz_server_factory.go
  packages/typespec-go/test/local/armpageablelros/go.mod
  packages/typespec-go/test/local/armpageablelros/go.sum
  packages/typespec-go/test/local/armpageablelros/testdata/_metadata.json
  packages/typespec-go/test/local/armpageablelros/zz_client.go
  packages/typespec-go/test/local/armpageablelros/zz_client_factory.go
  packages/typespec-go/test/local/armpageablelros/zz_models.go
  packages/typespec-go/test/local/armpageablelros/zz_models_serde.go
  packages/typespec-go/test/local/armpageablelros/zz_options.go
  packages/typespec-go/test/local/armpageablelros/zz_responses.go
  packages/typespec-go/test/local/armpageablelros/zz_version.go
  packages/typespec-go/test/tsp/PageableLROs/main.tsp
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tsp support for pageable LROs (#1801)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armpageablelros/LICENSE.txt
  packages/typespec-go/test/local/armpageablelros/fake/zz_internal.go
  packages/typespec-go/test/local/armpageablelros/fake/zz_server.go
  packages/typespec-go/test/local/armpageablelros/fake/zz_server_factory.go
  packages/typespec-go/test/local/armpageablelros/go.mod
  packages/typespec-go/test/local/armpageablelros/go.sum
  packages/typespec-go/test/local/armpageablelros/testdata/_metadata.json
  packages/typespec-go/test/local/armpageablelros/zz_client.go
  packages/typespec-go/test/local/armpageablelros/zz_client_factory.go
  packages/typespec-go/test/local/armpageablelros/zz_models.go
  packages/typespec-go/test/local/armpageablelros/zz_models_serde.go
  packages/typespec-go/test/local/armpageablelros/zz_options.go
  packages/typespec-go/test/local/armpageablelros/zz_responses.go
  packages/typespec-go/test/local/armpageablelros/zz_version.go
  packages/typespec-go/test/tsp/PageableLROs/main.tsp
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Include source package for code model types
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/core/clientFactory.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/imports.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/core/time.ts
  packages/codegen.go/src/core/xmlAdditionalProps.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/module.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

spelling
  packages/codegen.go/src/fake/servers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

extract helper function
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Include source package for code model types (#1802)
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/core/clientFactory.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/imports.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/core/time.ts
  packages/codegen.go/src/core/xmlAdditionalProps.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/module.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Filter LRO polling headers from example generation (#1797)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armtest/fake/zz_internal.go
  packages/typespec-go/test/local/armtest/fake/zz_lro_server.go
  packages/typespec-go/test/local/armtest/fake/zz_server_factory.go
  packages/typespec-go/test/local/armtest/zz_client_factory.go
  packages/typespec-go/test/local/armtest/zz_lro_client.go
  packages/typespec-go/test/local/armtest/zz_lro_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/tsp/Test.Management/LRO.tsp
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/LRO_okresponse_with_async_header.json
  packages/typespec-go/test/tsp/Test.Management/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog (#1803)
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add code
  packages/typespec-go/test/tsp/web2/Web.Management/StaticSiteARMResource.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/models.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Some imports cleanup
  packages/codegen.go/src/core/imports.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Some imports cleanup (#1805)
  packages/codegen.go/src/core/imports.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for client accessor parameters
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/client.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_headerparam_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_mixedparams_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_multipleparams_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_paramalias_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_parent_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_parentchild_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_pathparam_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/headerparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/mixedparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/multipleparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/paramalias_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/parentchild_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/pathparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_headerparam_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_mixedparams_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_multipleparams_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_paramalias_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_parent_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_parentchild_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_pathparam_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_time_rfc3339.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

test lint
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/parentchild_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/pathparam_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for client accessor parameters (#1807)
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/client.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_headerparam_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_mixedparams_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_multipleparams_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_paramalias_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_parent_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_parentchild_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_pathparam_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/headerparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/mixedparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/multipleparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/paramalias_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/parentchild_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/pathparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_headerparam_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_mixedparams_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_multipleparams_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_paramalias_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_parent_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_parentchild_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_pathparam_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_time_rfc3339.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add config to mitigate breaking changes
  packages/typespec-go/test/tsp/web/Web.Management/FunctionEnvelope.tsp
  packages/typespec-go/test/tsp/web2/Combine.Management/back-compatible.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/MSDeployStatus.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/Site.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/back-compatible.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add config to mitigate breaking changes
  packages/typespec-go/test/tsp/web2/Combine.Management/back-compatible.tsp
  packages/typespec-go/test/tsp/web2/Web.Management/back-compatible.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Upgrade TCGC to support multiple services
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/disk_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/fake/zz_disks_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/fake/zz_server_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/fake/zz_virtualmachines_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/utils_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/virtual_machine_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/zz_disks_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/zz_time_rfc3339.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/zz_version.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/zz_virtualmachines_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/combined_client_test.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/fake/zz_combined_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/fake/zz_combinedbar_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/fake/zz_combinedfoo_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/go.mod
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/go.sum
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/zz_combined_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/zz_combinedbar_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/zz_combinedfoo_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/zz_version.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Apply suggestion from @Copilot
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/combined_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't force streaming bodies to be required
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/src/transform/namer.ts
  packages/autorest.go/test/acr/azacr/fake/zz_containerregistryblob_server.go
  packages/autorest.go/test/acr/azacr/zz_containerregistryblob_client.go
  packages/autorest.go/test/acr/azacr/zz_options.go
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

time move
  packages/autorest.go/src/transform/transform.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/time.ts
  packages/codegen.go/src/emitter.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update tests
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultipleservicegroup/utils_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/utils_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/largeheadergroup/utils_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/utils_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/utils_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/utils_test.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicegroup/combined_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/utils_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add clientname config
  packages/typespec-go/test/tsp/web2/Combine.Management/client.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add clientname code
  packages/typespec-go/test/tsp/web2/Combine.Management/client.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add code
  packages/typespec-go/test/local/armappservice/fake/zz_certificates_server.go
  packages/typespec-go/test/local/armappservice/fake/zz_sitecertificates_server.go
  packages/typespec-go/test/local/armappservice/zz_certificates_client.go
  packages/typespec-go/test/local/armappservice/zz_constants.go
  packages/typespec-go/test/local/armappservice/zz_models.go
  packages/typespec-go/test/local/armappservice/zz_models_serde.go
  packages/typespec-go/test/local/armappservice/zz_responses.go
  packages/typespec-go/test/local/armappservice/zz_sitecertificates_client.go
  packages/typespec-go/test/tsp/web2/Combine.Management/client.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
