Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

make shallow copy of options param
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageableserverdrivenpaginationcontinuationtoken_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageablexmlpagination_client.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_service_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add missing tests
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpaginationalternateinitialverb_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageablexmlpagination_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix codegen for continuation tokens (#1928)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/test/maps/azalias/zz_client.go
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/client.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageable_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpaginationalternateinitialverb_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpaginationcontinuationtoken_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageablexmlpagination_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageableserverdrivenpaginationcontinuationtoken_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageablexmlpagination_client.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_service_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add Spector coverage for multipe-services group
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_servicea_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_serviceaoperations_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_serviceasubnamespace_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_serviceb_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_serviceboperations_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_servicebsubnamespace_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fakes_test.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/go.mod
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/go.sum
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/multipleservices_client_test.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_servicea_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_serviceaoperations_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_serviceasubnamespace_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_serviceb_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_serviceboperations_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_servicebsubnamespace_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_version.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/combined_client_test.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/fake/zz_combined_server.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/fake/zz_combinedbar_server.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/fake/zz_combinedfoo_server.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/go.mod
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/go.sum
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/zz_combined_client.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/zz_combinedbar_client.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/zz_combinedfoo_client.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add Spector coverage for multipe-services group (#1930)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_servicea_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_serviceaoperations_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_serviceasubnamespace_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_serviceb_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_serviceboperations_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fake/zz_servicebsubnamespace_server.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/fakes_test.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/go.mod
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/go.sum
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/multipleservices_client_test.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_servicea_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_serviceaoperations_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_serviceasubnamespace_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_serviceb_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_serviceboperations_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_servicebsubnamespace_client.go
  packages/typespec-go/test/azure-http-specs/service/multipleservicesgroup/zz_version.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/combined_client_test.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/fake/zz_combined_server.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/fake/zz_combinedbar_server.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/fake/zz_combinedfoo_server.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/go.mod
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/go.sum
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/zz_combined_client.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/zz_combinedbar_client.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/zz_combinedfoo_client.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/service/multiservicegroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor `Azure.autorest.go`, `Azure.autorest.go - typespec - ci`, `Azure.autorest.gotest` into `autorest.go - pullrequest` (#1926)
  eng/pipelines/ci-go.yml
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci-typespec.yml
  eng/pipelines/scripts/detect-changes.ps1
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for decorator @deserializeEmptyStringAsNull
  packages/codegen.go/src/core/models.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/deserializeemptystringasnull_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/fake/zz_deserializeemptystringasnull_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/zz_deserializeemptystringasnull_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine
  packages/codegen.go/src/core/models.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for decorator @deserializeEmptyStringAsNull (#1931)
  packages/codegen.go/src/core/models.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/deserializeemptystringasnull_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/fake/zz_deserializeemptystringasnull_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/zz_deserializeemptystringasnull_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/emptystringgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix handling of clientDefaultValue
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/clientdefaultvalue_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/fake/zz_clientdefaultvalue_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/zz_clientdefaultvalue_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix literal and client params and regenerate
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/test/local/armcomputeschedule/zz_models_serde.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix non-string path params
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/test/local/azregressions/fake/zz_internal.go
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_constants.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix model properties
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prettier
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep autorest.go preview.77 for release
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Prep autorest.go preview.77 for release (#1934)
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

small change to use a lil semver on the fly
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

overcomplicating it. KISS
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix broken release of a preview package version to `npmjs` (#1935)
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add doc comment for default value IFF there are no doc comments
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_options.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix handling of clientDefaultValue (#1932)
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/clientdefaultvalue_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/fake/zz_clientdefaultvalue_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/zz_clientdefaultvalue_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/defaultvaluegroup/zz_version.go
  packages/typespec-go/test/local/armcomputeschedule/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_constants.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove iso acronym override from typespec-go emitter (#1936)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/test/http-specs/encode/durationgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationheader_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationproperty_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/fake/zz_durationquery_server.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationheader_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationproperty_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_durationquery_client.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_options.go
  packages/typespec-go/test/http-specs/encode/durationgroup/zz_responses.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix regression for local vars case
  packages/codegen.go/src/fake/servers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix incorrect error type
  packages/codegen.go/src/core/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

consolidate duplicate code
  packages/codegen.go/src/core/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove lint
  packages/typespec-go/test/http-specs/payload/multipartgroup/fakes_test.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/formdata_client_test.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/formdatafile_client_test.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/formdatahttpparts_client_test.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/formdatahttppartscontenttype_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Include all child clients in fake server dispatch
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/fake/zz_service_server.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/fake/zz_multipart_server.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/fake/zz_multipartformdata_server.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/fakes_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageable_server.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine
  packages/codegen.go/src/fake/servers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add missing Spector scenarios
  packages/typespec-go/test/http-specs/payload/multipartgroup/formdata_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Include all child clients in fake server dispatch (#1939)
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/fake/zz_service_server.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/fake/zz_multipart_server.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/fake/zz_multipartformdata_server.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/fakes_test.go
  packages/typespec-go/test/http-specs/payload/multipartgroup/formdata_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageable_server.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refine modeling of body param content types
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/emitter.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/armbillingbenefits/zz_polymorphic_helpers.go
  packages/typespec-go/test/local/armcognitiveservices/zz_polymorphic_helpers.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_polymorphic_helpers.go
  packages/typespec-go/test/local/armdevopsinfrastructure/zz_polymorphic_helpers.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prettier
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refine modeling of body param content types (#1940)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/emitter.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/armbillingbenefits/zz_polymorphic_helpers.go
  packages/typespec-go/test/local/armcognitiveservices/zz_polymorphic_helpers.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_polymorphic_helpers.go
  packages/typespec-go/test/local/armdevopsinfrastructure/zz_polymorphic_helpers.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

consolidate some duplicate code after rebasing
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine comment
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Allow non-member client default values for extensible enums (#1942)
  packages/codegen.go/src/core/helpers.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/azregressions/zz_constants.go
  packages/typespec-go/test/local/azregressions/zz_models.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
