Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
      azureSubscription: TypeSpec Storage
      scriptType: bash
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks - go1.21
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks - go1.21
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

go mod tidy
  packages/typespec-go/test/local/armtest/go.mod
  packages/typespec-go/test/local/armtest/go.sum
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

changelog
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add special handling for `@bodyRoot`/`@body` on model param's property (#1495)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armtest/fake/zz_bodyroots_server.go
  packages/typespec-go/test/local/armtest/fake/zz_internal.go
  packages/typespec-go/test/local/armtest/fake/zz_server_factory.go
  packages/typespec-go/test/local/armtest/fake/zz_time_rfc3339.go
  packages/typespec-go/test/local/armtest/go.mod
  packages/typespec-go/test/local/armtest/go.sum
  packages/typespec-go/test/local/armtest/zz_bodyroots_client.go
  packages/typespec-go/test/local/armtest/zz_client_factory.go
  packages/typespec-go/test/local/armtest/zz_constants.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/local/armtest/zz_time_rfc3339.go
  packages/typespec-go/test/tsp/Test.Management/BodyRoot.tsp
  packages/typespec-go/test/tsp/Test.Management/main.tsp
  packages/typespec-go/test/tsp/Test.Management/models.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine factory CTOR logic
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/helpers.ts
  packages/codemodel.go/src/package.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add factory-gather-all-params option
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

generate test cases
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/test/compute/armcompute/zz_client_factory.go
  packages/autorest.go/test/consumption/armconsumption/zz_client_factory.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_client_factory.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_client_factory.go
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_client_factory.go
  packages/typespec-go/test/local/armapicenter/zz_client_factory.go
  packages/typespec-go/test/local/armcodesigning/zz_client_factory.go
  packages/typespec-go/test/local/armcommunitymanagement/zz_client_factory.go
  packages/typespec-go/test/local/armdatabasewatcher/zz_client_factory.go
  packages/typespec-go/test/local/armdevopsinfrastructure/zz_client_factory.go
  packages/typespec-go/test/local/armlargeinstance/zz_client_factory.go
  packages/typespec-go/test/local/armloadtestservice/zz_client_factory.go
  packages/typespec-go/test/local/armmongocluster/zz_client_factory.go
  packages/typespec-go/test/local/armtest/zz_client_factory.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine option ctor
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test errors
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/src/generator/generator.ts
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test errors
  packages/autorest.go/test/compute/armcompute/zz_client_factory.go
  packages/autorest.go/test/consumption/armconsumption/zz_client_factory.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_client_factory.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_client_factory.go
  packages/typespec-go/test/local/armapicenter/zz_client_factory.go
  packages/typespec-go/test/local/armcodesigning/zz_client_factory.go
  packages/typespec-go/test/local/armcommunitymanagement/zz_client_factory.go
  packages/typespec-go/test/local/armdatabasewatcher/zz_client_factory.go
  packages/typespec-go/test/local/armdevopsinfrastructure/zz_client_factory.go
  packages/typespec-go/test/local/armlargeinstance/zz_client_factory.go
  packages/typespec-go/test/local/armloadtestservice/zz_client_factory.go
  packages/typespec-go/test/local/armmongocluster/zz_client_factory.go
  packages/typespec-go/test/local/armtest/zz_client_factory.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade to typespec 0.65 and typespec-azure 0.51
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

handle deprecations
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

generate test cases
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/test/consumption/armconsumption/zz_client_factory.go
  packages/autorest.go/test/network/armnetwork/zz_client_factory.go
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/helpers.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_client_factory.go
  packages/typespec-go/test/local/armapicenter/zz_apidefinitions_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_apis_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_apiversions_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_client_factory.go
  packages/typespec-go/test/local/armapicenter/zz_deletedservices_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_deployments_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_environments_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_metadataschemas_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_services_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_workspaces_client_example_test.go
  packages/typespec-go/test/local/armcodesigning/zz_accounts_client_example_test.go
  packages/typespec-go/test/local/armcodesigning/zz_certificateprofiles_client_example_test.go
  packages/typespec-go/test/local/armcodesigning/zz_client_factory.go
  packages/typespec-go/test/local/armcodesigning/zz_operations_client_example_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test errors
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/locationresources_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/nested_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/singleton_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/toplevel_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/utils_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

handle deprecations
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix pipeline error
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

seprate serializationOptions logic & combine resultSegments
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add some comments && refine seperation logic
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix pipeline errors
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

special case for operationsClient
  packages/autorest.go/.scripts/regeneration.js
  packages/codegen.go/src/helpers.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/local/armapicenter/zz_apidefinitions_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_apis_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_apiversions_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_client_factory.go
  packages/typespec-go/test/local/armapicenter/zz_deletedservices_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_deployments_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_environments_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_metadataschemas_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_services_client_example_test.go
  packages/typespec-go/test/local/armapicenter/zz_workspaces_client_example_test.go
  packages/typespec-go/test/local/armcodesigning/zz_accounts_client_example_test.go
  packages/typespec-go/test/local/armcodesigning/zz_certificateprofiles_client_example_test.go
  packages/typespec-go/test/local/armcodesigning/zz_client_factory.go
  packages/typespec-go/test/local/armcodesigning/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_client_factory.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestmappings_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestprofilemappings_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_quotas_client_example_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test cases
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/test/consumption/armconsumption/zz_client_factory.go
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/local/armloadtestservice/zz_client_factory.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestmappings_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtestprofilemappings_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armloadtestservice/zz_quotas_client_example_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't export pager constructors for internal methods
  packages/codegen.go/src/operations.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/local/internalpager/fake/zz_internal.go
  packages/typespec-go/test/local/internalpager/fake/zz_pager_server.go
  packages/typespec-go/test/local/internalpager/go.mod
  packages/typespec-go/test/local/internalpager/go.sum
  packages/typespec-go/test/local/internalpager/zz_models.go
  packages/typespec-go/test/local/internalpager/zz_models_serde.go
  packages/typespec-go/test/local/internalpager/zz_options.go
  packages/typespec-go/test/local/internalpager/zz_pager_client.go
  packages/typespec-go/test/local/internalpager/zz_pagerwidgets_client.go
  packages/typespec-go/test/local/internalpager/zz_responses.go
  packages/typespec-go/test/tsp/Internal.Pager/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

don't generate fakes for test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/local/internalpager/fake/zz_internal.go
  packages/typespec-go/test/local/internalpager/fake/zz_pager_server.go
  packages/typespec-go/test/local/internalpager/zz_pagerwidgets_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't export pager constructors for internal methods (#1499)
  packages/codegen.go/src/operations.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/local/internalpager/go.mod
  packages/typespec-go/test/local/internalpager/go.sum
  packages/typespec-go/test/local/internalpager/zz_models.go
  packages/typespec-go/test/local/internalpager/zz_models_serde.go
  packages/typespec-go/test/local/internalpager/zz_options.go
  packages/typespec-go/test/local/internalpager/zz_pager_client.go
  packages/typespec-go/test/local/internalpager/zz_pagerwidgets_client.go
  packages/typespec-go/test/local/internalpager/zz_responses.go
  packages/typespec-go/test/tsp/Internal.Pager/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

deprecate SdkClientAccessor
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update comments
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade to typespec 0.65 and typespec-azure 0.51 (#1497)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog and prep for release
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

report TCGC diagnostics
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix internalpager test case
  packages/typespec-go/test/local/internalpager/zz_models.go
  packages/typespec-go/test/local/internalpager/zz_models_serde.go
  packages/typespec-go/test/local/internalpager/zz_pagerwidgets_client.go
  packages/typespec-go/test/local/internalpager/zz_responses.go
  packages/typespec-go/test/tsp/Internal.Pager/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine model filtering logic
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

regenerate with changes
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_models_serde.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine model filtering logic
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/commonpropsgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/zz_models_serde.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refine model filtering logic (#1498)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-spec, packages/typespec-go/test/azure-http-spec
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
