Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

Clean up Spector authentication tests
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/zz_custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add skills
  .github/skills/typespec-go-add-spector-test/SKILL.md
  .github/skills/typespec-go-bump-and-release/SKILL.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix tspcompile
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

revert
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Clean up Spector authentication tests (#1867)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/zz_custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

address comments
  .github/skills/typespec-go-add-spector-test/SKILL.md
  .github/skills/typespec-go-bump-and-release/SKILL.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add routine work skills (#1868)
  .github/skills/typespec-go-add-spector-test/SKILL.md
  .github/skills/typespec-go-bump-and-release/SKILL.md
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

don't fail on stderr when regenerating
  eng/pipelines/templates/steps/build-test-go.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pin pnpm version for autorest.go
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

fix client parameter bug
  packages/codegen.go/src/core/operations.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/client-initialization/clientinitindividuallyparentgroup/zz_individuallyparent_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Do not generate header for LRO response
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armcognitiveservices/zz_responses.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fixed incorrect inclusion of response headers in the response envelope for LROs
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update comment
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

resolve comments
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

x-ms-meta support
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azblob/testdata/_metadata.json
  packages/typespec-go/test/local/azblob/zz_appendblob_client.go
  packages/typespec-go/test/local/azblob/zz_blockblob_client.go
  packages/typespec-go/test/local/azblob/zz_client.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_options.go
  packages/typespec-go/test/local/azblob/zz_pageblob_client.go
  packages/typespec-go/test/local/azblob/zz_responses.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/models.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/routes.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/test/local/azblob/zz_appendblob_client.go
  packages/typespec-go/test/local/azblob/zz_blockblob_client.go
  packages/typespec-go/test/local/azblob/zz_client.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_pageblob_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

client
  packages/typespec-go/test/local/azblob/client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

joel feedback
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azblob/zz_appendblob_client.go
  packages/typespec-go/test/local/azblob/zz_blockblob_client.go
  packages/typespec-go/test/local/azblob/zz_client.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_pageblob_client.go
  packages/typespec-go/test/local/azblob/zz_service_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

wip
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azblob/LICENSE.txt
  packages/typespec-go/test/local/azblob/go.mod
  packages/typespec-go/test/local/azblob/go.sum
  packages/typespec-go/test/local/azblob/testdata/_metadata.json
  packages/typespec-go/test/local/azblob/zz_appendblob_client.go
  packages/typespec-go/test/local/azblob/zz_blockblob_client.go
  packages/typespec-go/test/local/azblob/zz_client.go
  packages/typespec-go/test/local/azblob/zz_constants.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_models.go
  packages/typespec-go/test/local/azblob/zz_models_serde.go
  packages/typespec-go/test/local/azblob/zz_options.go
  packages/typespec-go/test/local/azblob/zz_pageblob_client.go
  packages/typespec-go/test/local/azblob/zz_responses.go
  packages/typespec-go/test/local/azblob/zz_service_client.go
  packages/typespec-go/test/local/azblob/zz_version.go
  packages/typespec-go/test/local/azblob/zz_xml_helper.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/client.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/main.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/models.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/routes.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

changelog
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

regenerate
  packages/typespec-go/test/local/azblob/zz_client.go
  packages/typespec-go/test/local/azblob/zz_responses.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

joel feedback
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

`x-ms-meta` header support (#1873)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azblob/LICENSE.txt
  packages/typespec-go/test/local/azblob/client.go
  packages/typespec-go/test/local/azblob/go.mod
  packages/typespec-go/test/local/azblob/go.sum
  packages/typespec-go/test/local/azblob/testdata/_metadata.json
  packages/typespec-go/test/local/azblob/zz_appendblob_client.go
  packages/typespec-go/test/local/azblob/zz_blockblob_client.go
  packages/typespec-go/test/local/azblob/zz_client.go
  packages/typespec-go/test/local/azblob/zz_constants.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_models.go
  packages/typespec-go/test/local/azblob/zz_models_serde.go
  packages/typespec-go/test/local/azblob/zz_options.go
  packages/typespec-go/test/local/azblob/zz_pageblob_client.go
  packages/typespec-go/test/local/azblob/zz_responses.go
  packages/typespec-go/test/local/azblob/zz_service_client.go
  packages/typespec-go/test/local/azblob/zz_version.go
  packages/typespec-go/test/local/azblob/zz_xml_helper.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/client.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/main.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/models.tsp
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/routes.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

merge main
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fixed incorrect inclusion of response headers in the response envelope for LROs (#1878)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armcognitiveservices/zz_responses.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add Spector test for azure/resource-manager/multi-service-shared-models (#1880)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/fake/zz_server_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/fake/zz_storageaccounts_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/fake/zz_virtualmachines_server.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/storage_accounts_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/utils_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/virtual_machines_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/zz_client_factory.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/zz_constants.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/zz_storageaccounts_client.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/zz_version.go
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/armmultisharedmodelsgroup/zz_virtualmachines_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Enable previously skipped encode/duration tests (#1881)
  packages/typespec-go/test/http-specs/encode/durationgroup/custom_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add Spector tests for parameters/query (#1882)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/parameters/querygroup/LICENSE.txt
  packages/typespec-go/test/http-specs/parameters/querygroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/parameters/querygroup/fake/zz_query_server.go
  packages/typespec-go/test/http-specs/parameters/querygroup/fake/zz_queryconstant_server.go
  packages/typespec-go/test/http-specs/parameters/querygroup/go.mod
  packages/typespec-go/test/http-specs/parameters/querygroup/go.sum
  packages/typespec-go/test/http-specs/parameters/querygroup/queryconstant_client_test.go
  packages/typespec-go/test/http-specs/parameters/querygroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/parameters/querygroup/zz_options.go
  packages/typespec-go/test/http-specs/parameters/querygroup/zz_query_client.go
  packages/typespec-go/test/http-specs/parameters/querygroup/zz_queryconstant_client.go
  packages/typespec-go/test/http-specs/parameters/querygroup/zz_responses.go
  packages/typespec-go/test/http-specs/parameters/querygroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Apply suggestions from code review
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/lro_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlxmlerrorvalue_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add XmlErrorValue spector test for payload/xml (#1884)
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/lro_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlxmlerrorvalue_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix nightly build
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fake/zz_naming_server.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fake/zz_namingheader_server.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fake/zz_namingproperty_server.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fakes_test.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/naming_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_namingheader_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_namingproperty_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_service_client.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix nightly build (#1887)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fake/zz_naming_server.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fake/zz_namingheader_server.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fake/zz_namingproperty_server.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fakes_test.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/naming_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_namingheader_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_namingproperty_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_service_client.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
