Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
      azureSubscription: TypeSpec Storage
      scriptType: bash
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

more joel feedback
  docs/development.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade tsp 1.0.0
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Bump typespec 1.0 release (#1543)
  eng/pipelines/templates/steps/build-test-typespec.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/local/armapicenter/zz_models.go
  packages/typespec-go/test/local/armcodesigning/zz_models.go
  packages/typespec-go/test/local/armcommunitymanagement/zz_models.go
  packages/typespec-go/test/local/armcontainerorchestratorruntime/zz_models.go
  packages/typespec-go/test/local/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/local/armdevopsinfrastructure/zz_models.go
  packages/typespec-go/test/local/armlargeinstance/zz_models.go
  packages/typespec-go/test/local/armloadtestservice/zz_models.go
  packages/typespec-go/test/local/armmongocluster/zz_constants.go
  packages/typespec-go/test/local/armmongocluster/zz_models.go
  packages/typespec-go/test/local/armoracledatabase/zz_models.go
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix release pipeline
  eng/pipelines/templates/steps/publish-release.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade tcgc
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix release pipeline (#1553)
  eng/pipelines/templates/steps/publish-release.yaml
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix release pipeline
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix release pipeline (#1554)
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

skip_github_release
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

ignore checks
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pnpm publish ignore git checks
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

pnpm publish ignore git checks (#1555)
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Check array length as it will never be undefined
  .scripts/buildvet.js
  .scripts/gogetu.js
  .scripts/gotest.js
  .scripts/modtidy.js
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Check array length as it will never be undefined (#1556)
  .scripts/buildvet.js
  .scripts/gogetu.js
  .scripts/gotest.js
  .scripts/modtidy.js
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/http-specs/authentication/oauth2group/custom_client.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/go.mod
  packages/typespec-go/test/http-specs/authentication/oauth2group/zz_oauth2_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/go.mod
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/go.sum
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/zz_union_client_test.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/custom_client.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/go.mod
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/go.sum
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_statuscoderange_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/http-specs/authentication/oauth2group/zz_oauth2_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Dependabot updates tsp for typespec-go
  .github/dependabot.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix example generate
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armhealthbot/fake/zz_healthbots_server.go
  packages/typespec-go/test/local/armhealthbot/fake/zz_internal.go
  packages/typespec-go/test/local/armhealthbot/fake/zz_operations_server.go
  packages/typespec-go/test/local/armhealthbot/fake/zz_server_factory.go
  packages/typespec-go/test/local/armhealthbot/go.mod
  packages/typespec-go/test/local/armhealthbot/zz_client_factory.go
  packages/typespec-go/test/local/armhealthbot/zz_constants.go
  packages/typespec-go/test/local/armhealthbot/zz_healthbots_client.go
  packages/typespec-go/test/local/armhealthbot/zz_healthbots_client_example_test.go
  packages/typespec-go/test/local/armhealthbot/zz_models.go
  packages/typespec-go/test/local/armhealthbot/zz_models_serde.go
  packages/typespec-go/test/local/armhealthbot/zz_operations_client.go
  packages/typespec-go/test/local/armhealthbot/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armhealthbot/zz_options.go
  packages/typespec-go/test/local/armhealthbot/zz_responses.go
  packages/typespec-go/test/local/armhealthbot/zz_time_rfc3339.go
  packages/typespec-go/test/tsp/Healthbot.Management/HealthBot.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/back-compatible.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/GetOperations.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ListBotsByResourceGroup.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ListBotsBySubscription.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ListSecrets.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/RegenerateApiJwtSecret.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ResourceCreationPut.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ResourceDeletionDelete.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ResourceInfoGet.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ResourceUpdatePatch.json
  packages/typespec-go/test/tsp/Healthbot.Management/main.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/models.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/codegen.go/src/example.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armhealthbot/go.mod
  packages/typespec-go/test/local/armhealthbot/go.sum
  packages/typespec-go/test/local/armhealthbot/zz_healthbots_client_example_test.go
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ResourceCreationPut.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ResourceUpdatePatch.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/test/local/armhealthbot/zz_healthbots_client_example_test.go
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ResourceUpdatePatch.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix eslint error
  packages/codegen.go/src/example.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Dependabot updates tsp for typespec-go (#1558)
  .github/dependabot.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix example generate (#1559)
  packages/codegen.go/src/example.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armhealthbot/fake/zz_healthbots_server.go
  packages/typespec-go/test/local/armhealthbot/fake/zz_internal.go
  packages/typespec-go/test/local/armhealthbot/fake/zz_operations_server.go
  packages/typespec-go/test/local/armhealthbot/fake/zz_server_factory.go
  packages/typespec-go/test/local/armhealthbot/go.mod
  packages/typespec-go/test/local/armhealthbot/go.sum
  packages/typespec-go/test/local/armhealthbot/zz_client_factory.go
  packages/typespec-go/test/local/armhealthbot/zz_constants.go
  packages/typespec-go/test/local/armhealthbot/zz_healthbots_client.go
  packages/typespec-go/test/local/armhealthbot/zz_healthbots_client_example_test.go
  packages/typespec-go/test/local/armhealthbot/zz_models.go
  packages/typespec-go/test/local/armhealthbot/zz_models_serde.go
  packages/typespec-go/test/local/armhealthbot/zz_operations_client.go
  packages/typespec-go/test/local/armhealthbot/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armhealthbot/zz_options.go
  packages/typespec-go/test/local/armhealthbot/zz_responses.go
  packages/typespec-go/test/local/armhealthbot/zz_time_rfc3339.go
  packages/typespec-go/test/tsp/Healthbot.Management/HealthBot.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/back-compatible.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/GetOperations.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ListBotsByResourceGroup.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ListBotsBySubscription.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ListSecrets.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/RegenerateApiJwtSecret.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ResourceCreationPut.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ResourceDeletionDelete.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ResourceInfoGet.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ResourceUpdatePatch.json
  packages/typespec-go/test/tsp/Healthbot.Management/main.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/models.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/package.json
  packages/typespec-go/test/local/armhardwaresecuritymodules/fake/zz_cloudhsmclusters_server.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/fake/zz_dedicatedhsms_server.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/fake/zz_internal.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/fake/zz_operations_server.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/fake/zz_privateendpointconnections_server.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/fake/zz_server_factory.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_client_factory.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_cloudhsmclusters_client.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_cloudhsmclusters_client_example_test.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_constants.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_dedicatedhsms_client.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_dedicatedhsms_client_example_test.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_models.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_models_serde.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_operations_client.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_operations_client_example_test.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_options.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_privateendpointconnections_client.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_privateendpointconnections_client_example_test.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_responses.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_time_rfc3339.go
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/local/armhardwaresecuritymodules/go.mod
  packages/typespec-go/test/local/armhardwaresecuritymodules/go.sum
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ResourceCreationPut.json
  packages/typespec-go/test/tsp/Healthbot.Management/examples/2024-02-01/ResourceUpdatePatch.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

bump version
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix example generation logic for optional method parameters
  packages/codegen.go/src/example.ts
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_cloudhsmclusters_client_example_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

joel feedback
  docs/development.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

more feedback
  docs/development.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rush to pnpm
  docs/development.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-spec, packages/typespec-go/test/azure-http-spec
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
