Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/cadlranch
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

document disallow-unknown-fields in the autorest generator
  packages/autorest.go/README.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Add tsp support for LROs (#1150)
  packages/autorest.go/README.md
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/createresourcepollviaoperationlocation_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/go.mod
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/go.sum
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_createresourcepollviaoperationlocation_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_legacy_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/go.mod
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/go.sum
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/rcp_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_rpc_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/custom_client.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/go.mod
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/go.sum
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/standard_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_options.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_standard_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest tcgc
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine condition
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest tcgc (#1151)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move response envelope SerDe to its own file
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/test/autorest/complexgroup/zz_responses.go
  packages/autorest.go/test/autorest/complexgroup/zz_responses_serde.go
  packages/autorest.go/test/autorest/lrogroup/zz_responses.go
  packages/autorest.go/test/autorest/lrogroup/zz_responses_serde.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_responses.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_responses_serde.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_responses.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_responses_serde.go
  packages/autorest.go/test/network/armnetwork/zz_responses.go
  packages/autorest.go/test/network/armnetwork/zz_responses_serde.go
  packages/codegen.go/src/responses.ts
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_responses_serde.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/enumdiscgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/enumdiscgroup/zz_responses_serde.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/singlediscgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/singlediscgroup/zz_responses_serde.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_responses_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move response envelope SerDe to its own file (#1154)
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/test/autorest/complexgroup/zz_responses.go
  packages/autorest.go/test/autorest/complexgroup/zz_responses_serde.go
  packages/autorest.go/test/autorest/lrogroup/zz_responses.go
  packages/autorest.go/test/autorest/lrogroup/zz_responses_serde.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_responses.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_responses_serde.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_responses.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_responses_serde.go
  packages/autorest.go/test/network/armnetwork/zz_responses.go
  packages/autorest.go/test/network/armnetwork/zz_responses_serde.go
  packages/codegen.go/src/responses.ts
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/azure/client-generator-core/accessgroup/zz_responses_serde.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/enumdiscgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/enumdiscgroup/zz_responses_serde.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/singlediscgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/singlediscgroup/zz_responses_serde.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_responses_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update tcgc
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to the latest CADL ranch
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/naminggroup/go.mod
  packages/typespec-go/test/cadlranch/client/naminggroup/go.sum
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_model_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_models.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_responses.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/go.mod
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/go.sum
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_constants.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_json_client.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_models.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_options.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_property_client.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/arraygroup/zz_array_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update tcgc and fix pending todo
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rebase on main and rebuild
  packages/typespec-go/test/cadlranch/client/naminggroup/go.mod
  packages/typespec-go/test/cadlranch/client/naminggroup/go.sum
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/go.mod
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update tests with new values
  packages/typespec-go/test/cadlranch/type/arraygroup/arraygroup_test.go
  packages/typespec-go/test/cadlranch/type/dictionarygroup/dictionarygroup_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsfloat_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isfloat_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update tcgc
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to the latest CADL ranch (#1155)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/azure/core/lro/lrolegacygroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/naminggroup/go.mod
  packages/typespec-go/test/cadlranch/client/naminggroup/go.sum
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_model_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_models.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_responses.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/go.mod
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/go.sum
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_constants.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_json_client.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_models.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_options.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_property_client.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/arraygroup/arraygroup_test.go
  packages/typespec-go/test/cadlranch/type/arraygroup/zz_array_client.go
  packages/typespec-go/test/cadlranch/type/dictionarygroup/dictionarygroup_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsfloat_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isfloat_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add more cadl-ranch test coverage
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/client/naminggroup/go.mod
  packages/typespec-go/test/cadlranch/client/naminggroup/go.sum
  packages/typespec-go/test/cadlranch/client/naminggroup/model_client_test.go
  packages/typespec-go/test/cadlranch/client/naminggroup/naming_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/naming_client_test.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/go.mod
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/go.sum
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/json_client.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/property_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Canonicalize Content-Type header
  packages/codegen.go/src/operations.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_requestbody_client.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_jsonmergepatch_client.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_stringbody_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_formdata_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add more cadl-ranch test coverage (#1156)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/client/naminggroup/go.mod
  packages/typespec-go/test/cadlranch/client/naminggroup/go.sum
  packages/typespec-go/test/cadlranch/client/naminggroup/model_client_test.go
  packages/typespec-go/test/cadlranch/client/naminggroup/naming_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/naming_client_test.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/go.mod
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/go.sum
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/json_client.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/property_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Canonicalize Content-Type header (#1157)
  packages/codegen.go/src/operations.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_requestbody_client.go
  packages/typespec-go/test/cadlranch/payload/jmergepatchgroup/zz_jsonmergepatch_client.go
  packages/typespec-go/test/cadlranch/payload/mediatypegroup/zz_stringbody_client.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_formdata_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to the latest autorest.testserver
  common/config/rush/pnpm-lock.yaml
  eng/steps/build-test-go.yaml
  eng/steps/build-test-typespec.yaml
  eng/steps/set-env.yaml
  packages/autorest.go/package.json
  packages/autorest.go/test/autorest/arraygroup/arraygroup_test.go
  packages/autorest.go/test/autorest/binarygroup/binarygroup_test.go
  packages/autorest.go/test/autorest/binarygroup/download_client.go
  packages/autorest.go/test/autorest/binarygroup/fake/zz_download_server.go
  packages/autorest.go/test/autorest/binarygroup/zz_download_client.go
  packages/autorest.go/test/autorest/binarygroup/zz_options.go
  packages/autorest.go/test/autorest/binarygroup/zz_responses.go
  packages/autorest.go/test/autorest/httpinfrastructuregroup/httpmultipleresponses_test.go
  packages/autorest.go/test/autorest/lrogroup/zz_lros_client.go
  packages/autorest.go/test/autorest/mediatypesgroup/fake/zz_mediatypes_server.go
  packages/autorest.go/test/autorest/mediatypesgroup/mediatypesgroup_test.go
  packages/autorest.go/test/autorest/mediatypesgroup/zz_mediatypes_client.go
  packages/autorest.go/test/autorest/mediatypesgroup/zz_options.go
  packages/autorest.go/test/autorest/mediatypesgroup/zz_responses.go
  packages/autorest.go/test/autorest/mediatypesgroupwithnormailzedoperationname/fake/zz_mediatypes_server.go
  packages/autorest.go/test/autorest/mediatypesgroupwithnormailzedoperationname/zz_mediatypes_client.go
  packages/autorest.go/test/autorest/mediatypesgroupwithnormailzedoperationname/zz_options.go
  packages/autorest.go/test/autorest/mediatypesgroupwithnormailzedoperationname/zz_responses.go
  packages/autorest.go/test/autorest/paginggroup/fake/zz_paging_server.go
  packages/autorest.go/test/autorest/paginggroup/paginggroup_test.go
  packages/autorest.go/test/autorest/paginggroup/zz_models.go
  packages/autorest.go/test/autorest/paginggroup/zz_models_serde.go
  packages/autorest.go/test/autorest/paginggroup/zz_options.go
  packages/autorest.go/test/autorest/paginggroup/zz_paging_client.go
  packages/autorest.go/test/autorest/paginggroup/zz_responses.go
  packages/autorest.go/test/autorest/paramgroupinggroup/fake/zz_parametergrouping_server.go
  packages/autorest.go/test/autorest/paramgroupinggroup/paramgroupinggroup_test.go
  packages/autorest.go/test/autorest/paramgroupinggroup/zz_options.go
  packages/autorest.go/test/autorest/paramgroupinggroup/zz_parametergrouping_client.go
  packages/autorest.go/test/autorest/paramgroupinggroup/zz_responses.go
  packages/autorest.go/test/autorest/urlgroup/paths_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove logging env var, add timeout instead
  eng/steps/build-test-go.yaml
  eng/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to the latest autorest.testserver (#1159)
  common/config/rush/pnpm-lock.yaml
  eng/steps/build-test-go.yaml
  eng/steps/build-test-typespec.yaml
  eng/steps/set-env.yaml
  packages/autorest.go/package.json
  packages/autorest.go/test/autorest/arraygroup/arraygroup_test.go
  packages/autorest.go/test/autorest/binarygroup/binarygroup_test.go
  packages/autorest.go/test/autorest/binarygroup/download_client.go
  packages/autorest.go/test/autorest/binarygroup/fake/zz_download_server.go
  packages/autorest.go/test/autorest/binarygroup/zz_download_client.go
  packages/autorest.go/test/autorest/binarygroup/zz_options.go
  packages/autorest.go/test/autorest/binarygroup/zz_responses.go
  packages/autorest.go/test/autorest/httpinfrastructuregroup/httpmultipleresponses_test.go
  packages/autorest.go/test/autorest/lrogroup/zz_lros_client.go
  packages/autorest.go/test/autorest/mediatypesgroup/fake/zz_mediatypes_server.go
  packages/autorest.go/test/autorest/mediatypesgroup/mediatypesgroup_test.go
  packages/autorest.go/test/autorest/mediatypesgroup/zz_mediatypes_client.go
  packages/autorest.go/test/autorest/mediatypesgroup/zz_options.go
  packages/autorest.go/test/autorest/mediatypesgroup/zz_responses.go
  packages/autorest.go/test/autorest/mediatypesgroupwithnormailzedoperationname/fake/zz_mediatypes_server.go
  packages/autorest.go/test/autorest/mediatypesgroupwithnormailzedoperationname/zz_mediatypes_client.go
  packages/autorest.go/test/autorest/mediatypesgroupwithnormailzedoperationname/zz_options.go
  packages/autorest.go/test/autorest/mediatypesgroupwithnormailzedoperationname/zz_responses.go
  packages/autorest.go/test/autorest/paginggroup/fake/zz_paging_server.go
  packages/autorest.go/test/autorest/paginggroup/paginggroup_test.go
  packages/autorest.go/test/autorest/paginggroup/zz_models.go
  packages/autorest.go/test/autorest/paginggroup/zz_models_serde.go
  packages/autorest.go/test/autorest/paginggroup/zz_options.go
  packages/autorest.go/test/autorest/paginggroup/zz_paging_client.go
  packages/autorest.go/test/autorest/paginggroup/zz_responses.go
  packages/autorest.go/test/autorest/paramgroupinggroup/fake/zz_parametergrouping_server.go
  packages/autorest.go/test/autorest/paramgroupinggroup/paramgroupinggroup_test.go
  packages/autorest.go/test/autorest/paramgroupinggroup/zz_options.go
  packages/autorest.go/test/autorest/paramgroupinggroup/zz_parametergrouping_client.go
  packages/autorest.go/test/autorest/paramgroupinggroup/zz_responses.go
  packages/autorest.go/test/autorest/urlgroup/paths_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to released tcgc
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  eng/steps/build-test-typespec.yaml
  packages/typespec-go/.scripts/cadl-ranch.js
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

simplify arg check
  common/config/rush/command-line.json
  packages/typespec-go/.scripts/cadl-ranch.js
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to released tcgc (#1158)
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  eng/steps/build-test-typespec.yaml
  packages/typespec-go/.scripts/cadl-ranch.js
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Consolidate module name and version into Module type
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/transform/namer.ts
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/gomod.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix grammar
  packages/codemodel.go/src/gocodemodel.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Consolidate module name and version into Module type (#1160)
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/transform/namer.ts
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/gomod.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add client accessor method name to ClientAccessor type
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add client accessor method name to ClientAccessor type (#1161)
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Clean up name fields in code model
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/options.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Clean up name fields in code model (#1162)
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/options.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix tsp dev publish pipeline
  eng/pipelines/publish-dev-release-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update overlooked baseline
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/__debug/go-tester.yaml
Due: eng/pipelines/ci-gotest.yml
