Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

Refactor client construction code model (#1745)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/cloudConfig.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/index.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/fake/zz_overload_server.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/go.mod
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/go.sum
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/overload_client_test.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/zz_overload_client.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/zz_version.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test (#1747)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/fake/zz_overload_server.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/go.mod
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/go.sum
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/overload_client_test.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/zz_overload_client.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/client/overloadgroup/zz_version.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test for api-version (#1738)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/fake/zz_header_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/header_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/zz_header_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/zz_version.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/fake/zz_path_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/path_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/zz_path_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/zz_version.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/fake/zz_query_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/query_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/zz_query_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

change the default value of UseLatestSpec to true
  eng/pipelines/sdk-regenerate.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

client options
  packages/codegen.go/src/operations.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/local/azkeys/custom_client.go
  packages/typespec-go/test/local/azkeys/fake_test.go
  packages/typespec-go/test/local/azkeys/zz_client.go
  packages/typespec-go/test/local/azkeys/zz_cloud_config.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rerun install
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add test for azure versioning (#1721)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/fake/zz_previewversion_server.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/previewversion_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/zz_previewversion_client.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroup/zz_version.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/fake/zz_previewversion_server.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/go.mod
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/go.sum
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/previewversion_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/zz_previewversion_client.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/versioning/previewversiongroupspecificversion/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

support group parameters
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_override_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridegroupparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overrideremoveoptionalparameter_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridereorderparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overriderequireoptionalparameter_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_override_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridegroupparameters_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overrideremoveoptionalparameter_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridereorderparameters_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overriderequireoptionalparameter_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_responses.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Apply suggestion from @Copilot
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update config
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test case
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overrideremoveoptionalparameter_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overriderequireoptionalparameter_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

client options
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azkeys/custom_client.go
  packages/typespec-go/test/local/azkeys/fake_test.go
  packages/typespec-go/test/local/azkeys/zz_client.go
  packages/typespec-go/test/local/azkeys/zz_cloud_config.go
  packages/typespec-go/test/local/rawjson/subpkg/zz_rawjson_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

clean up
  packages/codegen.go/src/operations.ts
  packages/typespec-go/README.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

delete hard code
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

revert client.ts changes
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

using parameter group approach
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/fake/zz_overridegroupparameters_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overridegroupparameters_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_overridegroupparameters_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove Iso from the global list of common acronyms
  packages/autorest.go/CHANGELOG.md
  packages/naming.go/src/index.ts
  packages/naming.go/src/mappings.ts
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for nextLinkVerb for pageable operations
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/internalpager/go.mod
  packages/typespec-go/test/local/internalpager/go.sum
  packages/typespec-go/test/local/internalpager/zz_models.go
  packages/typespec-go/test/local/internalpager/zz_models_serde.go
  packages/typespec-go/test/local/internalpager/zz_pagerwidgets_client.go
  packages/typespec-go/test/tsp/Internal.Pager/main.tsp
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

client options optional
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

delete hard code (#1758)
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove Iso from the global list of common acronyms (#1759)
  packages/autorest.go/CHANGELOG.md
  packages/naming.go/src/index.ts
  packages/naming.go/src/mappings.ts
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use provided license file content when available
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refactor to omit constructable when omitting constructors
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

arm case
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/operations.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use provided license file content when available (#1761)
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

joel feedback
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Omit ClientOptions when omitting generated client constructors (#1754)
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/operations.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/README.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azkeys/custom_client.go
  packages/typespec-go/test/local/azkeys/fake_test.go
  packages/typespec-go/test/local/azkeys/zz_client.go
  packages/typespec-go/test/local/azkeys/zz_cloud_config.go
  packages/typespec-go/test/local/rawjson/subpkg/zz_rawjson_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

modtidy to bump a few dependencies
  packages/autorest.go/test/acr/azacr/go.mod
  packages/autorest.go/test/acr/azacr/go.sum
  packages/autorest.go/test/compute/armcompute/go.mod
  packages/autorest.go/test/compute/armcompute/go.sum
  packages/autorest.go/test/consumption/armconsumption/go.mod
  packages/autorest.go/test/consumption/armconsumption/go.sum
  packages/autorest.go/test/databoxedge/armdataboxedge/go.mod
  packages/autorest.go/test/databoxedge/armdataboxedge/go.sum
  packages/autorest.go/test/dataprotection/armdataprotection/go.mod
  packages/autorest.go/test/dataprotection/armdataprotection/go.sum
  packages/autorest.go/test/keyvault/azkeyvault/go.mod
  packages/autorest.go/test/keyvault/azkeyvault/go.sum
  packages/autorest.go/test/machinelearning/armmachinelearning/go.mod
  packages/autorest.go/test/machinelearning/armmachinelearning/go.sum
  packages/autorest.go/test/maps/azalias/go.mod
  packages/autorest.go/test/maps/azalias/go.sum
  packages/autorest.go/test/misc/azarrayofrawjson/go.mod
  packages/autorest.go/test/misc/azarrayofrawjson/go.sum
  packages/autorest.go/test/network/armnetwork/go.mod
  packages/autorest.go/test/network/armnetwork/go.sum
  packages/autorest.go/test/storage/azblob/go.mod
  packages/autorest.go/test/storage/azblob/go.sum
  packages/autorest.go/test/synapse/azartifacts/go.mod
  packages/autorest.go/test/synapse/azartifacts/go.sum
  packages/autorest.go/test/synapse/azspark/go.mod
  packages/autorest.go/test/synapse/azspark/go.sum
  packages/autorest.go/test/tables/aztables/go.mod
  packages/autorest.go/test/tables/aztables/go.sum
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml
