Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

missed the others
  packages/codegen.go/tsconfig.json
  packages/codemodel.go/tsconfig.json
  packages/naming.go/tsconfig.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update Go and Node versions used in CI (#1909)
  eng/pipelines/sdk-regenerate.yml
  eng/pipelines/templates/variables/globals.yml
  packages/autorest.go/tsconfig.json
  packages/codegen.go/tsconfig.json
  packages/codemodel.go/tsconfig.json
  packages/naming.go/tsconfig.json
  packages/typespec-go/tsconfig.json
  tsconfig.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use datetime helpers when formatting values
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/test/autorest/headergroup/fake/zz_header_server.go
  packages/autorest.go/test/autorest/headergroup/zz_header_client.go
  packages/autorest.go/test/autorest/urlgroup/zz_paths_client.go
  packages/autorest.go/test/autorest/urlgroup/zz_queries_client.go
  packages/autorest.go/test/storage/azblob/zz_appendblob_client.go
  packages/autorest.go/test/storage/azblob/zz_blockblob_client.go
  packages/autorest.go/test/storage/azblob/zz_client.go
  packages/autorest.go/test/storage/azblob/zz_container_client.go
  packages/autorest.go/test/storage/azblob/zz_pageblob_client.go
  packages/codegen.go/src/core/helpers.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/zz_traits_client.go
  packages/typespec-go/test/http-specs/encode/datetimegroup/fake/zz_datetimeresponseheader_server.go
  packages/typespec-go/test/http-specs/encode/datetimegroup/zz_datetimeheader_client.go
  packages/typespec-go/test/http-specs/encode/datetimegroup/zz_datetimequery_client.go
  packages/typespec-go/test/http-specs/special-headers/condreqgroup/zz_conditionalrequest_client.go
  packages/typespec-go/test/local/azblob/zz_appendblob_client.go
  packages/typespec-go/test/local/azblob/zz_blockblob_client.go
  packages/typespec-go/test/local/azblob/zz_client.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_pageblob_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use datetime helpers when formatting values (#1910)
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/test/autorest/headergroup/fake/zz_header_server.go
  packages/autorest.go/test/autorest/headergroup/zz_header_client.go
  packages/autorest.go/test/autorest/urlgroup/zz_paths_client.go
  packages/autorest.go/test/autorest/urlgroup/zz_queries_client.go
  packages/autorest.go/test/storage/azblob/zz_appendblob_client.go
  packages/autorest.go/test/storage/azblob/zz_blockblob_client.go
  packages/autorest.go/test/storage/azblob/zz_client.go
  packages/autorest.go/test/storage/azblob/zz_container_client.go
  packages/autorest.go/test/storage/azblob/zz_pageblob_client.go
  packages/codegen.go/src/core/helpers.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/zz_traits_client.go
  packages/typespec-go/test/http-specs/encode/datetimegroup/fake/zz_datetimeresponseheader_server.go
  packages/typespec-go/test/http-specs/encode/datetimegroup/zz_datetimeheader_client.go
  packages/typespec-go/test/http-specs/encode/datetimegroup/zz_datetimequery_client.go
  packages/typespec-go/test/http-specs/special-headers/condreqgroup/zz_conditionalrequest_client.go
  packages/typespec-go/test/local/azblob/zz_appendblob_client.go
  packages/typespec-go/test/local/azblob/zz_blockblob_client.go
  packages/typespec-go/test/local/azblob/zz_client.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_pageblob_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add spec api dev dep (#1908)
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Upgrade to latest TypeSpec version (#1915)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix nightly build
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithtextvalue_client_test.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithtextvalue_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix some incorrect XML un/marshaling
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/src/transform/transform.ts
  packages/autorest.go/test/autorest/xmlgroup/zz_models_serde.go
  packages/autorest.go/test/storage/azblob/models_serde_test.go
  packages/autorest.go/test/storage/azblob/zz_models.go
  packages/autorest.go/test/storage/azblob/zz_models_serde.go
  packages/autorest.go/test/tables/aztables/zz_models_serde.go
  packages/codegen.go/src/core/models.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithrenamedwrappedanditemmodelarrayvalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithwrappedprimitivecustomitemnamesvalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/zz_models.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/zz_models_serde.go
  packages/typespec-go/test/local/azblob/go.mod
  packages/typespec-go/test/local/azblob/go.sum
  packages/typespec-go/test/local/azblob/models_serde_test.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_models.go
  packages/typespec-go/test/local/azblob/zz_models_serde.go
  packages/typespec-go/test/local/azblob/zz_models_serde_test.go
  packages/typespec-go/test/local/azblob/zz_responses.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/client.tsp
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prettier, missing doc comment
  packages/typespec-go/src/tcgcadapter/helpers.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove redundant helpers
  packages/autorest.go/test/storage/azblob/models_serde_test.go
  packages/typespec-go/test/local/azblob/models_serde_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix some incorrect XML un/marshaling (#1919)
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/src/transform/transform.ts
  packages/autorest.go/test/autorest/xmlgroup/zz_models_serde.go
  packages/autorest.go/test/storage/azblob/models_serde_test.go
  packages/autorest.go/test/storage/azblob/zz_models.go
  packages/autorest.go/test/storage/azblob/zz_models_serde.go
  packages/autorest.go/test/tables/aztables/zz_models_serde.go
  packages/codegen.go/src/core/models.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithrenamedwrappedanditemmodelarrayvalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithwrappedprimitivecustomitemnamesvalue_client_test.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/zz_models.go
  packages/typespec-go/test/http-specs/payload/xmlgroup/zz_models_serde.go
  packages/typespec-go/test/local/azblob/go.mod
  packages/typespec-go/test/local/azblob/go.sum
  packages/typespec-go/test/local/azblob/models_serde_test.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_models.go
  packages/typespec-go/test/local/azblob/zz_models_serde.go
  packages/typespec-go/test/local/azblob/zz_models_serde_test.go
  packages/typespec-go/test/local/azblob/zz_responses.go
  packages/typespec-go/test/local/azregressions/zz_models_serde.go
  packages/typespec-go/test/tsp/Microsoft.BlobStorage/client.tsp
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

bump to latest tcgc
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix typespec-go nightly pipeline (#1917)
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithtextvalue_client_test.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test case
  packages/typespec-go/test/local/azregressions/fake/zz_internal.go
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add changelog entry
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

grammar
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix wrong param name for $-prefixed query parameters (#1922)
  packages/naming.go/src/naming.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/azregressions/fake/zz_internal.go
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Release typespec-go v0.10.7 (#1918)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use indentation helper instead of hardcoded tabs
  packages/codegen.go/src/core/clientFactory.ts
  packages/codegen.go/src/core/cloudConfig.ts
  packages/codegen.go/src/core/constants.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/interfaces.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/core/version.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/servers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fixes
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/fake/servers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refactor to single pullrequest pipeline
  eng/pipelines/ci-go.yml
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci-typespec.yml
  eng/pipelines/pullrequest.yml
  eng/pipelines/scripts/detect-changes.ps1
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

touch a swagger file
  swagger/specification/containerregistry/data-plane/Azure.ContainerRegistry/stable/2021-07-01/containerregistry.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml

Use indentation helper instead of hardcoded tabs (#1924)
  packages/codegen.go/src/core/clientFactory.ts
  packages/codegen.go/src/core/cloudConfig.ts
  packages/codegen.go/src/core/constants.ts
  packages/codegen.go/src/core/example.ts
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/interfaces.ts
  packages/codegen.go/src/core/models.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/core/options.ts
  packages/codegen.go/src/core/polymorphics.ts
  packages/codegen.go/src/core/responses.ts
  packages/codegen.go/src/core/version.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/servers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Consolidate some duplicate code
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/fake/factory.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine
  packages/codegen.go/src/core/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

re-use existing build definition to be grandfathered in on CFS
  eng/pipelines/ci-go.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Consolidate some duplicate code (#1927)
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/fake/factory.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix codegen for continuation tokens
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/test/maps/azalias/zz_client.go
  packages/codegen.go/src/core/helpers.ts
  packages/codegen.go/src/core/operations.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/client.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageable_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpaginationcontinuationtoken_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageableserverdrivenpaginationcontinuationtoken_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageablexmlpagination_client.go
  packages/typespec-go/test/local/azblob/zz_container_client.go
  packages/typespec-go/test/local/azblob/zz_service_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prettier
  packages/autorest.go/src/m4togocodemodel/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

comments for clarity
  eng/pipelines/scripts/detect-changes.ps1
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix wrong param name in error message
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

removed some unused code
  packages/codemodel.go/src/client.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
