Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

Fix detection of streaming responses (#1846)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azregressions/fake/zz_server.go
  packages/typespec-go/test/local/azregressions/zz_client.go
  packages/typespec-go/test/local/azregressions/zz_options.go
  packages/typespec-go/test/local/azregressions/zz_responses.go
  packages/typespec-go/test/tsp/Regressions/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Improved diagnostic messages to include detail message for known issues (#1855)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove stuttering for parameter group name
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armtest/fake/zz_parametergroupoperations_server.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_parametergroupoperations_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test case
  packages/typespec-go/test/local/armtest/fake/zz_parametergroupoperations_server.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_parametergroupoperations_client.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/tsp/Test.Management/ParameterGroups.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

resolve comment
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update comment
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

allow customized datetime encoding format (#1856)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix parameter group name generation (#1831)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armtest/fake/zz_internal.go
  packages/typespec-go/test/local/armtest/fake/zz_parametergroupoperations_server.go
  packages/typespec-go/test/local/armtest/fake/zz_server_factory.go
  packages/typespec-go/test/local/armtest/zz_client_factory.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_parametergroupoperations_client.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/tsp/Test.Management/ParameterGroups.tsp
  packages/typespec-go/test/tsp/Test.Management/main.tsp
  packages/typespec-go/test/tsp/Test.Management/models.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refine logic about customized datetime encoding format
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/tsp/Test.Management/models.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

removed customized error model
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/tsp/Healthbot.Management/HealthBot.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/main.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/models.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix lint error
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_headerparam_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_mixedparams_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_multipleparams_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_paramalias_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_parent_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_parentchild_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_pathparam_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/headerparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/mixedparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/multipleparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/paramalias_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/parentchild_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/pathparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_headerparam_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_mixedparams_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_multipleparams_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_paramalias_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_parent_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_parentchild_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_pathparam_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_version.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix nightly build error (#1860)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/LICENSE.txt
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_headerparam_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_internal.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_mixedparams_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_multipleparams_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_paramalias_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_parent_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_parentchild_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/fake/zz_pathparam_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/go.mod
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/go.sum
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/headerparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/mixedparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/multipleparams_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/paramalias_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/parentchild_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/pathparam_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/testdata/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_headerparam_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_mixedparams_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_multipleparams_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_paramalias_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_parent_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_parentchild_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_pathparam_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitgroup/zz_version.go
  packages/typespec-go/test/tsp/Healthbot.Management/HealthBot.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/main.tsp
  packages/typespec-go/test/tsp/Healthbot.Management/models.tsp
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove try/catch block
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

reponse headers
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/fake/zz_traits_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/zz_traits_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fake/zz_naming_server.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/naming_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_responses.go
  packages/typespec-go/test/local/armapicenter/fake/zz_apidefinitions_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_apis_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_apiversions_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_deletedservices_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_deployments_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_environments_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_metadataschemas_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_workspaces_server.go
  packages/typespec-go/test/local/armapicenter/zz_apidefinitions_client.go
  packages/typespec-go/test/local/armapicenter/zz_apis_client.go
  packages/typespec-go/test/local/armapicenter/zz_apiversions_client.go
  packages/typespec-go/test/local/armapicenter/zz_deletedservices_client.go
  packages/typespec-go/test/local/armapicenter/zz_deployments_client.go
  packages/typespec-go/test/local/armapicenter/zz_environments_client.go
  packages/typespec-go/test/local/armapicenter/zz_metadataschemas_client.go
  packages/typespec-go/test/local/armapicenter/zz_responses.go
  packages/typespec-go/test/local/armapicenter/zz_workspaces_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/metadata.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update comment
  packages/typespec-go/src/tcgcadapter/metadata.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix eslint error
  packages/typespec-go/src/tcgcadapter/metadata.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/go.mod
  packages/typespec-go/test/http-specs/authentication/apikeygroup/go.sum
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/go.mod
  packages/typespec-go/test/http-specs/authentication/http/customgroup/go.sum
  packages/typespec-go/test/http-specs/authentication/http/customgroup/zz_custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add comment about tcgc breaking change workaround
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

copilot feedback
  packages/typespec-go/test/azure-http-specs/client/naminggroup/naming_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

breaking changes
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

version
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

[typespec] use client name for response header fields (#1861)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/fake/zz_traits_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/zz_responses.go
  packages/typespec-go/test/azure-http-specs/azure/core/traitsgroup/zz_traits_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/fake/zz_naming_server.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/naming_client_test.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/azure-http-specs/client/naminggroup/zz_responses.go
  packages/typespec-go/test/local/armapicenter/fake/zz_apidefinitions_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_apis_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_apiversions_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_deletedservices_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_deployments_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_environments_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_metadataschemas_server.go
  packages/typespec-go/test/local/armapicenter/fake/zz_workspaces_server.go
  packages/typespec-go/test/local/armapicenter/zz_apidefinitions_client.go
  packages/typespec-go/test/local/armapicenter/zz_apis_client.go
  packages/typespec-go/test/local/armapicenter/zz_apiversions_client.go
  packages/typespec-go/test/local/armapicenter/zz_deletedservices_client.go
  packages/typespec-go/test/local/armapicenter/zz_deployments_client.go
  packages/typespec-go/test/local/armapicenter/zz_environments_client.go
  packages/typespec-go/test/local/armapicenter/zz_metadataschemas_client.go
  packages/typespec-go/test/local/armapicenter/zz_responses.go
  packages/typespec-go/test/local/armapicenter/zz_workspaces_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

format
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/zz_custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/zz_custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove config
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove workaround
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azmodelsonly/testdata/_metadata.json
  packages/typespec-go/test/local/azmodelsonly/zz_models.go
  packages/typespec-go/test/local/azmodelsonly/zz_models_serde.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/test/http-specs/authentication/http/customgroup/zz_custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

clean up changelog and set peer dependency
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Upgrade tsp toolset to latest version (#1865)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add authentication test (#1863)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/go.mod
  packages/typespec-go/test/http-specs/authentication/apikeygroup/go.sum
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client_test.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/go.mod
  packages/typespec-go/test/http-specs/authentication/http/customgroup/go.sum
  packages/typespec-go/test/http-specs/authentication/http/customgroup/zz_custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
