Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
      azureSubscription: TypeSpec Storage
      scriptType: bash
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

[docs] remove reference to rush (#1552)
  docs/development.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Propagate doc summary to Go code model
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/src/transform/helpers.ts
  packages/autorest.go/src/transform/transform.ts
  packages/autorest.go/test/autorest/complexmodelgroup/zz_complexmodel_client.go
  packages/autorest.go/test/autorest/datetimegroup/zz_datetime_client.go
  packages/autorest.go/test/autorest/urlgroup/zz_paths_client.go
  packages/autorest.go/test/keyvault/azkeyvault/zz_client.go
  packages/autorest.go/test/network/armnetwork/zz_models.go
  packages/autorest.go/test/synapse/azartifacts/zz_models.go
  swagger/specification/databoxedge/resource-manager/Microsoft.DataBoxEdge/stable/2021-02-01/databoxedge.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

update gotest baseline files
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/__debug/go-tester-pre.yaml
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/__debug/go-tester.yaml
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/__debug/test-modeler-pre.yaml
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/__debug/test-modeler.yaml
Due: eng/pipelines/ci-gotest.yml

add test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/fake/zz_statuscoderange_server.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/go.mod
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_constants.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_options.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_responses.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_statuscoderange_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/version.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/codegen.go/src/metadata.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add go test
  packages/typespec-go/test/http-specs/authentication/apikeygroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/apikeygroup/go.mod
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client_test.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/http/customgroup/go.mod
  packages/typespec-go/test/http-specs/authentication/http/customgroup/go.sum
  packages/typespec-go/test/http-specs/authentication/http/customgroup/zz_custom_client_test.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/custom_client.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/go.mod
  packages/typespec-go/test/http-specs/authentication/oauth2group/go.sum
  packages/typespec-go/test/http-specs/authentication/oauth2group/zz_oauth2_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/custom_client.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/go.mod
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/go.sum
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/zz_union_client_test.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/custom_client.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/go.mod
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/go.sum
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_statuscoderange_client_test.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/custom_client.go
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/go.mod
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/go.sum
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/zz_jsonlbasic_client_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update config
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix eslint error
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix ci failure
  packages/typespec-go/src/tcgcadapter/adapter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

set indentation to two spaces
  packages/codegen.go/src/metadata.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prepare release
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade tsp 1.0.0
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pipeline
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix dependency
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix dependency
  eng/pipelines/templates/steps/build-test-typespec.yaml
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine NameCollision error message
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix dependency
  packages/autorest.gotest/pnpm-lock.yaml
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix dependency
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.mod
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.sum
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.mod
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.sum
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.mod
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.sum
  packages/typespec-go/test/local/armhealthbot/go.mod
  packages/typespec-go/test/local/armhealthbot/go.sum
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix nightly build (#1569)
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

generate emitter docs
  packages/typespec-go/README.md
  packages/typespec-go/package.json
  packages/typespec-go/src/lib.ts
  packages/typespec-go/website/src/content/docs/docs/emitters/clients/typespec-go/reference/index.mdx
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

revert to previous
  packages/autorest.gotest/pnpm-lock.yaml
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update dependency by pnpm
  package.json
  packages/autorest.gotest/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update azcore to v1.17.1
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.mod
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.sum
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.mod
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.sum
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.mod
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.sum
Due: eng/pipelines/ci-gotest.yml

add line at the end
  packages/autorest.gotest/src/template/sampleGo.mod.njk
Due: eng/pipelines/ci-gotest.yml

update version
  packages/autorest.gotest/src/template/sampleGo.mod.njk
Due: eng/pipelines/ci-gotest.yml

update gomod
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.mod
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.sum
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.mod
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.sum
Due: eng/pipelines/ci-gotest.yml

update sample and test
  packages/autorest.gotest/src/template/sampleGo.mod.njk
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/go.mod
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.mod
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/go.sum
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/go.mod
Due: eng/pipelines/ci-gotest.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-spec, packages/typespec-go/test/azure-http-spec
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
