Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/cadlranch
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger

Add some tsp coverage for authentication
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/apikey_client.go
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/apikey_client_test.go
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/go.mod
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/go.sum
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/custom_client.go
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/go.mod
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

include oauth2group
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/authentication/oauth2group/go.mod
  packages/typespec-go/test/cadlranch/authentication/oauth2group/go.sum
  packages/typespec-go/test/cadlranch/authentication/oauth2group/oauth2_client.go
  packages/typespec-go/test/cadlranch/authentication/oauth2group/oauth2_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add unionauthgroup
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/authentication/unionauthgroup/go.mod
  packages/typespec-go/test/cadlranch/authentication/unionauthgroup/go.sum
  packages/typespec-go/test/cadlranch/authentication/unionauthgroup/union_client.go
  packages/typespec-go/test/cadlranch/authentication/unionauthgroup/union_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

follow design guidelines
  packages/typespec-go/test/cadlranch/authentication/apikeygroup/apikey_client.go
  packages/typespec-go/test/cadlranch/authentication/http/customgroup/custom_client.go
  packages/typespec-go/test/cadlranch/authentication/oauth2group/oauth2_client.go
  packages/typespec-go/test/cadlranch/authentication/unionauthgroup/union_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Enable some skipped LRO tests
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/rcp_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/standard_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Enable some skipped LRO tests (#1374)
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/rcp_client_test.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/standard_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Split gocodemodel.ts into multiple files (#1372)
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/gomod.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/imports.ts
  packages/codegen.go/src/interfaces.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/options.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codegen.go/src/responses.ts
  packages/codegen.go/src/time.ts
  packages/codegen.go/src/xmlAdditionalProps.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/codemodel.go/src/index.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Simplify time request body
  packages/autorest.go/test/autorest/datetimerfc1123group/zz_datetimerfc1123_client.go
  packages/autorest.go/test/autorest/integergroup/zz_int_client.go
  packages/codegen.go/src/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use extends for class definitions
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/type.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Simplify time request body (#1378)
  packages/autorest.go/test/autorest/datetimerfc1123group/zz_datetimerfc1123_client.go
  packages/autorest.go/test/autorest/integergroup/zz_int_client.go
  packages/codegen.go/src/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use extends for class definitions (#1379)
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/type.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Ensure code model types don't have overlapping shapes
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/type.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Ensure code model types don't have overlapping shapes (#1382)
  packages/codegen.go/src/fake/servers.ts
  packages/codemodel.go/src/type.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Rename ParameterType to ParameterPlacement
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/param.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

use kind instead of placement
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/param.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Rename ParameterType to ParameterKind (#1381)
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/param.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Check for tsp read-only visibility
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armcommunitymanagement/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armloadtestservice/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/zz_models.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

bump version for emitter release
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Check for tsp read-only visibility (#1388)
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armcommunitymanagement/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armloadtestservice/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrostdgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/zz_models.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix multipart/form structs with optional fields
  packages/codegen.go/src/models.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/payload/multipartgroup/formdata_client_test.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix lint
  packages/typespec-go/test/cadlranch/payload/multipartgroup/formdata_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix multipart/form structs with optional fields (#1389)
  packages/codegen.go/src/models.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/payload/multipartgroup/formdata_client_test.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models_serde.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix model fields READ-ONLY comment
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armcommunitymanagement/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armloadtestservice/zz_models.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix model fields READ-ONLY comment (#1392)
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_models.go
  packages/typespec-go/test/armcodesigning/zz_models.go
  packages/typespec-go/test/armcommunitymanagement/zz_models.go
  packages/typespec-go/test/armdatabasewatcher/zz_models.go
  packages/typespec-go/test/armdevopsinfrastructure/zz_models.go
  packages/typespec-go/test/armlargeinstance/zz_models.go
  packages/typespec-go/test/armloadtestservice/zz_models.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Propagate raw JSON as bytes setting to array element schema
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/src/transform/transform.ts
  packages/autorest.go/test/misc/azarrayofrawjson/go.mod
  packages/autorest.go/test/misc/azarrayofrawjson/go.sum
  packages/autorest.go/test/misc/azarrayofrawjson/zz_models.go
  packages/autorest.go/test/misc/azarrayofrawjson/zz_models_serde.go
  packages/autorest.go/test/swagger/arrayOfRawJSON.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

bump package version for pending release
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Propagate raw JSON as bytes setting to array element schema (#1394)
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/package.json
  packages/autorest.go/src/transform/transform.ts
  packages/autorest.go/test/misc/azarrayofrawjson/go.mod
  packages/autorest.go/test/misc/azarrayofrawjson/go.sum
  packages/autorest.go/test/misc/azarrayofrawjson/zz_models.go
  packages/autorest.go/test/misc/azarrayofrawjson/zz_models_serde.go
  packages/autorest.go/test/swagger/arrayOfRawJSON.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

wip
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

wip
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

support Azure.Core.@useFinalStateVia and add test
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armmongocluster/fake/zz_firewallrules_server.go
  packages/typespec-go/test/armmongocluster/fake/zz_internal.go
  packages/typespec-go/test/armmongocluster/fake/zz_mongoclusters_server.go
  packages/typespec-go/test/armmongocluster/fake/zz_operations_server.go
  packages/typespec-go/test/armmongocluster/fake/zz_privateendpointconnections_server.go
  packages/typespec-go/test/armmongocluster/fake/zz_privatelinks_server.go
  packages/typespec-go/test/armmongocluster/fake/zz_server_factory.go
  packages/typespec-go/test/armmongocluster/fake/zz_time_rfc3339.go
  packages/typespec-go/test/armmongocluster/go.mod
  packages/typespec-go/test/armmongocluster/zz_client_factory.go
  packages/typespec-go/test/armmongocluster/zz_constants.go
  packages/typespec-go/test/armmongocluster/zz_firewallrules_client.go
  packages/typespec-go/test/armmongocluster/zz_models.go
  packages/typespec-go/test/armmongocluster/zz_models_serde.go
  packages/typespec-go/test/armmongocluster/zz_mongoclusters_client.go
  packages/typespec-go/test/armmongocluster/zz_operations_client.go
  packages/typespec-go/test/armmongocluster/zz_options.go
  packages/typespec-go/test/armmongocluster/zz_privateendpointconnections_client.go
  packages/typespec-go/test/armmongocluster/zz_privatelinks_client.go
  packages/typespec-go/test/armmongocluster/zz_responses.go
  packages/typespec-go/test/armmongocluster/zz_time_rfc3339.go
  packages/typespec-go/test/tsp/MongoCluster.Management/FirewallRule.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/MongoCluster.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/PrivateEndpointConnection.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/common.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

mod tidy
  packages/typespec-go/test/armmongocluster/go.mod
  packages/typespec-go/test/armmongocluster/go.sum
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

support Azure.Core.@useFinalStateVia and add test (#1396)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armmongocluster/fake/zz_firewallrules_server.go
  packages/typespec-go/test/armmongocluster/fake/zz_internal.go
  packages/typespec-go/test/armmongocluster/fake/zz_mongoclusters_server.go
  packages/typespec-go/test/armmongocluster/fake/zz_operations_server.go
  packages/typespec-go/test/armmongocluster/fake/zz_privateendpointconnections_server.go
  packages/typespec-go/test/armmongocluster/fake/zz_privatelinks_server.go
  packages/typespec-go/test/armmongocluster/fake/zz_server_factory.go
  packages/typespec-go/test/armmongocluster/fake/zz_time_rfc3339.go
  packages/typespec-go/test/armmongocluster/go.mod
  packages/typespec-go/test/armmongocluster/go.sum
  packages/typespec-go/test/armmongocluster/zz_client_factory.go
  packages/typespec-go/test/armmongocluster/zz_constants.go
  packages/typespec-go/test/armmongocluster/zz_firewallrules_client.go
  packages/typespec-go/test/armmongocluster/zz_models.go
  packages/typespec-go/test/armmongocluster/zz_models_serde.go
  packages/typespec-go/test/armmongocluster/zz_mongoclusters_client.go
  packages/typespec-go/test/armmongocluster/zz_operations_client.go
  packages/typespec-go/test/armmongocluster/zz_options.go
  packages/typespec-go/test/armmongocluster/zz_privateendpointconnections_client.go
  packages/typespec-go/test/armmongocluster/zz_privatelinks_client.go
  packages/typespec-go/test/armmongocluster/zz_responses.go
  packages/typespec-go/test/armmongocluster/zz_time_rfc3339.go
  packages/typespec-go/test/tsp/MongoCluster.Management/FirewallRule.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/MongoCluster.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/PrivateEndpointConnection.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/common.tsp
  packages/typespec-go/test/tsp/MongoCluster.Management/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix lint
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
