Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

Rename ParameterKind to ParameterStyle
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/param.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Rename ParameterKind to ParameterStyle (#1595)
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/param.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix field names for optional params and monomorphic respones
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/core/basicgroup/fake/zz_basic_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/basicgroup/zz_basic_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/basicgroup/zz_options.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageableserverdrivenpaginationcontinuationtoken_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_options.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageableserverdrivenpaginationcontinuationtoken_client.go
  packages/typespec-go/test/local/armbillingbenefits/zz_options.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_options.go
  packages/typespec-go/test/local/armlargeinstance/zz_options.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test
  packages/typespec-go/test/azure-http-specs/azure/core/basicgroup/basic_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add test for SKU naming
  packages/typespec-go/test/local/armrandom/fake/zz_someservice_server.go
  packages/typespec-go/test/local/armrandom/zz_constants.go
  packages/typespec-go/test/local/armrandom/zz_models.go
  packages/typespec-go/test/local/armrandom/zz_models_serde.go
  packages/typespec-go/test/local/armrandom/zz_options.go
  packages/typespec-go/test/local/armrandom/zz_responses.go
  packages/typespec-go/test/local/armrandom/zz_someservice_client.go
  packages/typespec-go/test/tsp/Random.Management/main.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix field names for optional params and monomorphic respones (#1589)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/azure/core/basicgroup/basic_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/core/basicgroup/fake/zz_basic_server.go
  packages/typespec-go/test/azure-http-specs/azure/core/basicgroup/zz_basic_client.go
  packages/typespec-go/test/azure-http-specs/azure/core/basicgroup/zz_options.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageableserverdrivenpaginationcontinuationtoken_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_options.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageableserverdrivenpaginationcontinuationtoken_client.go
  packages/typespec-go/test/local/armbillingbenefits/zz_options.go
  packages/typespec-go/test/local/armhardwaresecuritymodules/zz_options.go
  packages/typespec-go/test/local/armlargeinstance/zz_options.go
  packages/typespec-go/test/local/armrandom/fake/zz_someservice_server.go
  packages/typespec-go/test/local/armrandom/zz_constants.go
  packages/typespec-go/test/local/armrandom/zz_models.go
  packages/typespec-go/test/local/armrandom/zz_models_serde.go
  packages/typespec-go/test/local/armrandom/zz_options.go
  packages/typespec-go/test/local/armrandom/zz_responses.go
  packages/typespec-go/test/local/armrandom/zz_someservice_client.go
  packages/typespec-go/test/tsp/Random.Management/main.tsp
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add response error content check
  packages/typespec-go/test/http-specs/authentication/http/customgroup/custom_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove comment line
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove debug code
  .scripts/gogetu.js
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

merge main and pnpm tspcompile
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_servicechild_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/fake/zz_servicepathparam_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_servicechild_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/zz_servicepathparam_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove file
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/jsonlbasic_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove _metadata.json file
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionheadergroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionpathgroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/api-version/apiversionquerygroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/core/coremodelgroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/encode/encodedurationgroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/example/examplebasicgroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/nonresourcegroup/_metadata.json
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/_metadata.json
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

go mod tidy
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/go.mod
  packages/typespec-go/test/http-specs/streaming/jsonlgroup/go.sum
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

rename field
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/clientinitializationgroup/servicepathparam_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade tcgc (#1598)
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

working directory (#1584)
  eng/pipelines/cadl-ranch-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor code model parameter types
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/time.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove redundant collectionPrefix field
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/param.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor code model parameter types (#1599)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/time.ts
  packages/codemodel.go/src/client.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/param.ts
  packages/codemodel.go/src/result.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor code model result types
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codegen.go/src/responses.ts
  packages/codegen.go/src/time.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/result.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor code model result types (#1602)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codegen.go/src/responses.ts
  packages/codegen.go/src/time.ts
  packages/codemodel.go/src/examples.ts
  packages/codemodel.go/src/package.ts
  packages/codemodel.go/src/result.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update js
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

check response
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/templatesgroup/lro_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

[EngSys] Update agent pool to "azsdk-pool"
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/variables/image.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

change configjs
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update CODEOWNERS (#1603)
  .github/CODEOWNERS
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade tcgc
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update package.json
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

[EngSys] Update agent pool to "azsdk-pool" (#1607)
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/variables/image.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove generated without test
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/_metadata.json
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/fake/zz_internal.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/fake/zz_statuscoderange_server.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/go.mod
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/go.sum
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/testdata/_metadata.json
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_constants.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_options.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_responses.go
  packages/typespec-go/test/http-specs/response/statuscoderangegroup/zz_statuscoderange_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't run git diff in nightly build (#1586)
  eng/pipelines/templates/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update package.json
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade tcgc (#1608)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  pnpm-lock.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add config
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
