Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

- Fixing a lint error that looks accurate - we're casting to the same type as the underlying object, so it's not needed. - Removing the deprecated option from the JSON schema
  packages/typespec-go/src/lib.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use method param data as source of truth (#1692)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/azkeys/fake/zz_server.go
  packages/typespec-go/test/local/azkeys/testdata/_metadata.json
  packages/typespec-go/test/local/azkeys/zz_client.go
  packages/typespec-go/test/local/azkeys/zz_constants.go
  packages/typespec-go/test/local/azkeys/zz_models.go
  packages/typespec-go/test/local/azkeys/zz_models_serde.go
  packages/typespec-go/test/local/azkeys/zz_options.go
  packages/typespec-go/test/local/azkeys/zz_responses.go
  packages/typespec-go/test/tsp/KeyVault.Keys/client.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/common.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/main.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/models.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/routes.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix tsp after rebase
  packages/typespec-go/test/tsp/KeyVault.Keys/client.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update coreclientlocationgroup with new test
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovemethodparametertobloboperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetoexistingsubadminoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetoexistingsubuseroperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetonewsubproductoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetorootresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/custom_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update pageablegroup with new test
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageable_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageable_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpagination_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Upgrade tsp toolset of typespec-go to latest versions (#1700)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/README.md
  packages/typespec-go/package.json
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovemethodparametertobloboperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetoexistingsubadminoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetoexistingsubuseroperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetonewsubproductoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetorootresourceoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/fake/zz_clientlocationmovemethodparameterto_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/fake/zz_clientlocationmovemethodparametertobloboperations_server.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocation_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocationmovemethodparameterto_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_clientlocationmovemethodparametertobloboperations_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_models.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_models_serde.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_options.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/zz_responses.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageable_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/fake/zz_pageableserverdrivenpagination_server.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageable_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageable_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpagination_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_models_serde.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_options.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageable_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageableserverdrivenpagination_client.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_responses.go
  packages/typespec-go/test/tsp/BillingBenefits.Management/back-compatible.tsp
  packages/typespec-go/test/tsp/CodeSigning.Management/models.tsp
  packages/typespec-go/test/tsp/HardwareSecurityModules.Management/back-compatible.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/client.tsp
  packages/typespec-go/test/tsp/KeyVault.Keys/routes.tsp
  packages/typespec-go/test/tsp/LoadTestService.Management/models.tsp
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep emitter 0.8.2 for release
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep emitter 0.8.2 for release (#1701)
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

extract api-version
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add clean up process for emitter
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/test/azure-http-specs/azure/resource-manager/resources/utils_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine logic
  packages/codegen.go/src/helpers.ts
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine script
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix pipeline
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

resolve comments
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

change to diagnostic
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove test to mitigate nightly failure
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovemethodparametertobloboperations_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove test to mitigate nightly failure (#1705)
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovemethodparametertobloboperations_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

regen based on original api-version (#1703)
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

reserve module version
  eng/scripts/sdk_regenerate.py
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

emit diagnostic when skipping ctors due to containing-module
  packages/codegen.go/src/operations.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/rawjson/subpkg/zz_rawjson_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

regenerate after rebase
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/custom_client.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overridegroupparameters_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/overridereorderparameters_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/overridegroup/zz_override_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix tests after rebase
  packages/typespec-go/test/http-specs/parameters/spreadgroup/spreadalias_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/pageableserverdrivenpagination_client_test.go
  packages/typespec-go/test/http-specs/payload/pageablegroup/zz_pageable_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

emit cloud config info as required
  packages/codegen.go/src/cloudConfig.ts
  packages/codegen.go/src/operations.ts
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/http-specs/authentication/oauth2group/zz_cloud_config.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/zz_oauth2_client.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/zz_cloud_config.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/zz_union_client.go
  packages/typespec-go/test/local/azkeys/zz_client.go
  packages/typespec-go/test/local/azkeys/zz_cloud_config.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove support for API keys
  packages/codegen.go/src/operations.ts
  packages/codemodel.go/src/client.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/http-specs/authentication/apikeygroup/zz_apikey_client.go
  packages/typespec-go/test/http-specs/authentication/oauth2group/go.mod
  packages/typespec-go/test/http-specs/authentication/oauth2group/go.sum
  packages/typespec-go/test/http-specs/authentication/oauth2group/oauth2_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/go.mod
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/go.sum
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/union_client_test.go
  packages/typespec-go/test/http-specs/authentication/unionauthgroup/zz_union_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

removed superfluous condition check
  packages/autorest.go/src/transform/namer.ts
  packages/typespec-go/test/local/azkeys/fake_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix host param doc comments
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_first_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/clientopgroup/zz_second_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/defaultgroup/zz_service_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/multiclientgroup/zz_clienta_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/multiclientgroup/zz_clientb_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/renamedopgroup/zz_renamedoperation_client.go
  packages/typespec-go/test/azure-http-specs/client/structure/twoopgroup/zz_twooperationgroup_client.go
  packages/typespec-go/test/azure-http-specs/resiliency/srvdrivennewgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/azure-http-specs/resiliency/srvdrivenoldgroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/http-specs/server/path/multiplegroup/zz_multiple_client.go
  packages/typespec-go/test/http-specs/server/path/singlegroup/zz_single_client.go
  packages/typespec-go/test/http-specs/server/versions/unversionedgroup/zz_notversioned_client.go
  packages/typespec-go/test/http-specs/server/versions/versionedgroup/zz_versioned_client.go
  packages/typespec-go/test/http-specs/versioning/madeoptionalgroup/zz_madeoptional_client.go
  packages/typespec-go/test/http-specs/versioning/rettypechangedfromgroup/zz_returntypechangedfrom_client.go
  packages/typespec-go/test/http-specs/versioning/typechangedfromgroup/zz_typechangedfrom_client.go
  packages/typespec-go/test/local/azkeys/zz_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix up overlooked merge conflicts
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocation_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetoexistingsubadminoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetoexistingsubuseroperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetonewsubproductoperations_client_test.go
  packages/typespec-go/test/azure-http-specs/azure/client-generator-core/coreclientlocationgroup/clientlocationmovetorootresourceoperations_client_test.go
  packages/typespec-go/test/local/azkeys/zz_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine with review
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/test/unittest/emitter.test.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/test/unittest/emitter.test.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add sdk regeneration pipeline guideline
  docs/sdk-regeneration-pipeline.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update docs/sdk-regeneration-pipeline.md
  docs/sdk-regeneration-pipeline.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine document
  docs/sdk-regeneration-pipeline.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update workflow
  docs/sdk-regeneration-pipeline.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix workflow
  docs/sdk-regeneration-pipeline.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
