Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: ../steps/set-env.yaml
  - template: ../steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload CADL Ranch Test Coverage
    inputs:
      azureSubscription: Cadl Ranch Storage
      scriptType: bash
      scriptLocation: inlineScript
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks - go1.21
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks - go1.21
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

Add release pipeline for typespec-go emitter
  eng/pipelines/publish-release-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add release pipeline for typespec-go emitter (#1400)
  eng/pipelines/publish-release-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix time
  packages/codegen.go/src/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix spread
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_apis_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_apiversions_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_deletedservices_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_deployments_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_environments_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_metadataschemas_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_workspaces_client_example_test.go
  packages/typespec-go/test/armcodesigning/zz_certificateprofiles_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_firewallrules_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_mongoclusters_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_privateendpointconnections_client_example_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor package release into one pipeline
  eng/pipelines/publish-release-go.yml
  eng/pipelines/publish-release-gotest.yml
  eng/pipelines/publish-release-typespec.yml
  eng/pipelines/publish-release.yml
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prep tsp emitter for initial beta release
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add dev publishing support
  eng/pipelines/publish-dev-release-go.yml
  eng/pipelines/publish-dev-release-typespec.yml
  eng/pipelines/publish-release.yml
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix template paths
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prep tsp emitter for initial beta release (#1404)
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix package names and incorrect condition
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix quoting
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

More quoting
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix typespec package path
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Rename parameter based on feedback
  eng/pipelines/publish-release.yml
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Refactor package release into one pipeline (#1403)
  eng/pipelines/publish-dev-release-go.yml
  eng/pipelines/publish-dev-release-typespec.yml
  eng/pipelines/publish-release-go.yml
  eng/pipelines/publish-release-gotest.yml
  eng/pipelines/publish-release-typespec.yml
  eng/pipelines/publish-release.yml
  eng/pipelines/templates/steps/publish-release.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test
  packages/typespec-go/test/cadlranch/encode/durationgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/bodyoptionality_client_test.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/spreadalias_client_test.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/spreadmodel_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsunknownderived_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsunknowndiscriminated_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isunknownderived_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isunknowndiscriminated_client_test.go
  packages/typespec-go/test/cadlranch/versioning/typechangedfromgroup/typechangedfrom_client_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix spread fake issue
  packages/codegen.go/src/fake/servers.ts
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/fake/zz_internal.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/fake/zz_spreadalias_server.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix fake test
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/fakes_test.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update cadl-ranch-api
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove useless dev dep
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove useless dev dep (#1408)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix optional spread params
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/fake/zz_spreadalias_server.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/fakes_test.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/spreadalias_client_test.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/zz_options.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/zz_spreadalias_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix optional spread params (#1409)
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/operations.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/fake/zz_spreadalias_server.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/fakes_test.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/spreadalias_client_test.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/zz_options.go
  packages/typespec-go/test/cadlranch/parameters/spreadgroup/zz_spreadalias_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove wire format from model types
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/time.ts
  packages/codegen.go/src/xmlAdditionalProps.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade tcgc
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armapicenter/zz_services_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_watchers_client_example_test.go
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargeinstance_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargestorageinstance_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_server_factory.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstance_client.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargestorageinstance_client.go
  packages/typespec-go/test/armlargeinstance/zz_client_factory.go
  packages/typespec-go/test/armlargeinstance/zz_options.go
  packages/typespec-go/test/armlargeinstance/zz_responses.go
  packages/typespec-go/test/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_mongoclusters_client_example_test.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/fake/zz_rpc_server.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_models.go
  packages/typespec-go/test/cadlranch/azure/core/lro/lrorpcgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_naming_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_namingclientmodel_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_namingmodel_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_models.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_namingclientmodel_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fake/zz_multipartformdata_server.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/fake/zz_jsonproperty_server.go
  packages/typespec-go/test/cadlranch/serialization/encoded-name/jsongroup/zz_jsonproperty_client.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

lint
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix example path issue
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/armapicenter/zz_apidefinitions_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_apis_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_apiversions_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_deletedservices_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_deployments_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_environments_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_metadataschemas_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_operations_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_services_client_example_test.go
  packages/typespec-go/test/armapicenter/zz_workspaces_client_example_test.go
  packages/typespec-go/test/armcodesigning/zz_accounts_client_example_test.go
  packages/typespec-go/test/armcodesigning/zz_certificateprofiles_client_example_test.go
  packages/typespec-go/test/armcodesigning/zz_operations_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_operations_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_sharedprivatelinkresources_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_targets_client_example_test.go
  packages/typespec-go/test/armdatabasewatcher/zz_watchers_client_example_test.go
  packages/typespec-go/test/armlargeinstance/zz_operations_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_loadtests_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_operations_client_example_test.go
  packages/typespec-go/test/armloadtestservice/zz_quotas_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_firewallrules_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_mongoclusters_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_operations_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_privateendpointconnections_client_example_test.go
  packages/typespec-go/test/armmongocluster/zz_privatelinks_client_example_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test and multi-part
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/client/naminggroup/fakes_test.go
  packages/typespec-go/test/cadlranch/client/naminggroup/model_client_test.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fake/zz_multipartformdata_server.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix lint
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove wire format from model types (#1410)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/time.ts
  packages/codegen.go/src/xmlAdditionalProps.ts
  packages/codemodel.go/src/result.ts
  packages/codemodel.go/src/type.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

upgrade to tcgc 0.44.2
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/package.json
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargeinstance_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_azurelargestorageinstance_server.go
  packages/typespec-go/test/armlargeinstance/fake/zz_server_factory.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargeinstance_client.go
  packages/typespec-go/test/armlargeinstance/zz_azurelargestorageinstance_client.go
  packages/typespec-go/test/armlargeinstance/zz_client_factory.go
  packages/typespec-go/test/armlargeinstance/zz_options.go
  packages/typespec-go/test/armlargeinstance/zz_responses.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_naming_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fake/zz_namingclientmodel_server.go
  packages/typespec-go/test/cadlranch/client/naminggroup/fakes_test.go
  packages/typespec-go/test/cadlranch/client/naminggroup/model_client_test.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_naming_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_namingclientmodel_client.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/naminggroup/zz_responses.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/fake/zz_multipartformdata_server.go
  packages/typespec-go/test/cadlranch/payload/multipartgroup/zz_models.go
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine with review comment
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/example.ts
  packages/codegen.go/src/helpers.ts
  packages/codemodel.go/src/package.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/lib.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep tsp emitter for v0.2.0 release
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep tsp emitter for v0.2.0 release (#1412)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/cadlranch
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
