Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/cadl-ranch-typespec.yml:
  steps:
  - template: /eng/pipelines/templates/steps/set-env.yaml
    parameters:
      GoVersion: $(GoVersionLatest)
  - template: /eng/pipelines/templates/steps/build-test-typespec.yaml
  - task: AzureCLI@2
    displayName: Upload TypeSpec Spector Test Coverage
    inputs:
  ...

eng/pipelines/ci-go.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: AutoRest_Go_CI
        jobs:
        - job: AutoRest_Go_CI
          displayName: Run AutoRest CI Checks
          variables:
  ...

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux:
          image: $(LINUXNEXTVMIMAGE)
          pool: $(LINUXPOOL)
    pool:
      name: $(pool)
      image: $(image)
      os: linux
    steps:
    - template: ../steps/set-env.yaml
      parameters:
  ...

eng/pipelines/ci-typespec.yml:
  extends:
    template: /eng/pipelines/templates/stages/1es-redirect.yml
    parameters:
      Use1ESOfficial: false
      stages:
      - stage: TypeSpec_Go_CI
        jobs:
        - job: TypeSpec_Go_CI
          displayName: Run TypeSpec Go CI Checks
          variables:
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

address comments
  packages/codegen.go/src/core/example.ts
  packages/typespec-go/test/tsp/Test.Management/models.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update
  packages/typespec-go/test/local/armtest/zz_models.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix: cleanup legacy autorest-generated example files during regeneration (#1956)
  eng/pipelines/templates/steps/build-test-typespec.yaml
  packages/codegen.go/src/core/helpers.ts
  packages/typespec-go/test/unittest/emitter.test.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix example generation for literal typed pointers (e.g. *int32) (#1955)
  packages/codegen.go/src/core/example.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/armtest/fake/zz_bodyroots_server.go
  packages/typespec-go/test/local/armtest/zz_bodyroots_client.go
  packages/typespec-go/test/local/armtest/zz_bodyroots_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/tsp/Test.Management/BodyRoot.tsp
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/BodyRoots_get_with_availability.json
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/BodyRoots_put_with_availability.json
  packages/typespec-go/test/tsp/Test.Management/models.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix incorrect pointer for concrete polymorphic model parameters in examples
  packages/codegen.go/src/core/example.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/local/armtest/fake/zz_internal.go
  packages/typespec-go/test/local/armtest/fake/zz_pets_server.go
  packages/typespec-go/test/local/armtest/fake/zz_polymorphic_helpers.go
  packages/typespec-go/test/local/armtest/fake/zz_server_factory.go
  packages/typespec-go/test/local/armtest/zz_client_factory.go
  packages/typespec-go/test/local/armtest/zz_constants.go
  packages/typespec-go/test/local/armtest/zz_interfaces.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_pets_client.go
  packages/typespec-go/test/local/armtest/zz_pets_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_polymorphic_helpers.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/local/armtest/zz_responses_serde.go
  packages/typespec-go/test/tsp/Test.Management/Polymorphic.tsp
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/Pets_adoptCat.json
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/Pets_adoptPet.json
  packages/typespec-go/test/tsp/Test.Management/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix response example for polymorphic results: use interface field name with pointer
  packages/codegen.go/src/core/example.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/armtest/zz_pets_client_example_test.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update changelog
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refine
  packages/codegen.go/src/core/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix incorrect pointer for concrete polymorphic model parameters in examples (#1957)
  packages/codegen.go/src/core/example.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/local/armtest/fake/zz_internal.go
  packages/typespec-go/test/local/armtest/fake/zz_pets_server.go
  packages/typespec-go/test/local/armtest/fake/zz_polymorphic_helpers.go
  packages/typespec-go/test/local/armtest/fake/zz_server_factory.go
  packages/typespec-go/test/local/armtest/zz_client_factory.go
  packages/typespec-go/test/local/armtest/zz_constants.go
  packages/typespec-go/test/local/armtest/zz_interfaces.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_pets_client.go
  packages/typespec-go/test/local/armtest/zz_pets_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_polymorphic_helpers.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/local/armtest/zz_responses_serde.go
  packages/typespec-go/test/tsp/Test.Management/Polymorphic.tsp
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/Pets_adoptCat.json
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/Pets_adoptPet.json
  packages/typespec-go/test/tsp/Test.Management/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix typespec-go nightly build failure (#1952)
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/payload/xmlgroup/xmlmodelwithtextvalue_client_test.go
  pnpm-lock.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to the latest tsp toolset
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/specialwordsgroup/fake/zz_specialwords_server.go
  packages/typespec-go/test/http-specs/specialwordsgroup/fake/zz_specialwordsreservedoperationbodyparams_server.go
  packages/typespec-go/test/http-specs/specialwordsgroup/reservedoperationbodyparams_client_test.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_options.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_responses.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_specialwords_client.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_specialwordsreservedoperationbodyparams_client.go
  packages/typespec-go/test/local/armcomputeschedule/zz_models_serde.go
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to the latest tsp toolset (#1959)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/http-specs/specialwordsgroup/fake/zz_specialwords_server.go
  packages/typespec-go/test/http-specs/specialwordsgroup/fake/zz_specialwordsreservedoperationbodyparams_server.go
  packages/typespec-go/test/http-specs/specialwordsgroup/reservedoperationbodyparams_client_test.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_options.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_responses.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_specialwords_client.go
  packages/typespec-go/test/http-specs/specialwordsgroup/zz_specialwordsreservedoperationbodyparams_client.go
  packages/typespec-go/test/local/armcomputeschedule/zz_models_serde.go
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eng/pipelines/cadl-ranch-typespec.yml, eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep autorest.go@v4.0.0-preview.78 for release
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prep autorest.go@v4.0.0-preview.78 for release (#1960)
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Don't adapt client accessors for ARM clients
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armcognitiveservices/fake/zz_server.go
  packages/typespec-go/test/local/armcognitiveservices/zz_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Don't adapt client accessors for ARM clients (#1964)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armcognitiveservices/fake/zz_server.go
  packages/typespec-go/test/local/armcognitiveservices/zz_client.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

sort API versions in doc comment
  packages/autorest.go/test/network/armnetwork/zz_interfaces_client.go
  packages/autorest.go/test/network/armnetwork/zz_publicipaddresses_client.go
  packages/codegen.go/src/core/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prettier
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/codegen.go/src/core/constants.ts
  packages/codegen.go/src/core/operations.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update CODEOWNERS (#1961)
  .github/CODEOWNERS
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

prettier
  packages/typespec-go/src/tcgcadapter/helpers.ts
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test and set release date
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/test/local/azregressions/server_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Potential fix for pull request finding
  packages/codegen.go/src/core/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix required parameter group rendering in generated examples
  packages/codegen.go/src/core/example.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armtest/fake/zz_internal.go
  packages/typespec-go/test/local/armtest/fake/zz_parametergroupoperations_server.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_parametergroupoperations_client.go
  packages/typespec-go/test/local/armtest/zz_parametergroupoperations_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/tsp/Test.Management/ParameterGroups.tsp
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/ParameterGroupOperations_noParameterGroup.json
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/ParameterGroupOperations_queryParameterGroup.json
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/ParameterGroupOperations_sharedParameterGroup1.json
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/ParameterGroupOperations_sharedParameterGroup2.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Generate mock values for missing client private params in ARM examples (#1972)
  packages/codegen.go/src/core/example.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/package.json
  packages/typespec-go/test/local/armtest/fake/zz_mixedscopewidgets_server.go
  packages/typespec-go/test/local/armtest/fake/zz_server_factory.go
  packages/typespec-go/test/local/armtest/fake/zz_tenantitems_server.go
  packages/typespec-go/test/local/armtest/zz_bodyroots_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_client_factory.go
  packages/typespec-go/test/local/armtest/zz_configurations_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_lro_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_mixedscopewidgets_client.go
  packages/typespec-go/test/local/armtest/zz_mixedscopewidgets_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_models.go
  packages/typespec-go/test/local/armtest/zz_models_serde.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_pets_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/local/armtest/zz_tenantitems_client.go
  packages/typespec-go/test/local/armtest/zz_tenantitems_client_example_test.go
  packages/typespec-go/test/tsp/Test.Management/TenantResource.tsp
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/MixedScopeWidgets_get.json
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/MixedScopeWidgets_listAll.json
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/TenantItems_get.json
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/TenantItems_list.json
  packages/typespec-go/test/tsp/Test.Management/main.tsp
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

resolve comments
  packages/codegen.go/src/core/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

update test case
  packages/typespec-go/test/local/armtest/zz_parametergroupoperations_client_example_test.go
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

[typespec-go] Skip omitted literal Content-Type response headers in example mapping (#1970)
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/helpers.ts
  packages/typespec-go/test/local/armtest/fake/zz_configurations_server.go
  packages/typespec-go/test/local/armtest/zz_configurations_client.go
  packages/typespec-go/test/local/armtest/zz_configurations_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/tsp/Test.Management/StreamingResponse.tsp
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/Configurations_getTextContent.json
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

reduce the reduntant logic
  packages/codegen.go/src/core/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix format issue
  packages/codegen.go/src/core/example.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix required parameter group rendering in generated examples (#1973)
  packages/codegen.go/src/core/example.ts
  packages/typespec-go/CHANGELOG.md
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/local/armtest/fake/zz_internal.go
  packages/typespec-go/test/local/armtest/fake/zz_parametergroupoperations_server.go
  packages/typespec-go/test/local/armtest/zz_options.go
  packages/typespec-go/test/local/armtest/zz_parametergroupoperations_client.go
  packages/typespec-go/test/local/armtest/zz_parametergroupoperations_client_example_test.go
  packages/typespec-go/test/local/armtest/zz_responses.go
  packages/typespec-go/test/tsp/Test.Management/ParameterGroups.tsp
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/ParameterGroupOperations_noParameterGroup.json
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/ParameterGroupOperations_queryParameterGroup.json
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/ParameterGroupOperations_sharedParameterGroup1.json
  packages/typespec-go/test/tsp/Test.Management/examples/2025-01-01/ParameterGroupOperations_sharedParameterGroup2.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix incorrect XML tag for arrays
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/test/storage/azblob/models_serde_test.go
  packages/autorest.go/test/storage/azblob/zz_appendblob_client.go
  packages/autorest.go/test/storage/azblob/zz_blob_client.go
  packages/autorest.go/test/storage/azblob/zz_blockblob_client.go
  packages/autorest.go/test/storage/azblob/zz_models.go
  packages/autorest.go/test/storage/azblob/zz_models_serde.go
  packages/autorest.go/test/storage/azblob/zz_options.go
  packages/autorest.go/test/storage/azblob/zz_pageblob_client.go
  packages/autorest.go/test/storage/azblob/zz_responses.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Fix incorrect XML tag for arrays (#1977)
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/test/storage/azblob/models_serde_test.go
  packages/autorest.go/test/storage/azblob/zz_appendblob_client.go
  packages/autorest.go/test/storage/azblob/zz_blob_client.go
  packages/autorest.go/test/storage/azblob/zz_blockblob_client.go
  packages/autorest.go/test/storage/azblob/zz_models.go
  packages/autorest.go/test/storage/azblob/zz_models_serde.go
  packages/autorest.go/test/storage/azblob/zz_options.go
  packages/autorest.go/test/storage/azblob/zz_pageblob_client.go
  packages/autorest.go/test/storage/azblob/zz_responses.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci.yml

Remove checkout step from prepare-release.yml
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update AuthorizationServer.tsp
  packages/typespec-go/test/tsp/Test.Management/AuthorizationServer.tsp
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update CHANGELOG.md
  packages/typespec-go/CHANGELOG.md
Due: eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/cadl-ranch-typespec.yml: any of: packages/typespec-go/test/http-specs, packages/typespec-go/test/azure-http-specs
  eng/pipelines/ci-go.yml: any file but: packages/autorest.gotest, packages/typespec-go
  eng/pipelines/ci-gotest.yml: any file but: packages/autorest.go, packages/codegen.go, packages/codemodel.go, packages/naming.go, packages/typespec-go
  eng/pipelines/ci-typespec.yml: any file but: packages/autorest.go, packages/autorest.gotest, swagger
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
