Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

label non-reference schemas and skip them when generating code
  .scripts/regeneration.js
  src/common/helpers.ts
  src/generator/constants.ts
  src/generator/models.ts
  src/transform/transform.ts
  test/autorest/formdatagroup/zz_generated_models.go
  test/autorest/formdatagroup/zz_generated_models_serde.go
  test/autorest/lrogroup/zz_generated_constants.go
  test/autorest/lrogroup/zz_generated_models.go
  test/autorest/lrogroup/zz_generated_models_serde.go
  test/autorest/paginggroup/zz_generated_constants.go
  test/autorest/paginggroup/zz_generated_models.go
  test/autorest/paginggroup/zz_generated_models_serde.go
  test/compute/2019-12-01/armcompute/zz_generated_constants.go
  test/compute/2019-12-01/armcompute/zz_generated_models.go
  test/compute/2019-12-01/armcompute/zz_generated_models_serde.go
  test/consumption/2019-10-01/armconsumption/zz_generated_models.go
  test/consumption/2019-10-01/armconsumption/zz_generated_models_serde.go
  test/databoxedge/2021-02-01/armdataboxedge/zz_generated_models.go
  test/databoxedge/2021-02-01/armdataboxedge/zz_generated_models_serde.go
  test/network/2020-03-01/armnetwork/zz_generated_constants.go
  test/network/2020-03-01/armnetwork/zz_generated_models.go
  test/network/2020-03-01/armnetwork/zz_generated_models_serde.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fix doc broken url
  packages/autorest.gotest/doc/gotest_howto.md
Due: eng/pipelines/ci-gotest.yml

add check enforcer support
  .github/workflows/event.yml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

add check enforcer support (#852)
  .github/workflows/event.yml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

refactor: change output string to array to give more flexibility
  packages/autorest.gotest/src/common/model.ts
  packages/autorest.gotest/src/generator/exampleGenerator.ts
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  packages/autorest.gotest/src/generator/sampleGenerator.ts
  packages/autorest.gotest/src/generator/scenarioTestGenerator.ts
  packages/autorest.gotest/src/template/exampleTest.go.njk
  packages/autorest.gotest/src/template/mockTest.go.njk
  packages/autorest.gotest/src/template/sampleContent.go.njk
  packages/autorest.gotest/src/template/scenarioContent.go.njk
Due: eng/pipelines/ci-gotest.yml

feat: generate all examples defined in swagger
  packages/autorest.gotest/src/common/model.ts
  packages/autorest.gotest/src/generator/exampleGenerator.ts
  packages/autorest.gotest/src/template/exampleTest.go.njk
Due: eng/pipelines/ci-gotest.yml

also remove the parent type which is not a discriminator because go SDK aggregate all the parents properties
  src/transform/transform.ts
  test/autorest/complexgroup/zz_generated_models.go
  test/autorest/complexgroup/zz_generated_models_serde.go
  test/autorest/errorsgroup/zz_generated_models.go
  test/autorest/errorsgroup/zz_generated_models_serde.go
  test/autorest/lrogroup/zz_generated_models.go
  test/autorest/lrogroup/zz_generated_models_serde.go
  test/compute/2019-12-01/armcompute/zz_generated_models.go
  test/compute/2019-12-01/armcompute/zz_generated_models_serde.go
  test/consumption/2019-10-01/armconsumption/zz_generated_models.go
  test/consumption/2019-10-01/armconsumption/zz_generated_models_serde.go
  test/databoxedge/2021-02-01/armdataboxedge/zz_generated_models.go
  test/databoxedge/2021-02-01/armdataboxedge/zz_generated_models_serde.go
  test/network/2020-03-01/armnetwork/zz_generated_models.go
  test/network/2020-03-01/armnetwork/zz_generated_models_serde.go
Due: eng/pipelines/ci.yml

fix doc broken url (#850)
  packages/autorest.gotest/doc/gotest_howto.md
Due: eng/pipelines/ci-gotest.yml

fix: only add suffix when there is more than one example for one operation
  packages/autorest.gotest/src/template/exampleTest.go.njk
Due: eng/pipelines/ci-gotest.yml

do not generate polymorphics helper if no reference
  src/generator/polymorphics.ts
Due: eng/pipelines/ci.yml

pump version
  src/package.json
Due: eng/pipelines/ci.yml

build: release @autorest/gotest_v4.1.0
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

upgrade testmodeler version and add prettier to format code
  .prettierrc
  common/config/rush/pnpm-lock.yaml
  packages/autorest.gotest/README.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

upgrade version for autorest/gotest
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

add lint step to gotest ci
  eng/steps/build-test-gotest.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

update test snapshot
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/main.go
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring_live_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/main.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample_live_test.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/main.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr_live_test.go
  packages/autorest.gotest/test/unittest/generator/__snapshots__/testGoTester.ts.snap
Due: eng/pipelines/ci-gotest.yml

fix: remove redundant go fmt
  packages/autorest.gotest/src/generator/goLinter.ts
Due: eng/pipelines/ci-gotest.yml

fix: wrong pointer return for lro
  packages/autorest.gotest/src/template/scenarioContent.go.njk
Due: eng/pipelines/ci-gotest.yml

fix: wrong parse for map key value with variable
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  packages/autorest.gotest/src/generator/scenarioTestGenerator.ts
  packages/autorest.gotest/src/template/scenarioContent.go.njk
Due: eng/pipelines/ci-gotest.yml

test: update test for fix
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/__debug/go-tester-pre.yaml
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/__debug/go-tester.yaml
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/__debug/test-modeler-pre.yaml
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/__debug/test-modeler.yaml
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/mock_test.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/main.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr_live_test.go
  packages/autorest.gotest/test/integrationtest/testAutorest.ts
  packages/autorest.gotest/test/unittest/generator/testGoLinter.ts
  swagger/specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_Update.json
  swagger/specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/scenarios/signalR.yaml
Due: eng/pipelines/ci-gotest.yml

fix: example group and example file name
  common/config/rush/pnpm-lock.yaml
  packages/autorest.gotest/src/generator/exampleGenerator.ts
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

build: pump to @autorest/gotest_v4.2.1
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

test: update interation test snapshot
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/privateendpointconnections_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/privatelinkresources_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/sharedprivatelinkresources_client_example_test.go
  packages/autorest.gotest/test/integrationtest/testAutorest.ts
Due: eng/pipelines/ci-gotest.yml

Fix minor problem in testgen for api scenario generation (#861)
  common/config/rush/pnpm-lock.yaml
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
  packages/autorest.gotest/src/generator/exampleGenerator.ts
  packages/autorest.gotest/src/generator/goLinter.ts
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  packages/autorest.gotest/src/generator/scenarioTestGenerator.ts
  packages/autorest.gotest/src/template/scenarioContent.go.njk
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/__debug/go-tester-pre.yaml
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/__debug/go-tester.yaml
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/__debug/test-modeler-pre.yaml
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/__debug/test-modeler.yaml
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/mock_test.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/privateendpointconnections_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/privatelinkresources_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/sharedprivatelinkresources_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/main.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr_live_test.go
  packages/autorest.gotest/test/unittest/generator/testGoLinter.ts
  swagger/specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/examples/SignalR_Update.json
  swagger/specification/signalr/resource-manager/Microsoft.SignalRService/preview/2021-06-01-preview/scenarios/signalR.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Add support for x-ms-external extension
  src/generator/models.ts
  test/maps/azalias/models_custom.go
  test/maps/azalias/zz_generated_models.go
  test/maps/azalias/zz_generated_models_serde.go
  test/swagger/alias.json
Due: eng/pipelines/ci.yml

add changes from azartifacts
  test/synapse/2019-06-01/azartifacts/zz_generated_models.go
  test/synapse/2019-06-01/azartifacts/zz_generated_models_serde.go
Due: eng/pipelines/ci.yml

add externally defined error type
  test/synapse/2019-06-01/azartifacts/models_custom.go
Due: eng/pipelines/ci.yml

opt-in ignore precision for int and float type
  .scripts/regeneration.js
  src/autorest-configuration.md
  src/generator/helpers.ts
  src/generator/operations.ts
  src/transform/transform.ts
  test/consumption/2019-10-01/armconsumption/zz_generated_marketplaces_client.go
  test/consumption/2019-10-01/armconsumption/zz_generated_models.go
  test/consumption/2019-10-01/armconsumption/zz_generated_pricesheet_client.go
  test/consumption/2019-10-01/armconsumption/zz_generated_usagedetails_client.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Add support for x-ms-external extension (#862)
  src/generator/models.ts
  test/maps/azalias/models_custom.go
  test/maps/azalias/zz_generated_models.go
  test/maps/azalias/zz_generated_models_serde.go
  test/swagger/alias.json
  test/synapse/2019-06-01/azartifacts/models_custom.go
  test/synapse/2019-06-01/azartifacts/zz_generated_models.go
  test/synapse/2019-06-01/azartifacts/zz_generated_models_serde.go
Due: eng/pipelines/ci.yml

feat: refine example function name
  common/config/rush/pnpm-lock.yaml
  packages/autorest.gotest/package.json
  packages/autorest.gotest/src/generator/exampleGenerator.ts
  packages/autorest.gotest/src/template/exampleTest.go.njk
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/services_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/main.go
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring_live_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/cloudservices_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/diskaccesses_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/diskencryptionsets_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/disks_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/galleryimageversions_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/gallerysharingprofile_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/images_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/resourceskus_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/restorepointcollections_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/snapshots_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/virtualmachines_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/virtualmachinescalesets_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/machinelearningservices/armmachinelearningservices/compute_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/machinelearningservices/armmachinelearningservices/datastores_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/machinelearningservices/armmachinelearningservices/jobs_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/machinelearningservices/armmachinelearningservices/onlinedeployments_client_example_test.go
  packages/autorest.gotest/test/unittest/generator/__snapshots__/testGoTester.ts.snap
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

build: pump to @autorest/gotest_v4.2.2
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

upgrade gotest ci go version to 1.19
  eng/pipelines/ci-gotest.yml
  eng/pipelines/publish-release-gotest.yml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/ci-gotest.yml: any file but: src, test
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
