Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go119:
          vm.image: ubuntu-18.04
          go.version: '1.19'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

add test
  .scripts/regeneration.js
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_availabilitysets_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_constants.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_containerservices_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_dedicatedhostgroups_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_dedicatedhosts_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_diskencryptionsets_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_disks_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_galleries_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_galleryapplications_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_galleryapplicationversions_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_galleryimages_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_galleryimageversions_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_images_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_loganalytics_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_models.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_models_serde.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_operations_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_proximityplacementgroups_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_resourceskus_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_response_types.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_snapshots_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_sshpublickeys_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_time_rfc3339.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_usage_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_virtualmachineextensionimages_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_virtualmachineextensions_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_virtualmachineimages_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_virtualmachineruncommands_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_virtualmachines_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_virtualmachinescalesetextensions_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_virtualmachinescalesetrollingupgrades_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_virtualmachinescalesets_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_virtualmachinescalesetvmextensions_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_virtualmachinescalesetvms_client.go
  test/profile/testprofile/compute/2019-12-01/armcompute/zz_generated_virtualmachinesizes_client.go
  test/profile/testprofile/go.mod
  test/profile/testprofile/go.sum
  test/profile/testprofile/internal/constants.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

add support for form data request
  .scripts/regeneration.js
  src/generator/operations.ts
  test/acr/2021-07-01/azacr/go.mod
  test/acr/2021-07-01/azacr/go.sum
  test/acr/2021-07-01/azacr/zz_authentication_client.go
  test/acr/2021-07-01/azacr/zz_constants.go
  test/acr/2021-07-01/azacr/zz_containerregistry_client.go
  test/acr/2021-07-01/azacr/zz_containerregistryblob_client.go
  test/acr/2021-07-01/azacr/zz_models.go
  test/acr/2021-07-01/azacr/zz_models_serde.go
  test/acr/2021-07-01/azacr/zz_response_types.go
  test/acr/2021-07-01/azacr/zz_time_rfc3339.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

add support for form data request (#898)
  .scripts/regeneration.js
  src/generator/operations.ts
  test/acr/2021-07-01/azacr/go.mod
  test/acr/2021-07-01/azacr/go.sum
  test/acr/2021-07-01/azacr/zz_authentication_client.go
  test/acr/2021-07-01/azacr/zz_constants.go
  test/acr/2021-07-01/azacr/zz_containerregistry_client.go
  test/acr/2021-07-01/azacr/zz_containerregistryblob_client.go
  test/acr/2021-07-01/azacr/zz_models.go
  test/acr/2021-07-01/azacr/zz_models_serde.go
  test/acr/2021-07-01/azacr/zz_response_types.go
  test/acr/2021-07-01/azacr/zz_time_rfc3339.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fix wrong comment of LRO and pageable operation's response envelop
  src/transform/transform.ts
  test/acr/2021-07-01/azacr/zz_response_types.go
  test/autorest/lrogroup/zz_response_types.go
  test/autorest/paginggroup/zz_response_types.go
  test/compute/2019-12-01/armcompute/zz_response_types.go
  test/consumption/2019-10-01/armconsumption/zz_response_types.go
  test/databoxedge/2021-02-01/armdataboxedge/zz_response_types.go
  test/keyvault/7.2/azkeyvault/zz_response_types.go
  test/maps/azalias/zz_response_types.go
  test/network/2020-03-01/armnetwork/zz_response_types.go
  test/storage/2020-06-12/azblob/zz_response_types.go
  test/synapse/2019-06-01/azartifacts/zz_response_types.go
Due: eng/pipelines/ci.yml

Updating check enforcer permissions to enable writing comments
  .github/workflows/event.yml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Updating check enforcer permissions to enable writing comments (#900)
  .github/workflows/event.yml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Fix collision between receiver var and params
  src/generator/models.ts
  test/autorest/xmlgroup/zz_models_serde.go
  test/storage/2020-06-12/azblob/zz_models_serde.go
  test/tables/2019-02-02/aztables/zz_models_serde.go
Due: eng/pipelines/ci.yml

Fix collision between receiver var and params (#901)
  src/generator/models.ts
  test/autorest/xmlgroup/zz_models_serde.go
  test/storage/2020-06-12/azblob/zz_models_serde.go
  test/tables/2019-02-02/aztables/zz_models_serde.go
Due: eng/pipelines/ci.yml

Use pointer-to-type for metadata collections
  src/generator/helpers.ts
  src/generator/operations.ts
  src/generator/structs.ts
  test/storage/2020-06-12/azblob/zz_appendblob_client.go
  test/storage/2020-06-12/azblob/zz_blockblob_client.go
  test/storage/2020-06-12/azblob/zz_client.go
  test/storage/2020-06-12/azblob/zz_container_client.go
  test/storage/2020-06-12/azblob/zz_models.go
  test/storage/2020-06-12/azblob/zz_pageblob_client.go
  test/storage/2020-06-12/azblob/zz_response_types.go
Due: eng/pipelines/ci.yml

Update CI to latest Ubuntu image
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci.yml
  eng/pipelines/publish-dev-release.yml
  eng/pipelines/publish-release-gotest.yml
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Use 22.04
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci.yml
  eng/pipelines/publish-dev-release.yml
  eng/pipelines/publish-release-gotest.yml
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Use pointer-to-type for metadata collections (#902)
  src/generator/helpers.ts
  src/generator/operations.ts
  src/generator/structs.ts
  test/storage/2020-06-12/azblob/zz_appendblob_client.go
  test/storage/2020-06-12/azblob/zz_blockblob_client.go
  test/storage/2020-06-12/azblob/zz_client.go
  test/storage/2020-06-12/azblob/zz_container_client.go
  test/storage/2020-06-12/azblob/zz_models.go
  test/storage/2020-06-12/azblob/zz_pageblob_client.go
  test/storage/2020-06-12/azblob/zz_response_types.go
Due: eng/pipelines/ci.yml

Update CI to latest Ubuntu image (#903)
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci.yml
  eng/pipelines/publish-dev-release.yml
  eng/pipelines/publish-release-gotest.yml
  eng/pipelines/publish-release.yml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Prepare for next release
  src/package.json
Due: eng/pipelines/ci.yml

Prepare for next release (#904)
  src/package.json
Due: eng/pipelines/ci.yml

Update CI to latest node LTS
  eng/steps/set-env.yaml
  rush.json
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Update CI to latest node LTS (#906)
  eng/steps/set-env.yaml
  rush.json
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Move discriminator transformation to transform phase
  src/generator/helpers.ts
  src/generator/operations.ts
  src/generator/structs.ts
  src/transform/transform.ts
Due: eng/pipelines/ci.yml

add removed function to gotest
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
Due: eng/pipelines/ci-gotest.yml

Move discriminator substitution to transform phase (#905)
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  src/generator/helpers.ts
  src/generator/operations.ts
  src/generator/structs.ts
  src/transform/transform.ts
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Add --rawjson-as-bytes option
  .scripts/regeneration.js
  src/autorest-configuration.md
  src/generator/models.ts
  src/generator/operations.ts
  src/transform/namer.ts
  src/transform/transform.ts
  test/acr/2021-07-01/azacr/zz_containerregistry_client.go
  test/acr/2021-07-01/azacr/zz_models.go
  test/acr/2021-07-01/azacr/zz_models_serde.go
  test/acr/2021-07-01/azacr/zz_response_types.go
  test/autorest/objectgroup/objectgroup_test.go
  test/autorest/objectgroup/zz_objecttype_client.go
  test/autorest/objectgroup/zz_response_types.go
  test/compute/2019-12-01/armcompute/zz_models.go
  test/compute/2019-12-01/armcompute/zz_models_serde.go
  test/maps/azalias/models_test.go
  test/maps/azalias/polymorphic_helpers_test.go
  test/maps/azalias/zz_models.go
  test/maps/azalias/zz_models_serde.go
  test/swagger/alias.json
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fix type-o
  .scripts/regeneration.js
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fixed missed case with arrays and simplified logic
  src/generator/models.ts
  src/generator/operations.ts
  src/transform/transform.ts
  test/compute/2019-12-01/armcompute/zz_models.go
  test/compute/2019-12-01/armcompute/zz_models_serde.go
Due: eng/pipelines/ci.yml

Add --rawjson-as-bytes option (#907)
  .scripts/regeneration.js
  src/autorest-configuration.md
  src/generator/models.ts
  src/generator/operations.ts
  src/transform/namer.ts
  src/transform/transform.ts
  test/acr/2021-07-01/azacr/zz_containerregistry_client.go
  test/acr/2021-07-01/azacr/zz_models.go
  test/acr/2021-07-01/azacr/zz_models_serde.go
  test/acr/2021-07-01/azacr/zz_response_types.go
  test/autorest/objectgroup/objectgroup_test.go
  test/autorest/objectgroup/zz_objecttype_client.go
  test/autorest/objectgroup/zz_response_types.go
  test/compute/2019-12-01/armcompute/zz_models.go
  test/compute/2019-12-01/armcompute/zz_models_serde.go
  test/maps/azalias/models_test.go
  test/maps/azalias/polymorphic_helpers_test.go
  test/maps/azalias/zz_models.go
  test/maps/azalias/zz_models_serde.go
  test/swagger/alias.json
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

upgrade to @autorest/gotest_v4.5.0
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

fix type
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
Due: eng/pipelines/ci-gotest.yml

fix bug of any type
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
Due: eng/pipelines/ci-gotest.yml

release @autorest/gotest_v4.5.1
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

Fix test generation problem of any type (#909)
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
Due: eng/pipelines/ci-gotest.yml

release @autorest/gotest_v4.5.2
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

Path conditions:
  eng/pipelines/ci-gotest.yml: any file but: src, test
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
