Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/ci-go.yml:

trigger:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.gotest
      - packages/typespec-go

pr:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.gotest
      - packages/typespec-go

jobs:
  - job: "AutoRest_Go_CI"
    displayName: "Run AutoRest CI Checks"

    strategy:
      matrix:
        Linux_Go121:
          vm.image: "ubuntu-22.04"
          go.version: "1.21.4"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "18.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test-go.yaml
        parameters:
          PublishAutorestCoverage: true

eng/pipelines/ci-gotest.yml:

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - src
      - test

pr:
  branches:
    include:
      - main
  paths:
    exclude:
      - src
      - test

jobs:
  - job: "AutoRest_Go_CI"
    displayName: "Run AutoRest CI Checks"

    strategy:
      matrix:
        Linux_Go119:
          vm.image: "ubuntu-22.04"
          go.version: "1.19.1"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "16.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test-gotest.yaml

eng/pipelines/ci-typespec.yml:

trigger:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.go
      - packages/autorest.gotest
      - swagger

pr:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.go
      - packages/autorest.gotest
      - swagger

jobs:
  - job: "TypeSpec_Go_CI"
    displayName: "Run TypeSpec Go CI Checks"

    strategy:
      matrix:
        Linux_Go121:
          vm.image: "ubuntu-22.04"
          go.version: "1.21.4"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "18.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test-typespec.yaml

eng/pipelines/ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - packages/autorest.gotest
      - swagger

pr:
  branches:
    include:
      - main
  paths:
    exclude:
      - packages/autorest.gotest
      - swagger

jobs:
  - job: "AutoRest_Go_CI"
    displayName: "Run AutoRest CI Checks"

    strategy:
      matrix:
        Linux_Go118:
          vm.image: "ubuntu-18.04"
          go.version: "1.18"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "16.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test.yaml

Make sortContent a method on CodeModel (#1084)
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/codemodel.go/gocodemodel.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Improvements to the ARM client factory (#1082)
  packages/autorest.go/test/compute/armcompute/zz_client_factory.go
  packages/autorest.go/test/consumption/armconsumption/zz_client_factory.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_client_factory.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_client_factory.go
  packages/autorest.go/test/network/armnetwork/zz_client_factory.go
  packages/codegen.go/clientFactory.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update CODEOWNERS (#1083)
  .github/CODEOWNERS
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add missing terminal quote
  eng/steps/build-test-typespec.yaml
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove mod tidy from tspcompile
  eng/steps/build-test-typespec.yaml
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

consolidate shared naming functionality
  common/config/rush/pnpm-lock.yaml
  packages/autorest.go/src/transform/namer.ts
  packages/naming.go/mappings.ts
  packages/naming.go/naming.ts
  packages/naming.go/package.json
  packages/naming.go/tsconfig.json
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/mappings.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  rush.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add missing license headers
  packages/typespec-go/test/cadlranch/arraygroup/arraygroup_test.go
  packages/typespec-go/test/cadlranch/arraygroup/custom_client.go
  packages/typespec-go/test/cadlranch/dictionarygroup/custom_client.go
  packages/typespec-go/test/cadlranch/dictionarygroup/dictionarygroup_test.go
  packages/typespec-go/test/cadlranch/extensibleenumgroup/custom_client.go
  packages/typespec-go/test/cadlranch/extensibleenumgroup/extensible_client_test.go
  packages/typespec-go/test/cadlranch/visibilitygroup/custom_client.go
  packages/typespec-go/test/cadlranch/visibilitygroup/visibility_client_test.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move sources under src directory
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/src/transform/namer.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/gomod.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/imports.ts
  packages/codegen.go/src/interfaces.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/options.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codegen.go/src/responses.ts
  packages/codegen.go/src/time.ts
  packages/codegen.go/src/xmlAdditionalProps.ts
  packages/codegen.go/tsconfig.json
  packages/codemodel.go/src/gocodemodel.ts
  packages/codemodel.go/tsconfig.json
  packages/naming.go/src/mappings.ts
  packages/naming.go/src/naming.ts
  packages/naming.go/tsconfig.json
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

exclude naming.go from autorest.gotest CI
  eng/pipelines/ci-gotest.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move sources under src directory (#1087)
  eng/pipelines/ci-gotest.yml
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/src/m4togocodemodel/adapter.ts
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/src/transform/namer.ts
  packages/codegen.go/src/clientFactory.ts
  packages/codegen.go/src/constants.ts
  packages/codegen.go/src/fake/factory.ts
  packages/codegen.go/src/fake/internal.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/gomod.ts
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/imports.ts
  packages/codegen.go/src/interfaces.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/options.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codegen.go/src/responses.ts
  packages/codegen.go/src/time.ts
  packages/codegen.go/src/xmlAdditionalProps.ts
  packages/codegen.go/tsconfig.json
  packages/codemodel.go/src/gocodemodel.ts
  packages/codemodel.go/tsconfig.json
  packages/naming.go/src/mappings.ts
  packages/naming.go/src/naming.ts
  packages/naming.go/tsconfig.json
  packages/typespec-go/src/emitter.ts
  packages/typespec-go/src/tcgcadapter/adapter.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add workspace dependencies
  common/config/rush/pnpm-lock.yaml
  packages/autorest.go/package.json
  packages/codegen.go/package.json
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add workspace dependencies (#1088)
  common/config/rush/pnpm-lock.yaml
  packages/autorest.go/package.json
  packages/codegen.go/package.json
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Make discriminatorValue a LiteralValue
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codemodel.go/src/gocodemodel.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

refactor
  packages/autorest.go/src/m4togocodemodel/types.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Make discriminatorValue a LiteralValue (#1093)
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codemodel.go/src/gocodemodel.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Some minor cleanup
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Some minor cleanup (#1094)
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add comment on why sorting by literal value happens
  packages/codemodel.go/src/gocodemodel.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move auto-generated field comments to codegen.go
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/src/transform/helpers.ts
  packages/autorest.go/src/transform/transform.ts
  packages/autorest.go/test/synapse/azartifacts/zz_models.go
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/type/arraygroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/dictionarygroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/enumdiscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/nodiscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/singlediscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/usagegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/zz_models.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove comment
  packages/codegen.go/src/helpers.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Move auto-generated field comments to codegen.go (#1096)
  packages/autorest.go/src/generator/generator.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/autorest.go/src/transform/helpers.ts
  packages/autorest.go/src/transform/transform.ts
  packages/autorest.go/test/synapse/azartifacts/zz_models.go
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/codegen.go/src/operations.ts
  packages/codegen.go/src/polymorphics.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/type/arraygroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/dictionarygroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/enumdiscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/nodiscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/singlediscgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/usagegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/model/visibilitygroup/zz_models.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for bytes types in tsp
  packages/autorest.go/test/autorest/complexgroup/zz_models_serde.go
  packages/autorest.go/test/keyvault/azkeyvault/zz_models_serde.go
  packages/autorest.go/test/storage/azblob/zz_models_serde.go
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/custom_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/go.mod
  packages/typespec-go/test/cadlranch/encode/bytesgroup/go.sum
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_header_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_models.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_property_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_query_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_requestbody_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responsebody_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responses.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add support for bytes types in tsp (#1097)
  packages/autorest.go/test/autorest/complexgroup/zz_models_serde.go
  packages/autorest.go/test/keyvault/azkeyvault/zz_models_serde.go
  packages/autorest.go/test/storage/azblob/zz_models_serde.go
  packages/codegen.go/src/helpers.ts
  packages/codegen.go/src/models.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/custom_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/go.mod
  packages/typespec-go/test/cadlranch/encode/bytesgroup/go.sum
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_header_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_models.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_property_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_query_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_requestbody_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responsebody_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responses.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix up names during tsp adaptation
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_header_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_models.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_property_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_query_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_requestbody_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responsebody_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responses.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Fix up names during tsp adaptation (#1099)
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_header_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_models.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_property_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_query_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_requestbody_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responsebody_client.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responses.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add coverage for cadl-ranch encode/datetime
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_query_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/custom_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/go.mod
  packages/typespec-go/test/cadlranch/encode/datetimegroup/go.sum
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_constants.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_header_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_models.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_property_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_query_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_responseheader_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_responses.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_time_rfc1123.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_time_unix.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add coverage for cadl-ranch encode/datetime (#1101)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_query_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/custom_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/go.mod
  packages/typespec-go/test/cadlranch/encode/datetimegroup/go.sum
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_constants.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_header_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_models.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_property_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_query_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_responseheader_client.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_responses.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_time_rfc1123.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_time_unix.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add coverage for tsp durations
  packages/naming.go/src/mappings.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/encode/durationgroup/custom_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/go.mod
  packages/typespec-go/test/cadlranch/encode/durationgroup/go.sum
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_header_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_models.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_property_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_query_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_responses.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add coverage for tsp durations (#1102)
  packages/naming.go/src/mappings.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/encode/durationgroup/custom_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/custom_client_test.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/go.mod
  packages/typespec-go/test/cadlranch/encode/durationgroup/go.sum
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_header_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_models.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_property_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_query_client.go
  packages/typespec-go/test/cadlranch/encode/durationgroup/zz_responses.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Consolidate custom command scripts
  .scripts/buildvet.js
  .scripts/modtidy.js
  .scripts/semaphore.js
  common/config/rush/command-line.json
  eng/steps/build-test-go.yaml
  packages/autorest.go/.scripts/regeneration.js
  packages/autorest.go/.scripts/semaphore.js
  packages/typespec-go/.scripts/semaphore.js
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix relative path
  eng/steps/build-test-go.yaml
  eng/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
