Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go119:
          vm.image: ubuntu-18.04
          go.version: '1.19'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

Fix example name issue (#866)
  common/config/rush/pnpm-lock.yaml
  eng/pipelines/ci-gotest.yml
  eng/pipelines/publish-release-gotest.yml
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
  packages/autorest.gotest/src/generator/exampleGenerator.ts
  packages/autorest.gotest/src/template/exampleTest.go.njk
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/services_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/main.go
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring_live_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/cloudservices_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/diskaccesses_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/diskencryptionsets_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/disks_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/galleryimageversions_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/gallerysharingprofile_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/images_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/resourceskus_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/restorepointcollections_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/snapshots_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/virtualmachines_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/virtualmachinescalesets_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/machinelearningservices/armmachinelearningservices/compute_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/machinelearningservices/armmachinelearningservices/datastores_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/machinelearningservices/armmachinelearningservices/jobs_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/machinelearningservices/armmachinelearningservices/onlinedeployments_client_example_test.go
  packages/autorest.gotest/test/unittest/generator/__snapshots__/testGoTester.ts.snap
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Add support for client-side default values for models
  src/generator/helpers.ts
  src/generator/models.ts
  src/generator/operations.ts
  test/maps/azalias/zz_generated_constants.go
  test/maps/azalias/zz_generated_models.go
  test/maps/azalias/zz_generated_models_serde.go
  test/swagger/alias.json
Due: eng/pipelines/ci.yml

update test with new field
  test/maps/azalias/polymorphic_helpers_test.go
Due: eng/pipelines/ci.yml

more descriptive default value
  test/maps/azalias/zz_generated_models_serde.go
  test/swagger/alias.json
Due: eng/pipelines/ci.yml

Add support for client-side default values for models (#868)
  src/generator/helpers.ts
  src/generator/models.ts
  src/generator/operations.ts
  test/maps/azalias/polymorphic_helpers_test.go
  test/maps/azalias/zz_generated_constants.go
  test/maps/azalias/zz_generated_models.go
  test/maps/azalias/zz_generated_models_serde.go
  test/swagger/alias.json
Due: eng/pipelines/ci.yml

Use correct github PAT reference for publish command
  eng/steps/build-test.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Use correct github PAT reference for publish command (#869)
  eng/steps/build-test.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Don't fail the build if we fail to publish autorest code coverage
  eng/steps/build-test.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Don't fail the build if we fail to publish autorest code coverage (#870)
  eng/steps/build-test.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Continue the pipeline if publishing autorest coverage fails
  eng/steps/build-test.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

pump to testmodeler 2.3.2 and enable operationId support for API scenario
  common/config/rush/pnpm-lock.yaml
  packages/autorest.gotest/README.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

build: release @autorest/gotest_v4.3.0
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
  swagger/specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/test-scenarios/sample.yaml
Due: eng/pipelines/ci-gotest.yml

Revert "Don't fail the build if we fail to publish autorest code coverage (#870)"
  eng/steps/build-test.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Revert "Use correct github PAT reference for publish command (#869)"
  eng/steps/build-test.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

publish autorest test server coverage report only triggered in main branch ci
  eng/pipelines/ci.yml
  eng/steps/build-test.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

replace all tab with space
  packages/autorest.gotest/src/template/exampleTest.go.njk
  packages/autorest.gotest/src/template/mockTest.go.njk
  packages/autorest.gotest/src/template/sampleContent.go.njk
  packages/autorest.gotest/src/template/sampleMain.go.njk
  packages/autorest.gotest/src/template/scenarioContent.go.njk
  packages/autorest.gotest/src/template/scenarioTest.go.njk
Due: eng/pipelines/ci-gotest.yml

update test snapshot
  packages/autorest.gotest/test/unittest/generator/__snapshots__/testGoTester.ts.snap
Due: eng/pipelines/ci-gotest.yml

`publish autorest test server coverage report` only triggered in main branch ci (#873)
  eng/pipelines/ci.yml
  eng/steps/build-test.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

add helper message
  src/autorest-configuration.md
Due: eng/pipelines/ci.yml

feat: change the operation name with more than one response body type
  src/transform/transform.ts
Due: eng/pipelines/ci.yml

change to another implmentation
  .scripts/regeneration.js
  src/autorest-configuration.md
  src/transform/transform.ts
  test/autorest/mediatypesgroupwithconfig/zz_generated_constants.go
  test/autorest/mediatypesgroupwithconfig/zz_generated_mediatypes_client.go
  test/autorest/mediatypesgroupwithconfig/zz_generated_models.go
  test/autorest/mediatypesgroupwithconfig/zz_generated_models_serde.go
  test/autorest/mediatypesgroupwithconfig/zz_generated_response_types.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Revert "change to another implmentation"
  .scripts/regeneration.js
  src/autorest-configuration.md
  src/transform/transform.ts
  test/autorest/mediatypesgroup/zz_generated_mediatypes_client.go
  test/autorest/mediatypesgroup/zz_generated_models.go
  test/autorest/mediatypesgroup/zz_generated_response_types.go
  test/autorest/mediatypesgroupwithconfig/zz_generated_constants.go
  test/autorest/mediatypesgroupwithconfig/zz_generated_mediatypes_client.go
  test/autorest/mediatypesgroupwithconfig/zz_generated_models.go
  test/autorest/mediatypesgroupwithconfig/zz_generated_models_serde.go
  test/autorest/mediatypesgroupwithconfig/zz_generated_response_types.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Revert "feat: change the operation name with more than one response body type"
  src/transform/transform.ts
Due: eng/pipelines/ci.yml

change logic with Jeff design
  .scripts/regeneration.js
  src/autorest-configuration.md
  src/transform/transform.ts
  test/autorest/binarygroup/zz_generated_models.go
  test/autorest/binarygroup/zz_generated_response_types.go
  test/autorest/binarygroup/zz_generated_upload_client.go
  test/autorest/formdatagroup/zz_generated_formdata_client.go
  test/autorest/formdatagroup/zz_generated_models.go
  test/autorest/formdatagroup/zz_generated_response_types.go
  test/autorest/mediatypesgroupwithnormailzedoperationname/zz_generated_constants.go
  test/autorest/mediatypesgroupwithnormailzedoperationname/zz_generated_mediatypes_client.go
  test/autorest/mediatypesgroupwithnormailzedoperationname/zz_generated_models.go
  test/autorest/mediatypesgroupwithnormailzedoperationname/zz_generated_models_serde.go
  test/autorest/mediatypesgroupwithnormailzedoperationname/zz_generated_response_types.go
  test/autorest/optionalgroup/zz_generated_explicit_client.go
  test/autorest/optionalgroup/zz_generated_implicit_client.go
  test/autorest/optionalgroup/zz_generated_models.go
  test/autorest/optionalgroup/zz_generated_response_types.go
  test/autorest/stringgroup/zz_generated_models.go
  test/autorest/stringgroup/zz_generated_response_types.go
  test/autorest/stringgroup/zz_generated_string_client.go
  test/storage/2020-06-12/azblob/zz_generated_appendblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_blockblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_container_client.go
  test/storage/2020-06-12/azblob/zz_generated_models.go
  test/storage/2020-06-12/azblob/zz_generated_pageblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_response_types.go
  test/storage/2020-06-12/azblob/zz_generated_service_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_library_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_models.go
  test/synapse/2019-06-01/azartifacts/zz_generated_response_types.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

update test
  test/autorest/binarygroup/binarygroup_test.go
  test/autorest/formdatagroup/formgroup_test.go
  test/autorest/optionalgroup/explicit_test.go
  test/autorest/optionalgroup/implicit_test.go
  test/autorest/stringgroup/string_test.go
Due: eng/pipelines/ci.yml

Opt-in omit x-ms-external model generation
  .scripts/regeneration.js
  src/autorest-configuration.md
  src/generator/models.ts
  src/package.json
  test/maps/azalias2/go.mod
  test/maps/azalias2/zz_generated_alias_client.go
  test/maps/azalias2/zz_generated_constants.go
  test/maps/azalias2/zz_generated_models.go
  test/maps/azalias2/zz_generated_models_serde.go
  test/maps/azalias2/zz_generated_polymorphic_helpers.go
  test/maps/azalias2/zz_generated_response_types.go
  test/maps/azalias2/zz_generated_time_rfc3339.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

generate ctor for data plane if OAuth2 definition exist
  src/common/helpers.ts
  src/generator/constants.ts
  src/generator/operations.ts
  src/transform/namer.ts
  test/keyvault/7.2/azkeyvault/zz_generated_client.go
  test/keyvault/7.2/azkeyvault/zz_generated_constants.go
  test/keyvault/7.2/azkeyvault/zz_generated_hsmsecuritydomain_client.go
  test/keyvault/7.2/azkeyvault/zz_generated_roleassignments_client.go
  test/keyvault/7.2/azkeyvault/zz_generated_roledefinitions_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_bigdatapools_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_constants.go
  test/synapse/2019-06-01/azartifacts/zz_generated_dataflow_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_dataflowdebugsession_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_dataset_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_integrationruntimes_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_library_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_linkedservice_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_models.go
  test/synapse/2019-06-01/azartifacts/zz_generated_notebook_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_pipeline_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_pipelinerun_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_response_types.go
  test/synapse/2019-06-01/azartifacts/zz_generated_sparkjobdefinition_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_sqlpools_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_sqlscript_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_trigger_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_triggerrun_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_workspace_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_workspacegitrepomanagement_client.go
  test/synapse/2019-06-01/azspark/zz_generated_batch_client.go
  test/synapse/2019-06-01/azspark/zz_generated_constants.go
  test/synapse/2019-06-01/azspark/zz_generated_models.go
  test/synapse/2019-06-01/azspark/zz_generated_response_types.go
  test/synapse/2019-06-01/azspark/zz_generated_session_client.go
  test/tables/2019-02-02/aztables/zz_generated_client.go
  test/tables/2019-02-02/aztables/zz_generated_constants.go
  test/tables/2019-02-02/aztables/zz_generated_service_client.go
Due: eng/pipelines/ci.yml

add rush change file
  common/changes/@autorest/gotest/fix_api_scenario_2022-09-15-08-57.json
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Update to latest newtonsoft json
  src/autorest.go.csproj
Due: eng/pipelines/ci.yml

Update to latest newtonsoft json (#881)
  src/autorest.go.csproj
Due: eng/pipelines/ci.yml

set `normalize-operation-name` flag default value to false
  .scripts/regeneration.js
  src/transform/transform.ts
  test/autorest/binarygroup/binarygroup_test.go
  test/autorest/binarygroup/zz_generated_models.go
  test/autorest/binarygroup/zz_generated_response_types.go
  test/autorest/binarygroup/zz_generated_upload_client.go
  test/autorest/formdatagroup/formgroup_test.go
  test/autorest/formdatagroup/zz_generated_formdata_client.go
  test/autorest/formdatagroup/zz_generated_models.go
  test/autorest/formdatagroup/zz_generated_response_types.go
  test/autorest/optionalgroup/explicit_test.go
  test/autorest/optionalgroup/implicit_test.go
  test/autorest/optionalgroup/zz_generated_explicit_client.go
  test/autorest/optionalgroup/zz_generated_implicit_client.go
  test/autorest/optionalgroup/zz_generated_models.go
  test/autorest/optionalgroup/zz_generated_response_types.go
  test/autorest/stringgroup/string_test.go
  test/autorest/stringgroup/zz_generated_models.go
  test/autorest/stringgroup/zz_generated_response_types.go
  test/autorest/stringgroup/zz_generated_string_client.go
  test/storage/2020-06-12/azblob/zz_generated_appendblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_blockblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_container_client.go
  test/storage/2020-06-12/azblob/zz_generated_models.go
  test/storage/2020-06-12/azblob/zz_generated_pageblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_response_types.go
  test/storage/2020-06-12/azblob/zz_generated_service_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_library_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_models.go
  test/synapse/2019-06-01/azartifacts/zz_generated_response_types.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

add extended client options
  src/generator/operations.ts
  test/keyvault/7.2/azkeyvault/zz_generated_client.go
  test/keyvault/7.2/azkeyvault/zz_generated_hsmsecuritydomain_client.go
  test/keyvault/7.2/azkeyvault/zz_generated_roleassignments_client.go
  test/keyvault/7.2/azkeyvault/zz_generated_roledefinitions_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_bigdatapools_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_dataflow_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_dataflowdebugsession_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_dataset_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_integrationruntimes_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_library_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_linkedservice_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_notebook_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_pipeline_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_pipelinerun_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_sparkjobdefinition_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_sqlpools_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_sqlscript_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_trigger_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_triggerrun_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_workspace_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_workspacegitrepomanagement_client.go
  test/synapse/2019-06-01/azspark/zz_generated_batch_client.go
  test/synapse/2019-06-01/azspark/zz_generated_session_client.go
  test/tables/2019-02-02/aztables/zz_generated_client.go
  test/tables/2019-02-02/aztables/zz_generated_service_client.go
Due: eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/ci-gotest.yml: any file but: src, test
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
