Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/ci-go.yml:

trigger:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.gotest
      - packages/typespec-go

pr:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.gotest
      - packages/typespec-go

jobs:
  - job: "AutoRest_Go_CI"
    displayName: "Run AutoRest CI Checks"

    strategy:
      matrix:
        Linux_Go121:
          vm.image: "ubuntu-22.04"
          go.version: "1.21.4"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "18.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test-go.yaml
        parameters:
          PublishAutorestCoverage: true

eng/pipelines/ci-gotest.yml:

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - src
      - test

pr:
  branches:
    include:
      - main
  paths:
    exclude:
      - src
      - test

jobs:
  - job: "AutoRest_Go_CI"
    displayName: "Run AutoRest CI Checks"

    strategy:
      matrix:
        Linux_Go119:
          vm.image: "ubuntu-22.04"
          go.version: "1.19.1"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "16.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test-gotest.yaml

eng/pipelines/ci-typespec.yml:

trigger:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.go
      - packages/autorest.gotest
      - swagger

pr:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.go
      - packages/autorest.gotest
      - swagger

jobs:
  - job: "TypeSpec_Go_CI"
    displayName: "Run TypeSpec Go CI Checks"

    strategy:
      matrix:
        Linux_Go121:
          vm.image: "ubuntu-22.04"
          go.version: "1.21.4"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "18.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test-typespec.yaml

eng/pipelines/ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - packages/autorest.gotest
      - swagger

pr:
  branches:
    include:
      - main
  paths:
    exclude:
      - packages/autorest.gotest
      - swagger

jobs:
  - job: "AutoRest_Go_CI"
    displayName: "Run AutoRest CI Checks"

    strategy:
      matrix:
        Linux_Go118:
          vm.image: "ubuntu-18.04"
          go.version: "1.18"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "16.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test.yaml

add comments indicating which groups are missing tests
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add test coverage for tsp scalargroup (#1118)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/type/scalargroup/boolean_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/decimal128type_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/decimal128verify_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/decimaltype_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/decimalverify_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/go.mod
  packages/typespec-go/test/cadlranch/type/scalargroup/go.sum
  packages/typespec-go/test/cadlranch/type/scalargroup/string_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/unknown_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_boolean_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_constants.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_decimal128type_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_decimal128verify_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_decimaltype_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_decimalverify_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_options.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_string_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_unknown_client.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add pipeline for publishing dev builds of typespec-go
  eng/pipelines/publish-dev-release-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add pipeline for publishing dev builds of typespec-go (#1121)
  eng/pipelines/publish-dev-release-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add coverage for tsp bodyoptionalitygroup
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responsebody_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/bodyoptionality_client_test.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/custom_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/go.mod
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/go.sum
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/optionalexplicit_client_test.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/zz_optionalexplicit_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/zz_options.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add coverage for tsp bodyoptionalitygroup (#1122)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responsebody_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/bodyoptionality_client_test.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/custom_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/go.mod
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/go.sum
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/optionalexplicit_client_test.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/zz_optionalexplicit_client.go
  packages/typespec-go/test/cadlranch/parameters/bodyoptionalgroup/zz_options.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use fully qualified const value name in type map
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Use fully qualified const value name in type map (#1124)
  packages/typespec-go/src/tcgcadapter/types.ts
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tests for tsp collectionfmtgroup
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/custom_client.go
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/go.mod
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/go.sum
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/header_client_test.go
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/query_client_test.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add lenient handling of RFC3339 as ISO8601
  packages/autorest.go/test/acr/azacr/fake/zz_time_rfc3339.go
  packages/autorest.go/test/acr/azacr/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/arraygroup/fake/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/arraygroup/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/complexgroup/fake/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/complexgroup/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/datetimegroup/fake/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/datetimegroup/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/dictionarygroup/fake/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/dictionarygroup/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/xmlgroup/fake/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/xmlgroup/xmlgroup_test.go
  packages/autorest.go/test/autorest/xmlgroup/zz_time_rfc3339.go
  packages/autorest.go/test/compute/armcompute/fake/zz_time_rfc3339.go
  packages/autorest.go/test/compute/armcompute/zz_time_rfc3339.go
  packages/autorest.go/test/consumption/armconsumption/zz_time_rfc3339.go
  packages/autorest.go/test/databoxedge/armdataboxedge/fake/zz_time_rfc3339.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_time_rfc3339.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_time_rfc3339.go
  packages/autorest.go/test/maps/azalias/fake/zz_time_rfc3339.go
  packages/autorest.go/test/maps/azalias/models_test.go
  packages/autorest.go/test/maps/azalias/zz_time_rfc3339.go
  packages/autorest.go/test/network/armnetwork/fake/zz_time_rfc3339.go
  packages/autorest.go/test/network/armnetwork/zz_time_rfc3339.go
  packages/autorest.go/test/storage/azblob/zz_time_rfc3339.go
  packages/autorest.go/test/synapse/azartifacts/zz_time_rfc3339.go
  packages/autorest.go/test/synapse/azspark/zz_time_rfc3339.go
  packages/autorest.go/test/tables/aztables/zz_time_rfc3339.go
  packages/codegen.go/src/time.ts
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/type/arraygroup/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/type/dictionarygroup/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_time_rfc3339.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add pipeline for publishing cadl-ranch test coverage
  eng/pipelines/cadl-ranch-typespec.yml
  eng/pipelines/publish-dev-release-go.yml
  eng/pipelines/publish-dev-release-typespec.yml
  eng/steps/set-env.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove redundant template parameters
  eng/pipelines/cadl-ranch-typespec.yml
  eng/pipelines/ci-go.yml
  eng/pipelines/ci-typespec.yml
  eng/pipelines/publish-dev-release-go.yml
  eng/pipelines/publish-dev-release-typespec.yml
  eng/pipelines/publish-release-go.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add lenient handling of RFC3339 as ISO8601 (#1129)
  packages/autorest.go/test/acr/azacr/fake/zz_time_rfc3339.go
  packages/autorest.go/test/acr/azacr/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/arraygroup/fake/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/arraygroup/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/complexgroup/fake/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/complexgroup/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/datetimegroup/fake/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/datetimegroup/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/dictionarygroup/fake/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/dictionarygroup/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/xmlgroup/fake/zz_time_rfc3339.go
  packages/autorest.go/test/autorest/xmlgroup/xmlgroup_test.go
  packages/autorest.go/test/autorest/xmlgroup/zz_time_rfc3339.go
  packages/autorest.go/test/compute/armcompute/fake/zz_time_rfc3339.go
  packages/autorest.go/test/compute/armcompute/zz_time_rfc3339.go
  packages/autorest.go/test/consumption/armconsumption/zz_time_rfc3339.go
  packages/autorest.go/test/databoxedge/armdataboxedge/fake/zz_time_rfc3339.go
  packages/autorest.go/test/databoxedge/armdataboxedge/zz_time_rfc3339.go
  packages/autorest.go/test/machinelearning/armmachinelearning/zz_time_rfc3339.go
  packages/autorest.go/test/maps/azalias/fake/zz_time_rfc3339.go
  packages/autorest.go/test/maps/azalias/models_test.go
  packages/autorest.go/test/maps/azalias/zz_time_rfc3339.go
  packages/autorest.go/test/network/armnetwork/fake/zz_time_rfc3339.go
  packages/autorest.go/test/network/armnetwork/zz_time_rfc3339.go
  packages/autorest.go/test/storage/azblob/zz_time_rfc3339.go
  packages/autorest.go/test/synapse/azartifacts/zz_time_rfc3339.go
  packages/autorest.go/test/synapse/azspark/zz_time_rfc3339.go
  packages/autorest.go/test/tables/aztables/zz_time_rfc3339.go
  packages/codegen.go/src/time.ts
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/type/arraygroup/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/type/dictionarygroup/zz_time_rfc3339.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_time_rfc3339.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add changelog entries for autorest.go
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Add changelog entries for autorest.go (#1130)
  packages/autorest.go/CHANGELOG.md
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Allow configuring of input tsp file
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_clienta_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_clientb_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_service_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_group_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_renamedoperation_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_service_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_group1_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_group2_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_service_client.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tests for tsp collectionfmtgroup (#1128)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/custom_client.go
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/go.mod
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/go.sum
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/header_client_test.go
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/query_client_test.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add missing switch to cadl-ranch update-coverage command
  eng/pipelines/cadl-ranch-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update eng/pipelines/cadl-ranch-typespec.yml
  eng/pipelines/cadl-ranch-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Allow configuring of input tsp file (#1131)
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_clienta_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_clientb_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_service_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_group_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_renamedoperation_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_service_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_group1_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_group2_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_service_client.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Prepare autorest.go for release
  packages/autorest.go/CHANGELOG.md
  packages/autorest.go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Add missing switch to cadl-ranch update-coverage command (#1132)
  eng/pipelines/cadl-ranch-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Generate CADL ranch report before uploading
  eng/pipelines/cadl-ranch-typespec.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

set working directory when starting cadl-ranch server
  eng/pipelines/cadl-ranch-typespec.yml
  eng/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix path to scripts directory
  eng/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Generate CADL ranch report before uploading (#1134)
  eng/steps/build-test-typespec.yaml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest tcgc
  common/config/rush/pnpm-lock.yaml
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/recursive_client_test.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/zz_models.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest tcgc (#1137)
  common/config/rush/pnpm-lock.yaml
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/recursive_client_test.go
  packages/typespec-go/test/cadlranch/type/model/inheritance/recursivegroup/zz_models.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update tcgc with fix for regression
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update tcgc with fix for regression (#1138)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Remove workspaces from dependencies
  common/config/rush/pnpm-lock.yaml
  packages/autorest.go/package.json
  packages/typespec-go/package.json
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

exit early if installation fails
  eng/pipelines/publish-dev-release-go.yml
  eng/pipelines/publish-dev-release-typespec.yml
  eng/pipelines/publish-release-go.yml
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
