Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go119:
          vm.image: ubuntu-18.04
          go.version: '1.19'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

remove auto-generated client options for data plane
  src/generator/operations.ts
  test/keyvault/7.2/azkeyvault/client_options.go
  test/keyvault/7.2/azkeyvault/zz_generated_client.go
  test/keyvault/7.2/azkeyvault/zz_generated_hsmsecuritydomain_client.go
  test/keyvault/7.2/azkeyvault/zz_generated_roleassignments_client.go
  test/keyvault/7.2/azkeyvault/zz_generated_roledefinitions_client.go
  test/synapse/2019-06-01/azartifacts/client_options.go
  test/synapse/2019-06-01/azartifacts/zz_generated_bigdatapools_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_dataflow_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_dataflowdebugsession_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_dataset_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_integrationruntimes_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_library_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_linkedservice_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_notebook_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_pipeline_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_pipelinerun_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_sparkjobdefinition_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_sqlpools_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_sqlscript_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_trigger_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_triggerrun_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_workspace_client.go
  test/synapse/2019-06-01/azartifacts/zz_generated_workspacegitrepomanagement_client.go
  test/synapse/2019-06-01/azspark/client_options.go
  test/synapse/2019-06-01/azspark/zz_generated_batch_client.go
  test/synapse/2019-06-01/azspark/zz_generated_session_client.go
  test/tables/2019-02-02/aztables/client_options.go
  test/tables/2019-02-02/aztables/zz_generated_client.go
  test/tables/2019-02-02/aztables/zz_generated_service_client.go
Due: eng/pipelines/ci.yml

consolidate duplicated logic
  src/transform/transform.ts
Due: eng/pipelines/ci.yml

refine code
  src/generator/operations.ts
Due: eng/pipelines/ci.yml

refine client options comment
  test/keyvault/7.2/azkeyvault/client_options.go
  test/synapse/2019-06-01/azartifacts/client_options.go
  test/synapse/2019-06-01/azspark/client_options.go
  test/tables/2019-02-02/aztables/client_options.go
Due: eng/pipelines/ci.yml

feat: change the operation name with more than one response body type (#859)
  .scripts/regeneration.js
  src/autorest-configuration.md
  src/transform/transform.ts
  test/autorest/mediatypesgroupwithnormailzedoperationname/zz_generated_constants.go
  test/autorest/mediatypesgroupwithnormailzedoperationname/zz_generated_mediatypes_client.go
  test/autorest/mediatypesgroupwithnormailzedoperationname/zz_generated_models.go
  test/autorest/mediatypesgroupwithnormailzedoperationname/zz_generated_models_serde.go
  test/autorest/mediatypesgroupwithnormailzedoperationname/zz_generated_response_types.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Update CI to latest version of Go
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci.yml
  eng/pipelines/publish-dev-release.yml
  eng/pipelines/publish-release-gotest.yml
  eng/pipelines/publish-release.yml
  eng/steps/set-env.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fix job name
  eng/pipelines/ci.yml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

format with Go 1.19
  test/autorest/bytegroup/zz_generated_byte_client.go
  test/autorest/complexgroup/zz_generated_primitive_client.go
  test/autorest/stringgroup/zz_generated_string_client.go
  test/autorest/urlgroup/zz_generated_paths_client.go
  test/autorest/urlgroup/zz_generated_queries_client.go
  test/autorest/urlmultigroup/zz_generated_queries_client.go
Due: eng/pipelines/ci.yml

Update CI to latest version of Go (#883)
  eng/pipelines/ci-gotest.yml
  eng/pipelines/ci.yml
  eng/pipelines/publish-dev-release.yml
  eng/pipelines/publish-release-gotest.yml
  eng/pipelines/publish-release.yml
  eng/steps/set-env.yaml
  test/autorest/bytegroup/zz_generated_byte_client.go
  test/autorest/complexgroup/zz_generated_primitive_client.go
  test/autorest/stringgroup/zz_generated_string_client.go
  test/autorest/urlgroup/zz_generated_paths_client.go
  test/autorest/urlgroup/zz_generated_queries_client.go
  test/autorest/urlmultigroup/zz_generated_queries_client.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fix wrong parse of object param in example
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  packages/autorest.gotest/src/generator/scenarioTestGenerator.ts
  packages/autorest.gotest/src/template/sampleContent.go.njk
  packages/autorest.gotest/src/template/scenarioContent.go.njk
  packages/autorest.gotest/src/util/goHelper.ts
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/__debug/go-tester-pre.yaml
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/__debug/go-tester.yaml
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/__debug/test-modeler.yaml
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/main.go
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring_live_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/main.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample_live_test.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/main.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr_live_test.go
  packages/autorest.gotest/test/unittest/generator/__snapshots__/testGoTester.ts.snap
  swagger/specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/scenarios/Spring.yaml
Due: eng/pipelines/ci-gotest.yml

add rush change file
  common/changes/@autorest/go/fix_testgen_2022-09-27-06-17.json
  common/changes/@autorest/gotest/fix_testgen_2022-09-27-06-17.json
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fix wrong camel and snake method
  packages/autorest.gotest/src/generator/sampleGenerator.ts
  packages/autorest.gotest/src/generator/scenarioTestGenerator.ts
  packages/autorest.gotest/src/template/sampleContent.go.njk
  packages/autorest.gotest/src/template/sampleMain.go.njk
  packages/autorest.gotest/src/template/scenarioContent.go.njk
  packages/autorest.gotest/src/template/scenarioTest.go.njk
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/main.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr_live_test.go
  packages/autorest.gotest/test/unittest/generator/__snapshots__/testGoTester.ts.snap
Due: eng/pipelines/ci-gotest.yml

add rush change file
  common/changes/@autorest/go/fix_testgen_2022-09-27-06-17.json
  common/changes/@autorest/gotest/fix_testgen_2022-09-27-09-30.json
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Make API version generated a new paragraph
  src/generator/operations.ts
Due: eng/pipelines/ci.yml

Format parameters as list
  src/generator/operations.ts
Due: eng/pipelines/ci.yml

consolidate
  src/generator/operations.ts
Due: eng/pipelines/ci.yml

Export method options types when client isn't
  src/transform/transform.ts
  test/maps/azalias/zz_generated_client.go
  test/maps/azalias/zz_generated_models.go
  test/storage/2020-06-12/azblob/zz_generated_appendblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_blockblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_client.go
  test/storage/2020-06-12/azblob/zz_generated_container_client.go
  test/storage/2020-06-12/azblob/zz_generated_directory_client.go
  test/storage/2020-06-12/azblob/zz_generated_models.go
  test/storage/2020-06-12/azblob/zz_generated_pageblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_service_client.go
Due: eng/pipelines/ci.yml

apply fix to type only, not doc comment
  src/transform/transform.ts
  test/maps/azalias/zz_generated_client.go
  test/maps/azalias/zz_generated_models.go
  test/storage/2020-06-12/azblob/zz_generated_appendblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_blockblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_client.go
  test/storage/2020-06-12/azblob/zz_generated_container_client.go
  test/storage/2020-06-12/azblob/zz_generated_directory_client.go
  test/storage/2020-06-12/azblob/zz_generated_models.go
  test/storage/2020-06-12/azblob/zz_generated_pageblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_service_client.go
Due: eng/pipelines/ci.yml

Export method options types when client isn't (#886)
  src/transform/transform.ts
  test/maps/azalias/zz_generated_client.go
  test/maps/azalias/zz_generated_models.go
  test/storage/2020-06-12/azblob/zz_generated_appendblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_blockblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_client.go
  test/storage/2020-06-12/azblob/zz_generated_container_client.go
  test/storage/2020-06-12/azblob/zz_generated_directory_client.go
  test/storage/2020-06-12/azblob/zz_generated_models.go
  test/storage/2020-06-12/azblob/zz_generated_pageblob_client.go
  test/storage/2020-06-12/azblob/zz_generated_service_client.go
Due: eng/pipelines/ci.yml

fix some problem for live test generation (#884)
  common/changes/@autorest/gotest/fix_testgen_2022-09-27-06-17.json
  common/changes/@autorest/gotest/fix_testgen_2022-09-27-09-30.json
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  packages/autorest.gotest/src/generator/sampleGenerator.ts
  packages/autorest.gotest/src/generator/scenarioTestGenerator.ts
  packages/autorest.gotest/src/template/sampleContent.go.njk
  packages/autorest.gotest/src/template/sampleMain.go.njk
  packages/autorest.gotest/src/template/scenarioContent.go.njk
  packages/autorest.gotest/src/template/scenarioTest.go.njk
  packages/autorest.gotest/src/util/goHelper.ts
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/__debug/go-tester-pre.yaml
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/__debug/go-tester.yaml
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/__debug/test-modeler.yaml
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring/main.go
  packages/autorest.gotest/test/integrationtest/output/appplatform/armappplatform/spring_live_test.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample/main.go
  packages/autorest.gotest/test/integrationtest/output/compute/armcompute/sample_live_test.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr/main.go
  packages/autorest.gotest/test/integrationtest/output/signalr/armsignalr/signalr_live_test.go
  packages/autorest.gotest/test/unittest/generator/__snapshots__/testGoTester.ts.snap
  swagger/specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2020-11-01-preview/scenarios/Spring.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

add test for remote readme config
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/__debug/go-tester-pre.yaml
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/__debug/go-tester.yaml
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/__debug/test-modeler-pre.yaml
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/__debug/test-modeler.yaml
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/extensions_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/farmbeatsextensions_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/farmbeatsmodels_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/locations_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/mock_test.go
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/operations_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/privateendpointconnections_client_example_test.go
  packages/autorest.gotest/test/integrationtest/output/agrifood/armagrifood/privatelinkresources_client_example_test.go
  packages/autorest.gotest/test/integrationtest/testAutorest.ts
  swagger/sdk/agrifood/autorest.md
Due: eng/pipelines/ci-gotest.yml

fix lint
  packages/autorest.gotest/src/generator/goTester.ts
Due: eng/pipelines/ci-gotest.yml

add rush change file
  common/changes/@autorest/gotest/refine_example_2022-10-21-07-10.json
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

remove useless import
  packages/autorest.gotest/src/generator/scenarioTestGenerator.ts
Due: eng/pipelines/ci-gotest.yml

release @autorest/gotest_v4.4.0
  common/changes/@autorest/gotest/fix_api_scenario_2022-09-15-08-57.json
  common/changes/@autorest/gotest/fix_testgen_2022-09-27-06-17.json
  common/changes/@autorest/gotest/fix_testgen_2022-09-27-09-30.json
  common/changes/@autorest/gotest/refine_example_2022-10-21-07-10.json
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

support generate sub package
  src/autorest-configuration.md
  src/generator/constants.ts
  src/generator/gomod.ts
  src/generator/operations.ts
Due: eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/ci-gotest.yml: any file but: src, test
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
