Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

eng/pipelines/ci-gotest.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go119:
          vm.image: ubuntu-22.04
          go.version: 1.19.1
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

eng/pipelines/ci.yml:
  jobs:
  - job: AutoRest_Go_CI
    displayName: Run AutoRest CI Checks
    strategy:
      matrix:
        Linux_Go118:
          vm.image: ubuntu-18.04
          go.version: '1.18'
    pool:
      vmImage: $(vm.image)
    steps:
    - template: ../steps/set-env.yaml
      parameters:
        NodeVersion: 16.x
  ...

generate client factory for arm
  src/generator/clientFactory.ts
  src/generator/generator.ts
  test/compute/2019-12-01/armcompute/zz_client_factory.go
  test/consumption/2019-10-01/armconsumption/zz_client_factory.go
  test/databoxedge/2021-02-01/armdataboxedge/zz_client_factory.go
  test/network/2020-03-01/armnetwork/zz_client_factory.go
Due: eng/pipelines/ci.yml

store option with copy
  src/generator/clientFactory.ts
  test/compute/2019-12-01/armcompute/zz_client_factory.go
  test/consumption/2019-10-01/armconsumption/zz_client_factory.go
  test/databoxedge/2021-02-01/armdataboxedge/zz_client_factory.go
  test/network/2020-03-01/armnetwork/zz_client_factory.go
Due: eng/pipelines/ci.yml

Update dependencies
  .scripts/gogetu.js
  common/config/rush/command-line.json
  test/acr/2021-07-01/azacr/go.mod
  test/acr/2021-07-01/azacr/go.sum
  test/compute/2019-12-01/armcompute/go.mod
  test/compute/2019-12-01/armcompute/go.sum
  test/consumption/2019-10-01/armconsumption/go.mod
  test/consumption/2019-10-01/armconsumption/go.sum
  test/databoxedge/2021-02-01/armdataboxedge/go.mod
  test/databoxedge/2021-02-01/armdataboxedge/go.sum
  test/keyvault/7.2/azkeyvault/go.mod
  test/keyvault/7.2/azkeyvault/go.sum
  test/maps/azalias/go.mod
  test/maps/azalias/go.sum
  test/network/2020-03-01/armnetwork/go.mod
  test/network/2020-03-01/armnetwork/go.sum
  test/storage/2020-06-12/azblob/go.mod
  test/storage/2020-06-12/azblob/go.sum
  test/synapse/2019-06-01/azartifacts/go.mod
  test/synapse/2019-06-01/azartifacts/go.sum
  test/synapse/2019-06-01/azspark/go.mod
  test/synapse/2019-06-01/azspark/go.sum
  test/tables/2019-02-02/aztables/go.mod
  test/tables/2019-02-02/aztables/go.sum
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Update dependencies (#934)
  .scripts/gogetu.js
  common/config/rush/command-line.json
  test/acr/2021-07-01/azacr/go.mod
  test/acr/2021-07-01/azacr/go.sum
  test/compute/2019-12-01/armcompute/go.mod
  test/compute/2019-12-01/armcompute/go.sum
  test/consumption/2019-10-01/armconsumption/go.mod
  test/consumption/2019-10-01/armconsumption/go.sum
  test/databoxedge/2021-02-01/armdataboxedge/go.mod
  test/databoxedge/2021-02-01/armdataboxedge/go.sum
  test/keyvault/7.2/azkeyvault/go.mod
  test/keyvault/7.2/azkeyvault/go.sum
  test/maps/azalias/go.mod
  test/maps/azalias/go.sum
  test/network/2020-03-01/armnetwork/go.mod
  test/network/2020-03-01/armnetwork/go.sum
  test/storage/2020-06-12/azblob/go.mod
  test/storage/2020-06-12/azblob/go.sum
  test/synapse/2019-06-01/azartifacts/go.mod
  test/synapse/2019-06-01/azartifacts/go.sum
  test/synapse/2019-06-01/azspark/go.mod
  test/synapse/2019-06-01/azspark/go.sum
  test/tables/2019-02-02/aztables/go.mod
  test/tables/2019-02-02/aztables/go.sum
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

add clone process
  src/generator/clientFactory.ts
  src/generator/gomod.ts
  test/acr/2021-07-01/azacr/go.mod
  test/compute/2019-12-01/armcompute/go.mod
  test/compute/2019-12-01/armcompute/zz_client_factory.go
  test/consumption/2019-10-01/armconsumption/go.mod
  test/consumption/2019-10-01/armconsumption/zz_client_factory.go
  test/databoxedge/2021-02-01/armdataboxedge/go.mod
  test/databoxedge/2021-02-01/armdataboxedge/zz_client_factory.go
  test/keyvault/7.2/azkeyvault/go.mod
  test/maps/azalias/go.mod
  test/network/2020-03-01/armnetwork/go.mod
  test/network/2020-03-01/armnetwork/zz_client_factory.go
  test/storage/2020-06-12/azblob/go.mod
  test/synapse/2019-06-01/azartifacts/go.mod
  test/synapse/2019-06-01/azspark/go.mod
  test/tables/2019-02-02/aztables/go.mod
Due: eng/pipelines/ci.yml

update azcore version
  test/acr/2021-07-01/azacr/go.mod
  test/acr/2021-07-01/azacr/go.sum
  test/compute/2019-12-01/armcompute/go.mod
  test/compute/2019-12-01/armcompute/go.sum
  test/consumption/2019-10-01/armconsumption/go.mod
  test/consumption/2019-10-01/armconsumption/go.sum
  test/databoxedge/2021-02-01/armdataboxedge/go.mod
  test/databoxedge/2021-02-01/armdataboxedge/go.sum
  test/keyvault/7.2/azkeyvault/go.mod
  test/keyvault/7.2/azkeyvault/go.sum
  test/maps/azalias/go.mod
  test/maps/azalias/go.sum
  test/network/2020-03-01/armnetwork/go.mod
  test/network/2020-03-01/armnetwork/go.sum
  test/storage/2020-06-12/azblob/go.mod
  test/storage/2020-06-12/azblob/go.sum
  test/synapse/2019-06-01/azartifacts/go.mod
  test/synapse/2019-06-01/azartifacts/go.sum
  test/synapse/2019-06-01/azspark/go.mod
  test/synapse/2019-06-01/azspark/go.sum
  test/tables/2019-02-02/aztables/go.mod
  test/tables/2019-02-02/aztables/go.sum
Due: eng/pipelines/ci.yml

Generate client factory for arm (#912)
  src/generator/clientFactory.ts
  src/generator/generator.ts
  src/generator/gomod.ts
  test/acr/2021-07-01/azacr/go.mod
  test/acr/2021-07-01/azacr/go.sum
  test/compute/2019-12-01/armcompute/go.mod
  test/compute/2019-12-01/armcompute/go.sum
  test/compute/2019-12-01/armcompute/zz_client_factory.go
  test/consumption/2019-10-01/armconsumption/go.mod
  test/consumption/2019-10-01/armconsumption/go.sum
  test/consumption/2019-10-01/armconsumption/zz_client_factory.go
  test/databoxedge/2021-02-01/armdataboxedge/go.mod
  test/databoxedge/2021-02-01/armdataboxedge/go.sum
  test/databoxedge/2021-02-01/armdataboxedge/zz_client_factory.go
  test/keyvault/7.2/azkeyvault/go.mod
  test/keyvault/7.2/azkeyvault/go.sum
  test/maps/azalias/go.mod
  test/maps/azalias/go.sum
  test/network/2020-03-01/armnetwork/go.mod
  test/network/2020-03-01/armnetwork/go.sum
  test/network/2020-03-01/armnetwork/zz_client_factory.go
  test/storage/2020-06-12/azblob/go.mod
  test/storage/2020-06-12/azblob/go.sum
  test/synapse/2019-06-01/azartifacts/go.mod
  test/synapse/2019-06-01/azartifacts/go.sum
  test/synapse/2019-06-01/azspark/go.mod
  test/synapse/2019-06-01/azspark/go.sum
  test/tables/2019-02-02/aztables/go.mod
  test/tables/2019-02-02/aztables/go.sum
Due: eng/pipelines/ci.yml

Update version for pending release
  src/package.json
Due: eng/pipelines/ci.yml

Update version for pending release (#936)
  src/package.json
Due: eng/pipelines/ci.yml

Don't generate an empty constants file
  src/generator/constants.ts
  test/autorest/custombaseurlgroup/zz_constants.go
  test/autorest/morecustombaseurigroup/zz_constants.go
Due: eng/pipelines/ci.yml

Don't generate an empty constants file (#937)
  src/generator/constants.ts
  test/autorest/custombaseurlgroup/zz_constants.go
  test/autorest/morecustombaseurigroup/zz_constants.go
Due: eng/pipelines/ci.yml

fix redundant comma when no client params for client factory and pump version
  src/generator/clientFactory.ts
  src/package.json
Due: eng/pipelines/ci.yml

bump version and add changelog
  packages/autorest.gotest/CHANGELOG.json
  packages/autorest.gotest/CHANGELOG.md
  packages/autorest.gotest/package.json
Due: eng/pipelines/ci-gotest.yml

format code
  packages/autorest.gotest/src/generator/exampleGenerator.ts
Due: eng/pipelines/ci-gotest.yml

format
  packages/autorest.gotest/src/generator/exampleGenerator.ts
Due: eng/pipelines/ci-gotest.yml

Omit tags for JSON marshalling/unmarshalling
  src/generator/structs.ts
  test/acr/2021-07-01/azacr/zz_models.go
  test/autorest/additionalpropsgroup/zz_models.go
  test/autorest/arraygroup/zz_models.go
  test/autorest/azurespecialsgroup/zz_models.go
  test/autorest/complexgroup/zz_models.go
  test/autorest/complexmodelgroup/zz_models.go
  test/autorest/dictionarygroup/zz_models.go
  test/autorest/errorsgroup/zz_models.go
  test/autorest/extenumsgroup/zz_models.go
  test/autorest/httpinfrastructuregroup/zz_models.go
  test/autorest/lrogroup/zz_models.go
  test/autorest/mediatypesgroup/zz_models.go
  test/autorest/mediatypesgroupwithnormailzedoperationname/zz_models.go
  test/autorest/migroup/zz_models.go
  test/autorest/noopsgroup/zz_models.go
  test/autorest/optionalgroup/zz_models.go
  test/autorest/paginggroup/zz_models.go
  test/autorest/stringgroup/zz_models.go
  test/autorest/validationgroup/zz_models.go
  test/autorest/xmlgroup/zz_models.go
  test/compute/2019-12-01/armcompute/zz_models.go
  test/consumption/2019-10-01/armconsumption/zz_models.go
  test/databoxedge/2021-02-01/armdataboxedge/zz_models.go
  test/keyvault/7.2/azkeyvault/zz_models.go
  test/maps/azalias/zz_models.go
  test/network/2020-03-01/armnetwork/zz_models.go
  test/storage/2020-06-12/azblob/zz_models.go
  test/synapse/2019-06-01/azartifacts/zz_models.go
  test/synapse/2019-06-01/azspark/zz_models.go
  test/tables/2019-02-02/aztables/zz_models.go
Due: eng/pipelines/ci.yml

Omit tags for JSON marshalling/unmarshalling (#941)
  src/generator/structs.ts
  test/acr/2021-07-01/azacr/zz_models.go
  test/autorest/additionalpropsgroup/zz_models.go
  test/autorest/arraygroup/zz_models.go
  test/autorest/azurespecialsgroup/zz_models.go
  test/autorest/complexgroup/zz_models.go
  test/autorest/complexmodelgroup/zz_models.go
  test/autorest/dictionarygroup/zz_models.go
  test/autorest/errorsgroup/zz_models.go
  test/autorest/extenumsgroup/zz_models.go
  test/autorest/httpinfrastructuregroup/zz_models.go
  test/autorest/lrogroup/zz_models.go
  test/autorest/mediatypesgroup/zz_models.go
  test/autorest/mediatypesgroupwithnormailzedoperationname/zz_models.go
  test/autorest/migroup/zz_models.go
  test/autorest/noopsgroup/zz_models.go
  test/autorest/optionalgroup/zz_models.go
  test/autorest/paginggroup/zz_models.go
  test/autorest/stringgroup/zz_models.go
  test/autorest/validationgroup/zz_models.go
  test/autorest/xmlgroup/zz_models.go
  test/compute/2019-12-01/armcompute/zz_models.go
  test/consumption/2019-10-01/armconsumption/zz_models.go
  test/databoxedge/2021-02-01/armdataboxedge/zz_models.go
  test/keyvault/7.2/azkeyvault/zz_models.go
  test/maps/azalias/zz_models.go
  test/network/2020-03-01/armnetwork/zz_models.go
  test/storage/2020-06-12/azblob/zz_models.go
  test/synapse/2019-06-01/azartifacts/zz_models.go
  test/synapse/2019-06-01/azspark/zz_models.go
  test/tables/2019-02-02/aztables/zz_models.go
Due: eng/pipelines/ci.yml

Remove doc for export-clients option
  src/autorest-configuration.md
Due: eng/pipelines/ci.yml

Remove doc for export-clients option (#944)
  src/autorest-configuration.md
Due: eng/pipelines/ci.yml

Avoid duplicate options parameter names
  src/transform/transform.ts
Due: eng/pipelines/ci.yml

Avoid duplicate options parameter names (#945)
  src/transform/transform.ts
Due: eng/pipelines/ci.yml

Fix populating any type
  .scripts/regeneration.js
  src/generator/models.ts
  src/generator/structs.ts
  test/compute/2019-12-01/armcompute/zz_models.go
  test/compute/2019-12-01/armcompute/zz_models_serde.go
  test/maps/azalias/models_test.go
  test/maps/azalias/polymorphic_helpers_test.go
  test/maps/azalias/zz_models.go
  test/maps/azalias/zz_models_serde.go
  test/network/2020-03-01/armnetwork/zz_models_serde.go
  test/synapse/2019-06-01/azartifacts/zz_models_serde.go
  test/synapse/2019-06-01/azspark/zz_models_serde.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

improve test
  test/maps/azalias/polymorphic_helpers_test.go
Due: eng/pipelines/ci.yml

further test refinement
  test/maps/azalias/polymorphic_helpers_test.go
Due: eng/pipelines/ci.yml

bump version for upcoming release
  src/package.json
Due: eng/pipelines/ci.yml

Fix populating any type (#947)
  .scripts/regeneration.js
  src/generator/models.ts
  src/generator/structs.ts
  src/package.json
  test/compute/2019-12-01/armcompute/zz_models.go
  test/compute/2019-12-01/armcompute/zz_models_serde.go
  test/maps/azalias/models_test.go
  test/maps/azalias/polymorphic_helpers_test.go
  test/maps/azalias/zz_models.go
  test/maps/azalias/zz_models_serde.go
  test/network/2020-03-01/armnetwork/zz_models_serde.go
  test/synapse/2019-06-01/azartifacts/zz_models_serde.go
  test/synapse/2019-06-01/azspark/zz_models_serde.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fix some paths
  jest.config.js
  packages/autorest.gotest/src/generator/exampleGenerator.ts
  packages/autorest.gotest/src/generator/generateContext.ts
  packages/autorest.gotest/src/generator/mockTestGenerator.ts
  packages/autorest.gotest/src/util/codegenBridge.ts
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fix path to yaml
  eng/pipelines/ci-go.yml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fix paths in helper scripts
  .scripts/buildvet.js
  .scripts/modtidy.js
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

update CI to latest version of Go
  eng/pipelines/ci-go.yml
  eng/pipelines/ci-gotest.yml
  eng/pipelines/publish-dev-release-go.yml
  eng/pipelines/publish-release-go.yml
  eng/pipelines/publish-release-gotest.yml
  eng/steps/set-env.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

regenerate with latest autorest
  packages/autorest.go/test/synapse/2019-06-01/azspark/zz_models.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fix paths to test server
  eng/steps/build-test-go.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

fix more relative paths
  eng/steps/build-test-go.yaml
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

add two settings back that were missed
  packages/autorest.go/tsconfig.json
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Path conditions:
  eng/pipelines/ci-gotest.yml: any file but: src, test
  eng/pipelines/ci.yml: any file but: packages/autorest.gotest, swagger
