Repository Azure/autorest.go: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

eng/pipelines/ci-go.yml:

trigger:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.gotest
      - packages/typespec-go

pr:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.gotest
      - packages/typespec-go

jobs:
  - job: "AutoRest_Go_CI"
    displayName: "Run AutoRest CI Checks"

    strategy:
      matrix:
        Linux_Go121:
          vm.image: "ubuntu-22.04"
          go.version: "1.21.4"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "18.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test-go.yaml
        parameters:
          PublishAutorestCoverage: true

eng/pipelines/ci-gotest.yml:

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - src
      - test

pr:
  branches:
    include:
      - main
  paths:
    exclude:
      - src
      - test

jobs:
  - job: "AutoRest_Go_CI"
    displayName: "Run AutoRest CI Checks"

    strategy:
      matrix:
        Linux_Go119:
          vm.image: "ubuntu-22.04"
          go.version: "1.19.1"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "16.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test-gotest.yaml

eng/pipelines/ci-typespec.yml:

trigger:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.go
      - packages/autorest.gotest
      - swagger

pr:
  branches:
    include:
      - main
      - feature/*
      - hotfix/*
      - release/*
  paths:
    exclude:
      - packages/autorest.go
      - packages/autorest.gotest
      - swagger

jobs:
  - job: "TypeSpec_Go_CI"
    displayName: "Run TypeSpec Go CI Checks"

    strategy:
      matrix:
        Linux_Go121:
          vm.image: "ubuntu-22.04"
          go.version: "1.21.4"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "18.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test-typespec.yaml

eng/pipelines/ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - packages/autorest.gotest
      - swagger

pr:
  branches:
    include:
      - main
  paths:
    exclude:
      - packages/autorest.gotest
      - swagger

jobs:
  - job: "AutoRest_Go_CI"
    displayName: "Run AutoRest CI Checks"

    strategy:
      matrix:
        Linux_Go118:
          vm.image: "ubuntu-18.04"
          go.version: "1.18"

    pool:
      vmImage: "$(vm.image)"

    steps:
      - template: ../steps/set-env.yaml
        parameters:
          NodeVersion: "16.x"
          GoVersion: "$(go.version)"

      - template: ../steps/build-test.yaml

Rename StandardType to QualifiedType
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/imports.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Rename StandardType to QualifiedType (#1104)
  packages/autorest.go/src/m4togocodemodel/clients.ts
  packages/autorest.go/src/m4togocodemodel/types.ts
  packages/codegen.go/src/fake/servers.ts
  packages/codegen.go/src/imports.ts
  packages/codemodel.go/src/gocodemodel.ts
  packages/typespec-go/src/tcgcadapter/clients.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix up param names for reserved words
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/specialwordsgroup/go.mod
  packages/typespec-go/test/cadlranch/specialwordsgroup/go.sum
  packages/typespec-go/test/cadlranch/specialwordsgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/zz_modelproperties_client.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/zz_models.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/zz_models_client.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/zz_operations_client.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/zz_options.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/zz_parameters_client.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/zz_responses.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add comments explaining why some tsps fail
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/go.mod
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/go.sum
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsfloat_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsmodel_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsmodelarray_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsstring_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsunknown_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_isfloat_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_ismodel_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_ismodelarray_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_isstring_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_isunknown_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_options.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/go.mod
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/go.sum
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_bytes_client.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_collectionsbyte_client.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_collectionsmodel_client.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_constants.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_datetime_client.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_duration_client.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_models_serde.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_options.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_string_client.go
  packages/typespec-go/test/cadlranch/type/property/nullablegroup/zz_time_rfc3339.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Wire up optional parameters
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/go.mod
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/go.sum
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/zz_constants.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/zz_models.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/zz_options.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/zz_resiliencyservicedriven_client.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/zz_responses.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/go.mod
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/go.sum
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_clientrequestid_client.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_models.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_options.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/go.mod
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/go.sum
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/zz_conditionalrequest_client.go
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/zz_models.go
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/zz_options.go
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/zz_responses.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

skip generating models.go when there are no models
  packages/codegen.go/src/models.ts
  packages/typespec-go/src/emitter.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

regenerate
  packages/typespec-go/test/cadlranch/authentication/unionauthgroup/zz_models.go
  packages/typespec-go/test/cadlranch/parameters/collectionfmtgroup/zz_models.go
  packages/typespec-go/test/cadlranch/resiliency/srvdrivengroup/zz_models.go
  packages/typespec-go/test/cadlranch/server/path/multiplegroup/zz_models.go
  packages/typespec-go/test/cadlranch/server/path/singlegroup/zz_models.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/zz_models.go
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/enum/extensiblegroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/enum/fixedgroup/zz_models.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

regenerate autorest.go stuff
  packages/autorest.go/test/autorest/azurereportgroup/zz_models.go
  packages/autorest.go/test/autorest/binarygroup/zz_models.go
  packages/autorest.go/test/autorest/booleangroup/zz_models.go
  packages/autorest.go/test/autorest/bytegroup/zz_models.go
  packages/autorest.go/test/autorest/custombaseurlgroup/zz_models.go
  packages/autorest.go/test/autorest/dategroup/zz_models.go
  packages/autorest.go/test/autorest/datetimegroup/zz_models.go
  packages/autorest.go/test/autorest/datetimerfc1123group/zz_models.go
  packages/autorest.go/test/autorest/durationgroup/zz_models.go
  packages/autorest.go/test/autorest/filegroup/zz_models.go
  packages/autorest.go/test/autorest/formdatagroup/zz_models.go
  packages/autorest.go/test/autorest/headergroup/zz_models.go
  packages/autorest.go/test/autorest/headgroup/zz_models.go
  packages/autorest.go/test/autorest/integergroup/zz_models.go
  packages/autorest.go/test/autorest/morecustombaseurigroup/zz_models.go
  packages/autorest.go/test/autorest/nonstringenumgroup/zz_models.go
  packages/autorest.go/test/autorest/numbergroup/zz_models.go
  packages/autorest.go/test/autorest/objectgroup/zz_models.go
  packages/autorest.go/test/autorest/paramgroupinggroup/zz_models.go
  packages/autorest.go/test/autorest/reportgroup/zz_models.go
  packages/autorest.go/test/autorest/urlgroup/zz_models.go
  packages/autorest.go/test/autorest/urlmultigroup/zz_models.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci.yml

Update to latest dev TCGC
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responsebody_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Update to latest dev TCGC (#1110)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_options.go
  packages/typespec-go/test/cadlranch/encode/bytesgroup/zz_responsebody_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tests for pageable group
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/payload/pageablegroup/custom_client.go
  packages/typespec-go/test/cadlranch/payload/pageablegroup/go.mod
  packages/typespec-go/test/cadlranch/payload/pageablegroup/go.sum
  packages/typespec-go/test/cadlranch/payload/pageablegroup/pageable_client_test.go
  packages/typespec-go/test/cadlranch/payload/pageablegroup/zz_pageable_client.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

include other updated content
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/zz_basic_client.go
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/zz_twomodelsaspageitem_client.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add tests for pageable group (#1111)
  packages/typespec-go/src/tcgcadapter/clients.ts
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/zz_basic_client.go
  packages/typespec-go/test/cadlranch/azure/core/basicgroup/zz_twomodelsaspageitem_client.go
  packages/typespec-go/test/cadlranch/payload/pageablegroup/custom_client.go
  packages/typespec-go/test/cadlranch/payload/pageablegroup/go.mod
  packages/typespec-go/test/cadlranch/payload/pageablegroup/go.sum
  packages/typespec-go/test/cadlranch/payload/pageablegroup/pageable_client_test.go
  packages/typespec-go/test/cadlranch/payload/pageablegroup/zz_pageable_client.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add null check for raw JSON as slice
  packages/autorest.go/test/acr/azacr/zz_models_serde.go
  packages/codegen.go/src/models.ts
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove unused import
  packages/autorest.go/test/autorest/complexgroup/fake/zz_date_type.go
  packages/autorest.go/test/autorest/complexgroup/zz_date_type.go
  packages/autorest.go/test/keyvault/azkeyvault/zz_time_unix.go
  packages/autorest.go/test/maps/azalias/fake/zz_time_unix.go
  packages/autorest.go/test/maps/azalias/zz_time_unix.go
  packages/codegen.go/src/time.ts
  packages/typespec-go/test/cadlranch/encode/datetimegroup/zz_time_unix.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add custom test templates for gotests
  common/templates/call.tmpl
  common/templates/function.tmpl
  common/templates/header.tmpl
  common/templates/inline.tmpl
  common/templates/inputs.tmpl
  common/templates/message.tmpl
  common/templates/results.tmpl
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add test coverage for tsp addlpropsgroup
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/go.mod
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/go.sum
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsfloat_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsmodel_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsmodelarray_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsstring_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_extendsunknown_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_isfloat_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_ismodel_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_ismodelarray_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_isstring_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_isunknown_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_models_serde.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix test file names
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsfloat_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsmodel_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsmodelarray_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsstring_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsunknown_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isfloat_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/ismodel_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/ismodelarray_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isstring_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isunknown_client_test.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add test coverage for tsp specialwordsgroup
  packages/typespec-go/test/cadlranch/specialwordsgroup/custom_client.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/go.mod
  packages/typespec-go/test/cadlranch/specialwordsgroup/go.sum
  packages/typespec-go/test/cadlranch/specialwordsgroup/modelproperties_client_test.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/models_client_test.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/operations_client_test.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/parameters_client_test.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add test coverage for tsp special-headers groups
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/clientrequestid_client_test.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/custom_client.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/go.mod
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/go.sum
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/conditionalrequest_client_test.go
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/custom_client.go
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/go.mod
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/go.sum
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add generated code for tsp client/structure groups
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/go.mod
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/go.sum
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_service_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/go.mod
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/go.sum
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_service_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/go.mod
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/go.sum
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_service_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/go.mod
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/go.sum
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_service_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add test coverage for tsp addlpropsgroup (#1114)
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsfloat_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsmodel_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsmodelarray_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsstring_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/extendsunknown_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/go.mod
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/go.sum
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isfloat_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/ismodel_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/ismodelarray_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isstring_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/isunknown_client_test.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_models.go
  packages/typespec-go/test/cadlranch/type/property/addlpropsgroup/zz_models_serde.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

add check for bad param to be removed
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/clientrequestid_client_test.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add test coverage for tsp special-headers groups (#1116)
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/clientrequestid_client_test.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/custom_client.go
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/go.mod
  packages/typespec-go/test/cadlranch/special-headers/clientreqidgroup/go.sum
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/conditionalrequest_client_test.go
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/custom_client.go
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/go.mod
  packages/typespec-go/test/cadlranch/special-headers/condreqgroup/go.sum
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add test coverage for tsp specialwordsgroup (#1115)
  packages/typespec-go/test/cadlranch/specialwordsgroup/custom_client.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/go.mod
  packages/typespec-go/test/cadlranch/specialwordsgroup/go.sum
  packages/typespec-go/test/cadlranch/specialwordsgroup/modelproperties_client_test.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/models_client_test.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/operations_client_test.go
  packages/typespec-go/test/cadlranch/specialwordsgroup/parameters_client_test.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add generated code for tsp client/structure groups (#1117)
  common/config/rush/pnpm-lock.yaml
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/package.json
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/go.mod
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/go.sum
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/defaultgroup/zz_service_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/go.mod
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/go.sum
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/multiclientgroup/zz_service_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/go.mod
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/go.sum
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/renamedopgroup/zz_service_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/go.mod
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/go.sum
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_bar_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_constants.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_foo_client.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_options.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_responses.go
  packages/typespec-go/test/cadlranch/client/structure/twoopgroup/zz_service_client.go
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

remove unused imports
  common/templates/header.tmpl
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add custom test templates for gotests (#1113)
  common/templates/call.tmpl
  common/templates/function.tmpl
  common/templates/header.tmpl
  common/templates/inline.tmpl
  common/templates/inputs.tmpl
  common/templates/message.tmpl
  common/templates/results.tmpl
Due: eng/pipelines/ci-go.yml, eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

Add test coverage for tsp scalargroup
  packages/typespec-go/.scripts/tspcompile.js
  packages/typespec-go/src/tcgcadapter/types.ts
  packages/typespec-go/test/cadlranch/type/scalargroup/boolean_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/custom_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/decimal128type_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/decimal128verify_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/decimaltype_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/decimalverify_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/go.mod
  packages/typespec-go/test/cadlranch/type/scalargroup/go.sum
  packages/typespec-go/test/cadlranch/type/scalargroup/string_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/unknown_client_test.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_boolean_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_constants.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_decimal128type_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_decimal128verify_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_decimaltype_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_decimalverify_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_options.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_responses.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_string_client.go
  packages/typespec-go/test/cadlranch/type/scalargroup/zz_unknown_client.go
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml

fix comment
  packages/typespec-go/.scripts/tspcompile.js
Due: eng/pipelines/ci-gotest.yml, eng/pipelines/ci-typespec.yml, eng/pipelines/ci.yml
